/*Overview*/
$overviewTextColor: $white;

/*Stats*/
$statsBgColor: $white;
$statsBorderColor: $gray-400;
$statsIconBgColor: $white;
$statsSubtitleTextColor: $cyan;
$statsSubtitleColor: $gray-500;

/*Weekly Tasks*/
$addtaskBgColor: $gray-200;
$tasksIconColor: $gray-500;
$daytagBgColor: $gray-300;

/*Resolution Center*/
$estimationTextColor: $gray-500;
$estimatedHourTextColor: $lightRed;

/*Team*/
$teamContentHoverBgColor: $gray-200;
$teamPrimaryTextColor: $gray-900;
$teamSecondaryTextColor: $gray-500;
$contactIconBgColor: $blue;
$contactIconColor: $white;

/*Chat*/
$messagefromBorderColor: $green;
$messageownBorderColor: $danger;
$messageBgColor: $gray-200;
$messageTimeTextColor: $gray-500;
$messageBorderColor: $gray-400;
$messageIconColor: $gray-400;


/*Daily Sales*/
$salesHoverBgColor: $gray-200;
$salesColumnHeaderColor: $gray-700;
$salesRowTextColor: $gray-900;
$salesUpIconColor: $green;
$salesDownIconColor: $danger;

/*Timeline*/
$timelineSeparatorColor: $gray-300;
$loveNotificationBgColor: $lightRed;
$loveNotificationTextColor: $danger;
$checkedNotificationBgColor: $lightBlue;
$checkedNotificationTextColor: $cyanDarker;
$eventNotificationBgColor: $lightYellow;
$eventNotificationTextColor: #f39f19;
$notificationTimeColor: $gray-600;

/* Profile */
$profileTextColor: $gray-900;

.dashboard {
  .overview-box {
    color: $overviewTextColor;
    min-height: 120px;
    position: relative;

    i {
      float: right;
      font-size: 21px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    img {
      position: absolute;
      right: 0;
      width: 90px;
      bottom: 0;
    }

    .overview-title {
      line-height: 20px;
      font-size: $font-size-base;
      letter-spacing: 0.8px;
      text-align: left;
      margin-bottom: 5px;
    }

    .overview-numbers {
      line-height: 31px;
      font-size: 24px;
      text-align: left;
      margin-bottom: 0.5rem;
    }

    .overview-ratios {
      line-height: 18px;
      font-size: 14px;
      text-align: left;
      opacity: 0.95;
    }

    &.monthly-sales {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px 10px 10px 20px;
      background: $pink; /* Old browsers */
      background: linear-gradient(240deg, $pink 0%, $orange 100%);
    }

    &.monthly-views {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px 10px 10px 20px;
      background: $cyan; /* Old browsers */
      background: linear-gradient(240deg, $cyan 0%, $blue 100%);
    }

    &.monthly-users {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px 10px 10px 20px;
      background: $cyanDarker; /* Old browsers */
      background: linear-gradient(240deg, $cyanDarker 0%, $purple 100%);
    }
  }

  .stats {
    background-color: $statsBgColor;
    position: relative;
    margin-top: 29px;
    border-top: 7px solid $primaryColor;
    border-bottom: solid 1px $statsBorderColor;
    border-right: solid 1px $statsBorderColor;
    border-left: solid 1px $statsBorderColor;
    text-align: center;

    .stats-icon {
      display: inline-block;
      position: relative;
      top: -7px;
      background: $statsIconBgColor;
      padding: 0 5px;
      height: 7px;

      img {
        position: relative;
        top: -10px;
        margin-bottom: -10px;
      }
    }

    .message-icon {
      height: 34px;
      width: 44px;
    }

    .doc-icon {
      height: 34px;
      width: 25px;
    }

    .mark-icon {
      height: 34px;
      width: 25px;
    }

    img.profile-icon {
      // top: -15px;
      // margin-bottom: -5px;
      height: 34px;
      width: 34px;
    }

    .stats-numbers {
      line-height: 25px;
      font-size: 20px;
      font-weight: bold;
      margin: 10px;
    }

    .stats-title {
      line-height: 21px;
      font-size: 17px;
      margin: 10px;
    }

    .stats-subtitle {
      line-height: 18px;
      font-size: 14px;
      color: $statsSubtitleColor;

      span {
        color: $statsSubtitleTextColor;
      }
    }
  }

  .ui-panel {
    .ui-panel-title {
      margin: 0;
    }

    .ui-panel-content {
      padding: 17px;
    }
  }

  .weekly-tasks {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: 0.5rem 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .ui-chkbox {
          vertical-align: middle;
          margin-right: 4px;
        }

        > span {
          vertical-align: middle;
        }

        .weekly-task-status {
          float: right;

          i {
            font-size: 13px;
            color: $gray-400;
            margin-left: 4px;
            width: $font-size-base;
          }

          .day {
            color: darken($tasksIconColor, 50%);
            background-color: $daytagBgColor;
            text-align: center;
            min-width: 60px;
            display: inline-block;
          }
        }
      }
    }
  }

  .resolution-center {
    padding-bottom: 0.5rem;

    .ui-inputfield {
      display: block;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .ui-outputlabel {
      vertical-align: middle;
    }

    .ui-button {
      margin-top: 5px;
      display: block;
    }
  }

  .team {
    .ui-panel-content {
      padding: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 1rem;
        border-left: 3px solid rgba(0, 0, 0, 0);
        @include clearfix();

        &:hover {
          background-color: $teamContentHoverBgColor;
          border-color: $primaryColor;
        }

        .team-box {
          display: inline-block;
          vertical-align: middle;
        }

        .team-member {
          text-align: left;
          display: block;
          font-weight: 600;
          color: $teamPrimaryTextColor;
        }

        img {
          width: 35px;
          height: 35px;
          vertical-align: middle;
          display: inline-block;
        }

        a {
          display: block;
          float: right;
          background-color: $contactIconBgColor;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          line-height: 30px;
          margin-left: 6px;
          text-align: center;
          margin-top: 4px;

          i {
            line-height: inherit;
            font-size: 22px;
            color: $contactIconColor;
          }
        }
      }
    }
  }

  .chart {
    .ui-panel-content {
      overflow: auto;
    }
  }

  .chat {
    margin-top: 20px;

    .ui-panel-content {
      padding: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: 1rem 0;
        @include clearfix();
        font-size: 0;

        .message-meta {
          font-size: inherit;
          width: 160px;
          display: inline-block;
          vertical-align: top;
          padding: 0.5rem;
          text-align: left;

          img {
            width: 48px;
            height: 48px;
            display: block;
          }

          .name {
            font-weight: 600;
          }

          .time {
            color: $teamSecondaryTextColor;
            display: block;
          }
        }

        .message {
          font-size: inherit;
          width: calc(100% - 160px);
          padding: 12px;
          background-color: $messageBgColor;
          display: inline-block;
          vertical-align: top;
        }

        &.message-from {
          .message-meta {
            border-left: 4px solid $messagefromBorderColor;

            img {
              float: left;
              margin-right: 0.5rem;
            }
          }
        }

        &.message-own {
          .message-meta {
            border-right: 4px solid $messageownBorderColor;

            img {
              float: right;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    .write-message {
      border-top: 1px solid $messageBorderColor;
      margin-top: 10px;
      position: relative;

      i {
        font-size: 24px;
        color: $messageIconColor;
        position: absolute;
        left: 0.5rem;
        top: 50%;
        margin-top: -14px;
      }

      input {
        border: 0 none;
        width: 100%;
        height: 40px;
        font-size: 14px;
        padding-left: 36px;

        &:focus {
          outline: 0 none;
        }
      }
    }
  }

  .daily-sales {
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    thead {
      text-align: right;
      background-color: $white;

      th {
        padding: 0.5rem 1rem;
      }
    }

    tbody {
      tr:nth-child(even) {
        background: $white;
      }

      tr:nth-child(odd) {
        background: $gray-200;
      }

      td {
        border-color: transparent;
        padding: 0.5rem 1rem;
      }
    }

    tr {
      th {
        font-weight: 600;
        color: $salesColumnHeaderColor;
      }
    }

    td {
      color: $salesRowTextColor;
      text-align: right;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        button:first-child {
          margin-right: 4px;
        }
      }

      img {
        width: 26px;
        height: 26px;
        padding: 0.5rem;
        vertical-align: middle;
      }

      .fa-angle-up {
        color: $salesUpIconColor;
        font-size: 22px;
        padding-left: 10px;
      }

      .fa-angle-down {
        color: $salesDownIconColor;
        font-size: 22px;
        padding-left: 10px;
      }
    }
  }

  .schedule {
    margin-top: 20px;
  }

  .timeline {
    &.ui-panel {
      .ui-panel-content {
        position: relative;

        .timeline-line {
          position: absolute;
          left: 50%;
          width: 1px;
          height: 100%;
          margin-left: -1px;
          background: $timelineSeparatorColor;
          top: 0;
        }
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      position: relative;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        .timeline-message {
          width: 45%;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: auto;
            z-index: 0;
          }

          span {
            position: relative;
            z-index: 10;
            display: block;
            padding: 15px;

            &.love {
              color: $loveNotificationTextColor;
              background-color: $loveNotificationBgColor;
              font-weight: 600;
              text-align: right;
            }

            &.checked {
              font-weight: 600;
              color: $checkedNotificationTextColor;
              background-color: $checkedNotificationBgColor;
            }

            &.event {
              color: $eventNotificationTextColor;
              font-weight: 600;
              background-color: $eventNotificationBgColor;
            }
          }
        }

        .timeline-icon {
          z-index: 100;
          line-height: 30px;

          img {
            width: 30px;
            height: 30px;
          }

          span {
            font-weight: 600;
            color: $notificationTimeColor;
          }
        }

        &.odd {
          .timeline-icon {
            position: absolute;
            left: 50%;
            margin-left: -1rem;

            span {
              float: right;
            }

            img {
              float: left;
              margin-right: 15px;
            }
          }

          .timeline-message {
            float: left;

            span {
              padding: 15px;
              text-align: right;
            }
          }
        }

        &.even {
          .timeline-icon {
            position: absolute;
            right: 50%;
            margin-right: -1rem;
            text-align: right;

            span {
              float: left;
            }

            img {
              float: right;
              margin-left: 15px;
            }
          }

          .timeline-message {
            float: right;

            span {
              padding: 15px;
            }
          }
        }
      }
    }
  }

  .inventory-list {
    .ui-panel-content {
      padding: 0;
    }
  }

  .profile-details {
    .ui-panel-content {
      padding: 0;
      text-align: center;
    }

    img {
      width: 100%;
    }

    .profile-avatar {
      width: 120px;
      height: 120px;
      top: -60px;
      position: relative;
    }

    .profile-name {
      font-weight: 600;
      color: $profileTextColor;
      text-align: center;
      display: block;
      margin-top: -60px;
    }

    .profile-role {
      color: $profileTextColor;
      text-align: center;
      display: block;
    }

    .ui-button {
      margin-top: 1rem;
      padding: 0 35px;
      margin-right: 0;
    }

    .profile-statistics-panel {
      text-align: center;
      display: inline-block;
      position: relative;

      .profile-statistics {
        font-weight: 600;
        font-size: 1rem;
        display: block;
      }

      .statistics-title {
        border-bottom: 4px solid transparent;
        padding-bottom: 10px;
      }
    }
  }
}
