.gridder {
  padding: 0;
  margin: 0;
  list-style: none;

  .gridder-list {
    display: inline-block;
    vertical-align: top;
    margin: $grid-gutter-width * 0.5;
    width: 100px;

    &.gridder-active a::after {
      content: ' ';
      position: absolute;
      top: auto;
      left: 50%;
      height: 0;
      width: 0;
      border: 1rem solid transparent;
      border-bottom-color: $gray-200;
      margin: -1rem 0 0 -1rem;
    }
  }

  .gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background: $gray-200;
    margin: $grid-gutter-width * 0.5;
    padding: 1rem;
  }
}

.gridder-content {
  display: none;
}
