.fancybox-bg {
  background: transparent;
  backdrop-filter: blur(4.5px);
}

.fancybox-slide--iframe .fancybox-content {
  background: transparent;
}

body .res-view {
  height: 100%;

  .res-view-embedded {
    overflow: auto;

    .res-embedded-tabs .ui-tabs-panel,
    .preview-wrapper {
      flex: 1;
      padding: 0;
      overflow: auto;

      > div {
        &:has(> .ui-tabs),
        &:has(> form) {
          height: 100%;
        }

        > iframe,
        > .video-js {
          width: 100%;
          min-height: 25rem;
        }

        > img {
          max-height: 100%;
          max-width: 100%;
          object-fit: contain;
          margin: auto;
          /* stylelint-disable-next-line */
          cursor: zoom-in;

          &.amplified {
            width: 100%;
            max-height: initial;
            object-fit: initial;
            /* stylelint-disable-next-line */
            cursor: zoom-out;
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      border-bottom: var(--border-width) var(--border-style) var(--border-color);
      overflow: initial;
      height: auto;
      min-width: auto;
    }
  }

  .ui-tabs {
    .ui-tabs-panel {
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }

    > .ui-tabs-nav {
      li.ui-tabs-header {
        padding: $spacer * 0.5 $spacer;
        border-bottom-width: 4px;
        border-color: transparent;

        a {
          color: var(--body-color) !important;
        }

        &.ui-state-active,
        &.ui-state-hover {
          border-color: var(--secondary-color);
        }
      }
    }
  }

  .ui-tabs.res-embedded-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    > .ui-tabs-nav {
      li.ui-tabs-header {
        a {
          color: var(--white) !important;
        }
      }
    }

    .ui-tabs-panels {
      overflow: auto;
      flex-grow: 1;

      > .ui-tabs-panel {
        height: 100%;
      }
    }
  }

  .res-view-details {
    background: var(--secondary-bg);
    max-height: 100%;
    overflow: auto;

    .res-details-title {
      color: var(--emphasis-color);
      margin: 1.375rem 0 0.5rem;
      padding-bottom: 0.2rem;
      font-size: $font-size-lg;
      border-bottom: 1px solid var(--body-color);
    }

    .res-view-panel {
      overflow: auto;
      min-height: 100%;
      position: relative;

      > form {
        position: initial !important;
      }

      .ui-inputfield {
        background: var(--body-bg);
      }
    }

    .ui-selectcheckboxmenu {
      color: var(--black);
      background: var(--body-bg);
    }

    .comment-entry {
      background: var(--secondary-bg);
    }
  }

  .ui-button.ui-button-plain {
    &.ui-state-hover {
      background: var(--secondary-color);
      color: var(--secondary-bg);
    }

    &.ui-state-active,
    &.ui-state-down {
      background: var(--secondary-color);
      color: var(--secondary-bg);
    }
  }

  .ui-inplace {
    display: block;
    margin-bottom: $spacer * 0.25;

    .ui-inplace-display {
      padding: 0;
    }

    .ui-inplace-editor {
      display: block;
      text-align: right;
      margin-top: $spacer * 0.25;

      button {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          margin-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.archive-snapshot-list {
  a {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: var(--border-radius);
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    &:hover {
      background-color: transparent;
      border-color: var(--primary-hover);
      color: var(--primary-hover);
    }
  }
}
