.res-view {
  &,
  .row,
  .col {
    height: 100%;
  }

  .res-view-embedded {
    background: $gray-700;
    overflow: auto;

    .res-embedded-tabs .ui-tabs-panel,
    .preview-wrapper {
      width: 100%;
      height: 100%;
      overflow: auto;

      > iframe,
      > .video-js {
        width: 100%;
        min-height: 25rem;
      }

      > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        /* stylelint-disable-next-line */
        cursor: zoom-in;

        &.amplified {
          width: 100%;
          max-height: initial;
          object-fit: initial;
          /* stylelint-disable-next-line */
          cursor: zoom-out;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      border-bottom: $border-width solid $border-color;
      overflow: initial;
      height: auto;
      min-width: auto;
    }
  }

  .res-view-navbar {
    // empty
  }

  .res-view-details {
    color: $white;
    background: $gray-800;
    max-height: 100%;
    overflow: auto;

    .res-details-title {
      color: $gray-500;
      margin: 1.375rem 0 0.5rem;
      padding-bottom: 0.2rem;
      font-size: $font-size-lg;
      border-bottom: 1px solid $gray-600;
    }

    .res-view-controls {
      background: $primaryColor;
      min-height: 2.9rem;

      .ui-button {
        margin: 0 $grid-gutter-width * 0.25;
      }
    }

    .res-view-panel {
      overflow: auto;
      min-height: 100%;
      position: relative;

      > form {
        position: initial !important;
      }
    }

    .ui-inputfield.ui-state-hover {
      border-color: $gray-600;
    }

    .ui-button.ui-button-secondary:hover,
    .ui-button.ui-button-secondary.ui-state-hover,
    .ui-button.ui-button-secondary.ui-state-focus {
      background: $gray-700;
      border-color: $gray-700;
    }

    .ui-selectcheckboxmenu {
      color: $black;
      background: $gray-500;
    }

    .bg-light {
      background: $gray-700 !important;
    }

    .text-success {
      color: $green !important;
    }

    .text-danger {
      color: #ff6767 !important;
    }
  }
}

.ui-tabs.res-view-tabs {
  background: transparent;

  .ui-tabs-nav {
    background: transparent;
    border-bottom: 1px solid $gray-600;

    li {
      border: 0;

      &:last-child {
        border-right: inherit;
      }

      a {
        color: $gray-100;
        padding: 0.75rem 1.25rem 0.7rem;
      }

      &.ui-state-active {
        background: transparent;
        border-bottom: 4px solid $gray-600;
        border-top: 0;

        a {
          color: inherit;
          padding-top: 0.75rem;

          &:hover {
            color: inherit;
          }
        }
      }

      &.ui-state-hover {
        border-bottom: 4px solid $gray-500;

        a {
          color: $gray-500;
        }
      }
    }
  }

  .ui-tabs-panel {
    border: 0;
  }

  .ui-inputfield {
    background: $gray-500;
  }
}

.archive-snapshot-list {
  a {
    background-color: transparent;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    border-radius: $btn-border-radius;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    &:hover {
      background-color: transparent;
      border-color: $primaryDarkColor;
      color: $primaryDarkColor;
    }
  }
}

.res-embedded-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  .ui-tabs-panels {
    overflow: auto;
    flex-grow: 1;
  }

  .ui-tabs-panel:not(.ui-helper-hidden) {
    display: flex;
    padding: 0;
  }
}

.glossary-table {
  background: $body-bg;

  .ui-datatable-tablewrapper {
    margin: 0 $grid-gutter-width * 0.5;
  }
}

.comment-details {
  .ui-inplace {
    display: block;
    margin-bottom: 0.25rem;

    .ui-inputfield {
      width: 100%;
    }

    .ui-inplace-display {
      padding: 0;
    }

    .ui-inplace-editor {
      display: block;
      text-align: right;

      button {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-color: $secondaryButtonBg;
          background: $secondaryButtonBg;
        }
      }
    }

    .ui-inplace-cancel {
      border-color: $secondaryButtonBg;
      background: $secondaryButtonBg;

      &:hover,
      &.ui-state-hover,
      &.ui-state-focus {
        background-color: $secondaryButtonHoverBg;
        border-color: $secondaryButtonHoverBg;
      }

      &.ui-state-active {
        background-color: $secondaryButtonActiveBg;
        border-color: $secondaryButtonActiveBg;
      }
    }
  }
}
