body .res-view {
  & {
    height: 100%;
  }

  .res-view-embedded {
    background: var(--gray-700);
    overflow: auto;

    .res-embedded-tabs .ui-tabs-panel,
    .preview-wrapper {
      width: 100%;
      height: 100%;
      padding: 0;
      overflow: auto;

      > iframe,
      > .video-js {
        width: 100%;
        min-height: 25rem;
      }

      > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        /* stylelint-disable-next-line */
        cursor: zoom-in;

        &.amplified {
          width: 100%;
          max-height: initial;
          object-fit: initial;
          /* stylelint-disable-next-line */
          cursor: zoom-out;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      border-bottom: var(--border-width) var(--border-style) var(--border-color);
      overflow: initial;
      height: auto;
      min-width: auto;
    }
  }

  .res-embedded-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ui-tabs-panels {
      overflow: auto;
      flex-grow: 1;
    }
  }

  .res-view-details {
    color: var(--white);
    background: var(--gray-800);
    max-height: 100%;
    overflow: auto;

    .res-details-title {
      color: var(--gray-500);
      margin: 1.375rem 0 0.5rem;
      padding-bottom: 0.2rem;
      font-size: $font-size-lg;
      border-bottom: 1px solid var(--gray-600);
    }

    .res-view-panel {
      overflow: auto;
      min-height: 100%;
      position: relative;

      > form {
        position: initial !important;
      }

      .ui-inputfield {
        background: var(--gray-500);
      }
    }

    .ui-selectcheckboxmenu {
      color: var(--black);
      background: var(--gray-500);
    }

    .bg-light {
      background: var(--gray-700) !important;
    }
  }

  .ui-button.ui-button-plain {
    color: var(--primary-text-color);

    &.ui-state-hover {
      background: var(--dark);
      color: var(--primary-text-color);
    }

    &.ui-state-active,
    &.ui-state-down {
      background: var(--dark);
      color: var(--primary-text-color);
    }
  }

  .ui-tabs {
    margin-bottom: 0;

    > .ui-tabs-nav {
      background: inherit;

      &::before {
        border-bottom: var(--border-width) solid var(--gray-600);
      }

      li.ui-tabs-header {
        background: inherit;
        padding: $spacer * 0.5 $spacer;
        border: 0;
        border-bottom: 4px solid transparent;

        a {
          color: var(--gray-100);
        }

        &.ui-state-active {
          background: inherit;
          border-bottom-color: var(--gray-600);
          margin-bottom: 0;
        }

        &.ui-state-hover {
          border-bottom-color: var(--gray-500);

          a {
            color: var(--gray-500);
          }
        }
      }
    }

    .ui-tabs-panels {
      color: inherit;
      background: inherit;

      /* stylelint-disable-next-line selector-list-comma-newline-after */
      h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
        color: inherit;
      }
    }
  }

  .ui-inplace {
    display: block;
    margin-bottom: $spacer * 0.25;

    .ui-inplace-display {
      padding: 0;
    }

    .ui-inplace-editor {
      display: block;
      text-align: right;
      margin-top: $spacer * 0.25;

      button {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          margin-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.archive-snapshot-list {
  a {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: var(--border-radius);
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    &:hover {
      background-color: transparent;
      border-color: var(--primary-dark);
      color: var(--primary-dark);
    }
  }
}
