body {
  .ui-button + .ui-button {
    margin-left: $spacer * 0.2;
  }

  .ui-buttonset .ui-button {
    margin-left: 0;
  }

  .ui-button {
    display: inline-flex;
    justify-content: center;
  }

  .ui-button-mod {
    .ui-button-text {
      position: relative;

      &::before {
        @extend .fas;

        content: fa-content($fa-var-cog);
        padding-right: 0.5rem;
        color: $mod;
      }
    }
  }
}

.ui-fluid {
  .ui-button {
    width: auto;
  }
}
