body {
  .ui-tabs {
    &.ui-tabs-plaid {
      .ui-tabs-nav {
        background: none;

        &::before {
          content: none;
        }
      }

      .ui-tabs-panel {
        border: var(--border-width) var(--border-style) var(--border-color);
      }

      @include media-breakpoint-down(md) {
        .ui-tabs-header {
          width: 100%;
          border-right: 1px solid $panelHeaderBg !important;
        }
      }
    }

    &.ui-tabs-top {
      > .ui-tabs-nav li.ui-tabs-header {
        border: var(--border-width) var(--border-style) var(--border-color);
        border-top: 3px solid var(--gray-300);
        border-bottom: 0;

        &.ui-state-active {
          border-color: var(--border-color);
          border-top-color: $primaryColor;
          margin-bottom: calc(var(--border-width) * -1);
        }
      }
    }

    &.ui-tabs-fluid {
      ul.ui-tabs-nav {
        display: flex;

        li {
          width: 100%;
        }
      }
    }
  }
}
