body {
  .ui-tabs {
    /* Makes background transparent */
    &.ui-tabs-plaid {
      .ui-tabs-nav {
        background: none;

        li.ui-tabs-header {
          background: none;
          border-color: transparent;
        }

        &::before {
          content: none;
        }
      }

      .ui-tabs-panel {
        border: var(--border-width) var(--border-style) var(--border-color);
      }

      @include media-breakpoint-down(md) {
        .ui-tabs-header {
          width: 100%;
          border-right: 1px solid $panelHeaderBg !important;
        }
      }
    }

    /* Makes tabs stretches to full width */
    &.ui-tabs-fluid {
      ul.ui-tabs-nav {
        display: flex;

        li {
          width: 100%;
        }
      }
    }
  }
}
