/* Some browser specific fixes */

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    .userbar ul li ul{
    	margin-left:-6em;
    }
   .optionIcon{
   		margin:0 1px;
   }
}

/* options for different screen sizes */

@media screen and (max-width:1024px){
	#my_groups table th:first-child{
		width:13% !important;
	}
	#my_groups table th:first-child+th,
	#other_groups table th:first-child+th+th{
		width:15% !important;
	}
	#other_groups table th:first-child{
		width:30% !important;
	}	
	#my_groups table th:last-child{
		width:11% !important;
	}
	#other_groups table th:last-child{
		width:18% !important;
	}
}

@media screen and (max-width: 82em){
	#moreprofile{
		display:block;
	}
	#profile{
		display:none;
	}
}

@media screen and (max-width: 77em){
	#sub_menu_bar .links { 
		margin-left:20rem;
	}
	#searchfield{
		margin-left:21.5rem;
	}
	#moremygroups{
		display:block;
	}
	#mygroups{
		display:none;
	}
}

@media screen and (max-width: 68em){
	#sub_menu_bar .links { 
		margin-left:19rem;
	}
	#searchfield{
		margin-left:20rem;
	}
	#moremyresources{
		display:block;
	}
	#myresources{
		display:none;
	}
	#group_header h2 {
		font-size:1.2rem;
		font-weight:bold;
	}
}

@media screen and (max-width:1006px){
	#group_header h2, .header_detail{
		display:none;
	}
	#group_name{
		color: #489a83 !important;
	}
}

@media screen and (max-width: 60em){
	#sub_menu_bar .links a:last-child{
		display:none;
	}
	#searchfield{
		width:18rem;
	}
	#informationonscreen{
		margin-right:1em;
	}
}

@media screen and (max-width: 48em){
	#informationonscreen, #message_button{
		display:none;
	}
}

@media screen and (max-width:47em){
	#language_selector{
		display:none;
	}
}

@media screen and (max-width: 43em){
	#main_menu_bar{
		background-image:none; 
	}
	#searchfield{
		margin-left:3.6rem;
		width:25rem;
	}
	#loadingsymbol{
		left:0rem;
	}
	#backtogroup{
		display:none;
	}
	#sub_menu_bar .links{
		padding-right:0.8em;
		margin-left:2.5rem;
	}
	#logoutbutton, #loginbutton{
		display:none;
	}
	#login{
		display:block;
	}
}

@media screen and (max-width: 35em){
	#searchfield{
		width:10em;
	}
	#sub_menu_bar .links{
		float:left;
	}
}

@media screen and (max-width: 29em){
	.userbar ul li a {
    	padding-left:1em;
    	padding-right:1em;
	}
	#searchfield{
		width:5em;
	}
}