@CHARSET "ISO-8859-1";
*{
	margin:0;
}
body {
	min-width:320px;
	font-family:sans-serif;
	font-size:30px;
	min-height:100%;
}
header{
	position:relative;
	top:0px;
	width:100%;
}
header div a{
	color:#FFFFFF;
	font-size:15px;
	font-weight:bolder;
}

/* top bar */

#main_menu_bar{
	background-color:#489a83;
	width:100%;
	height:50px;
	z-index:2;
}
#LearnWebLogo{
	cursor:pointer;
	float:left;
	width:200px;
	height:50px;
}
#searchfield{
	margin-top:0.5em;;
	margin-left:2.35em;
	width:400px;
	height:50%;
	border:2px solid #FFFFFF;
	padding-left:0.5em;
	font-size:18px;
}
#searchbutton{
	cursor:pointer;
	background-color:#489a83;
   	border:1px solid #ffffff;
    margin-left:-0.28em;
    padding:0.04em 0.25em;
    position:relative;
    text-decoration:none;
    top:0.05em;
    vertical-align:middle;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.language{
	background-color:#489a83;
    color:#FFFFFF;
	text-align:left;
}
.language ul{
	position:relative;
	padding:0px;
}
.language ul:after{
	clear:both;
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
.language ul li{
	float:left;
	line-height:15px;
    list-style:outside none none;
}
.language ul li a{
	background-color:#489a83;
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	font-size:15px;
	position:absolute;
    right: 4em;
    top:-2.1em;
}
.language ul li:hover > ul{
	visibility:visible;
}
.language ul li ul{
   background-color:grey;
    display:inline;
    position:absolute;
    right:0.5em;
    text-align:left;
    visibility:hidden;
    width:110px;
    z-index:2;
}
.language ul li ul li{
	float:none;
}
.language ul li ul li a:hover{
	background-color:#a4a4a4;
}
.language ul li ul li a:hover{
	background-color:#a4a4a4;
}
.language ul li ul li a{
	position:relative;
	top:0;
	right:0;
	padding-bottom:1em;
    padding-left:0.5em;
    padding-top:1em;
	background-color:grey;
}
.language ul li ul li a img{
	vertical-align: middle;
}
#englishbutton{
	display:block;
	position:absolute;
	top:0.35em;
	right:0.25em;
	vertical-align:middle;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
}
#germanbutton{
	display:none;
	position:absolute;
	top:0.35em;
	right:0.25em;
	vertical-align:middle;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
}
#logoutbutton{
	vertical-align:middle;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
	position:absolute;
	top:0.68em;
	right:1em;
	background-color:#489a83;
	color:#FFFFFF;
}

/* menu top bar */

.userbar{
	background-color:#489a83;
    color:#FFFFFF;
    text-align:center;
    width:100%;
    z-index:2;
}
.userbar ul {
	position:relative;
    left:28em;
    top:-1.7em;
    padding:0px;
}
.userbar ul:after {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.userbar ul li {
	border-left:1px solid #FFFFFF;
	line-height:50px;
    list-style:none;
    float:left;
}
.userbar ul li:last-child{
	border-right:1px solid #FFFFFF;
} 
.userbar ul li a {
    text-decoration:none;
    background-color:#489a83;
    color:#FFFFFF;
    display:block;
    font-size:15px;
    padding-right:2em;
    padding-left:2em;
}
.userbar ul li a:hover{
	background-color:#74beaa;
}
.userbar ul li:hover > ul {
    visibility:visible;
}
.userbar ul li ul{
	position:absolute;
	top:1.6em;
	left:15em;
	margin-left:-75px;
    margin-top:0;
    padding:1px;
    text-align:left;
    display:inline;
    visibility:hidden;
  	border-radius:10px;
    background-color:grey;
    width:145px;
    z-index:2;
}
.userbar ul li ul li{
	padding-bottom:1.5px;
    padding-top:1.5px;
	line-height:15px;
    float: none;
}
.userbar ul li ul li a{
	border-right:0px;
	border-left:0px;
	margin-left:0.5em;
	margin-right:0.5em;
	padding-left:0.5em;
	background-color:grey;
}
.userbar ul li ul li a:hover{
	background-color:#a4a4a4;
}
.userbar ul li ul li:first-child{
	margin-top:0.5em;
}
.userbar ul li ul li:last-child{
	border-right:0px;
}
.userbar ul li ul li ul{
	border-radius:5px;
	left:14em;
	width:130px;
	z-index:1;
}
.userbar ul li ul li ul li{
	border:0px;
	line-height:10px;
	vertical-align:middle;
}
.userbar ul li ul li ul li a{
	padding-top:0.5em;
	font-size:10px;
	font-width:normal;
	border-radius:5px;
}
.userbar ul li ul li ul li:first-child {
    margin-top:0em;
}
.userbar ul li ul li:hover > ul {
    display:none;
}
#stuffmenu{
	display:none;
	margin-top:-1.25em;
}
#settingmenu{
	display:none;
	margin-top:0.3em;
}
#searchhistorymenu{
	display:none;
	margin-top:2.5em;
}
#explorehistorymenu{
	display:none;
	margin-top:4.4em;
	
}
#mystuff, #setting, #searchhistory, #explorehistory{
	cursor:pointer;
}
.menupoint{
	text-decoration:none;
    color:#000000;
    background-color:#c0c0c0;
    font-size:15px;
    font-weight:bolder;
    border:1px solid #FFFFFF;
    border-radius:5px;
   	margin:0.5em;
   	padding:0.5em;
   	z-index:2;
}
.menupoint:hover{
	background-color:#FFFFFF;
}
.link{
	padding:0.5em;
}
.menubutton{
	display:none;
}
#moremyresources{
	display:none;
}
#moremygroups{
	display:none;
}
#moreprofile{
	display:none;
}
#logout{
	display:none;
}
#activitystream{
	display:none;
}

/* bottom bar */

#sub_menu_bar{
	background-color:#616161;
	width:100%;
	height:20px;
	z-index:1;
}
#backtogroup{
	float:left;
	margin-left:0.5em;
	margin-right:11em;
	text-decoration:none;
	font-weight:normal;
}
#backtogroup:hover{
	text-decoration:underline;
}
#sourcetype{
	float:left;
	margin-top:-0.5em;
}
.resourcestype{
	text-decoration:none;
	color:#489a83;
	padding-right:0.5em;
}
.resourcestype:hover{
	text-decoration:underline;
	color:#FFFFFF;
}

/* scrollbar */

#fixedbar{
	position:fixed;
	top:0px;
	height:50px;
	width:100%;
	z-index:2;
}

/* section */

#text{
	margin-top:5em;
	text-align:left;
}











