.section-forum {

  /*forum_post_page*/
  #forum_post_table tr {
    th:first-child {
      width: 13%;
      min-width: 100px !important;
      /* doesn't work?!*/
    }
    }
  @media (min-width: 360px) and (max-width: 767.98px) {
    #forum_post_table tr {
      th:first-child {
        width: 30%;
        /* doesn't work?!*/
      }
    }
  }


  .new-topic-title {
    background: url("\#{resource['main-template/img/message.png']}") left no-repeat;
    background-size: 18px 18px;
    padding-left: 26px;
  }
}
