.section-glossary {
  .ui-datatable-header {
    background-color: $themePrimaryColor;
  }

  .datatable_footer {
    background-color: #fff;
    display: block;
    position: relative;
    span {
      font-size: 1.5rem;
      font-weight: 100;
      color: $themePrimaryColor;
    }
  }
/*
  !*change primefaces ui*!
  .ui-state-hover, .ui-state-focus, .ui-state-active {
    box-shadow: 0 0 0px 0px $white !important;
    background-color: $gray-400 !important;
    background-image: none !important;
    border: 1px solid $gray-500 !important;
  }*/
}
