.section-group-resources {
  .resources-filters {
    ul {
      list-style: none outside none;

      li {
        position: relative;
        white-space: nowrap;

        &.active, &:hover {
          background-color: $gray-400;
        }
      }
      li.disabled {
        display: none !important;
      }
      li:hover .filter-sub-bar {
        visibility: visible;
      }
      .filter-sub-bar {
        visibility: hidden;
        left: 0;
        z-index: 10;
        border: solid 1px $gray-400;

        li {
          display: block;
          background-color: $gray-200;
          width: 100%;

          button {
            background: none !important;
            border: 0;

            span {
              color: $black !important;
              text-align: left;
            }
          }

          &.active, &:hover {
            background: $gray-400;
          }
        }
    }

      .trimmed-text {
        text-overflow: ellipsis;
        max-width: 200px;
      }


      .clear-filters {
        &:hover {
          background: none;
        }
        button {
          background: none !important;
        }

        span {
          cursor: pointer;
          color: $gray-800;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .arrow {
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.4rem solid $gray-900;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 5px;
      }
    }

    .search-box {
      padding: 0.55rem;

      #search_filter_form {
        white-space: nowrap;
        display: none;
      }

      &.active #search_filter_form {
        display: block;
      }

      &.active img {
        display: none;
      }

      button {
        background: url("\#{resource['main-template/img/search.png']}") no-repeat scroll center center !important;
        background-size: 16px 16px !important;

        &:hover, &:focus {
          background-color: $gray-100 !important;
        }

        span {
          display: inline;
        }
      }
    }
  }
}