.section-group-members {
  .member-username {
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 0.4rem;
  }

  .member-username-small {
    font-size: 0.8rem;
    margin-bottom: 1px;
  }

  .members-panelgrid {
    padding: 10px;
    position: relative;
    float: left;
    text-align: center;
    width: 130px;
    height: 130px;
    transition: box-shadow $transition-duration;

    img {
      max-width: 100%;
    }

    > .member-star {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid $gray-300;
    }
  }
}