.section-group-members {
  .member-username {
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 0.4rem;
  }

  .member-username-small {
    font-size: 0.8rem;
    margin-bottom: 1px;
  }

  .members-panelgrid {
    padding: 10px;
    position: relative;
    float: left;
    text-align: center;
    width: 130px;
    height: 130px;
    transition: box-shadow $transition-duration;

    img {
      max-width: 100%;
    }

    > .member-star {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid $gray-300;
    }
  }
}

.mem-block {
  .container {
    background-color: red;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
