.section-landing {
  .header {
    background: url("\#{resource['frontpage/luh.jpg']}") center;
    background-size: cover;
    padding: 5rem 0;

    .header-login-form {
      background-color: rgba($themeElementTextColor, 0.9);

      input {
        margin: 1rem 0;
      }
    }

    .header-news-list {
      background: rgba($themeDarkBgColor, 0.9);
      color: $themeElementTextColor;

      > h2 {
        font-size: 1rem;
        padding: .5rem 1rem;
        background: $themeDarkBgColor;
      }

      .ui-datalist-data {
        padding: 1rem 1rem 0;
        list-style: none;
      }

      .ui-datalist-content {
        border: none;
        background: inherit;
        min-height: 13.5rem;
        max-height: 24rem;
        overflow: auto;

        .news-date {
          display: block;
          font-size: 0.8rem;
          color: rgba(255, 255, 255, 0.6);
        }

        .news-content {
          font-weight: normal;
        }
      }
    }
  }

  .courses {
    background-color: $themePrimaryColorDarker;

    .course-single {
      .course-header {
        background-color: $themePrimaryDarkest;
        color: $themeElementTextColor;
        letter-spacing: 0.1rem;
      }

      .course-subheader {
        background-color: $gray-200;
        color: $themePrimaryDarkest;
      }

      .course-content {
        img {
          width: 100%;
          max-width: 7rem;
        }
      }
    }
  }
}
