.section-resources {
  #add_resource_upload_form .ui-fileupload-files tr td {
    &:first-child, &:last-child {
      display: none;
    }
  }


  .preview_box {
    box-shadow: 1px 1px 3px 3px $gray-300;
    iframe {
      min-height: 400px;
    }
  }

  /** styles for archive visualizations in the lightbox and right pane*/

  #archive_list_view {
    padding-top: 10px;
    position: relative;
    max-height: 350px;
    width: 100%;
    float: left;
    overflow: auto;
    display: none;
  }

  #archive_list {
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    height: 100%;
    width: 15%;
    float: left;
    overflow: auto;
    background-color: $white;
  }

  #archive_iframe_div {
    float: right;
    width: 83%;
    height: 100%;
    box-sizing: border-box;
    background-color: $white !important;
    background: url("\#{resource['image:default-loader.gif']}") center center no-repeat;
  }

  #archive_timestamp_overlay {
    position: absolute;
    z-index: 901;
    right: 0;
    bottom: 0;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 83%;
    height: 40px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  .archive_timestamp_overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #archive_list {
    a {
      &:link, &:visited {
        color: $black !important;
      }

      color: $black !important;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  #archive_list_view ul {
    list-style-type: none;
    padding: 0;
  }

  #archive_list ul > li {
    float: left;
    width: 149px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: black !important;
  }

  #archive_list_view ul {
    > li {
      float: left;
      width: 149px;
      text-align: center;
      padding: 10px 0px 10px 0px;
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
      color: black !important;
    }

    &:hover {
      background-color: $lightGreen;
    }
  }

  #archive_list {
    li {
      ul li:hover {
        background-color: $lightGreen;
      }

      span:hover {
        cursor: pointer;
      }
    }

    .bold {
      font-weight: bold;
    }
  }

  #list_button {
    margin-right: 0rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  #timeline_button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  #right_pane .button-active {
    background-color: $themePrimaryColorDarker !important;
  }

  #resources_informations_table {
    border-collapse: collapse;

    .resource_field {
      padding-right: 5px;
    }

    td {
      padding: 5px 0 0 0;
    }
  }

  .userpic{
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left:0;
  }

  /* New resources GRID styles */

  .resource-grid, .folder-grid {
    width: 100%;
  }

  .resource-grid {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .resource-item, .folder-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 8px;
    width: calc(50% - 16px);
    /* two columns */
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: $gray-100;
  }

  .resource-block {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .folder-block {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
  }

  .folder-icon {
    background-color: $gray-300;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    float: left;
    height: 100%;
    width: 44px;
  }

  .folder-icon-wrapper {
    height: 24px;
    margin: 8px 10px;
    width: 24px;
    position: absolute;
  }

  .icon-folder {
    background: url("\#{resource['main-template/img/folder.png']}") no-repeat left center;
    width: 100%;
    height: 100%;
    display: block;
  }

  .resource-preview {
    padding-top: 75%;
    position: relative;
  }

  .resource-preview-wrapper2 {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-color: $white;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .resource-preview-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .resource-preview-image {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .resource-controls {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    flex-wrap: wrap;
    background: rgba(212, 212, 212, 0.73);
    transform: translate3d(0, 0, 0);
    transition: visibility 0s, opacity 0.2s ease-in-out;

    &.edit-locked {
      background: rgba(239, 129, 129, 0.73);
    }
  }

  .resource-item:hover .resource-controls, .folder-item:hover .resource-controls {
    visibility: visible;
    opacity: 1;
  }

  .resource-controls a {
    width: 100%;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      margin-top: -8px;
    }
  }

  .resource-title, .folder-title {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  .resource-title {
    width: 100%;
  }

/*  .folder-title {
    color: $gray-900;
    background-color: $gray-100;
    height: 100%;
    overflow: hidden;
    position: relative;
  }*/

  .folder-item:hover {
    .folder-title, .folder-icon {
      color: $white;
      background-color: $themePrimaryColor;
    }
  }

  .resource-title-wrapper {
    height: 100%;
    position: relative;
    white-space: nowrap;
  }

  .folder-title-wrapper {
    padding-right: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    position: relative;
  }

  .resource-title-icon {
    display: none;
    float: left;
    height: 26px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 26px;
  }

  .resource-title-icon-wrapper > img {
    height: 16px;
    width: 16px;
  }

  .resource-title-text {
    padding: 2px 8px 3px;
  }

  .resource-title-name {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    padding-right: 8px;
  }

  .folder-title-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .resource-title-summary {
    display: block;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
      font-weight: bold;
    }
  }

  /* Selector styles */

  .ui-selectable-helper {
    position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dotted $black;
    pointer-events: none;
    z-index: 500;
  }

  .group-resources-item {
    &.selected, &.ui-selected, &.ui-selecting {
      color: $white;
      background-color: $themePrimaryColor;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    }

    &.selected .folder-icon, &.ui-selected .folder-icon, &.ui-selecting .folder-icon, &.ui-draggable-helper .folder-icon, &.selected .folder-title, &.ui-selected .folder-title, &.ui-selecting .folder-title, &.ui-draggable-helper .folder-title {
      color: $white;
      background-color: $themePrimaryColor;
    }

    &.ui-draggable-greyscale {
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      pointer-events: none;
    }

    &.ui-state-active {
      border: 0;
      font-weight: normal;
      text-shadow: none;
      box-shadow: none;
    }

    &.ui-state-highlight {
      outline: 2px solid $themePrimaryColor;
    }

    &.ui-draggable-helper {
      background-color: $themePrimaryColor;
      color: $white;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
      opacity: 1;

      .resource-preview {
        display: none;
      }
    }
  }

  /* Drag & Drop styles */

  .selected-icon {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transition-duration: .2s, .1s, .1s;
    transition-duration: .2s, .1s, .1s;
    -webkit-transition-property: opacity, color, background-color;
    transition-property: opacity, color, background-color;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    background-color: $red;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: $white;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    min-width: 22px;
    padding-left: 1px;
    padding-right: 1px;
    position: absolute;
    right: -12px;
    top: 0;
    text-align: center;
    z-index: 3;
  }

  @media screen and (min-width: 1140px) and (max-width: 1399px) {
    .resource-item, .folder-item {
      width: calc(33.333333333333336% - 16px);
      /* three columns */
    }
  }

  @media screen and (min-width: 1400px) and (max-width: 1599px) {
    .resource-item, .folder-item {
      width: calc(25% - 16px);
      /* four columns */
    }
  }

  @media screen and (min-width: 1600px) {
    .resource-item, .folder-item {
      width: calc(20% - 16px);
      /* five columns */
    }
  }

  @media screen and (min-width: 2100px) {
    .resource-item, .folder-item {
      width: calc(16.66667% - 16px);
      /* six columns */
    }
  }

  .context-menu {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    background: $white;
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: none;
    position: fixed;
    height: auto !important;
    overflow-y: auto;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 2300;
    -webkit-user-select: none;
    max-height: 411px;
    display: none;
  }

  .context-menu-item.divider {
    border-top: 1px solid $gray-200;
  }

  .context-menu > .context-menu-item:not([style*="display: none"]):first-child {
    padding-top: 6px;
  }

  .context-menu-item {
    &:hover {
      border-left: 4px solid $gray-600;
      margin-left: 0;
      background-color: $gray-100;
    }

    position: relative;
    color: $gray-800;
    cursor: pointer;
    list-style: none;
    /*padding: 6px 8em 6px 30px;*/
    white-space: nowrap;
    min-width: 160px;
    border: none;
    height: 24px;
    margin: 0 0 0 4px;
    padding: 6px 24px 6px 0;
    display: none;
  }

  .context-menu-item-wrapper {
    margin-left: 4px;
    padding-left: 16px;
  }

  .context-menu-item-icon {
    background-repeat: no-repeat;
    height: 21px;
    left: 3px;
    position: absolute;
    right: auto;
    top: 3px;
    vertical-align: middle;
    width: 21px;
    background-origin: border-box;
    margin-left: 12px;
    margin-top: 2px;
    opacity: .5;
    display: none;
  }

  #deleteConfirmDialog {
    .ui-dialog-content p > span {
      display: none;
    }

    &.single {
      &.folders .ui-dialog-content p > span.single-folder, &.resources .ui-dialog-content p > span.single-resource {
        display: block;
      }
    }

    &.plural .ui-dialog-content p > span.plural {
      display: block;
    }
  }

  /* My resources page */

  .center-header > h2 {
    margin-right: 1rem;
  }

  .ui-icon-mygrid {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: url("\#{resource['resources/resources-view-icons/grid.png']}") !important;
  }

  .ui-icon-mylist {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: url("\#{resource['resources/resources-view-icons/list.png']}") !important;
  }

  a.more_resources_link {
    float: right;
    margin-right: 1rem;
    clear: both;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .layout_button {
    display: inline-block;
    top: -2px;
    position: relative;

    > button {
      background-color: $gray-100 !important;
      border: none;
      border-radius: 2px;
    }

    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    }
  }

  .myresource-listview {
    .resource-item {
      display: none;
    }

    padding-right: 7px;
    display: block;
  }

  @media screen and (max-width: 1050px) {
    .myresource-listview .resource-item {
      &:nth-child(1), &:nth-child(2) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1051px) and (max-width: 1360px) {
    .myresource-listview .resource-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1360px) and (max-width: 1700px) {
    .myresource-listview .resource-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1700px) {
    .myresource-listview .resource-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: inline-block;
      }
    }
  }

  /*
  #resources_informations_table a:hover, #resources_informations_table a:focus{
      text-decoration:underline;
  }
  */

  .ui-rating {
    opacity: 1 !important;
    filter: Alpha(Opacity=100) !important;
  }

  .username {
    font-weight: bold;
    color: $gray-800;
    vertical-align: top;
  }

  .username_div {
    padding-left: 40px;
    margin-bottom: 5px;
  }

  .username_link {
    text-decoration: none;
    vertical-align: top;
  }

  .hyperlink {
    color: $blue;
    display: flex;
    justify-content: center;
  }

  /** css rules for the new group resource search interface (Chloe interface) */
  #rlist {
    list-style-type: none;
    width: 530px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    height: 100px;
    overflow: auto;

    #rnav {
      width: 10%;
      float: left;
    }

    #rmain {
      width: 90%;
      float: right;

      .resource-block2 {
        width: 145px;
        height: 120px;
        float: left;

        &:hover {
          cursor: pointer;
        }
      }

      .metadata-block {
        margin-left: 160px;

        .rlabel {
          line-height: 5px;
        }

        .rlabels {
          line-height: 20px;
          margin-left: 20px;
        }

        .tag {
          display: inline-block;
          padding: 0.3em 0.6em;
          font-size: 0.8em;
          border-radius: 6px;
          color: $gray-600;
          background: $gray-200;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          margin-top: 8px;

          &.tag-blue, &.tag-green, &.tag-red {
            color: $white;
          }

          &.tag-grey {
            color: $white;
            margin-right: 10px;
            padding-top: 5px;
            background-color: $gray-600;
          }
        }

        .text-ellipses {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    img {
      height: auto;
      margin: 0 5px 0 0;
      list-style: none;
      float: left;

      &.circle {
        height: auto;
        float: none;
        margin-left: 2px;
        margin-right: 2px;
      }

      &.bluecircle {
        height: auto;
        float: none;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 5px;
      }

      &.flag {
        height: auto;
        float: none;
        margin-left: 2px;
        margin-right: 2px;
        vertical-align: top;
        padding-top: 5px;
      }

      &.resource-preview-image {
        float: left;
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
        margin: 0 0 0 0;
      }
    }

    .resource-controls2 {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 3rem;
      display: flex;
      flex-wrap: wrap;
      background: rgba(212, 212, 212, 0.73);
      transform: translate3d(0, 0, 0);
      transition: visibility 0s, opacity 0.2s ease-in-out;

      a {
        width: 100%;
        position: relative;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -8px;
          margin-top: -8px;
        }
      }
    }
  }

  .detailList {
    .rdlabel {
      line-height: 20px;
    }
  }

  .group-resources2-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: calc(100% - 16px);
    /* single column */
    margin-right: 16px;

    &:hover .resource-controls,
    &:hover .resource-controls2 {
      visibility: visible;
      opacity: 1;
    }

    &.selected,
    &.ui-selected,
    &.ui-selecting {
      color: $white;
      background-color: $themePrimaryColor;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    }

    &.selected .folder-title,
    &.ui-selected .folder-title,
    &.ui-selecting .folder-title,
    &.ui-draggable-helper .folder-title {
      color: $white;
      background-color: $themePrimaryColor;
    }

    &.ui-draggable-greyscale {
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      pointer-events: none;
    }

    &.ui-state-active {
      border: 0;
      font-weight: normal;
      text-shadow: none;
      box-shadow: none;
    }

    &.ui-state-highlight {
      outline: 2px solid $themePrimaryColor;
    }

    &.ui-draggable-helper {
      background-color: $themePrimaryColor;
      color: $white;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
      opacity: 1;

      .resource-preview {
        display: none;
      }
    }
  }

}
