.section-resource-submission {

  .submission-accordion {
    .ui-accordion-content {
      padding: 0;
    }

    .ui-accordion-header {
      margin-bottom: 0;
    }
  }

  .submission-resource {
    @include media-breakpoint-up(sm) {
      width: 17.5rem;
    }
    @include media-breakpoint-up(xl) {
      width: 14.5rem;
    }
  }

}

.submission-dialog {
  .ui-dialog-content {
    max-width: 27rem;
  }
}

.add-resource-image {
  width: 2rem;
}