.section-resources {
  #add_resource_upload_form .ui-fileupload-files tr td {
    &:first-child, &:last-child {
      display: none;
    }
  }

  .preview_box {
    box-shadow: 1px 1px 3px 3px $gray-300;

    iframe {
      min-height: 400px;
    }
  }

  /** styles for archive visualizations in the lightbox and right pane*/

  #archive_list_view {
    padding-top: 10px;
    position: relative;
    max-height: 350px;
    width: 100%;
    float: left;
    overflow: auto;
    display: none;
  }

  #archive_list {
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    height: 100%;
    width: 15%;
    float: left;
    overflow: auto;
    background-color: $white;
  }

  #archive_iframe_div {
    float: right;
    width: 83%;
    height: 100%;
    box-sizing: border-box;
    background-color: $white !important;
    position: relative;

    i {
      color: $body-color;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -0.5em;
      z-index: 1;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  #archive_timestamp_overlay {
    position: absolute;
    z-index: 901;
    right: 0;
    bottom: 0;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 83%;
    height: 40px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  .archive_timestamp_overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #archive_list {
    a {
      &:link, &:visited {
        color: $black !important;
      }

      color: $black !important;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  #archive_list_view ul {
    list-style-type: none;
    padding: 0;
  }

  #archive_list ul > li {
    float: left;
    width: 149px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: black !important;
  }

  #archive_list_view ul {
    > li {
      float: left;
      width: 149px;
      text-align: center;
      padding: 10px 0px 10px 0px;
      border-radius: 4px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
      color: black !important;
    }

    &:hover {
      background-color: $lightGreen;
    }
  }

  #archive_list {
    li {
      ul li:hover {
        background-color: $lightGreen;
      }

      span:hover {
        cursor: pointer;
      }
    }

    .bold {
      font-weight: bold;
    }
  }

  #list_button {
    margin-right: 0rem !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  #timeline_button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  #right_pane .button-active {
    background-color: $themePrimaryColorDarker !important;
  }

  #resources_informations_table {
    border-collapse: collapse;

    .resource_field {
      padding-right: 5px;
    }

    td {
      padding: 5px 0 0 0;
    }
  }

  .userpic {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 0;
  }

  /* Selector styles */

  .ui-selectable-helper {
    position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dotted $black;
    pointer-events: none;
    z-index: 500;
  }

  /* Drag & Drop styles */
  .selected-icon {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transition-duration: .2s, .1s, .1s;
    transition-duration: .2s, .1s, .1s;
    -webkit-transition-property: opacity, color, background-color;
    transition-property: opacity, color, background-color;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    background-color: $red;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: $white;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    min-width: 22px;
    padding-left: 1px;
    padding-right: 1px;
    position: absolute;
    right: -12px;
    top: 0;
    text-align: center;
    z-index: 3;
  }

  #deleteConfirmDialog {
    .ui-dialog-content p > span {
      display: none;
    }

    &.single {
      &.folders .ui-dialog-content p > span.single-folder,
      &.resources .ui-dialog-content p > span.single-resource {
        display: block;
      }
    }

    &.plural .ui-dialog-content p > span.plural {
      display: block;
    }
  }

  /* My resources page */

  .center-header > h2 {
    margin-right: 1rem;
  }

  a.more_resources_link {
    float: right;
    margin-right: 1rem;
    clear: both;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .layout_button {
    display: inline-block;
    top: -2px;
    position: relative;

    > button {
      background-color: $gray-100 !important;
      border: none;
      border-radius: 2px;
    }

    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) !important;
    }
  }

  .myresource-listview {
    .res-list-item {
      display: none;
    }

    padding-right: 7px;
    display: block;
  }

  @media screen and (max-width: 1050px) {
    .myresource-listview .res-list-item {
      &:nth-child(1), &:nth-child(2) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1051px) and (max-width: 1360px) {
    .myresource-listview .res-list-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1360px) and (max-width: 1700px) {
    .myresource-listview .res-list-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1700px) {
    .myresource-listview .res-list-item {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: inline-block;
      }
    }
  }

  .ui-rating {
    opacity: 1 !important;
    filter: Alpha(Opacity=100) !important;
  }

  .username {
    font-weight: bold;
    color: $gray-800;
    vertical-align: top;
  }

  .username_div {
    padding-left: 40px;
    margin-bottom: 5px;
  }

  .username_link {
    text-decoration: none;
    vertical-align: top;
  }

  .hyperlink {
    color: $blue;
    display: flex;
    justify-content: center;
  }
}
