.section-search {

  #search_loading_more_results, #search_nothing_found, #search_no_more_results, .metadata {
    display: none;
  }

  /*result link in web search*/
  .resource-web-link {
    span {
      color: $blue;
      &:visited {
        color: $blueDarkest;
      }
    }
  }

  /*add border on hover in video search*/
  .hover-border {
    &:hover {
      border: 1px solid gray;
    }
  }

  /*info about source*/
  .source-info {
    span {
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      background-position: left center;
      padding-left: 1rem;
      margin-right: 0;
    }
  }

  /*carousel logo container*/
  .source-icon-container {
    background-position: left center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    margin: .1rem .2rem;
  }

  /*classes below sets bg image based on source*/
  .source_bing {
    background-image: url("\#{resource['images:services/bing.gif']}");
  }

  .source_flickr {
    background-image: url("\#{resource['images:services/flickr.png']}");
  }

  .source_youtube {
    background-image: url("\#{resource['images:services/youtube.png']}");
  }

  .source_vimeo {
    background-image: url("\#{resource['images:services/vimeo.gif']}");
  }

  .source_ipernity {
    background-image: url("\#{resource['images:services/ipernity.gif']}");
  }

  .source_ted {
    background-image: url("\#{resource['images:services/ted.gif']}");
  }

  .source_tedx, .source_teded {
    background-image: url("\#{resource['images:services/tedx.gif']}");
  }

  .source_loro {
    background-image: url("\#{resource['images:services/loro.gif']}");
  }

  .source_yovisto {
    background-image: url("\#{resource['images:services/yovisto.gif']}");
  }

  .source_learnweb {
    background-image: url("\#{resource['images:services/learnweb.gif']}");
  }

  .source_archiveit {
    background-image: url("\#{resource['images:services/archiveit.gif']}");
  }

  .source_factcheck {
    background-image: url("\#{resource['images:services/learnweb.gif']}");
  }

  /*container for tooltips for web search*/
  .tooltip-trigger {
    .tooltip-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      .tooltip-data {
        position: absolute;
        padding: .5rem;
        background-color: $gray-200;
        font-weight: 500;
        white-space: nowrap;
        border-radius: 0.5rem;
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        border: 1px solid $themePrimaryColor;
        opacity: 0;
        transition: all 0.2s ease-in;
      }

      &:hover {
        .tooltip-data {
          bottom: 100%;
          left: 100%;
          opacity: 1;
          z-index: 3;
          pointer-events: all;
        }
      }
    }

    &:hover {
      .tooltip-container {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  .ui-carousel-light {
    .ui-carousel-header {
      background: $gray-400 !important;
    }

    .ui-carousel-viewport {
      max-height: 10em;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      .ui-carousel-items {
        max-height: 9em;
        .ui-carousel-item {
          border-radius: 0.1rem;
          padding: 0 !important;
          margin: 0.1rem 0.5rem !important;

          &:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
          }
        }
      }
    }
  }

  /*video duration for video search*/
  .video-duration {
    opacity: 0.75;
    position: absolute;
    right: 2%;
    bottom: 3%;
    background-color: $dark;
    color: white;
    border-radius: 0.1rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  /*truncate two lines (used in web and video searches)*/
  .truncate-two-lines {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 2.4em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }

  .fancybox-search-layout {
    /* Give space around main area */
    .fancybox-outer {
      top: 2rem;
      bottom: 2rem;
      right: 2rem;
      left: 2rem;
      margin: auto;
      overflow: visible;
      background: #fff;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
      transition: opacity .3s;
    }

    /* Make it to fade-out while closing */
    &.fancybox-is-closing .fancybox-outer {
      opacity: 0;
    }

    /* Set color for background element */
    .fancybox-bg {
      background-color: $gray-700;
    }

    &.fancybox-is-open .fancybox-bg {
      opacity: 0.7;
    }

    /* Adjust content area position */
    .fancybox-stage {
      right: 256px;

      .fancybox-slide {
        padding: 2rem 1rem;
      }
    }

    /* Move caption area to the right side */
    .fancybox-caption {
      top: 2rem;
      bottom: 0;
      left: auto;
      width: 256px;
      padding: 1rem;
      background: #333;
      pointer-events: all; /* Make text selectable */
      border-right: 1px solid rgba(255, 255, 255, .08);
    }

    /* Align buttons at the right side  */
    .fancybox-toolbar {
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      background: #333;
      max-height: 2rem;
      width: 256px;
      border-bottom: 1px solid #222;
      display: flex;
      flex-direction: row-reverse;
    }

    .fancybox-button {
      max-height: 2rem;
      max-width: 2rem;
      padding: 0.2rem;
    }

    /* Remove background from all buttons */
    .fancybox-button,
    .fancybox-navigation button:before {
      background: transparent;
    }

    /* Change arrow color */
    .fancybox-navigation button {
      color: $themeElementTextColor !important;
      padding: 10px;
    }

    /* Reposition arrows */
    .fancybox-button--arrow_left {
      left: -60px !important;
    }

    .fancybox-button--arrow_right {
      right: -60px !important;
    }

    &.fancybox-show-thumbs .fancybox-button--arrow_right {
      right: -272px !important;
    }

    @media (max-width: 767.98px) {
      .fancybox-caption {
        position: relative;
        top: 70%;
        width: 100%;
        height: 30%;
        overflow: overlay;
      }

      .fancybox-stage {
        bottom: 30%;
        right: 0;
        top: 2rem;
        width: 100%;
      }

      .fancybox-toolbar {
        width: 100%;
      }
    }
  }
}
