.section-search {
  #search_loading_more_results, #search_nothing_found, #search_no_more_results {
    display: none;
  }
  .resources {
    position: relative;
  }

  .wayback_span {
    width: 400px;
    padding: 4px;

    a {
      color: $blue;

      &:visited {
        color: $blueDarkest;
      }
    }
  }

  /*To indicate if the resource is an old resource*/

  .oldResource {
  }

  /* Search filters bar */

  .filters_menu_bar {
    ul {
      list-style: none outside none;
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        margin-right: -0.1rem;
      }
    }

    .search-filters li:hover .filter-sub-bar {
      visibility: visible;
    }

    ul li.disabled {
      opacity: 0.4;
      .filter-name {
        cursor: default;
      }
    }

    .search-filters.no-source .filter.sources .arrow, ul li.disabled .filter-name .arrow {
      opacity: 0;
    }

    .filter-sub-bar {
      visibility: hidden;
      position: absolute;
      left: 0;
      width: auto;
      z-index: 10;
      border: solid 1px $gray-400;
      background: $white;

      &.hidden {
        display: none;
      }

      a {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        padding: 0 15px 0 10px;
        line-height: 3.2rem;
        color: $black;
        max-width: 60rem;
        text-overflow: ellipsis;
        overflow: hidden;

        &.active, &:hover {
          background: $gray-100;
        }
      }
    }

    a.clear-filter {
      color: $black;
      display: inline-block;
      padding: 0.4rem 1.4rem 0.3rem;
    }
  }

  .resourceWebLink {
    &:visited {
      color: $blueDarkest;
    }
  }

  /* ---------------------- Preview ------------------------*/

  .metadata {
    display: none;
  }


  /*------------------- Fact sheet -------------------------*/

  .fact_sheet_value a {
    color: rgb(88, 147, 236);
  }

  .fact_sheet_field {
    font-weight: bold;
  }

  .fact_sheet_detail {
    padding-bottom: 5px;
  }

  #fact_sheet_description {
    padding-bottom: 10px;
  }

  #fact_sheet_label {
    font-size: 26px;
    padding-bottom: 5px;
  }

  #fact_sheet_contents {
    padding: 20px 10px 15px 10px;
  }

  #fact_sheet_image_wrapper {
    height: 184px;
    overflow: hidden;
    display: block;
    position: relative;
  }

  #fact_sheet_first_image {
    img {
      max-width: 180px;
      margin: 1px !important;
    }

    height: 182px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
  }

  #fact_sheet_first_image_td {
    vertical-align: top;
  }

  #fact_sheet_wrapper {
    table {
      border-spacing: 0px;

      td {
        padding: 0px;
      }
    }

    float: right;
    margin: 15px;
    width: 35%;
    min-width: 356.296875px;
    border: 1px solid $gray-300;
    z-index: 10000;
    box-shadow: 0 0 4px $gray-400;
    padding: 0px;
    color: $black;
  }

  /*------------------- search filter, source selector -------------------------*/

  .group-menu-header {
    span {
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      background-position: left center;
      padding-left: 1rem;
    }
  }
  .group-menu-title {
    border-bottom: 2px solid $gray-600;
    background-size: 1rem 1rem;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1rem;
  }
  .group-menu-header .source_bing, .source_bing .group-menu-title {
    background-image: url("\#{resource['icon:services/bing.gif']}");
  }

  .group-menu-header .source_flickr, .source_flickr .group-menu-title {
    background-image: url("\#{resource['icon:services/flickr.png']}");
  }

  .group-menu-header .source_youtube, .source_youtube .group-menu-title {
    background-image: url("\#{resource['icon:services/youtube.png']}");
  }

  .group-menu-header .source_vimeo, .source_vimeo .group-menu-title {
    background-image: url("\#{resource['icon:services/vimeo.gif']}");
  }

  .group-menu-header .source_ipernity, .source_ipernity .group-menu-title {
    background-image: url("\#{resource['icon:services/ipernity.gif']}");
  }

  .group-menu-header .source_ted, .source_ted .group-menu-title {
    background-image: url("\#{resource['icon:services/ted.gif']}");
  }

  .group-menu-header .source_tedx, .source_tedx .group-menu-title, .group-menu-header .source_teded, .group-menu-block.source_teded .group-menu-title {
    background-image: url("\#{resource['icon:services/tedx.gif']}");
  }

  .group-menu-header .source_loro, .source_loro .group-menu-title {
    background-image: url("\#{resource['icon:services/loro.gif']}");
  }

  .group-menu-header .source_yovisto, .source_yovisto .group-menu-title {
    background-image: url("\#{resource['icon:services/yovisto.gif']}");
  }

  .group-menu-header .source_learnweb, .source_learnweb .group-menu-title {
    background-image: url("\#{resource['icon:services/learnweb.gif']}");
  }

  .group-menu-header .source_archiveit, .source_archiveit .group-menu-title {
    background-image: url("\#{resource['icon:services/archiveit.gif']}");
  }

  .group-menu-header .source_factcheck, .source_factcheck .group-menu-title {
    background-image: url("\#{resource['icon:services/learnweb.gif']}");
  }

  .custom-underline{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, $body-color, $body-color);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size $transition-duration ease;
    &:hover{
      background-size: 100% 1.5px;
    }
  }

  .filter-sub-bar {
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .ui-datalist-content{
    border: 0;
    background-color: transparent;
    width: 100%;
    .ui-datalist-data{
      list-style-type:none;
      padding-left: 0;
    }
  }

  .ui-paginator-bottom{
    background-color: transparent;
    border: 0;
    .ui-paginator-pages {
      .ui-state-active {
        background-color: transparent !important;
      }
    }
  }

  .content {
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-image{
    width: 100%;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

}


