root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160
tab_width = 4
ij_continuation_indent_size = 4

[*.properties]
ij_properties_keep_blank_lines = true

[{*.yml,*.yaml}]
indent_size = 2

[{*.scss,*.sass,*.css}]
indent_size = 2

[{*.js,*.cjs,*.ts,*.jsx,*.tsx,*.vue,*.json}]
indent_size = 2
ij_javascript_keep_simple_blocks_in_one_line = true
ij_javascript_keep_simple_methods_in_one_line = true
ij_javascript_align_object_properties = 0
ij_javascript_method_call_chain_wrap = on_every_item

[{*.htm,*.html,*.ng,*.sht,*.shtm,*.shtml,*.xhtm,*.xhtml}]
ij_html_do_not_indent_children_of_tags = html,body,thead,tbody,tfoot,ui:composition
ij_html_inline_tags = a,abbr,acronym,b,basefont,bdo,big,br,cite,cite,code,dfn,em,font,i,img,input,kbd,label,q,s,samp,select,small,strike,strong,sub,sup,textarea,tt,u,var

[*.java]
max_line_length = 180
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,jakarta.**,|,org.**,|,com.**,|,*
ij_java_builder_methods = given,when,then
ij_java_keep_builder_methods_indents = true
ij_java_keep_simple_blocks_in_one_line = true
ij_java_line_comment_add_space = true
ij_java_line_comment_add_space_on_reformat = true
ij_java_line_comment_at_first_column = false
ij_java_keep_first_column_comment = false
ij_java_method_call_chain_wrap = on_every_item
ij_java_packages_to_use_import_on_demand = java.awt.*,javax.swing.*,org.junit.jupiter.api.Assertions.*
