# IDEs

## InteliJ IDEA
*.iml
.idea/*
!.idea/codeStyles
!.idea/dictionaries
!.idea/inspectionProfiles
!.idea/runConfigurations
!.idea/scopes
!.idea/.name
!.idea/checkstyle-idea.xml
!.idea/dataSources.xml
!.idea/encodings.xml
!.idea/findbugs-idea.xml
!.idea/misc.xml
!.idea/resourceBundles.xml
!.idea/sqldialects.xml
!.idea/vcs.xml

# Eclipse
.metadata
.settings
.classpath
.project

# Project files/folders

## Output folders
target
build
logs
node_modules
files

## Local files
learnweb_local.properties
**/webapp/resources/bundle

## We don't use Yarn in production
yarn.lock
