# .idea

## Plugins
.idea/**/sonarlint
.idea/**/checkstyleidea-libs
.idea/**/checkstyleidea.tmp

## User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
#.idea/**/dictionaries
.idea/**/shelf

## Sensitive or high-churn files
.idea/**/dataSources
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/jsLibraryMappings.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/watcherTasks.xml
.idea/**/contentModel.xml
.idea/**/deployment.xml
.idea/**/gradle.xml
.idea/**/libraries

# Project files/folders

## Output folders
target
build
logs
node_modules
files

## Local files
learnweb_local.properties
WebContent/resources/bundle

## lock files not actually used in production, so makes no sense to keep them
package-lock.json
yarn.lock
