.sticky-column {
  @include position-sticky();
  top: $topbar-height;
  height: 100%;
  overflow-y: auto;
}

@include media-breakpoint-up(md) {
  .sticky-column-md {
    @include position-sticky();
    top: $topbar-height;
    height: 100%;
    overflow-y: auto;
  }
}

.col-xs-auto {
  @include media-breakpoint-down(xs) {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.mw-md {
  max-width: 25rem;
}

.w-inherit {
  width: inherit !important;
}

.w-15 {
  width: 15%;
}
