.sticky-column {
  position: sticky;
  top: 1rem;
  height: calc(100vh - 2rem);
  overflow-y: auto;
}
.col-xs-auto {
  @include media-breakpoint-down(xs) {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.mw-md {
  max-width: 25rem;
}
