@import url("//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* { 
	margin: 0; 
}
html{ 
	font-size:62.5%; 
	height:100%;
}
body {
	/*min-width:320px;*/
	min-width:1000px;
	font-family:Arial, Verdana;
	height:100%;
	width:100%;
	font-size:1.2rem;
}
iframe { border:none }

/* correct primefaces omega theme */


.ui-datatable .ui-datatable-header,
.ui-datatable .ui-paginator-top,
.ui-datatable th.ui-state-default { background-color: rgb(196, 196, 196); }

.ui-button,.ui-button span,button.ui-button.ui-state-default span,.ui-button.ui-state-default span {
	font-weight:400; /*  !important   */
}

.ui-widget,
.ui-widget-content,
.ui-widget-content a,
.ui-widget-content .ui-inputfield {
	color:rgb(79, 79, 79);
	font-family:Arial, Verdana ;
}
.ui-progressbar .ui-progressbar-value,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight { background-color: #489a83; }
.ui-datepicker-current-day a { background:#489a83 !important; }

.ui-progressbar .ui-progressbar-value,
.ui-datatable .ui-datatable-header,
.ui-datatable th.ui-state-default,
.ui-datatable tbody > tr.ui-widget-content {
    border: 1px solid #a8a8a8;
}

.ui-paginator {
    border-color: #a8a8a8;
}
.ui-datatable .ui-datatable-header { border-bottom:none; }

.ui-dialog .ui-dialog-titlebar { padding-left:0; margin-left: 12px; }
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-token.ui-state-active, 
.ui-autocomplete .ui-autocomplete-token.ui-state-active, .ui-chips .ui-chips-token.ui-state-active {
    background: #489a83;
    color: #fff;
    padding-top: 1px;
    border: 1px solid #3b8b74 ;
}
.ui-autocomplete > input {
	width: 100%;
	box-sizing: border-box;
}
.ui-chkbox-box.ui-state-active, 
.ui-chkbox-box.ui-state-focus.ui-state-active, 
.ui-radiobutton-box.ui-state-active, 
.ui-radiobutton-box.ui-state-focus.ui-state-active
.ui-progressbar .ui-progressbar-value,
.ui-paginator .ui-paginator-page.ui-state-active,
.state-active {
    border: 1px solid #3b8b74;
    background: #489a83;
}

#header {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
    background: #6E6E6E;
}
#header a {
	color:#FFFFFF;	
	font-size:1.5rem;
	font-weight:bolder;
	transition: background-color 0.3s;
}
#header a:hover{text-decoration:none;}

#content {
	padding-top:4.6rem;	
	height:100%;
	width:100%;
	box-sizing:border-box;
}

#learnweb_logo {
	position:absolute;
	top:0px;
	left:0px;
	width:19rem;
	height:100%;
	display:block;
	text-indent:-9999px;
}

#main_menu_bar {
	position:relative;	
	background:#489a83 url("img/learnweb_hq.png") left no-repeat;
	background-size:contain;
	font-family:"Lato", sans-serif;
	width:100%;
	height:4.6rem;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);	
}
#searchform {
	height:100%; 
	float:left;
}

#loadingsymbol{
	position:absolute;
	left:15rem;
	top:50%;
	margin-top:-16px;
	visibility:hidden;
}
#searchfield {
	float:left;
	margin-left:23rem;
	font-size:1.8rem !important;
	width:26rem;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	padding:0px 1rem;
	border:none !important;
	background-color:#f7f7f7;
	-webkit-appearance: none;
	outline: none;
}
#searchfield:focus {
	background-color:white;
}
#searchbutton {
	cursor:pointer;
	background:url(img/search.png) no-repeat scroll center center #9C9C9C;
	float:left;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	width:4.0rem;
	font-size:2.8rem !important;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	border:none !important;
}
#searchbutton:focus,
#searchbutton:hover {
	background-color:#a4a4a4;
	outline:none;
}

#informationonscreen{
	cursor:pointer;
	float:right;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
	width:2rem;
	height:2rem;
	position:relative;
	margin:1rem 1rem 0 0;
	z-index:5;
}
#informationonscreen:hover{
	background-color:#4ea68d;
}

#language_selector {
    display:block;
    position:relative;
    float:right;
    margin-right:2.5rem;
    margin-top:1rem;
}

#language_selector ul {
	padding:3.6rem 0px 0px;
	position:absolute;
	right:-2.5rem;
	display:none;
	top:0;	
	margin-right:0.5rem;
	z-index:1;
}
#language_selector li:last-child {
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
#language_selector img {
    height:2rem;
    width:3rem;
    display:block;
    border:1px solid #FFFFFF;
    border-radius:5px;
    position:relative;
    padding:2px;    
}
#language_selector:focus ul,
#language_selector:hover ul{
	display:block;
}
#language_selector ul:after {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
#language_selector li {
    list-style:outside none none;
    min-width:13rem;
    background-color:#489A83;
}
#language_selector ul a{
	display:block;
	text-decoration:none;
	padding:1rem;
	border-radius:10px;
	background-repeat:no-repeat;
	padding-left:5rem;
	background-size:3rem 2rem; 
	background-position:1rem 50%;
}

#language_selector a:focus,
#language_selector a:hover {
	background-color:#4ea68d;
}
.language_de { background-image:url(img/flag_de.png); }
.language_en { background-image:url(img/flag_en.png); }
.language_pt { background-image:url(img/flag_pt.png); }
.language_it { background-image:url(img/flag_it.png); }
.language_us { background-image:url(img/flag_us.png); }

.hover-white:focus,
.hover-white:hover	{
	background-color:#4ea68d;
}
.header_buttons{
	float:right;
	display:block;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
	margin-right:1rem;
    margin-top:1rem;
    width:2rem;
    height:2rem;
}
#logoutbutton{
    position:relative;
    z-index:5;
}
#message_div{
	position:relative; 
	float:right;
	z-index:5;
}
#message_button{
    width:2.5rem;
}
#message_count{
	background-color:#616161;
	position:absolute;
	border-radius:1rem;
	text-align:center;
	border:1px solid #fff;
	width:2rem;
	padding:1px;
	left:1.5rem;
}
#loginbutton{
	display:block;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	line-height:4.6rem;
	padding:0 1rem;
	float:right;
	margin-right:1rem;
	text-decoration:none;
	position:relative;
	z-index:5;
}
.menu{
	cursor:pointer;
	padding-right:2rem;
	padding-left:2rem;
	vertical-align:middle
}

/* menu top bar */

.userbar ul{
	float:left;
	margin:0 0 0 2rem;
    padding:0px;
   	background-color:#489a83;
}
.userbar ul:after {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.userbar ul li:hover > ul {
    visibility:visible;
}
.userbar a{
	text-decoration:none;
    display:block;
 }
.userbar ul li {
	border-left:1px solid #FFFFFF;
	line-height:4.6rem;
    list-style:none;
    float:left;
}
.userbar ul li:last-child{
	border-right:1px solid #FFFFFF;
} 
.userbar ul li a {
    padding-right:2rem;
    padding-left:2rem;
}
.userbar a:focus,
.userbar a:hover{
	background-color:#4ea68d;
}
.userbar ul li ul{
	display:inline;
	position:absolute;
	top:4.6rem;
	margin:0 0 0 -13rem;
    text-align:left;
    display:inline;
    visibility:hidden;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	min-width:20rem;
	z-index: 1000;
	overflow-y: auto;
}
.userbar ul li ul li{
	border-left:0px;
	border-right:0px;
	line-height:1.2rem;
    float:none;
}
.userbar ul li ul li a{
	border-right:0px;
	border-left:0px;
	margin-left:0.5rem;
	margin-right:1rem;
}
.userbar ul li ul li a:hover{
	border-radius:5px;
	margin:0 1rem;
	padding-left:0.5rem;
}
.userbar ul li ul li:first-child{
	margin-top:1rem;
}
.userbar ul li ul li:last-child{
	border-right:0px;
}
.userbar ul li ul li a{
	padding:1rem;
}
.menupoint{
    color:#FFFFFF !important;
    background-color:#616161;
    font-size:1.5rem;
    font-weight:bolder;
    border:1px solid #000000;
    border-radius:5px;
   	margin:0 1rem;
   	padding:0.5rem;
}
#moremyresources, #moremygroups, #moreprofile, #logout, #login, #activitystream{
	display:none;
}

#moreactivitystream{
	display:block;
}
#growl_container {
	top:80px;
}

#datagrid { width:100%; height: 100% }

/* bottom bar */

#backtogroup {
	float:left;
	position:absolute;
	text-decoration:none;
	width:19rem;
	padding:0 1rem;
	text-overflow:ellipsis; 
	overflow:hidden;
	white-space:nowrap;
	font-weight:normal;
	margin-right:1rem;
}
#backtogroup:focus,
#backtogroup:hover {
	color:#000000 !important;
}

#sub_menu_bar {
	background-color:#616161;
	height:3rem;
	line-height:3rem;
	width:100%;
	overflow:hidden;
	
}

#sub_menu_bar .links { margin-left:22rem; }

#sub_menu_bar .activeResource,
#sub_menu_bar .links a {
	text-decoration:none;
	margin: 0 1rem;
	padding: 0 0.5rem;
	color:#489a83 !important;
	border-bottom:none;
	font-size:1.5rem;
	font-weight:bold;	
}
#sub_menu_bar .links a:focus,
#sub_menu_bar .links a:hover {
	color:#FFFFFF !important;
}
#sub_menu_bar .activeResource{
	color:#FFFFFF !important;
	border-bottom:2px solid #489a83;	
}

/*footer help messages*/
#footer_close {
	position:absolute;
	right:5px;
	top:3px;
	width:26px;
	height:26px;
	background:url("../search/icon/cancel-inv.png") center no-repeat;
}
#footer {
	color:#ffffff;
	left:0px;
	position: fixed;
	bottom: 0px; 
	text-align: center;
	z-index:1500;
	opacity:0.95;
	font-size:1.3rem;
	width:100%;
	background-color: rgb(0, 0, 0);
}
#footer_question_mark{
	font-size:56px;
	text-align:center;
	width:68px;
	border:2px solid #616161;
	border-radius:34px;
	position:absolute;
	left:30px;
	bottom:0;
	display:inline-block;
	color:white;
	background-color:black;
}
#footer_text{
	padding: 0.7rem 10rem;
	display:block; 
	font-size:1.5rem;
}

/*right_pane*/
#right_pane{border: none;}
#right_pane_wrapper{
	width: 95%;
	margin: auto;
}
#right_pane .ui-layout-unit-header{
	background: #fff !important;
	border: 0px;
	text-align: center;
	font-size: 16px;
	color: #000;
	margin-bottom:0px;
}

#right_pane table.full-width {
    width: 100%;
}

/* group menu */
#groupoverview_link {
	padding:0.5em 0.5em 0.5em 2.2em;
	font-size:1em;
	color:#2F556A;
}
.group-menu .folder-tree,
.group-menu h3 { margin-top: 0.8rem; }
.group-menu h3:hover{ background-color:#eeeeee;  }
.group-menu .active > div { display:block; }
.group-menu .active h3 { text-decoration:underline;}
.group-menu a.active { font-weight:bold; }
.group-menu .active h3 .iconarrow { background-position:-64px -16px; }
.group-menu a{
	display:block;
	padding:0.5em;
	margin-left:2.2em;
	text-decoration:none;
}
.group-menu li{
	padding-left:0.3em;
	margin-right:1rem;
}
.group-menu li a:hover{
	background-color:#eeeeee;
	border-radius:5px;
}
.group-menu li a{
	margin-left:1em;
	margin-right:2em;
}
.iconarrow{
	position:absolute;
	margin-top:5px;
	left:0.5em;
	right:auto;
	background-image:url("img/ui-icons.png");
	background-position:-32px -16px;
	background-repeat:no-repeat;
	cursor:pointer;
	display:block;
	height:16px;
	width:16px;
	overflow:hidden;
	text-indent:-99999px;
}

/* center header */
.center-header {
	background: none;
	background-color: #eee !important;
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
	margin-bottom: 5px;
	padding: 10px; 
	font-weight: bold;
	font-size: 1.2rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
.center-header li {
	float:left;
	display:block;
	border-right: 1px solid rgb(230, 230, 230);
}
.center-header a {	
	padding:5px 15px; 
	display:block;
}
.center-header a.active,
.center-header a:hover {	background-color: #EEE;}
.center-header ul {
	list-style: outside none none;
	margin: 10px -10px -10px;
	padding: 0px;
	border-top: 1px solid #ccc !important;
	background-color: rgb(230, 230, 230);
	clear: both;
}
.center-header ul:after {
    content:'';
    display:block;
    clear: both;
}
.ui-panel-title,
.center-header > h2, 
.page_header span{
	font-size: 2rem;
	font-weight: 100;
	color: #489a83;
	display:inline;
	margin: 0;
}

.ui-panel-titlebar,
.page_header{
	border:1px solid #ccc;
	background-color:#eee;
	margin-bottom:5px;
	padding:10px !important;
}
.ui-panel { margin-bottom: 1rem; } 
.ui-panel-content,
.page_content {
	border:1px solid #ccc; 
	padding:0.5em 1rem;
}
.header_detail {
	font-size:1.2rem;
	color:#4f4f4f;
	font-weight:bold;
}

form#center_header_form { float:right; }
.resource_button {
	float:right;
	position:relative;
	top:-3px;
	right:-5px;
}

h3.group_link {
	font-size:1.2rem;
	margin-top:0.4rem;
}

.resource_button > button {
    padding: 6px 26px 6px 12px !important;
}

.nothing_found{
	font-size:1.5rem;
	font-weight:bold;
	padding-left:1rem;
}



/* Resource filters bar */ 
.resources-filters {
    margin: 10px -10px -10px;
}

.resources-filters ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.resources-filters ul li {
	float: left;
	display: block;
	position: relative;
	white-space: nowrap;
}

.resources-filters ul li.active, .resources-filters ul li:hover {
	background-color: #EEE;
}

.resources-filters .filter-name {
	cursor: pointer;
	display: inline-block;
	padding: 0.6rem 1.5rem 0.5rem;
}

.resources-filters .filter-name .trimmed-text {
	text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    float: left;
}

.resources-filters li:hover .filter-sub-bar {
    visibility: visible;
}

.resources-filters ul li.disabled {
	display: none;
}

.resources-filters ul.filter-sub-bar {
    visibility: hidden;
	position: absolute;
	top: 3.1rem;
	left: 0;
	width: auto;
	z-index: 10;
	border: solid 1px #ccc;
	background: #E6E6E6;
	margin: -6px -1px;
}

.resources-filters ul.filter-sub-bar li {
  display: block;
  background-color: rgb(230, 230, 230);
  width: 100%;
}

.resources-filters ul.filter-sub-bar li button {
  background: none !important;
  border: 0;
}

.resources-filters ul.filter-sub-bar li button span {
  padding: 0.6rem 1.5rem 0.5rem;
  color: #000 !important;
  text-align: left;
}

.resources-filters ul.filter-sub-bar li.active,
.resources-filters ul.filter-sub-bar li:hover {
	background: #eee;
}

.vCarousel-expand {
	display: none !important;
}

.vCarousel-small .vCarousel-container {
	overflow: hidden;
}

.vCarousel-small .vCarousel-expand {
	display: block !important;
}

.vCarousel-expanded .vCarousel-container {
	overflow-y: auto;
	overflow-x: hidden;
}

.vCarousel-expanded .vCarousel-expand {
	display: none !important;
}

.resources-filters .clear-filters:hover {
	background: none;
}

.resources-filters .clear-filters button {
	background: none !important;
	border: 0;
}

.resources-filters .clear-filters span {
	cursor: pointer;
	padding: 0.6rem 0.5rem 0.5rem;
}

.resources-filters .clear-filters span:hover {
	text-decoration: underline;
}

.resources-filters .arrow {
	width: 0; 
	height: 0; 
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-top: 0.4rem solid #333;
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 5px;
}



/* general settings */

a { text-decoration:none; }
a:hover{ text-decoration:none; }

td[role=gridcell] a,
a.underline { text-decoration: underline }

td[role=gridcell] a:hover,
a.underline:hover { text-decoration: none; }

a img { border: none; }

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 2rem;
	margin-bottom:1rem;
}

h2 {
	font-size: 2rem;
	margin-bottom:0.8rem;
}

h3 {
	font-size: 1.4rem;
}

.small_page {
	max-width:80rem;
	padding:1rem;
	margin-top:4rem;
	margin-left:auto;
	margin-right:auto;
	color:#4f4f4f;
}


.small_page a{
	color:#4f4f4f;
}
.small_page input[type=text],
.small_page input[type=password] {
	width:200px;
}
.border-box-100 {
	box-sizing: border-box;
	width: 100%;
}

.ui-tooltip .ui-tooltip-text {
    max-width: 40rem;
}

.ui-icon {
    background-image:url(img/ui-icons.png) !important;
}

.greenbutton > button,
.graybutton > button,
button.greenbutton,
a.greenbutton,
button.graybutton,
a.graybutton {
	border:1px solid #3b8b74 !important;
	background:none !important;
	background-color:#489a83 !important;
	text-shadow:none !important;
	padding:6px 12px;
	color:white !important;
	font-weight:normal !important;
	cursor:pointer;
	font-size:14px !important;
	border-radius:2px !important;
	transition: all 0.3s;
	text-decoration: none !important;
}

.greenbutton .ui-button-text,
.graybutton .ui-button-text {
	padding:0;
}

/* TODO clean up these rules */
.greenbutton > button:hover,
.greenbutton > button:focus,
.graybutton > button:hover,
.graybutton > button:focus,
button.greenbutton:hover,
a.greenbutton:hover,
button.graybutton:hover,
a.graybutton:hover,
button.greenbutton:focus,
a.greenbutton:focus,
button.graybutton:focus,
a.graybutton:focus {
	background:none repeat scroll 0 0 #4ea68d !important;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1) !important;
	font-weight:bolder !imporant;
	text-decoration:none;
	outline: none;
}

.graybutton > button,
button.graybutton,
a.graybutton {
	border:1px solid #a8a8a8 !important;
	background-color: #c4c4c4 !important;
	color: #4F4F4E !important;
}

.graybutton > button:hover,
.graybutton > button:focus,
button.graybutton:hover,
a.graybutton:hover,
button.graybutton:focus,
a.graybutton:focus {
	background:none repeat scroll 0 0 #DBDBDB !important;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1) !important;
}

#group_resource_searchbutton{
	cursor:pointer;
	background:url(img/search.png) no-repeat scroll center center !important;
	background-size:16px 16px !important;
	height:19px;
	border:none !important;
	background-color:rgb(230, 230, 230) !important;
}
#group_resource_searchbutton:hover,
#group_resource_searchbutton:focus{
	background-color:#eee !important;
}

.clear {clear:both;}

.display-none {display:none;}
	
.error {
	color:red;
	font-weight:bold;
}

.align-left {text-align:left;}
.align-right {text-align:right;}
.align-center {text-align:center;}

.float-left {float:left;}
.float-right {float:right;}

.nowrap {white-space:nowrap;}

.grey_border{
	border: 1px solid #ccc;
	padding: 1rem;
}

.one-column {	
	height: 100%;
	margin: 0 auto;
	padding: 0.5rem;
	max-width:70rem;
	box-sizing: border-box;	
}
.one-column-border {
	height: 100%;
	border-right: 1px solid rgb(210,210,210);
	border-left: 1px solid rgb(210,210,210);	
	padding: 0 0.5rem;	
}

#comment_table a:hover, #comment_table a:focus,
#tag_table a:hover, #tag_table a:focus{
	color:#489a83;
}

.optionIcon{
	text-decoration:none;
	display:inline-block;
	margin:0 3px;	
}
	
/*paging-template*/
#paging_buttons { 
	padding:0px 8px 10px 0px;
	text-align:center;
}
#paging_buttons > .grey_border {
	padding: 0px;
	background-color: rgb(238, 238, 238);
	position: relative;
	z-index: 10;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px -2px 4px -1px rgba(255, 250, 250, 0.8);
}
#paginator { font-size: 15px; }
.pagebutton{
	border:none !important;
	background:none !important;
	vertical-align: middle;
}
.active_page_button{
	color:#489a83 !important;
	font-size:1.8rem !important;
}
.ui-button.ui-widget.ui-button-text-only.pagebutton > span { font-weight:bold; }
.ui-button.ui-widget.ui-button-text-only.pagebutton:hover > span { color:#489a83 !important; }
.next_button, .previous_button{
	background-image:url(img/ui-icons.png) !important;
	background-repeat:no-repeat !important;
	display:inline-block;
	height:16px;
	width:16px;
	position:absolute;
	margin-top:7.5px;
}
.next_button{
	background-position:-32px 0px !important;
	margin-left:-8px;
}
.previous_button{
	background-position:-96px -0px !important;
}

/*group_overview*/
#other_groups{
	margin-bottom:20px;
}

.ui-datatable,
.ui-panel,
.page_header,
.center-header,
.grey_border,
#message {
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}
#group_header {
	margin-bottom: 0px;
	margin-right: 8px;
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(255,250,250,0.8);
	z-index: 10;
	position: relative;
}

#group_header + .ui-layout-unit-content .content {
	padding-top: 0.8rem;
}

hr {
	border: none;
	border-top: 1px solid #ccc !important;
}

/*group resource search*/
#input_query_form{
	margin-top:2.5px;
	width:20rem;
}
#header_query_form button span{display:inline;}
#header_query_form{white-space: nowrap;}

.ui-button,
.ui-inputfield{
	border:1px solid #a8a8a8;
	box-shadow:0 0 0px 0px #fff !important;
}
.ui-inputfield:hover, .ui-inputfield:focus{
	background-color:#fff !important;
}
.ui-widget {font-size:1.2rem;}
.ui-corner-all{border-radius:0px;}

.searchfield_autocomplete.ui-autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: default;
    border: 1px solid #ccc;
	background: #FFF none repeat scroll 0% 0%;
	color: #333;
	list-style: outside none none;
	padding: 0px;
	margin: 0px;
	outline: medium none;
	z-index: 100;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.searchfield_autocomplete.ui-autocomplete .ui-state-focus {
	box-shadow: none;
	border: none;
	background: #ededed none repeat scroll 0 0;
	margin:0;
    color: #2b2b2b;
    font-weight: normal;
}
.searchfield_autocomplete.ui-autocomplete .ui-menu-item {
    position: relative;
    margin: 0px;
    padding: 3px 1em 3px 0.4em;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    font-size:1.5rem;
}

.ui-datagrid-content{border:0px;}
.ui-panel{
	border-radius:0px;
	border-color:#ccc;
}
.ui-panel:HOVER .buttons{display:block !important;}
.ui-panel:HOVER .buttons img{
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
	-moz-filter:grayscale(0);
    -ms-filter:grayscale(0); 
    -o-filter:grayscale(0);
}
.ui-panelmenu-header{
	border-radius:0px;
	border-color:#fff !important;
	background:white !important;
}
.ui-state-hover.ui-panelmenu-header{
	box-shadow:0 0 0px 0px white !important;
	background-color:#eee !important;
}
.ui-panelmenu-content{
	border-color:#fff !important;
	margin-left:20px;
}
.ui-panelmenu-content .ui-state-hover.ui-menuitem-link{
	box-shadow:0 0 0px 0px white !important;
	background-color:#eee !important;
}
.ui-layout-unit, .ui-layout-unit-content{
	padding:0px !important;
	margin:0px;
}
.ui-datatable {width:100%;}
.ui-layout-pane-north .ui-layout-unit-content {overflow:hidden !important;}
.ui-corner-top{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
.ui-corner-bottom{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.ui-datatable-odd{
	background-color:#eee;
}
.ui-editor-toolbar{
	background-color:#eee;
	background-image:none;
	border-bottom:1px solid #999;
}
.ui-state-default, .ui-widget-header{
	background-image:none !important;
	box-shadow:none;
}
.ui-state-error {
    border: 1px solid #CD0A0A !important;
}
.ui-state-focus{
	outline:none;
}

.datagrid .ui-panel-content{padding:5px;}
.explore_history .ui-button .ui-button-text, .search_history .ui-button .ui-button-text{
	display:block;
	line-height:0.6;
}
#right_pane .ui-button{border-radius:0px;}
#right_pane .greenbutton{border-radius:2px;}

.member_star {
	height: 40px;
	width: 28px;
	background: transparent url("../group/member_badge.gif") repeat scroll 0% 0% / cover;
}
/*taken from new_main2.css*/

img {border: none;}
/* TODO delete
input, textarea{
	border-radius:0px !important;
	border:1px solid #a8a8a8 !important;
	box-shadow:0 0 0px 0px #fff !important;
}*/
input:focus, textarea:focus, select:focus{
	outline:0 !important;
}

.align{
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
	font-size:20px;
	width:80%;
}
.aligner {
	height:100%;
    width:0;
    display:inline-block;
    vertical-align:middle;
}

.am-wrapper{
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img{
    position:absolute;
    outline:none;
}

.ui-button.ui-widget.ui-state-default,
button {
	background-color: #dedede ;
	border-color: #ccc ;
	color: #4a4a4a;
}
.ui-button.ui-widget.ui-state-default:hover,
button:hover {
	background-color: #e6e6e6;
}
.blackbutton{
	background:rgb(94, 94, 94) !important; 
	border:1; 
	border-color:rgba(0, 0, 0, 0.14); 
	cursor:pointer; 
	color:#EFEFEF !important;
	text-shadow:none !important;
	border:none !important;
	box-shadow:none;
	border-radius:0px;
}
.buttons{
	float:right;
	/*margin-top:8px;*/
	margin-right:8px;
}
.buttons img{
	filter:grayscale(100%); /* Current draft standard */
    -webkit-filter:grayscale(100%); /* New WebKit */
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%); 
    -o-filter:grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter:gray; /* IE */
    -webkit-filter:grayscale(1); /* Old WebKit */
}       	
.buttons img:HOVER {
	filter: none;
	-webkit-filter:grayscale(0);
	-moz-filter:grayscale(0);
    -ms-filter:grayscale(0); 
    -o-filter:grayscale(0);
}
.buttons_link{
	text-decoration:none;
	display:block;
	margin-top:10px;
}

.bold_red {
	color:red;
	font-weight:bold;
}

#center_pane{
	border:none;
	border-right:1px solid rgb(210,210,210);
}

#center_pane .content {
	padding:0 8px 0 1px;
}

.click_message{
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

.data {
	width:95%;
	margin:auto;
	margin-top:5px;
	margin-left:0px;
}

.datagrid {
	padding: 12px 8px;
	margin: -8px;
}

.datagrid > div{
	border:0;
	width:100%;
	width: calc(100% + 16px);
	clear: both;
}

p:dataList {background-color:blue;}

div.title {
	background-color:#9bbcda;
	color:#5C5C5C;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
}

#related_search{
	font-weight:bold;
	margin-top:15px;
	margin-bottom:10px;
}
#related_search_list{
	padding-left:20px;
	margin:0;
}
#related_search_list li{line-height:1.5em;}
#related_search_list li a{color:rgb(88, 147, 255);}

#left_pane{
	border:none;
	border-right:1px solid rgb(210,210,210);
}

.presentation_clear{
	clear:both;
	margin-bottom:5px;
}
.presentation_detail_div{
	float:left;
	width:300px;
	margin-left:2.5%;
}
.presentation_commandbutton{
	float:right;
	margin-right:2.5%;
}
.presentation_link{
	padding: 3.5px 6px 3.5px 6px;
    background-color: #dedede;
    border-color: #ccc;
    color: #4a4a4a;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
}
div#presentation_preview {
    height:0px;    
   	width:95%;
    border-radius:5px;
	border:1px solid #ccc !important;
	box-shadow:0 0 3px 3px #dfdfdf;
    margin:auto;
    text-align:center;
    margin-bottom:15px;
}

.format_button_link{
	display:inline-block;
	text-align:center;
	margin-left:15px;
}
.format_button{
	padding:3px;
	box-shadow:0 0 5px 5px #ccc;
	margin:5px;
	margin-bottom:10px;
}

#more_images_box{
	position:absolute;
	padding:10px;
	background:rgba(0, 0, 0, 0.5);
	right:1px;
	bottom:1px;
	color:white;
	transition:background 0.5s;
	-webkit-transition:background 0.5s; /* Safari */
	z-index:10000;
	display:none !important;
}
#more_images_box:HOVER{background:rgba(0, 0, 0, 1);}

.username{
	font-weight:bold;
	color:#333;
	vertical-align:top;
}
.username_div{
	padding-left:40px;
	margin-bottom:5px;
}
.username_link{
	text-decoration:none;
	vertical-align:top;
	color:#3399FF;
}
.userpic{
	padding-right:10px;
	float:left;
}
#userselect {
	border:1px solid #999999; 
	padding:2px 8px;
}
#userselect ul {
	list-style-type:none; 
	padding-left:0; 
	margin:0 0 5px 20px;
}

.tag_field{
	width:100%;
	box-sizing:border-box;
}
.tag_x{
	margin-left:0px;
	border-left:0px;
	font-size:10px !important;
}
.tag_name{
	margin-right:0px;
	font-size:10px !important;
}
.tag_list{
	list-style:none;
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}

.hyperlink{color:#22e;}

#preview{
	max-height:100%;
	max-width:100%;
}

.folder-tree .ui-tree {
	width: auto;
}

.folder-tree .ui-tree .ui-treenode-content {
	display: block;
	border: 1px solid transparent;
}

.folder-tree .ui-tree .ui-treenode[data-nodetype="root"] > span > .ui-treenode-label {
	font-size: 1.1em;
}
.folder-tree .ui-tree-container {
	padding:0.3rem 0.1rem;
}
.folder-tree .ui-widget-content {
	border:none;
	border-top:1px solid rgb(210,210,210);
	border-bottom:1px solid rgb(210,210,210);
	margin:0 1rem;
}

.folder-tree .ui-state-active,
.folder-tree .ui-widget-content .ui-state-active,
.folder-tree .ui-widget-header .ui-state-active {
	background: none;
    border: 1px solid transparent;
	color: #000;
	text-shadow: none;
	box-shadow: none;
}

.folder-tree .ui-state-active.ui-state-highlight,
.folder-tree .ui-widget-content .ui-state-active.ui-state-highlight,
.folder-tree .ui-widget-header .ui-state-active.ui-state-highlight {
	outline: 1px solid #489a83;
    background: #ddf1eb;
}

.folder-tree .ui-tree .ui-treenode-label.ui-state-hover,
.ui-treenode.ui-draggable-helper .ui-treenode-label,
.folder-tree .ui-tree .ui-treenode-label.ui-state-highlight {
	background: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    border: 0 !important;
    outline: none !important;
}

.folder-tree .ui-tree .ui-treenode-label.ui-state-highlight {
    color: #489a83;
}

.folder-tree .ui-tree .ui-treenode.ui-draggable-greyscale {
	opacity: 0.3;
}

.folder-tree .ui-tree .ui-treenode.ui-draggable-greyscale .ui-treenode-icon,
.folder-tree .ui-tree .ui-treenode.ui-draggable-greyscale .ui-tree-toggler,
.folder-tree .ui-tree .ui-treenode.ui-draggable-greyscale .ui-treenode-label {
	font-weight: normal !important;
	cursor: default !important;
}

.ui-treenode.ui-draggable-helper {
    width: 180px;
    padding: 10px;
    background: #489a83;
    height: 20px;
    line-height: 20px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
	border: 0;
	list-style: none;
}

.ui-treenode.ui-draggable-helper .ui-treenode-icon {
    position: absolute;
	left: 0;
	top: 0;

	background: url(./img/folder.png) no-repeat left center !important;
	display: block;
	margin: 8px 10px;
	height: 24px;
	width: 24px;
}

.ui-treenode.ui-draggable-helper .ui-treenode-content {
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	overflow: hidden;
}

.ui-treenode.ui-draggable-helper .ui-treenode-label {
    color: #fff;
    font-weight: normal;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 45px;
	padding-right: 13px;
}

.ui-treenode.ui-draggable-helper .ui-treenode-children,
.ui-treenode.ui-draggable-helper .ui-tree-toggler {
	display: none;
}

.resource_panelgrid {
	width:100%;
}

.resource_panelgrid.folder_control {
	position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.resource_panelgrid.folder_control .buttons_link {
	margin-top: 1px;
}

.resource_summary{
	color:#666;
	font-size:9px;
	margin-top:4px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	max-width:185px; 
	width:185px;
}
.resource_summary span{font-weight:bold;}
.resource_thumbnail{
	float:left;
	margin-top:5px;
	border: 1px solid #EEE;
}
.resource_short_title{
	font-weight:bold;
	margin-bottom:0px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	width:178px; 
	display:block;
	margin-left: 4px;
}
.resource_command_link{text-decoration:none;}
.resource_dialog_field{width:400px;}

.resource_panel {
	width:195px;
	height:210px;
	margin-bottom:10px;
	position:relative;
	display:block;
	float:left;
	box-sizing:border-box;
	margin-right:20px;
	margin-right:calc(33% - 195px);
	margin-right:-moz-calc(33% - 195px);  
    margin-right:-webkit-calc(33% - 195px);
	padding:6px 4px;
	overflow: hidden;	
	transition: all 0.3s;
}

.resource_panel.resource_folder {
	height: 42px;
	background: #F3F3F3;
}

.resource_panel.resource_folder .resource_short_title {
	background: url("img/folder.png") no-repeat left center;
	padding: 0 0 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

.resource_panel.resource_folder:hover {
	background: #E6E6E6;
}

.resource_panel:HOVER, .members_panelgrid:HOVER{
	cursor:pointer;
	box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #bfbfbf;
}

.resource_panel.resource_folder.ui-state-highlight {
    background: #E1F2FD;
    border: 2px solid #4285f4;
    text-shadow: none;
}

.resource_panel.ui-draggable-helper {
	background: #4285f4;
	height: 40px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border: 0;
}

.resource_panel.ui-draggable-helper .resource_short_title {
	color: #fff;
	padding: 5px;
}

.resource_panel.ui-draggable-helper .resource_panelgrid {
	display: none;
}

.resource_panel.resource_folder.ui-draggable-helper .resource_short_title {
	padding: 0 0 0 24px;
}

.resource_panel.ui-draggable-greyscale {
	opacity: 0.3;
	border-color: #ccc !important;
	cursor: default !important;
}

.resource_panel.resource_folder.ui-draggable-greyscale {
	background: #F3F3F3 !important;
}

@media screen  and (max-width:1050px) {
	.resource_panel{
		float:none;
	}
}

@media screen and (min-width:1050px) and (max-width:1360px) {
	.resource_panel{
		margin-right:calc(50% - 195px);
		margin-right:-moz-calc(50% - 195px);  
    	margin-right:-webkit-calc(50% - 195px);
	}
}

@media screen and (min-width:1360px) and (max-width:1700px){
	.resource_panel{
		margin-right:calc(33% - 195px);
		margin-right:-moz-calc(33% - 195px);  
    	margin-right:-webkit-calc(33% - 195px);
	}
}
@media screen and (min-width:1700px) {
	.resource_panel{
		margin-right:calc(25% - 195px);
		margin-right:-moz-calc(25% - 195px);  
    	margin-right:-webkit-calc(25% - 195px);
	}
}

#resource_description{
	display:block;
	padding:5px 0px;
}
.resource_field{font-weight:bold;}

.newsfeed_description{
	font-size:8pt;
	max-height:50px;
	max-width:50%;
	color:grey;
}
.newsfeed_right{
	width:30%;
	display:inline-block;
	vertical-align:top;
	padding:10px;
}
.newsfeed_left{
	text-align:left;
	text-indent:100px;
	display:inline-block;
}
.newsfeed_history{
	position:relative; 
	margin-left:30%;
}
.newsfeed_separator{border:1px solid #eee !important;}
.newsfeed_tags{
	padding-left:15px;
	font-size:8pt;
}
.newsfeed_tag{
	font-size:8pt;
	max-height:50px;
}
.newsfeed_author{
	font-size:8pt;
	max-height:50px;
	overflow:hidden;
	color:grey;
}
.newsfeed_date_difference{
	font-size:8pt; 
	max-height:50px; 
	color:grey;
}
.newsfeed_query_link_text{
	color:#3399FF;
	font-weight:bold;
}
.newsfeed_query_link{text-decoration:none;}
.newsfeed_text{width:auto;}
.newsfeed_user_image{margin-right:10px;}
.newsfeed_user_image_div{float:left;}

.groupid{display:none;}

.group_description {
	 white-space: nowrap;
	 text-overflow:ellipsis;
}

.myresources_commandlink{margin-top:0px;}

.links_input{width:400px;}
.links_inputtext{width:300px;}
.links_form{display:inline;}
.links_datalist{font-size:16px;}
.links_output{margin-right:8px;}
.links_inputtext2{width:250px;}
.links_commandlink{margin-right:3px;}
.links_graphic{vertical-align: middle;}
.links_panel{margin-top:5px;}

#edit_comment_textbox{width:400px;}

.klapper_zu { 
	float:left;
	width:11px;	 
	background:url('../icon/icon-minus.gif') bottom no-repeat; 
	margin-right:3px;
	cursor:pointer;	
}
.klapper_auf { background-image:url('../icon/icon-plus.gif') !important; }

.zindex10000 {z-index: 10000;}

#form1 {
	text-align:justified;
	line-height:30px;
}

#tabv {
	position:relative;
	border:1px solid grey;
	width:auto;
	min-height:200px;
}

.medium-width {width:140px;}

.servicesTableLeftColumn {
	padding-left:25px;
	padding-right:15px;
	font-weight:bold;
	background:url(../image/test.gif) no-repeat bottom left;
}

.northunit{border:none;}
 


.tooltipster-custom-theme {
	border: 1px solid #000;
	background: #ffffff;
	border-color: #489a83;
	box-shadow: 1px 1px 5px #888888;
}

.tooltipster-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	text-align:justify;
}

.tooltipster-custom-b {
	border-radius: 10px;
	background: #c4c4c4;
	border-color: #a8a8a8;
	box-shadow: 1px 1px 5px #888888;
	
}

.tooltipster-custom-d,
.tooltipster-custom-c {
	border-radius: 10px;
	background: #489a83;
	border-color: #a8a8a8;
	box-shadow: 1px 1px 5px #888888;
}

.tooltipster-custom-b .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	text-align:justify;
}
.tooltipster-custom-c .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	text-align:justify;
}
.tooltipster-custom-d .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	text-align:justify;
}

.tooltipster-default a { 
	color: white; 
	text-decoration: underline;
}
.tooltipster-default a:hover {
	text-decoration: none;
}

/* --------- loading animation --------------*/
@keyframes loading-animation_1 {
  0% {
    top: -28px;
    height: 256px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
@-webkit-keyframes loading-animation_1 {
  0% {
    top: -28px;
    height: 256px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
@keyframes loading-animation_2 {
  0% {
    top: -16.000000000000014px;
    height: 232.00000000000003px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
@-webkit-keyframes loading-animation_2 {
  0% {
    top: -16.000000000000014px;
    height: 232.00000000000003px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
@keyframes loading-animation_3 {
  0% {
    top: -4px;
    height: 208px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
@-webkit-keyframes loading-animation_3 {
  0% {
    top: -4px;
    height: 208px;
  }
  50% {
    top: 20px;
    height: 160px;
  }
  100% {
    top: 20px;
    height: 160px;
  }
}
.loading-animation {
  position: relative;
}
.loading-animation div {
  position: absolute;
  width: 30px;
}
.loading-animation div:nth-child(1) {
  left: 35px;
  background: #387765;
  -webkit-animation: loading-animation_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: loading-animation_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loading-animation div:nth-child(2) {
  left: 85px;
  background: #489a83;
  -webkit-animation: loading-animation_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: loading-animation_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading-animation div:nth-child(3) {
  left: 135px;
  background: #54ba9d;
  -webkit-animation: loading-animation_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: loading-animation_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-animation.small {
width: 45px !important;
height: 20px !important;
-webkit-transform: translate(-22.5px, -14.5px) scale(0.225, 0.15) translate(22.5px, 22.5px);
transform: translate(-22.5px, -14.5px) scale(0.225, 0.15) translate(22.5px, 22.5px);
}
.loading-animation.large {	
  width: 45px !important;
  height: 45px !important;
  -webkit-transform: translate(-22.5px, -22.5px) scale(0.225) translate(22.5px, 22.5px);
  transform: translate(-22.5px, -22.5px) scale(0.225) translate(22.5px, 22.5px);
}

