@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* { 
	margin: 0; 
}
html{ 
	font-size:62.5%; 
	/*overflow-y: hidden !important; (taken from new_main2.css)*/
	height: 100%;
}
body {
	min-width:320px;
	font-family:Arial, Verdana;
	height:100%;
	width:100%;
	font-size:1.2rem;
	/*min-height: 100%;
	padding: 0;
	(taken from new_main2.css)*/
}
iframe { border: none }

#header {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}
#header a {
	color:#FFFFFF !important;	
	font-size:1.5rem;
	font-weight:bolder;
}
#header a:hover{text-decoration:none;}

#content {
	padding-top:4.6rem;	
	height:100%;
	width:100%;
	box-sizing: border-box;
	/*vertical-align: top; (taken from new_main2)*/ 
}

#learnweb_logo {
	position:absolute;
	top:0px;
	left:0px;
	width:19rem;
	height:100%;
	display:block;
	text-indent:-9999px;
}

#main_menu_bar {
	position: relative;	
	background:#489a83 url("img/logo.png") left no-repeat;
	background-size: contain;
	font-family:"Lato", sans-serif;
	width:100%;
	height:4.6rem;	
}
#searchform {
	height:100%; 
	float:left;
}

#loadingsymbol{
	position:absolute;
	left:15rem;
	top:50%;
	margin-top:-16px;
	visibility: hidden;
}
#searchfield {
	float:left;
	margin-left:23rem;
	font-size:1.8rem !important;
	width:26rem;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	padding:0px 1rem;
	border:none !important;
	background-color:#f7f7f7;
	-webkit-appearance: none;
}
#searchfield:focus {
	background-color:white;
}
#searchbutton {
	cursor:pointer;
	background:url(img/search.png) no-repeat scroll center center #9C9C9C;
	float:left;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	width:4.0rem;
	font-size:2.8rem !important;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	border: none !important;
}
#searchbutton:focus,
#searchbutton:hover {
	background-color:#a4a4a4;
}

#informationonscreen{
	cursor:pointer;
	float:right;
	border:1px solid #FFFFFF; /* option color: #317360*/
	border-radius:5px;
	padding:2px;
	width:2rem;
	height:2rem;
	position:relative;
	margin:1rem 1rem 0 0;
	z-index:5;
}
#informationonscreen:hover{
	background-color:#4ea68d; /* old color: 74beaa*/
}

#language_selector {
    display: block;
    position: relative;
    float: right;
    margin-right: 2.5rem;
    margin-top: 1rem;
}

#language_selector ul {
	padding: 3.6rem 0px 0px;
	position: absolute;
	right: -2.5rem;
	display: none;
	top: 0;	
	margin-right: 0.5rem;
	z-index:1;
}
#language_selector li:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#language_selector img {
    height: 2rem;
    width: 3rem;
    display: block;
    border: 1px solid #FFFFFF; /* option color: #317360*/
    border-radius: 5px;
    position: relative;
    padding: 2px;    
}
#language_selector:focus ul,
#language_selector:hover ul{
	display:block;
}
#language_selector ul:after {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
#language_selector li {
    list-style:outside none none;
    min-width:13rem;
    background-color: #489A83;
}
#language_selector ul a{
	display:block;
	text-decoration:none;
	padding:1rem;
	border-radius:10px;
	background-repeat: no-repeat;
	padding-left:5rem;
	background-size:3rem 2rem; 
	background-position:1rem 50%;
}

#language_selector a:focus,
#language_selector a:hover {
	background-color:#4ea68d; /* old color: 74beaa*/
}
.language_de { background-image:url(img/flag_de.png); }
.language_en { background-image:url(img/flag_en.png); }
.language_pt { background-image:url(img/flag_pt.png); }
.language_it { background-image:url(img/flag_it.png); }

.hover-white:focus,
.hover-white:hover	{
	background-color:#4ea68d; /* old color: #74beaa*/
}
.header_buttons{
	float:right;
	display:block;
	border:1px solid #FFFFFF; /* option color: #317360*/
	border-radius:5px;
	padding:2px;
	margin-right:1rem;
    margin-top:1rem;
    width:2rem;
    height:2rem;
}
#logoutbutton{
    position:relative;
    z-index:5;
}
#message{
	position:relative; 
	float:right;
	z-index:5;
}
#message_button{
    width:2.5rem;
}
#message_count{
	background-color:#616161;
	position:absolute;
	border-radius:1rem;
	text-align:center;
	border:1px solid #fff;
	width:2rem;
	padding:1px;
	left:1.5rem;
}
#loginbutton{
	display:block;
	border-right:1px solid #FFFFFF; /* option color: #317360*/
	border-left:1px solid #FFFFFF; /* option color: #317360*/
	line-height:4.6rem;
	padding:0 1rem;
	float:right;
	margin-right:1rem;
	text-decoration:none;
	position:relative;
}
.menu{
	cursor:pointer;
	padding-right:2rem;
	padding-left:2rem;
	vertical-align: middle
}

/* menu top bar */

.userbar ul{
	float:left;
	margin:0 0 0 2rem;
    padding:0px;
   	background-color:#489a83;
}
.userbar ul:after {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.userbar ul li:hover > ul {
    visibility:visible;
}
.userbar a{
	text-decoration:none;
    display:block;
 }
.userbar ul li {
	border-left:1px solid #FFFFFF; /*option color:#317360*/
	line-height:4.6rem;
    list-style:none;
    float:left;
}
.userbar ul li:last-child{
	border-right:1px solid #FFFFFF; /*option color:#317360*/
} 
.userbar ul li a {
    padding-right:2rem;
    padding-left:2rem;
}
.userbar a:focus,
.userbar a:hover{
	background-color:#4ea68d;
}
.userbar ul li ul{
	display:inline;
	position:absolute;
	top:4.6rem;
	margin:0 0 0 -13rem;
    text-align:left;
    display:inline;
    visibility:hidden;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	min-width: 20rem;
}
.userbar ul li ul li{
	border-left:0px;
	border-right:0px;
	line-height:1.5rem;
    float:none;
}
.userbar ul li ul li a{
	border-right:0px;
	border-left:0px;
	margin-left:0.5rem;
	margin-right:1rem;
}
.userbar ul li ul li a:hover{
	border-radius:5px;
	margin:0 1rem;
	padding-left:0.5rem;
}
.userbar ul li ul li:first-child{
	margin-top:1rem;
}
.userbar ul li ul li:last-child{
	border-right:0px;
}
.userbar ul li ul li a{
	padding:1rem;
}
.menupoint{
    color:#FFFFFF !important;
    background-color:#616161;
    font-size:1.5rem;
    font-weight:bolder;
    border:1px solid #000000;
    border-radius:5px;
   	margin:0 1rem;
   	padding:0.5rem;
}
#moremyresources, #moremygroups, #moreprofile, #logout, #login, #activitystream{
	display:none;
}

#moreactivitystream{
	display:block;
}
#growl_container {
	top:80px;
}

/* bottom bar */

#backtogroup {
	float:left;
	position:absolute;
	text-decoration:none;
	width:19rem;
	padding:0 1rem;
	text-overflow:ellipsis; 
	overflow:hidden;
	white-space:nowrap;
	font-weight:normal;
	margin-right:1rem;
}
#backtogroup:focus,
#backtogroup:hover {
	color:#000000 !important;
}

#sub_menu_bar {
	background-color:#616161;
	height:2.1rem;
	line-height:2.1rem;
	width:100%;
	overflow:hidden;
}
@-moz-document url-prefix(){
    #sub_menu_bar { line-height:2.0rem; }
}
#sub_menu_bar .links { margin-left:22rem; }

#sub_menu_bar .activeResource,
#sub_menu_bar .links a {
	text-decoration:none;
	margin: 0 1rem;
	padding: 0 0.5rem;
	color:#489a83 !important;
	border-bottom:none;
	font-size:1.5rem;
	font-weight:bold;	
}
#sub_menu_bar .links a:focus,
#sub_menu_bar .links a:hover {
	color:#FFFFFF !important;
}
#sub_menu_bar .activeResource{
	color:#FFFFFF !important;
	border-bottom:2px solid #489a83;	
}


/*footer help messages*/
#footer_close {
	position:absolute;
	right:5px;
	top:3px;
	width:26px;
	height:26px;
	background:url("../search/icon/cancel-inv.png") center no-repeat;
}
#footer {
	color:#ffffff;
	left:0px;
	position: fixed;
	bottom: 0px; 
	text-align: center;
	z-index:1500;
	opacity:0.95;
	font-size:1.3rem;
	width:100%;
	background-color: rgb(0, 0, 0);
}
#footer_question_mark{
	font-size:56px;
	text-align:center;
	width:68px;
	border:2px solid #616161;
	border-radius:34px;
	position:absolute;
	left:30px;
	bottom:0;
	display:inline-block;
	color:white;
	background-color:black;
}
#footer_text{
	padding: 0.7rem 10rem;
	display:block; 
	font-size:1.5rem;
}

/*right_pane*/
#right_pane{border: none;}
#right_pane_wrapper{
	width: 95%;
	margin: auto;
}
#right_pane .ui-layout-unit-header{
	background: #fff !important;
	border: 0px;
	text-align: center;
	font-size: 16px;
	color: #000;
	margin-bottom:0px;
}

/* group menu */
#groupoverview_link {
	padding:0.5em 0.5em 0.5em 2.2em;
	font-size:1em;
	color:#2F556A;
}
#group_menu h3{ margin-top:10px; }
#group_menu h3:hover{ background-color:#eeeeee;  }
#group_menu .active > div { display:block; }
#group_menu .active h3 { text-decoration:underline;}
#group_menu a.active { font-weight:bold; }
#group_menu .active h3 .iconarrow { background-position:-64px -16px; }
#group_menu a{
	display:block;
	padding:0.5em;
	margin-left:2.2em;
}
#group_menu li{
	padding-left:0.3em;
	margin-right:1rem;
}
#group_menu li a:hover{
	background-color:#eeeeee;
	border-radius:5px;
}
#group_menu li a{
	margin-left:1em;
	margin-right:2em;
}
.iconarrow{
	position:absolute;
	margin-top:5px;
	left:0.5em;
	right:auto;
	background-image:url("img/ui-icons.png");
	background-position:-32px -16px;
	background-repeat:no-repeat;
	cursor:pointer;
	display:block;
	height:16px;
	width:16px;
	overflow:hidden;
	text-indent:-99999px;
}

/* group header ; maybe move to a separate file */
#group_header {padding-bottom:0 !important;}
#group_header li {
	float:left;
	display:block;
	border-right: 1px solid rgb(230, 230, 230);
}
#group_header a {	
	padding:5px 15px; 
	display:block;
}
#group_header a.active,
#group_header a:hover {	background-color: #EEE;}
#group_header ul {
	list-style: outside none none;
	margin: 10px -10px 0px;
	padding: 0px;
	border-top: 1px solid #DDD !important;
	background-color: rgb(230, 230, 230);
	clear: both;
}
#group_header ul:after {
    content:'';
    display:block;
    clear: both;
}
.group_header, .page_header span{
	font-size: 20px;
	font-weight: 100;
	color: #489a83;
}
.page_header{
	border:1px solid #ddd;
	background-color:#eee;
	margin-bottom:5px;
	padding:10px !important;
	font-weight:bold;
}


form#add_resource { float:right; }
.resource_button{
	float:right;
	position:relative;
	top:-3px;
	right:-5px;
	border-radius:2px !important;
}

/* general settings */
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.small_page {
	max-width:80rem;
	padding:1rem;
	margin-top:1rem;
	margin-left:auto;
	margin-right:auto;
}
.small_page input[type=text],
.small_page input[type=password] {
	width:200px;
}

.greenbutton{
	border: 1px solid #3b8b74 !important;
	background: none !important;
	background-color: #489a83 !important;
	text-shadow: none !important;
	padding: 6px 12px;
	color: white !important;
	font-weight: normal !important;
	cursor: pointer;
	font-size:14px !important;
	border-radius:2px;
}

.greenbutton .ui-button-text  {padding:0;}
.greenbutton:hover{
	background:none repeat scroll 0 0 #4ea68d !important;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1) !important;
	font-weight: bolder !imporant;
}
.clear {clear:both;}

.display-none {display:none;}
	
.error {
	color:red;
	font-weight:bold;
	padding:2rem;
}

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.float-left {float: left;}
.float-right {float: right;}

.nowrap {white-space: nowrap;}

h1 { margin-bottom: 1rem; }
h2 { margin-bottom: 0.8rem; }
h5 {
	font-weight:bold; 
	font-size:1.5rem;
}

.grey_border{
	border:1px solid #ccc;
	padding:0.5em 1em;
}


.optionIcon{
	text-decoration:none;
	display:inline-block;
	margin: 0 3px;	
}
	

/*login-template*/
#login_div{
	color:#4f4f4f;
}
#login_div a{
	color:#4f4f4f;
}

/*paging-template*/
.pagebutton{
	border:none !important;
	background:none !important;
	vertical-align: middle;
}
.active_page_button{
	color:#489a83 !important;
	font-size:1.8rem !important;
}
.next_button, .previous_button{
	background-image:url(img/ui-icons.png) !important;
	background-repeat:no-repeat !important;
	display:inline-block;
	height:16px;
	width:16px;
	position:absolute;
	margin-top:7.5px;
}
.next_button{
	background-position:-32px 0px !important;
	margin-left:-8px;
}
.previous_button{
	background-position:-96px -0px !important;
}

/* change primefaces ui */
.ui-button,
.ui-inputfield{
	border: 1px solid #a8a8a8;
	box-shadow: 0 0 0px 0px #fff !important;
}
.ui-widget {font-size:1.2rem;}
.ui-widget-content a{text-decoration:none;}
.ui-widget-content a:hover{text-decoration:underline;}
.ui-corner-all{border-radius:0px;}

span.ui-autocomplete{border: 1px solid transparent !important;}
.ui-autocomplete-panel{border-radius: 0px !important;}
.ui-autocomplete-row td{border: 0px solid transparent !important;}
.ui-autocomplete-row.ui-state-highlight{
	border: 0px !important;
	background: #dedede !important;
	color: black;
	text-shadow: 0px 0px 0px #fff;
}
.ui-autocomplete-panel{border: 0px !important;}
.ui-datagrid-content{border: 0px;}
.ui-panel{
	border-radius: 0px;
	border-color: #ccc;
}
.ui-panel:HOVER .buttons{display: block !important;}
.ui-panel:HOVER .buttons img{
	filter: none;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
    -ms-filter: grayscale(0); 
    -o-filter: grayscale(0);
}
.ui-state-hover{box-shadow: 0 0 0px 0px #fff !important;}
.ui-panelmenu-header{
	border-radius: 0px;
	border-color: #fff !important;
	/*background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.4))) !important;
	*/
	background: white !important;
}
.ui-state-hover.ui-panelmenu-header{
	box-shadow: 0 0 0px 0px white !important;
	background-color: #eee !important;
}
.ui-panelmenu-content{
	border-color: #fff !important;
	margin-left: 20px;
}
.ui-panelmenu-content .ui-state-hover.ui-menuitem-link{
	box-shadow: 0 0 0px 0px white !important;
	background-color: #eee !important;
}
.ui-layout-unit, .ui-layout-unit-content{
	padding: 0px !important;
	margin: 0px;
}
.ui-datatable {width: 100%;}
.ui-layout-pane-north .ui-layout-unit-content {overflow: hidden !important;}
.ui-corner-top{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.ui-corner-bottom{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*overwritw primefaces option for some areas which have a id or a class */
#center_pane .ui-layout-unit-header{
	background: none;
	background-color: #eee !important;
	border: 1px solid #ddd !important;
	border-radius: 0px !important;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
#datagrid .ui-panel-content{padding: 5px;}
.explore_history .ui-button .ui-button-text, .search_history .ui-button .ui-button-text{
	display:block;
	line-height: 0.6;
}
#right_pane .ui-button{border-radius: 0px;}
#right_pane .greenbutton{border-radius:2px;}

/*taken from new_main2.css*/

img {border: none;}
input, textarea{
	border-radius: 0px !important;
	border: 1px solid #a8a8a8 !important;
	box-shadow: 0 0 0px 0px #fff !important;
}

.align{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
}
.aligner {
	height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.am-wrapper{
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img{
    position:absolute;
    outline:none;
}


button{
	background-color: #dedede !important;
	border-color: #ccc !important;
}
.blackbutton{
	background: rgb(94, 94, 94) !important; 
	border: 1; 
	border-color:rgba(0, 0, 0, 0.14); 
	cursor:pointer; 
	color:#EFEFEF !important;
	text-shadow: none !important;
	border: none !important;
	box-shadow: none;
	border-radius:0px;
}
.buttons{
	float: right;
	margin-top: 5px;
	margin-right: 6px;
}
.buttons img{
	filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(../../resources/css/grayscale.svg#desaturate); /* Gecko */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}       	
.buttons img:HOVER {
	filter: none;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
    -ms-filter: grayscale(0); 
    -o-filter: grayscale(0);
}
.buttons_link{
	text-decoration:none;
	display: block;
	margin-top: 10px;
}

.bold_red {
	color:red;
	font-weight:bold;
}

#center_pane{
	border: none;
	border-right: 1px solid rgb(210,210,210);
}

.click_message{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.data{
	width: 95%;
	margin: auto;
	margin-top: 5px;
	margin-left: 0px;
}

#datagrid{
	border: 0px;
	width: 100%;
	/*width:99%;
	margin:0 auto;*/
}

p:dataList {background-color: blue;}

div.title {
	background-color: #9bbcda;
	color: #5C5C5C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

#related_search{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}
#related_search_list{
	padding-left: 20px;
	margin: 0px;
}
#related_search_list li{line-height: 1.5em;}
#related_search_list li a{color: rgb(88, 147, 255);}

#left_pane{
	border: none;
	border-right: 1px solid rgb(210,210,210);
}

.presentation_clear{
	clear: both;
	margin-bottom: 5px;
}
.presentation_detail_div{
	float: left;
	width: 300px;
	margin-left: 2.5%;
}
.presentation_commandbutton{
	float: right;
	margin-right: 2.5%;
}
div#presentation_preview {
    height:0px;    
   	width:95%;
    border-radius: 5px;
	border: 1px solid #ccc !important;
	box-shadow: 0 0 3px 3px #dfdfdf;
    margin : auto;
    text-align: center;
    margin-bottom: 15px;
}

.format_button_link{
	display: inline-block;
	text-align: center;
	margin-left: 15px;
}
.format_button{
	padding: 3px;
	box-shadow: 0 0 5px 5px #ccc;
	margin: 5px;
	margin-bottom: 10px;
}

#more_images_box{
	position: absolute;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	right: 1px;
	bottom: 1px;
	color: white;
	transition: background 0.5s;
	-webkit-transition: background 0.5s; /* Safari */
	z-index: 10000;
	display: none !important;
}
#more_images_box:HOVER{background: rgba(0, 0, 0, 1);}

.username{
	font-weight: bold;
	color: #333;
	vertical-align: top;
}
.username_div{
	padding-left: 40px;
	margin-bottom: 5px;
}
.username_link{
	text-decoration: none;
	vertical-align: top;
	color: #3399FF;
}
.userpic{
	padding-right: 10px;
	float: left;
}
#userselect {
	border:1px solid #999999; 
	padding:2px 8px;
}
#userselect ul {
	list-style-type:none; 
	padding-left:0; 
	margin:0 0 5px 20px;
}

.tag_field{
	border: 1px solid #aeaeae !important;
	border-radius: 0px !important;
	box-shadow: 0 0 0px 0px #fff !important;
	width: 100%;
	box-sizing:border-box;
}
.tag_x{
	margin-left: 0px;
	border-left: 0px;
	font-size: 10px !important;
}
.tag_name{
	margin-right: 0px;
	font-size: 10px !important;
}
.tag_list{
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.hyperlink{color: #22e;}

#preview{
	max-height: 100%;
	max-width: 100%;
}

.member_username{
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.member_username_small{
	font-size: 11px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.members_panel{
	width: 140px;
	height: 160px;
	margin-bottom: 4px;
	position: relative;
}
.members_panel_small{
	width: 122px;
	height: 145px;
	margin-bottom: 4px;
	position: relative;
}
.members_panelgrid{
	float:left;
	margin-right:20px;
	text-align: center;
}

.resource_panelgrid, .members_panelgrid{width:100%;}
.resource_panel:HOVER, .members_panel:HOVER{
	cursor: pointer;
	border-color: #666;
}

.resource_summary{
	color: #666;
	font-size: 9px;
	margin-top: 4px;
	white-space: nowrap; 
	overflow:hidden; 
	text-overflow: ellipsis; 
	max-width:185px; 
	width:185px;
}
.resource_summary span{font-weight: bold;}
.resource_thumbnail{
	float: left;
	margin-top: 5px;
}
.resource_short_title{
	font-weight: bold;
	margin-bottom: 0px;
	white-space: nowrap; 
	overflow:hidden; 
	text-overflow: ellipsis; 
	max-width:185px; 
	width:185px; 
	display:block;
}
.resource_command_link{text-decoration: none;}
.resource_commandlink{margin-top: 0px;}
.resource_dialog_field{width:400px;}

.resource_panel {
	width:195px;
	height:210px;
	margin-bottom:10px;
	position:relative;
	display:block;
	float:left;
	box-sizing:border-box;
	margin-right:calc(33% - 195px);
	padding:6px 4px;
}

.resource_panel:nth-child(3n+0) {
	margin-right:0;	
}

@media screen and (min-width:50em) and (max-width:69.9999em) {
	.resource_panel,.resource_panel:nth-child(3n+0){
		margin-right:calc(100% - 195px);
	}
}

@media screen and (min-width:70em) and (max-width:93.9999em) {
	.resource_panel,.resource_panel:nth-child(3n+0){
		margin-right:calc(50% - 195px);
	}
}
@media screen and (min-width:94em) and (max-width:120em){
	.resource_panel{
		margin-right:calc(33% - 195px);
	}
}

#resource_description{
	display: block;
	padding: 5px 0px;
}
.resource_field{font-weight: bold;}

.newsfeed_description{
	font-size:8pt;
	max-height:50px;
	max-width: 50%;
	color:grey;
}
.newsfeed_right{
	width: 30%;
	display:inline-block;
	vertical-align:top;
	padding: 10px;
}
.newsfeed_left{
	text-align:left;
	text-indent:100px;
	display:inline-block;
}
.newsfeed_history{
	position: relative; 
	margin-left: 30%;
}
.newsfeed_separator{border:1px solid #eee !important;}
.newsfeed_tags{
	padding-left:15px;
	font-size:8pt;
}
.newsfeed_tag{
	font-size:8pt;
	max-height:50px;
}
.newsfeed_author{
	font-size:8pt;
	max-height:50px;
	overflow:hidden;
	color:grey;
}
.newsfeed_date_difference{
	font-size:8pt; 
	max-height:50px; 
	color: grey;
}
.newsfeed_query_link_text{
	color:#3399FF;
	font-weight:bold;
}
.newsfeed_query_link{text-decoration:none;}
.newsfeed_text{width: auto;}
.newsfeed_user_image{margin-right: 10px;}
.newsfeed_user_image_div{float: left;}

.groupid{display: none;}

.myresources_commandlink{margin-top: 0px;}

.links_input{width:400px;}
.links_inputtext{width:300px;}
.links_form{display:inline;}
.links_datalist{font-size:16px;}
.links_output{margin-right:8px;}
.links_inputtext2{width:250px;}
.links_commandlink{margin-right:3px;}
.links_graphic{vertical-align: middle;}
.links_panel{margin-top:5px;}

#edit_comment_textbox{width:400px;}

.klapper_zu { 
	float:left;
	width:11px;	 
	background:url('../icon/icon-minus.gif') bottom no-repeat; 
	margin-right:3px;
	cursor:pointer;	
}
.klapper_auf { background-image:url('../icon/icon-plus.gif') !important; }

.zindex10000 {z-index: 10000;}

#form1 {
	text-align: justified;
	line-height: 30px;
}

#tabv {
	position: relative;
	border: 1px solid grey;
	width: auto;
	min-height: 200px;
}

.medium-width {width: 140px;}

.servicesTableLeftColumn {
	padding-left: 25px;
	padding-right: 15px;
	font-weight: bold;
	background: url(../image/test.gif) no-repeat bottom left;
}

.northunit{border: none;}

