@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* { 
	margin: 0; 
}
html{ 
	font-size:62.5%; 
	/*overflow-y: hidden !important; (taken from new_main2.css)*/
	height: 100%;
}
body {
	min-width:320px;
	font-family:Arial, Verdana;
	height:100%;
	width:100%;
	font-size:1.2rem;
	/*min-height: 100%;
	padding: 0;
	(taken from new_main2.css)*/
}
iframe { border: none }

#header {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}
#header a {
	color:#FFFFFF !important;	
	font-size:1.5rem;
	font-weight:bolder;
}

#content {
	padding-top:4.6rem;	
	height:100%;
	width:100%;
	box-sizing: border-box;
	/*vertical-align: top; (taken from new_main2)*/ 
}

#learnweb_logo {
	position:absolute;
	top:0px;
	left:0px;
	width:19rem;
	height:100%;
	display:block;
	text-indent:-9999px;
}

#main_menu_bar {
	position: relative;	
	background:#489a83 url("img/logo.png") left no-repeat;
	background-size: contain;
	font-family:"Lato", sans-serif;
	width:100%;
	height:4.6rem;	
}
#searchform {
	height:100%; 
	float:left;
}

#loadingsymbol{
	position:absolute;
	left:15rem;
	top:50%;
	margin-top:-16px;
	visibility: hidden;
}
#searchfield {
	float:left;
	margin-left:23rem;
	font-size:1.8rem !important;
	width:26rem;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	padding:0px 1rem;
	border:none !important;
	background-color:#f7f7f7;
	-webkit-appearance: none;
}
#searchfield:focus {
	background-color:white;
}
#searchbutton {
	cursor:pointer;
	background:url(img/search.png) no-repeat scroll center center #9C9C9C;
	float:left;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	width:4.0rem;
	font-size:2.8rem !important;
	position:relative;
	top:50%;
	height:3.4rem;
	margin-top:-1.7rem;
	border: none !important;
}
#searchbutton:focus,
#searchbutton:hover {
	background-color:#a4a4a4;
}

#informationonscreen{
	cursor:pointer;
	float:right;
	border:1px solid #FFFFFF; /* option color: #317360*/
	border-radius:5px;
	padding:2px;
	width:2rem;
	height:2rem;
	position:relative;
	margin:1rem 1rem 0 0;
}
#informationonscreen:hover{
	background-color:#4ea68d; /* old color: 74beaa*/
}

#language_selector {
    display: block;
    position: relative;
    float: right;
    margin-right: 2.5rem;
    margin-top: 1rem;
}

#language_selector ul {
	padding: 3.6rem 0px 0px;
	position: absolute;
	right: -2.5rem;
	display: none;
	top: 0;	
	margin-right: 0.5rem;
	z-index:1;
}
#language_selector li:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#language_selector img {
    height: 2rem;
    width: 3rem;
    display: block;
    border: 1px solid #FFFFFF; /* option color: #317360*/
    border-radius: 5px;
    position: relative;
    padding: 2px;    
}
#language_selector:focus ul,
#language_selector:hover ul{
	display:block;
}
#language_selector ul:after {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
#language_selector li {
    list-style:outside none none;
    min-width:13rem;
    background-color: #489A83;
}
#language_selector ul a{
	display:block;
	text-decoration:none;
	padding:1rem;
	border-radius:10px;
	background-repeat: no-repeat;
	padding-left:5rem;
	background-size:3rem 2rem; 
	background-position:1rem 50%;
}

#language_selector a:focus,
#language_selector a:hover {
	background-color:#4ea68d; /* old color: 74beaa*/
}
.language_de { background-image:url(img/flag_de.png); }
.language_en { background-image:url(img/flag_en.png); }
.language_pt { background-image:url(img/flag_pt.png); }
.language_it { background-image:url(img/flag_it.png); }

.hover-white:focus,
.hover-white:hover	{
	background-color:#4ea68d; /* old color: #74beaa*/
}

#logoutbutton{
	display:block;
	border:1px solid #FFFFFF; /* option color: #317360*/
	border-radius:5px;
	padding:2px;
	float:right;
    margin:1rem;
    width:2rem;
    height:2rem;
    position:relative;
}
#loginbutton{
	display:block;
	border-right:1px solid #FFFFFF; /* option color: #317360*/
	border-left:1px solid #FFFFFF; /* option color: #317360*/
	line-height:4.6rem;
	padding:0 1rem;
	float:right;
	margin-right:1rem;
	text-decoration:none;
	position:relative;
}
.menu{
	cursor:pointer;
	padding-right:2rem;
	padding-left:2rem;
	vertical-align: middle
}

/* menu top bar */

.userbar ul{
	float:left;
	margin:0 0 0 2rem;
    padding:0px;
   	background-color:#489a83;
}
.userbar ul:after {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.userbar ul li:hover > ul {
    visibility:visible;
}
.userbar a{
	text-decoration:none;
    display:block;
 }
.userbar ul li {
	border-left:1px solid #FFFFFF; /*option color:#317360*/
	line-height:4.6rem;
    list-style:none;
    float:left;
}
.userbar ul li:last-child{
	border-right:1px solid #FFFFFF; /*option color:#317360*/
} 
.userbar ul li a {
    padding-right:2rem;
    padding-left:2rem;
}
.userbar a:focus,
.userbar a:hover{
	background-color:#4ea68d;
}
.userbar ul li ul{
	display:inline;
	position:absolute;
	top:4.6rem;
	margin:0 0 0 -13rem;
    text-align:left;
    display:inline;
    visibility:hidden;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	min-width: 20rem;
}
.userbar ul li ul li{
	border-left:0px;
	border-right:0px;
	line-height:1.5rem;
    float:none;
}
.userbar ul li ul li a{
	border-right:0px;
	border-left:0px;
	margin-left:0.5rem;
	margin-right:1rem;
}
.userbar ul li ul li a:hover{
	border-radius:5px;
	margin:0 1rem;
	padding-left:0.5rem;
}
.userbar ul li ul li:first-child{
	margin-top:1rem;
}
.userbar ul li ul li:last-child{
	border-right:0px;
}
.userbar ul li ul li a{
	padding:1rem;
}
.menupoint{
    color:#FFFFFF !important;
    background-color:#616161;
    font-size:1.5rem;
    font-weight:bolder;
    border:1px solid #000000;
    border-radius:5px;
   	margin:0 1rem;
   	padding:0.5rem;
}
#moremyresources, #moremygroups, #moreprofile, #logout, #login, #activitystream{
	display:none;
}

#moreactivitystream{
	display:block;
}
#growl_container {
	top:80px;
}

/* bottom bar */

#backtogroup {
	float:left;
	position:absolute;
	text-decoration:none;
	width:19rem;
	padding:0 1rem;
	text-overflow:ellipsis; 
	overflow:hidden;
	white-space:nowrap;
	font-weight:normal;
	margin-right:1rem;
}
#backtogroup:focus,
#backtogroup:hover {
	color:#000000 !important;
}

#sub_menu_bar {
	background-color:#616161;
	height:2.1rem;
	line-height:2.1rem;
	width:100%;
	overflow:hidden;
}
@-moz-document url-prefix(){
    #sub_menu_bar { line-height:2.0rem; }
}
#sub_menu_bar .links { margin-left:22rem; }

#sub_menu_bar .activeResource,
#sub_menu_bar .links a {
	text-decoration:none;
	margin: 0 1rem;
	padding: 0 0.5rem;
	color:#489a83 !important;
	border-bottom:none;
	font-size:1.5rem;
	font-weight:bold;	
}
#sub_menu_bar .links a:focus,
#sub_menu_bar .links a:hover {
	color:#FFFFFF !important;
}
#sub_menu_bar .activeResource{
	color:#FFFFFF !important;
	border-bottom:2px solid #489a83;	
}


/*footer help messages*/
#footer_close {
	position:absolute;
	right:5px;
	top:3px;
	width:26px;
	height:26px;
	background:url("../search/icon/cancel-inv.png") center no-repeat;
}
#footer {
	color:#ffffff;
	left:0px;
	position: fixed;
	bottom: 0px; 
	text-align: center;
	z-index:1500;
	opacity:0.95;
	font-size:1.3rem;
	width:100%;
	background-color: rgb(0, 0, 0);
}
#footer_question_mark{
	font-size:56px;
	text-align:center;
	width:68px;
	border:2px solid #616161;
	border-radius:34px;
	position:absolute;
	left:30px;
	bottom:0;
	display:inline-block;
	color:white;
	background-color:black;
}
#footer_text{
	padding: 0.7rem 10rem;
	display:block; 
	font-size:1.5rem;
}

/* group menu */
#groupoverview_link {
	padding:0.5em 0.5em 0.5em 2.2em;
	font-size:1em;
	color:#2F556A;
}
#group_menu h3{ margin-top:10px; }
#group_menu h3:hover{ background-color:#eeeeee;  }
#group_menu .active > div { display:block; }
#group_menu .active h3 { text-decoration:underline;}
#group_menu a.active { font-weight:bold; }
#group_menu .active h3 .iconarrow { background-position:-64px -16px; }
#group_menu a{
	display:block;
	padding:0.5em;
	margin-left:2.2em;
}
#group_menu li{
	padding-left:0.3em;
	margin-right:1rem;
}
#group_menu li a:hover{
	background-color:#eeeeee;
	border-radius:5px;
}
#group_menu li a{
	margin-left:1em;
	margin-right:2em;
}
.iconarrow{
	position:absolute;
	margin-top:5px;
	left:0.5em;
	right:auto;
	background-image:url("img/ui-icons.png");
	background-position:-32px -16px;
	background-repeat:no-repeat;
	cursor:pointer;
	display:block;
	height:16px;
	width:16px;
	overflow:hidden;
	text-indent:-99999px;
}

/* group header ; maybe move to a separate file */
#group_header {padding-bottom:0 !important;}
#group_header li {
	float:left;
	display:block;
	border-right: 1px solid rgb(230, 230, 230);
}
#group_header a {	
	padding:5px 15px; 
	display:block;
}
#group_header a.active,
#group_header a:hover {	background-color: #EEE;}
#group_header ul {
	list-style: outside none none;
	margin: 10px -10px 0px;
	padding: 0px;
	border-top: 1px solid #DDD !important;
	background-color: rgb(230, 230, 230);
	clear: both;
}
#group_header ul:after {
    content:'';
    display:block;
    clear: both;
}
.group_header, .page_header span{
	font-size: 20px;
	font-weight: 100;
	color: #489a83;
}
.page_header{
	border:1px solid #ddd;
	background-color:#eee;
	margin-bottom:5px;
	padding:10px !important;
	font-weight:bold;
}


form#add_resource { float:right; }
.resource_button{
	float: right;
	position: relative;
	top: -3px;
	right: -5px;
}

/* general settings */
.small_page {
	max-width:80rem;
	padding:1rem;
	margin-top:1rem;
	margin-left:auto;
	margin-right:auto;
}
.small_page input[type=text],
.small_page input[type=password] {
	width:200px;
}

.greenbutton{
	border: 1px solid #3b8b74 !important;
	background: none !important;
	background-color: #489a83 !important;
	text-shadow: none !important;
	padding: 6px 12px;
	color: white !important;
	font-weight: normal !important;
	cursor: pointer;
	font-size:14px !important;
	border-radius:2px;
}

.greenbutton .ui-button-text  {
	padding:0;
}
.greenbutton:hover{
	background:none repeat scroll 0 0 #4ea68d !important;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1) !important;
	font-weight: bolder !imporant;
}
.clear {clear:both;}

.display-none {display:none;}	
	
.error {
	color:red;
	font-weight:bold;
	padding:2rem;
}

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.float-left {float: left;}
.float-right {float: right;}

.nowrap {white-space: nowrap;}

h1 { margin-bottom: 1rem; }
h2 { margin-bottom: 0.8rem; }

#profile_form{
	border:1px solid #ccc;
	padding:0.5em 1em;
}
/* change primefaces ui */
.ui-button,
.ui-inputfield{
	border: 1px solid #a8a8a8;
	box-shadow: 0 0 0px 0px #fff !important;
}
.ui-widget {font-size:1.2rem;}
.ui-widget-content a{text-decoration:none;}
.ui-widget-content a:hover{text-decoration:underline;}

#right_pane .ui-button{border-radius: 0px;}
#right_pane .greenbutton{border-radius:2px;}