@mixin focused-input() {
  outline: 0;
  border-color: $focusOutlineColor;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,112,210,.35);
}

@mixin list-item-hover {
  background-color: $listItemHoverBgColor;
  color: $listItemHoverTextColor;
}

@mixin border-shadow() {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

@mixin overlay-shadow {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}

@import 'variables';
@import 'icons';
@import 'common';
@import 'forms';
@import 'panels';
@import 'data';
@import 'messages';
@import 'overlays';
@import 'menus';
@import 'misc';
