
#lightbox_container {
    padding-top:3rem;
}

#lightbox_content {
    height:100%;
    width:100%;
    padding:0 !important;
}
#lightbox_title {
    font-size:2rem;
    line-height:3rem;
    height:3rem;
    width:100%;
    font-weight:bold;
    text-align:center;
    position:absolute;
    top:0;
    background-color: black;
}


#lightbox_close {
    position:absolute !important;
    right:1.5rem !important;
    top:50% !important;
    margin-top:-12px !important;
    margin-right:-12px !important;
}

#lightbox_footer {
    position: absolute;
    z-index: 901;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 40px;
    text-align:center;
    font-weight: bold;
    vertical-align: middle;
}

/*taken from new_main2.css*/
#add_resource_upload_form .ui-fileupload-files tr td:first-child,
#add_resource_upload_form .ui-fileupload-files tr td:last-child {
    display: none;
}
.right-panel .create-block table tr,
.right-panel .create-block table td {
    border: 0;
}
.right-panel .create-block table td {
    padding: 4px 0px !important;
}
.right-panel .create-block table .form-preview {
    padding: 4px !important;
}
.right-panel .create-block table td:FIRST-CHILD {
    font-weight: bold;
    width: 100px;
}
.right-panel .create-block table input,
.right-panel .create-block table textarea,
.right-panel .create-block table button{
    border-radius: 2px;
    box-shadow: 0 0 0px 0px #fff !important;
}

#add_resource_panel{
    padding: 0px 0 2rem 0;
    border: 0px !important;
}

#add_resource_table{
    width:100%;
    margin: auto;
}
#add_resource_panel_content{
    padding-top:0px !important;
}
.add_field{
    width:100%;
    box-sizing: border-box;
}
.comment {
    border-bottom: 1px solid #eee;
    padding: 10px;
    background-color: #F9F9F9;
}
.comments {
    margin:10px 0;
    border-top: 1px solid #eee;
}
.comment_date{
    color:grey;
    font-size:1rem;
    margin-left:10px;
}

#edit_table{
    width: 100%;
    margin-top: 10px;
}
#edit_table td{padding-top: 5px;}

.preview_box{
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 3px #dfdfdf;
    box-sizing: border-box;
}
.preview_box iframe {min-height:400px;width:100%;}

/** styles for archive visualizations in the lightbox and right pane*/
#archive_list_view{
    padding-top:10px;
    position:relative;
    max-height:350px;
    width:100%;
    float:left;
    overflow:auto;
    display:none;
}

#archive_list{
    padding-top:10px;
    padding-left: 15px;
    position:relative;
    height: 100%;
    width:15%;
    float:left;
    overflow:auto;
  	background-color: white;
}

#archive_iframe_div{
	float: right;
	width: 83%;
	height: 100%;
	box-sizing: border-box;
	background-color: white !important;
	background: url(#{resource['resource-pane-template:img/default-loader.gif']}) center center no-repeat;
}

#archive_timestamp_overlay {
    position: absolute;
    z-index: 901;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    width: 83%;
    height: 40px;
    text-align:center;
    font-weight: bold;
    vertical-align: middle;
}

#archive_timestamp_overlay_text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#archive_list a:link, #archive_list a:visited, #archive_list a{
	color: black !important;
}

#archive_list ul, #archive_list_view ul{
    list-style-type: none;
    padding:0;
}

#archive_list ul > li, #archive_list_view ul > li{
    float: left;
    width: 149px;
    text-align:center;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
    box-shadow:inset 0px 1px 1px rgba(0, 0, 0, .3);
    color: black !important;
}

#archive_list_view ul:hover, #archive_list li ul li:hover{
    background-color: #b5ebdc;
}

#archive_list li span:hover{
	cursor: pointer;
}

#archive_list .bold{
	font-weight:bold;	
}

#list_button{
    margin-right:0rem !important;
    border-top-right-radius:0px !important;
    border-bottom-right-radius:0px !important;
}
#timeline_button{
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
}

#right_pane .button-active{
    background-color:#4ea68d !important;
}


#resources_informations_table { border-collapse : collapse; }
#resources_informations_table .resource_field {
    padding-right:5px;
}
#resources_informations_table td{
    padding:5px 0 0 0;
}

#comment_button {
    margin-right:0;
    margin-top: 4px;
}

.breadcrumbs ul {
    background: #eee !important;
}

.breadcrumbs a:hover {
    background-color: #e6e6e6 !important;
}

.breadcrumbs li {
    position: relative;
    margin-left: 1.6em;
    border: 0 !important;
}

.breadcrumbs li.ui-state-active {
    border: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    background: none;
}

.breadcrumbs li.ui-state-active a {
    color: #000;
    font-weight: bold;
}

.breadcrumbs li.ui-state-highlight {
    outline: 1px solid #489a83;
    background: #ddf1eb;
}

.breadcrumbs li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-left: -1.25em;
    margin-top: 0.6em;
    border-right: 0.2em solid #5f5f5f;
    border-top: 0.2em solid #5f5f5f;
    transform: rotate(45deg);
}

.breadcrumbs li:first-child {
    margin-left: 0;
}

.breadcrumbs li:last-child {
    pointer-events: none;
}

.breadcrumbs li:first-child:before {
    display: none;
}

/* New resources GRID styles */
.resource-grid, .folder-grid {
    width: 100%;
}

.resource-grid {
    margin-bottom: 20px;
}

.resource-item, .folder-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: calc(50% - 16px); /* two columns */
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: #eeeeee;
}

.resource-block, .folder-block {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.folder-block {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
}

.folder-icon {
    background-color: #e6e6e6;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    float: left;
    height: 100%;
    width: 44px;
}

.folder-icon-wrapper {
    height: 24px;
    margin: 8px 10px;
    width: 24px;
    position: absolute;
}

.icon-folder {
    background: url("../resources/main-template/img/folder.png") no-repeat left center;
    width: 100%;
    height: 100%;
    display: block;
}

.resource-preview {
    padding-top: 75%;
    position: relative;
}

.resource-preview-wrapper2 {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-color: #fff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.resource-preview-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.resource-preview-block2 {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.resource-preview-image {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.resource-controls {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    flex-wrap: wrap;
    background: rgba(212, 212, 212, 0.73);
    transform: translate3d(0, 0, 0);
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

.resource-item:hover .resource-controls, .folder-item:hover .resource-controls {
    visibility: visible;
    opacity: 1;
}

.resource-controls a {
    width: 100%;
    position: relative;
}

.resource-controls a img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.resource-title, .folder-title {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.resource-title {
    min-height: 3.6rem;
    width: 100%;
}

.folder-title {
    color: #222;
    background-color: #eeeeee;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.folder-item:hover .folder-title, .folder-item:hover .folder-icon {
    color: #fff;
    background-color: #489a83;
}

.resource-title-wrapper {
    height: 100%;
    position: relative;
    white-space: nowrap;
}

.folder-title-wrapper {
    padding-right: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}

.resource-title-icon {
    display: none;

    float: left;
    height: 26px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 26px;
}

.resource-title-icon-wrapper > img {
    height: 16px;
    width: 16px;
}

.resource-title-text {
    padding: 2px 8px 3px;
}

.resource-title-name {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    padding-right: 8px;
}

.folder-title-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 13px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.resource-title-summary {
    display: block;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-title-summary > span {
    font-weight: bold;
}

/* Selector styles */
.ui-selectable-helper {
    position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
    border: 1px dotted black;
    pointer-events: none;
    z-index: 500;
}

.group-resources-item.selected,
.group-resources-item.ui-selected,
.group-resources-item.ui-selecting {
    color: #fff;
    background-color: #489a83;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
}

.group-resources-item.selected .folder-icon,
.group-resources-item.ui-selected .folder-icon,
.group-resources-item.ui-selecting .folder-icon,
.group-resources-item.ui-draggable-helper .folder-icon,
.group-resources-item.selected .folder-title,
.group-resources-item.ui-selected .folder-title,
.group-resources-item.ui-selecting .folder-title,
.group-resources-item.ui-draggable-helper .folder-title {
    color: #fff;
    background-color: #489a83;
}

/* Drag & Drop styles */
.group-resources-item.ui-draggable-greyscale {
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4,0.0,1,1);
    transition-timing-function: cubic-bezier(0.4,0.0,1,1);
    pointer-events:none;
}

.group-resources-item.ui-state-active {
    border: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
}

.group-resources-item.ui-state-highlight {
    outline: 2px solid #489a83;
}

.group-resources-item.ui-draggable-helper {
    background-color: #489a83;
    color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
    opacity: 1;
}

.group-resources-item.ui-draggable-helper .resource-preview {
    display: none;
}

.selected-icon {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transition-duration: .2s,.1s,.1s;
    transition-duration: .2s,.1s,.1s;
    -webkit-transition-property: opacity,color,background-color;
    transition-property: opacity,color,background-color;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    background-color: #db4437;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    min-width: 22px;
    padding-left: 1px;
    padding-right: 1px;
    position: absolute;
    right: -12px;
    top: 0;
    text-align: center;
    z-index: 3;
}

@media screen and (min-width: 1140px) and (max-width: 1399px) {
    .resource-item, .folder-item {
        width: calc(33.333333333333336% - 16px); /* three columns */
    }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
    .resource-item, .folder-item {
        width: calc(25% - 16px); /* four columns */
    }
}

@media screen and (min-width: 1600px) {
    .resource-item, .folder-item {
        width: calc(20% - 16px); /* five columns */
    }
}

@media screen and (min-width: 2100px) {
    .resource-item, .folder-item {
        width: calc(16.66667% - 16px); /* six columns */
    }
}

.context-menu {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    background: #fff;
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: none;
    position: fixed;

    overflow-y: auto;
    padding: 8px 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    z-index: 2300;

    -webkit-user-select: none;
    max-height: 411px;

    display: none;
}

.context-menu-item.divider {
    border-top: 1px solid #ebebeb;
}

.context-menu > .context-menu-item:not( [style*="display: none"]):first-child {
    padding-top: 6px;
}

.context-menu-item:hover {
    border-left: 4px solid #848484;
    margin-left: 0;
    background-color: #eee;
}

.context-menu-item {
    position: relative;
    color: #333;
    cursor: pointer;
    list-style: none;
    /*padding: 6px 8em 6px 30px;*/
    white-space: nowrap;

    min-width: 160px;

    border: none;
    height: 24px;
    margin: 0 0 0 4px;
    padding: 6px 24px 6px 0;
    display: none;
}

.context-menu-item-wrapper {
    margin-left: 4px;
    margin-top: 3px;
    padding-left: 16px;
}

.context-menu-item-icon {
    background-repeat: no-repeat;
    height: 21px;
    left: 3px;
    position: absolute;
    right: auto;
    top: 3px;
    vertical-align: middle;
    width: 21px;

    background-origin: border-box;
    margin-left: 12px;
    margin-top: 2px;

    opacity: .5;
    display: none;
}

.context-menu-item-content {

}

.context-menu.single-folder-cntx .action-open-folder,
.context-menu.single-folder-cntx .action-edit,
.context-menu.single-folder-cntx .action-delete,
.context-menu.single-resource-cntx .action-add-tag,
.context-menu.single-resource-cntx .action-copy,
.context-menu.single-resource-cntx .action-move,
.context-menu.single-resource-cntx .action-edit,
.context-menu.single-resource-cntx .action-delete,
.context-menu.single-resource-cntx .action-remove,
.context-menu.single-group-cntx .action-open-folder,
.context-menu.resources-cntx .action-add-tag,
.context-menu.resources-cntx .action-copy,
.context-menu.resources-cntx .action-move,
.context-menu.resources-cntx .action-delete,
.context-menu.resources-cntx .action-remove,
.context-menu.datagrid-cntx .action-create-folder,
.context-menu.datagrid-cntx .action-upload-file,
.context-menu.datagrid-cntx .action-add-website {
    display: block;
}

.context-menu.mixed-cntx .context-menu-item {

}

.context-menu.folders-cntx .context-menu-item {

}

#deleteConfirmDialog .ui-dialog-content p > span {
    display: none;
}

#deleteConfirmDialog.single.folders .ui-dialog-content p > span.single-folder,
#deleteConfirmDialog.single.resources .ui-dialog-content p > span.single-resource,
#deleteConfirmDialog.plural .ui-dialog-content p > span.plural {
    display: block;
}

/* My resources page */
.center-header > h2 { margin-right: 1rem; }

.ui-icon-mygrid {
    border-radius:0px;
    -webkit-border-radius:0px;
    background-image: url(#{resource['resource-pane-template:img/Thumbnails.png']}) !important;
}

.ui-icon-mylist {
    border-radius:0px;
    -webkit-border-radius:0px;
    background-image: url(#{resource['resource-pane-template:img/List.png']}) !important;
}

a.more_resources_link {
    float:right;
    margin-right: 1rem;
    clear: both;
    text-decoration: underline;
}
a.more_resources_link:hover { text-decoration: none; }

.layout_button {
    display: inline-block;
    top: -2px;
    position: relative;
}
.layout_button > button {
    background-color:#eee !important;
    border:none;
    border-radius:2px;
}

.layout_button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) !important;
}

.myresource-listview .resource-item { display:none; }

.myresource-listview  {
    padding-right: 7px;
    display: block;
}
						
@media screen  and (max-width:1050px) {
    .myresource-listview .resource-item:nth-child(1),
    .myresource-listview .resource-item:nth-child(2) { display: inline-block; }
}

@media screen and (min-width:1051px) and (max-width:1360px) {
    .myresource-listview .resource-item:nth-child(1),
    .myresource-listview .resource-item:nth-child(2),
    .myresource-listview .resource-item:nth-child(3) { display: inline-block; }
}

@media screen and (min-width:1360px) and (max-width:1700px){
    .myresource-listview .resource-item:nth-child(1),
    .myresource-listview .resource-item:nth-child(2),
    .myresource-listview .resource-item:nth-child(3),
    .myresource-listview .resource-item:nth-child(4) { display: inline-block; }
}
@media screen and (min-width:1700px) {
    .myresource-listview .resource-item:nth-child(1),
    .myresource-listview .resource-item:nth-child(2),
    .myresource-listview .resource-item:nth-child(3),
    .myresource-listview .resource-item:nth-child(4),
    .myresource-listview .resource-item:nth-child(5) { display: inline-block; }
}

#resources_informations_table a:hover, #resources_informations_table a:focus{
	text-decoration:underline; 
}
.ui-rating { opacity: 1 !important; filter: Alpha(Opacity=100) !important; }
