// TODO: to be replaced with .fg-grid at some point
.form-group {
  margin-bottom: $form-group-margin-bottom;

  > p {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input,
  textarea,
  select,
  > .ui-widget {
    width: 100%;
  }

  .ui-calendar {
    display: flex;
  }
}

// In case we need backward compatibility for browsers without CSS Grid https://codepen.io/SitePoint/pen/bxVaKK
.fg-grid {
  display: grid;
  grid-gap: $form-group-margin-bottom;

  > *:not(.fg-row) {
    min-width: 0;
    overflow-x: auto;
  }

  > .ui-outputlabel {
    margin-bottom: -$form-group-margin-bottom;
  }

  .fg-col,
  .fg-row {
    > * {
      min-width: 100%;
    }

    .ui-autocomplete {
      .ui-autocomplete-input {
        min-width: 100%;
      }
    }

    .ui-autocomplete-multiple {
      .ui-autocomplete-multiple-container {
        min-width: 100%;
        width: auto;
      }

      .ui-autocomplete-dropdown {
        right: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: minmax(3rem, max-content) auto;

    > .ui-outputlabel {
      max-width: 13rem;
      margin-bottom: 0;
    }

    .fg-row {
      grid-column: 1/span 2;
    }
  }
}
