td.td-text-right {
  @extend .text-right;
}

td.td-text-center {
  @extend .text-center;
}

/* set background color for even/odd table cells. Used by the Glossary */
.ui-datatable {
  table {
    table-layout: auto !important;

    .ui-datatable-data tr td {
      word-break: break-all;
    }
  }

  .ui-datatable-data {
    td {
      &.ui-datatable-even {
        background-color: $datatableEvenColor;
      }

      &.ui-datatable-odd {
        background-color: $contentBgColor;
      }
    }
  }
}
