/*taken from new_main2.css*/
#add_resource_upload_form .ui-fileupload-files tr td:first-child,
#add_resource_upload_form .ui-fileupload-files tr td:last-child {
	display: none;
}
.right-panel .create-block table tr,
.right-panel .create-block table td {
	border: 0;
}
.right-panel .create-block table td {
	padding: 4px 0px !important;
}
.right-panel .create-block table .form-preview {
	padding: 4px !important;
}
.right-panel .create-block table td:FIRST-CHILD {
	font-weight: bold;
	width: 100px;
}
.right-panel .create-block table input,
.right-panel .create-block table textarea,
.right-panel .create-block table button{
	border-radius: 2px;
	box-shadow: 0 0 0px 0px #fff !important;
}

#add_resource_panel{
	padding: 0px;
	border: 0px !important;
}

#add_resource_table{
	width:100%; 
	margin: auto;
}
#add_resource_panel_content{
	padding-top:0px !important;
}
.add_field{
	width:100%;
	box-sizing: border-box;
}
.comment {
	border-bottom: 1px solid #eee;
	padding: 10px;
	background-color: #F9F9F9;
}
.comments {
	margin:10px 0;
	border-top: 1px solid #eee;
}
.comment_date{
	color:grey;
	font-size:1rem;
	margin-left:10px;
}

#edit_table{
	width: 100%;
	margin-top: 10px;
}
#edit_table td{padding-top: 5px;}
#edit_table td:FIRST-CHILD{font-weight: bold;}
.preview_box{
	padding: 5px;
	border: 1px solid #ccc !important;
	box-shadow: 0 0 3px 3px #dfdfdf;
}
.preview_box iframe {min-height:400px;width:100%;}

#archive_list_view{
	padding-top:10px;
    position:relative;
    max-height:350px;
    width:100%;
    float:left;
    overflow:auto;
    display:none;
}

#archive_list_view ul{
	list-style-type: none;
	padding:0;
}

#archive_list_view ul > li{
	float: left;
	width: 149px;
	text-align:center;
	padding: 10px 0px 10px 0px;
	border-radius: 4px;
	box-shadow:inset 0px 1px 1px rgba(0, 0, 0, .3);	
}

#archive_list_view ul :hover{
	background-color: #b5ebdc;
}

#list_button{
	margin-right:0rem !important;
	border-top-right-radius:0px !important;
	border-bottom-right-radius:0px !important;
}
#timeline_button{
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
}

#right_pane .button-active{
	background-color:#4ea68d !important;
}

#lightbox {
	display:none;
    position:fixed; 
    top: 0px;
    left:0;
    height:100%; 
    width:100%; 
    background: rgba(100, 100, 100, 0.6);
    z-index:899;
}

#lightbox_background { 
	position:absolute;
    height:100%; 
    width:100%; 
    z-index:900; 
} 
#lightbox_container {
	position:relative; 
    background:#191919; 
    margin:81px 8% 5px 8%; 
    color:white;   
    z-index:901; 
    box-sizing:border-box;    
	padding-top:3rem;
}
#lightbox_content {
    height:100%;
    width:100%;	
    background:url(../resources/search/icon/grain-2.png) center no-repeat
}
#lightbox_title {
	font-size:2rem;
	line-height:3rem;
	height:3rem;
	width:100%;
	font-weight:bold;
	text-align:center;
	position:absolute;
	top:0;
	background-color: black;
}

#lightbox_close {
	position:absolute;
	right:1.5rem;
	top:50%;
	margin-top:-12px;
	margin-right:-12px;
	width:24px;
	height:24px;
	background:url(../resources/search/icon/cancel-inv.png) center no-repeat;
	
}

#resources_informations_table { border-collapse : collapse; }
#resources_informations_table .resource_field {
	padding-right:5px;
} 
#resources_informations_table td{
	padding:5px 0 0 0;
}

#comment_button {
	margin-right:0;
	margin-top: 4px;
}