$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$lightGray:#f2f5fa;
$lightBlue:#e1f3f8;
$lightYellow:#fff1d2;
$lightGreen:#e7f4e4;
$lightRed:#f9dede;
$lightPurple:#dbd4e9;

$red:               #cd2026;
$indigo:            #514A9D;

// DO NOT USE $green, $greenDarker, $greenDarkerAlt, $greenDarkest (and other) COLORS!
// Use $themePrimaryColor, $themePrimaryColorDarker, $themePrimaryDarkerAlt and other starting from $theme... instead! (see variables.scss)

$blue:              #0071bc;
$blueDarker:        #205493;
$blueDarkerAlt:     #1A4172;
$blueDarkest:       #112e51;

$purple:            #6A4AA5;
$purpleDarker:      #4B2F7F;
$purpleDarkerAlt:   #4a376d;
$purpleDarkest:     #36215D;

$pink:              #9f4488;
$pinkDarker:        #8d3c79;
$pinkDarkerAlt:     #78426a;
$pinkDarkest:       #692d5a;

$orange:            #fe875d;
$orangeDarker:      #E26134;
$orangeDarkerAlt:   #ba5837;
$orangeDarkest:     #B34621;

$yellow:            #F9C642;
$yellowDarker:      #FDB81E;
$yellowDarkerAlt:   #EAA200;
$yellowDarkest:     #EAA200;

$green:             #4aa564;
$greenDarker:       #378D4F;
$greenDarkerAlt:    #337747;
$greenDarkest:      #1D6833;

$teal:              #07A089;
$tealDarker:        #067E6C;
$tealDarkerAlt:     #1d5b52;
$tealDarkest:       #04493F;

$cyan:              #00bfe7;
$cyanDarker:        #00a6d2;
$cyanDarkerAlt:     #1d79a3;
$cyanDarkest:       #046b99;

$bluegray:          #4B6D7E;
$bluegrayDarker:    #365361;
$bluegrayDarkerAlt: #384c56;
$bluegrayDarkest:   #233944;

$ash:               #606c88;
$ashDarker:         #434F6A;
$ashDarkerAlt:      #40495c;
$ashDarkest:        #2B354A;

$mantle:            #514A9D;
$mantleDarker:      #3E387D;
$mantleDarkerAlt:   #4a4579;
$mantleDarkest:     #36316B;

$cappuccino:        #684c4e;
$cappuccinoDarker:  #503739;
$cappuccinoDarkerAlt:#4f3b3d;
$cappuccinoDarkest: #3c2628;

$alive:             #85344E;
$aliveDarker:       #6a293e;
$aliveDarkerAlt:    #5d2436;
$aliveDarkest:      #4f1f2e;

$emerald:           #4AA382;
$emeraldDarker:     #348F6D;
$emeraldDarkerAlt:  #387e64;
$emeraldDarkest:    #227053;

$gray:              #5B616B;
$grayDarker:        #43474E;
$grayDarkerAlt:     #313438;
$grayDarkest:       #1B1E22;

$hollywood:         #514A9D;
$hollywoodDarker:   #3E387D;
$hollywoodDarkerAlt:#4a4579;
$hollywoodDarkest:  #36316B;

$montreal:          #8f3b4f;
$montrealDarker:    #772d3f;
$montrealDarkerAlt: #6a3844;
$montrealDarkest:   #5a2330;

$noir:              #4b6cb7;
$noirDarker:        #38569C;
$noirDarkerAlt:     #415688;
$noirDarkest:       #2C447B;

$peak:              #31827b;
$peakDarker:        #256b65;
$peakDarkerAlt:     #34615d;
$peakDarkest:       #1e504c;

$predawn:           #4a505d;
$predawnDarker:     #303644;
$predawnDarkerAlt:  #2B303C;
$predawnDarkest:    #20242d;
