.center-header {
  background-color: #eee;
  padding: 0.5rem;
  ul a {
    display: block;
  }
  a {
    &.active, &:hover {
      background-color: #EEE;
      text-decoration: none;
    }
  }
  li {
    float: left;
    list-style-type:none;
  }
  ul {
    margin: -0.5rem;
    padding: 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: rgb(230, 230, 230);
    clear: both;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.breadcrumbs ul span {
  padding: 5px 15px;
  display: block;
}

.green-tittle {
  font-size: 2rem;
  font-weight: 100;
  color: $green;
}


.noBorders tr, .noBorders td {
  background: none !important;
  border: none !important;
}


.no-padding-panel-content {
  .ui-panel-content {
    padding: 0 !important;
  }
}

.p-pn-1rem {
  .ui-panel-content {
    padding: 1rem !important;
  }
}

.breadCrumb{
  ul {
    li:last-child {
      pointer-events: none;
    }
  }
}