.green-tittle { /* TODO: we need to avoid such classes */
  font-size: 2rem;
  font-weight: 100;
  color: $green;
}


.no-borders tr, .no-borders td {
  background: none !important;
  border: none !important;
}


.no-padding-panel-content {
  .ui-panel-content {
    padding: 0 !important;
  }
}

.p-pn-1rem {
  .ui-panel-content {
    padding: 1rem !important;
  }
}

.w-30 {
  width: 30% !important;
}