.onhover-scrollbar {
  overflow-y: hidden;

  &:hover {
    overflow-y: overlay;
  }
}

.center-header { // TODO: it is definitely not looks like a util
  background-color: $gray-100;
  padding: 0.5rem;

  a {
    &.active,
    &:hover {
      background-color: $gray-100;
      text-decoration: none;
    }
  }

  ul {
    margin: -0.5rem;
    padding: 0px;
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    background-color: $gray-300;
    clear: both;

    a {
      display: block;
    }

    li {
      float: left;
      list-style-type: none;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.no-borders {
  tr,
  td {
    background: none !important;
    border: none !important;
  }
}

.klapper_zu { // TODO: remove it
  height: .9rem;
}

.cursor-pointer { // TODO: remove it
  cursor: pointer;
}

.sticky-column {
  position: sticky;
  top: 1rem;
  height: calc(100vh - 2rem);
  overflow-y: auto;
}

.profile-picture {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  background: $themeElementTextColor;
  border: 1px solid $themePrimaryColor;
}

.bg-gray200 {
  background: $gray-200;
}

.bg-white-90 {
  background: rgba($white, 0.9);
}

.bg-dark-90 {
  background: rgba($dark, 0.9);
}

td.td-text-right {
  @extend .text-right;
}

.table-responsive {
  table-layout: auto !important;
}

.bg-highlight {
  color: $white;
  background-color: $gray-600;
  border: 1px solid $gray-600;
  border-radius: $btn-border-radius;
  padding: 0 $btn-border-radius;
}

.col-md-fixed {
  @include media-breakpoint-up(md) {
    flex: 0 0 15rem;
    max-width: 15rem;
  }
}

.mw-0 {
  min-width: 0;
}

@media (max-width: 420px) {
  .d-none-mobile {
    display: none !important;
  }
}

.has-badge {
  position: relative;

  &:after{
    position: absolute;
    right: 0;
    top: 0;
    content: attr(data-count);
    font-size: 0.7rem;
    padding: 0.5em;
    border-radius: 50%;
    line-height: 0.75em;
    color: $themeElementTextColor;
    background: rgba($red, 0.85);
    text-align: center;
    min-width: 1.75em;
    font-weight: bold;
  }
}

body {
  .moderator-btn {
    color: $themeElementTextColor;
    border: 1px solid $themePrimaryColorDarker!important;

    .ui-button-text {
      position: relative;

      &:before {
        content: '\f013';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        padding-right: 0.5rem;
        color: $themePrimaryAltColor;
      }
    }

  }
}

.col-xs-auto {
  @include media-breakpoint-down(xs) {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
