// check variables here (vendor/bootstrap-4.3.1/_variables.scss) and override if you need

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #4AA564 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$border-radius: 0;
$primary: $green;
