$fontFamily: "Source Sans Pro", Arial, sans-serif !default;
$fontSize: 14px !default;
$borderRadius: 0 !default;
$dividerColor: #d6d7d9 !default;
$textColor: #212121 !default;
$textSecondaryColor: #aeb0b5 !default;
$transitionDuration: .3s !default;
$mobileBreakPoint: 1024px !default;