//[class^="ui-icon-"]:before,
//[class*=" ui-icon-"]:before,
.ui-icon {
  @extend .fas;

  // override PrimeFaces default
  text-indent: initial !important;
  text-align: center;
  min-width: $font-size-base;
}

@mixin ui-icon-content($icon) {
  &::before {
    content: fa-content($icon);
  }
}

@mixin ui-icon-override($icon) {
  @extend .fas;

  @include ui-icon-content($icon);
  text-indent: 0 !important;
  text-align: center;
  background: none;
}

.ui-icon-carat-1-n { @include ui-icon-content($fa-var-angle-up); }
.ui-icon-carat-1-e { @include ui-icon-content($fa-var-angle-right); }
.ui-icon-carat-1-s { @include ui-icon-content($fa-var-angle-down); }
.ui-icon-carat-1-w { @include ui-icon-content($fa-var-angle-left); }
.ui-icon-carat-2-n-s { @include ui-icon-content($fa-var-sort); }
.ui-icon-triangle-1-n { @include ui-icon-content($fa-var-sort-up); }
.ui-icon-triangle-1-e { @include ui-icon-content($fa-var-caret-right); }
.ui-icon-triangle-1-s { @include ui-icon-content($fa-var-sort-down); }
.ui-icon-triangle-1-w { @include ui-icon-content($fa-var-caret-left); }
.ui-icon-triangle-2-n-s { @include ui-icon-content($fa-var-sort); }
.ui-icon-arrowrefresh-1-w { @include ui-icon-content($fa-var-sync-alt);}
.ui-icon-arrow-1-n { @include ui-icon-content($fa-var-arrow-up); }
.ui-icon-arrow-1-e { @include ui-icon-content($fa-var-arrow-right); }
.ui-icon-arrow-1-s { @include ui-icon-content($fa-var-arrow-down); }
.ui-icon-arrow-1-w { @include ui-icon-content($fa-var-arrow-left); }
.ui-icon-arrow-2-n-s { @include ui-icon-content($fa-var-arrows-alt-v); }
.ui-icon-arrow-2-e-w { @include ui-icon-content($fa-var-arrows-alt-h); }
.ui-icon-arrowthick-1-n { @include ui-icon-content($fa-var-long-arrow-alt-up); }
.ui-icon-arrowthick-1-e { @include ui-icon-content($fa-var-long-arrow-alt-right); }
.ui-icon-arrowthick-1-s { @include ui-icon-content($fa-var-long-arrow-alt-down); }
.ui-icon-arrowthick-1-w { @include ui-icon-content($fa-var-long-arrow-alt-left); }
.ui-icon-arrow-4 { @include ui-icon-content($fa-var-arrows-alt); }
.ui-icon-arrow-4-diag { @include ui-icon-content($fa-var-expand-arrows-alt); }
.ui-icon-extlink { @include ui-icon-content($fa-var-external-link-alt); }
.ui-icon-newwin { @include ui-icon-content($fa-var-clone); }
.ui-icon-refresh { @include ui-icon-content($fa-var-sync-alt); }
.ui-icon-shuffle { @include ui-icon-content($fa-var-random); }
.ui-icon-transfer-e-w { @include ui-icon-content($fa-var-stack-exchange); }
.ui-icon-folder-collapsed { @include ui-icon-content($fa-var-folder); }
.ui-icon-folder-open { @include ui-icon-content($fa-var-folder-open); }
.ui-icon-document { @include ui-icon-content($fa-var-file); }
.ui-icon-note { @include ui-icon-content($fa-var-sticky-note); }
.ui-icon-mail-open { @include ui-icon-content($fa-var-envelope-open); }
.ui-icon-suitcase { @include ui-icon-content($fa-var-suitcase); }
.ui-icon-comment { @include ui-icon-content($fa-var-comment); }
.ui-icon-person { @include ui-icon-content($fa-var-user); }
.ui-icon-print { @include ui-icon-content($fa-var-print); }
.ui-icon-trash { @include ui-icon-content($fa-var-trash); }
.ui-icon-locked { @include ui-icon-content($fa-var-lock); }
.ui-icon-unlocked { @include ui-icon-content($fa-var-unlock); }
.ui-icon-bookmark { @include ui-icon-content($fa-var-bookmark); }
.ui-icon-tag { @include ui-icon-content($fa-var-tag); }
.ui-icon-home { @include ui-icon-content($fa-var-home); }
.ui-icon-flag { @include ui-icon-content($fa-var-flag); }
.ui-icon-calendar { @include ui-icon-content($fa-var-calendar); }
.ui-icon-cart { @include ui-icon-content($fa-var-shopping-cart); }
.ui-icon-pencil { @include ui-icon-content($fa-var-pencil-alt); }
.ui-icon-clock { @include ui-icon-content($fa-var-clock); }
.ui-icon-disk { @include ui-icon-content($fa-var-save); }
.ui-icon-calculator { @include ui-icon-content($fa-var-calculator); }
.ui-icon-zoomin { @include ui-icon-content($fa-var-search-plus); }
.ui-icon-zoomout { @include ui-icon-content($fa-var-search-minus);}
.ui-icon-search { @include ui-icon-content($fa-var-search);}
.ui-icon-wrench { @include ui-icon-content($fa-var-wrench);}
.ui-icon-gear { @include ui-icon-content($fa-var-cog);}
.ui-icon-heart { @include ui-icon-content($fa-var-heart);}
.ui-icon-star { @include ui-icon-content($fa-var-star);}
.ui-icon-link { @include ui-icon-content($fa-var-link);}
.ui-icon-cancel { @include ui-icon-content($fa-var-ban);}
.ui-icon-plus { @include ui-icon-content($fa-var-plus);}
.ui-icon-plusthick { @include ui-icon-content($fa-var-plus); }
.ui-icon-minus { @include ui-icon-content($fa-var-minus);}
.ui-icon-minusthick { @include ui-icon-content($fa-var-minus); }
.ui-icon-closethick { @include ui-icon-content($fa-var-times); }
.ui-icon-close { @include ui-icon-content($fa-var-times); }
.ui-icon-key { @include ui-icon-content($fa-var-key);}
.ui-icon-lightbulb { @include ui-icon-content($fa-var-lightbulb);}
.ui-icon-scissors { @include ui-icon-content($fa-var-hand-scissors);}
.ui-icon-clipboard { @include ui-icon-content($fa-var-clipboard);}
.ui-icon-copy { @include ui-icon-content($fa-var-copy);}
.ui-icon-contact { @include ui-icon-content($fa-var-users);}
.ui-icon-image { @include ui-icon-content($fa-var-file-image);}
.ui-icon-video { @include ui-icon-content($fa-var-file-video);}
.ui-icon-music { @include ui-icon-content($fa-var-file-audio);}
.ui-icon-alert { @include ui-icon-content($fa-var-exclamation-triangle);}
.ui-icon-info { @include ui-icon-content($fa-var-info-circle);}
.ui-icon-notice { @include ui-icon-content($fa-var-exclamation);}
.ui-icon-help { @include ui-icon-content($fa-var-question-circle);}
.ui-icon-check { @include ui-icon-content($fa-var-check);}
.ui-icon-bullet { @include ui-icon-content($fa-var-circle);}
.ui-icon-radio-off { @include ui-icon-content($fa-var-toggle-off);}
.ui-icon-radio-on { @include ui-icon-content($fa-var-toggle-on);}
.ui-icon-pin-s { @include ui-icon-content($fa-var-thumbtack);}
.ui-icon-play { @include ui-icon-content($fa-var-play);}
.ui-icon-pause { @include ui-icon-content($fa-var-pause);}
.ui-icon-seek-next { @include ui-icon-content($fa-var-forward);}
.ui-icon-seek-prev { @include ui-icon-content($fa-var-backward);}
.ui-icon-seek-end { @include ui-icon-content($fa-var-step-forward);}
.ui-icon-seek-first { @include ui-icon-content($fa-var-step-backward);}
.ui-icon-stop { @include ui-icon-content($fa-var-stop);}
.ui-icon-eject { @include ui-icon-content($fa-var-eject);}
.ui-icon-volume-off { @include ui-icon-content($fa-var-volume-off);}
.ui-icon-volume-on { @include ui-icon-content($fa-var-volume-up);}
.ui-icon-power { @include ui-icon-content($fa-var-power-off);}
.ui-icon-signal { @include ui-icon-content($fa-var-signal);}
.ui-icon-battery-0 { @include ui-icon-content($fa-var-battery-empty);}
.ui-icon-battery-1 { @include ui-icon-content($fa-var-battery-quarter);}
.ui-icon-battery-2 { @include ui-icon-content($fa-var-battery-half);}
.ui-icon-battery-3 { @include ui-icon-content($fa-var-battery-full);}
.ui-icon-circle-plus { @include ui-icon-content($fa-var-plus-circle);}
.ui-icon-circle-minus { @include ui-icon-content($fa-var-minus-circle);}
.ui-icon-circle-triangle-e { @include ui-icon-content($fa-var-chevron-circle-right); }
.ui-icon-circle-triangle-s {  @include ui-icon-content($fa-var-chevron-circle-down); }
.ui-icon-circle-triangle-w { @include ui-icon-content($fa-var-chevron-circle-left); }
.ui-icon-circle-triangle-n { @include ui-icon-content($fa-var-chevron-circle-up); }
