@media screen and (max-width: 1500px){
	.userbar ul {	
    	left:25em;
	}
}

@media screen and (max-width: 1400px){
	#moreprofile{
		display:block;
	}
	#profile{
		display:none;
	}
	.userbar ul li ul{
		left:11.5em;
	}
}

@media screen and (max-width: 1275px){
	#moremygroups{
		display:block;
	}
	#mygroups{
		display:none;
	}
	.userbar ul li ul{
		left:6.8em;
	}
}

@media screen and (max-width: 1140px){
	#moremyresources{
		display:block;
	}
	#myresources{
		display:none;
	}
	.userbar ul li ul{
		left:1.5em;
	}
}

@media screen and (max-width: 1000px){
	#searchfield{
		margin-left:0.5em;
		width:20em;
	}
	#backtogroup{
		margin-right:9em;
	}
	.userbar ul{	
    	left:22.5em;
	}
}

@media screen and (max-width: 925px){
	#searchfield{
		width:15em;
	}
	.resourcestype:last-child{
		display:none;
	}
	.userbar ul{	
    	left:19em;
	}
}

@media screen and (max-width: 820px){
	header{
		position:fixed;
	}
	#moreprofile, #moremygroups, #moremyresources{
		display:none;
	}
	#profile, #mygroups, #myresources{
		display:block;
	}
	#searchfield{
		margin-left:0.5em;
		width:15em;
	}
	#sourcetype{
		margin-left:3em;
	}
	#backtogroup{
		margin-right:0.5em;
	}
	#sub_menu_bar{
		top:0px;
	}
	#text{
		margin-top:8em;
	}
	.menubutton{
		display:block;
		position:absolute;
		top:0.7em;
		right:8em;
		vertical-align:middle;
		border:1px solid #000000;
		border-radius:5px;
		padding:2px;
		cursor:pointer;
		background-color:#489a83;
		height:23px;
		font-size:15px;
		font-weight:bolder;
		text-align:center;
		z-index:2;
	}
	.userbar{
		display:none;
		height:100%;
	}
	.userbar ul {
    	position:relative;
    	left:0em;
    	top:0em;
    	margin-right:1em;
	}
	.userbar-expanded{
		display:block;
		background-color:#489a83;
		height:330%;
	}
	.userbar ul li{
		padding-bottom:0.1em;
    	float:none;
    	line-height:15px;
    	border-left:0px;
	}
	.userbar ul li a {
		padding-top:0.5em;
		padding-bottom:0.5em;
		width:100%;
	}
	.userbar ul li:last-child{
		border-right:0px ;
	} 
	.userbar ul li ul{
		display:none;
	}
	.userbar ul li:last-child{
		display:none;
	}
	#backtogroup{
		margin-right:3em;
	}
	#activitystream{
		display:block;
	}
	#logout{
		display:block;
	}
	#sub_menu_bar{
		position:relative;
		top:0px;
		z-index:1;
	}
}

@media screen and (max-width: 720px){
	#searchfield{
		width:10em;
	}
	#sourcetype{
		margin-left:3em;
	}
}

@media screen and (max-width: 630px){
	.language{
		display:none;
	}
	.menubutton{
		right:4em;
	}
	.resourcestype:last-child{
		display:none;
	}
	
}

@media screen and (max-width: 570px){
	#logoutbutton{
		display:none;
	}
	.menubutton{
		right:0.5em;
	}
}

@media screen and (max-width: 510px){
	#LearnWebLogo{
		display:none;
	}
	#searchfield{
		margin-left:1em;
		width:15em;
	}
	#backtogroup{
		margin-right:0;
	}
	#sub_menu_bar{
		height:15px;
	}
	.menubutton{
		top:0.5em;
	}
	.resourcestype{
		font-size:13px;
		padding-right:0.8em;
	}
	#sourcetype{
		float:right;
		margin-right:1em;
		margin-left:0em;
		margin-top:-0.55em;
	}
	#backtogroup{
		font-size:13px;
	}
}

@media screen and (max-width: 410px){
	#searchfield{
		width:10em;
	}
	#backtogroup{
		display:none;
	}
	#sourcetype{
		float:left;
		margin-left:0.5em;
		margin-right:0em;
	}
}

@media screen and (max-width: 330px){
	#searchfield{
		width:8em;
	}
}