# If you need to update properties for local development, do that in your local file (copy it and rename to `.env`)
# This properties are only applied for development profile which is active by default, but disabled on production

# Setup the database connection
DATASOURCE_URL=jdbc:mariadb://localhost:3306/learnweb
DATASOURCE_USERNAME=learnweb
DATASOURCE_PASSWORD=

# Decide where you want to locally store files uploaded to Learnweb (primarily needed for Group's resources)
# On Windows the path should look like this: L:\\learnweb\\dev_files or \\\\wsl.localhost\\Ubuntu\\mnt\\learnweb
FILE_MANAGER_FOLDER=/tmp/learnweb

# Solr is required for Group's resources navigation, change the URL
SOLR_SERVER_URL=http://localhost:8982/solr/learnweb_dev

# To use Search, you need to configure the integration with Interweb
INTEGRATION_INTERWEB_URL=https://interweb.l3s.uni-hannover.de
INTEGRATION_INTERWEB_APIKEY=

# If you need to work with videos, install FFmpeg on your system and update these paths
FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Learnweb

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_ENABLE_STARTTLS=true
SMTP_USERNAME=
SMTP_PASSWORD=

IMAP_HOST=
IMAP_PORT=143
