<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Properties>
        <Property name="LEARNWEB_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{9}:%line - %msg%n</Property>
        <Property name="LEARNWEB_LOG_PATH">${sys:catalina.base:-.}/logs</Property>
        <Property name="LEARNWEB_LOG_BASENAME">${web:contextPath:-}learnweb</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="file" fileName="${env:LEARNWEB_LOG_PATH}/${env:LEARNWEB_LOG_BASENAME}.log"
                     filePattern="${env:LEARNWEB_LOG_PATH}/${env:LEARNWEB_LOG_BASENAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="${env:LEARNWEB_LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*/${env:LEARNWEB_LOG_BASENAME}*.log" />
                    <IfLastModified age="P14D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Sentry name="sentry" minimumBreadcrumbLevel="DEBUG" minimumEventLevel="ERROR"/>
    </Appenders>

    <Loggers>
        <Logger name="org.apache" level="FATAL"/>
        <Logger name="org.hibernate.validator" level="FATAL"/>
        <Logger name="solr.client" level="FATAL"/>
        <Logger name="org.jboss.weld" level="WARN"/>
        <Logger name="org.apache.myfaces" level="WARN"/>
        <Logger name="net.bramp.ffmpeg" level="INFO"/>
        <Logger name="com.zaxxer.hikari" level="INFO"/>
        <Logger name="org.flywaydb.core" level="INFO"/>
        <Logger name="org.mariadb.jdbc" level="INFO"/>
        <Logger name="org.eclipse.jetty" level="INFO"/>

        <Root level="DEBUG">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <appender-ref ref="sentry"/>
        </Root>
    </Loggers>
</Configuration>
