@CHARSET "UTF-8";

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.session-timeline {
	border-right: 1px solid lightgrey;
}

.knowledge-graph {
    height:95vh;
    position: relative;
}

.tagging-panel {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
}

.tagging-panel .ui-panel-content {
  height: 200px;
  overflow-y: scroll;
}

.tagging-panel label {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
}

.snippet-viewer {
	display: none;
    background-color: white;
    box-shadow: -5px 0px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.reference_url {
	color:green;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	margin-bottom:-10px;
}

.snippet_query {
	color:grey;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	width: 180px;
}

.selected_snippet {
	background-color: rgba(72, 154, 131, 0.22);
    padding: 2px;
    border-radius: 3px;
}

.hideIcon {
	float:right;
	height:14px;
	width:14px;
	padding-right:10px;
	cursor: pointer;
}

/* styles for vertical session timeline */
.box {
  overflow-y: scroll;
  padding: 0 0 0 62px;
  height: calc(100vh - 180px);
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0;
}

.box ul:last-of-type {
  /*top: 80px;*/
}

.box ul:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px dashed #489a83;
  position: absolute;
  top: 0;
  left: -7px;
}

.box ul li {
  margin: 20px 10px 60px;
  position: relative;
  padding: 10px 10px;
  background: #489a83;
  color: #fff;
  border-radius: 10px;
  line-height: 20px;
}

.box ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #489a83;
  position: absolute;
  top: 0;
  left: -17px;
}

.box ul li > span:before,
.box ul li > span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #489a83;
  border: 2px solid #fff;
  position: absolute;
  left: -7px;
}

.box ul li > span:before {
  top: -10px;
}
.box ul li > span:after {
  top: 95%;
}

.box ul li .session_username {
    font-weight: bold;
}

.box .title {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
  background-color: inherit;
  padding: 0;
}

.box .info:first-letter {
  /*text-transform: capitalize;*/
  line-height: 1.7;
}

.box .time span {
  position: absolute;
  left: -72px;
  color: black;
  /*font-size: 80%;*/
  font-weight: bold;
}
.box .time span:first-child {
  top: -25px;
  font-size:70%;
}


.box .time span:nth-child(2) {
  top: -10px;
}

.box .time span:last-child {
  top: 94%;
}

.box.box-group ul:before {
  border: 1px dashed #848484;
}

.box.box-group ul li > span {
  border: 1px solid #848484;
}

.box.box-group ul li,
.box.box-group ul li > span:before,
.box.box-group ul li > span:after {
  background: #848484;
}

/*styles for service icons */
div.info > span {
	background-size: 10px 10px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
}

div.info span:after {
	content:'\2192';
}

div.info span:last-child:after {
	content:'';
}

div.info .source_bing {
	background-image: url('#{resource["icon:services/bing.gif"]}');
}

div.info .source_learnweb {
	background-image: url('#{resource["icon:services/learnweb.gif"]}');
}

div.info .source_archiveit {
	background-image: url('#{resource["icon:services/archiveit.gif"]}');
}

div.info .source_loro {
	background-image: url('#{resource["icon:services/loro.gif"]}');
}

/*styles for snippet viewer*/
#snippets {
	overflow-y: auto;
	height: 95%;
}
.snippet {
	width: 95%;
	margin-bottom: 10px;
}