.ui-button-mod {
  color: $themeElementTextColor;
  border: 1px solid $themePrimaryColorDarker !important;

  .ui-button-text {
    position: relative;

    &::before {
      @extend .fas;

      content: fa-content($fa-var-cog);
      padding-right: 0.5rem;
      color: $themePrimaryAltColor;
    }
  }
}

.ui-linkbutton a {
  text-decoration: none !important;
}

.ui-fileupload-minimal {
  .ui-fileupload-buttonbar {
    padding: 0;
    background: inherit;
  }

  .ui-fileupload-content {
    border: 0;
    padding: 0;

    .ui-fileupload-files {
      margin: 0;
      width: 100%;
    }

    .ui-fileupload-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.75rem;

      > div {
        padding: 0.25rem 0.5rem 0.25rem 0;
      }
    }

    .ui-fileupload-filename,
    .ui-fileupload-preview {
      display: flex;
    }

    .ui-fileupload-filename,
    .ui-fileupload-progress {
      flex-grow: 1;
      min-width: 2rem;
    }

    .ui-progressbar {
      width: 100%;
      top: 0;
      height: 1.8rem;
      border: 0;
      border-radius: 0.2rem;
      overflow: hidden;

      .ui-progressbar-value {
        border-radius: 0;
      }
    }
  }
}
