<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LEARNWEB_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{9}:%line - %msg%n</Property>
        <Property name="LEARNWEB_LOG_PATH">${sys:catalina.home:-.}/logs/${web:contextPath:-}learnweb</Property>
        <Property name="LEARNWEB_MAIL_SUBJECT">[Log4J][${web:contextPath:-console}] Error detected on Learnweb</Property>
        <Property name="LEARNWEB_MAIL_LOGLEVEL">OFF</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="file" fileName="${env:LEARNWEB_LOG_PATH}.log" filePattern="${env:LEARNWEB_LOG_PATH}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <SMTP name="email" smtpHost="l3s.de" bufferSize="10" from="no-reply@l3s.de" to="kemkes@l3s.de,astappiev@l3s.de" subject="${env:LEARNWEB_MAIL_SUBJECT}">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="${env:LEARNWEB_MAIL_LOGLEVEL}" onMatch="NEUTRAL" onMismatch="DENY"/>
                <!-- Rate is a number of events per second, current value is 2 messages per 1 hour (1/60/60 * maxBurst) -->
                <BurstFilter level="OFF" rate="0.00056" maxBurst="2"/>
            </Filters>
        </SMTP>

        <Sentry name="Sentry">
            <Filters>
                <ThresholdFilter level="${env:LEARNWEB_MAIL_LOGLEVEL}" onMatch="NEUTRAL" onMismatch="DENY"/>
                <!-- Rate is a number of events per second, current value is 10 messages per 1 hour (1/60/60 * maxBurst) -->
                <BurstFilter level="OFF" rate="0.00056" maxBurst="10"/>
            </Filters>
        </Sentry>
    </Appenders>

    <Loggers>
        <Logger name="org.apache" level="FATAL"/>
        <Logger name="org.hibernate.validator" level="FATAL"/>
        <Logger name="solr.client" level="FATAL"/>
        <Logger name="org.jboss.weld" level="WARN"/>
        <Logger name="net.bramp.ffmpeg" level="INFO"/>

        <Root level="DEBUG">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <appender-ref ref="email"/>
            <appender-ref ref="Sentry" level="WARN"/>
        </Root>
    </Loggers>
</Configuration>
