<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core">
    <Properties>
        <Property name="LEARNWEB_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{9}:%line - %msg%n</Property>
        <Property name="LEARNWEB_LOG_PATH">${sys:catalina.home:-.}/logs/learnweb2</Property>
        <Property name="LEARNWEB_MAIL_SUBJECT">[Log4J] Error detected on LearnWeb V2</Property>
        <Property name="LEARNWEB_MAIL_LOGLEVEL">OFF</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="file" fileName="${env:LEARNWEB_LOG_PATH}.log" filePattern="${env:LEARNWEB_LOG_PATH}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <SMTP name="email" subject="${env:LEARNWEB_MAIL_SUBJECT}" to="astappiev@l3s.de,kemkes@l3s.de"
              from="no-reply@l3s.de" smtpHost="l3s.de" smtpPort="587" bufferSize="10">
            <PatternLayout pattern="${LEARNWEB_LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="${env:LEARNWEB_MAIL_LOGLEVEL}" onMatch="NEUTRAL" onMismatch="DENY"/>
                <!-- Rate is a number of events per second, current value is 2 messages per 1 hour (1/60/60 * maxBurst) -->
                <BurstFilter level="OFF" rate="0.00056" maxBurst="2"/>
            </Filters>
        </SMTP>
    </Appenders>

    <Loggers>
        <Logger name="org.apache" level="FATAL"/>
        <Logger name="org.hibernate.validator" level="FATAL"/>
        <Logger name="solr.client" level="FATAL"/>
        <Logger name="org.eclipse.jetty" level="WARN"/>
        <Logger name="org.jboss.weld" level="WARN"/>
        <Logger name="net.bramp.ffmpeg" level="INFO"/>
        <Logger name="de.l3s.learnweb.resource.ResourceMetadataExtractor" level="INFO"/>

        <Root level="DEBUG">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <appender-ref ref="email"/>
        </Root>
    </Loggers>
</Configuration>
