<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{9}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="300MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="${catalina.home}/logs/learnweb.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{2}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- SMTPAppender for email error digest-->
    <appender name="email" class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="1024"/>
        <param name="SMTPHost" value="l3s.de"/>
        <param name="From" value="no-reply@l3s.de"/>

        <param name="To" value="kemkes@l3s.de,astappiev@l3s.de"/>
        <param name="Subject" value="[log4J] Error detected on LearnWeb V2"/>

        <param name="evaluatorClass" value="de.l3s.util.CustomEvaluator"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{9}:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <logger name="org.apache">
        <level value="FATAL"/>
    </logger>
    <logger name="org.hibernate.validator">
        <level value="FATAL"/>
    </logger>
    <logger name="solr.client">
        <level value="FATAL"/>
    </logger>
    <logger name="org.jboss.weld">
        <level value="WARN"/>
    </logger>
    <logger name="net.bramp.ffmpeg">
        <level value="INFO"/>
    </logger>

    <logger name="de.l3s.learnweb.resource.ResourceMetadataExtractor">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="email"/>
    </root>

</log4j:configuration>