*{
	margin:0;
}
body {
	min-width:320px;
	font-family:sans-serif;
	font-size:30px;
	min-height:100%;
}
header{
	position:fixed;
	top:0;
	width:100%;
}
header div a{
	color:#FFFFFF;
	font-size:15px;
	font-weight:bolder;
}

/* top bar */

#firstbar{
	background-color:#489a83;
	width:100%;
	height:50px;
	z-index:5;
}
#LearnWebLogo{
	cursor:pointer;
	float:left;
	width:200px;
	height:50px;
}
#searchfield{
	float:left;
	margin-top:0.5em;
	margin-left:2em;
	padding:0 0.5em;
	height:60%;
	font-size:18px;
	border:none;
	width:400px;
}
#searchbutton{
	cursor:pointer;
	background:url(search.png) no-repeat scroll center #7c7c7c;
	float:left;
	margin-top:0.5em;
    border:none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
 	height:60%;
 	width:2em;
 	font-size:18px;
}
#searchbutton:hover{
	background-color:#a4a4a4;
}
#informationonscreen{
	cursor:pointer;
	float:right;
    margin-right:0.5em;
    margin-top:0.32em;
    border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
}
#informationonscreen:hover{
	background-color:#74beaa;
}
.language{
	background-color:#489a83;
    color:#FFFFFF;
	text-align:left;
}
.language ul{
	float:right;
	padding:0px;
}
.language ul:after{
	clear:both;
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
.language ul li{
	float:left;
	line-height:15px;
    list-style:outside none none;
}
.language ul li a{
	display:block;
}
.language ul li:hover > ul{
	visibility:visible;
}
.language ul li ul{
   	background-color:#489a83;
    display:inline;
    visibility:hidden;
    margin-right:-1em;
    width:110px;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.language ul li ul li{
	float:none;
}
.language ul li ul li a:hover{
	background-color:#74beaa;
}
.language ul li ul li a{
	text-decoration:none;
	padding-bottom:1em;
    padding-left:0.5em;
    padding-top:1em;
	border-radius:10px;
}
.active{
	display:block;
	float:right;
	margin-right:0.5em;
    margin-top:0.8em;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
}
.non-active{
	display:none;
}
#logoutbutton:hover, #loginbutton:hover{
	background-color:#74beaa;
}
#logoutbutton{
	display:none;
	border:1px solid #FFFFFF;
	border-radius:5px;
	padding:2px;
	float:right;
	margin-right:0.5em;
    margin-top:0.7em;
}
#loginbutton{
	display:block;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	line-height:50px;
	padding:0 1em;
	float:right;
	margin-right:0.5em;
	text-decoration:none;
}

/* menu top bar */

.userbar ul {
	float:right;
    margin-top:-1.7em;
    padding:0px;
}
.userbar ul:after {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.userbar ul li {
	border-left:1px solid #FFFFFF;
	line-height:50px;
    list-style:none;
    float:left;
}
.userbar ul li:last-child{
	border-right:1px solid #FFFFFF;
} 
.userbar ul li a {
    text-decoration:none;
    display:block;
    padding-right:2em;
    padding-left:2em;
}
.userbar ul li a:hover{
	background-color:#74beaa;
}
.userbar ul li:hover > ul {
    visibility:visible;
}
.userbar ul li ul{
	position:absolute;
	right:6em;
	margin-left:0px;
    margin-top:0px;
    padding:1px;
    text-align:left;
    display:inline;
    visibility:hidden;
    background-color:#489a83;
    width:170px;
    border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.userbar ul li ul li{
	border-left:0px;
	border-right:0px;
	padding-bottom:1.5px;
    padding-top:1.5px;
	line-height:15px;
    float: none;
}
.userbar ul li ul li a{
	border-right:0px;
	border-left:0px;
	margin-left:0.5em;
	margin-right:0.5em;
	padding-left:0.5em;
}
.userbar ul li ul li a:hover{
	background-color:#74beaa;
	border-radius:5px;
}
.userbar ul li ul li:first-child{
	margin-top:0.5em;
}
.userbar ul li ul li:last-child{
	border-right:0px;
}
#menupoint{
    color:#FFFFFF;
    background-color:#616161;
    font-size:15px;
    font-weight:bolder;
    border: 1px solid #000000;
    border-radius:5px;
   	margin-right:0.5em;
   	margin-left:0.5em;
   	padding-left:0.5em;
}
.link{
	padding:0.5em;
}
.menubutton, #moremyresources, #moreprofile, #moremygroups, #logout, #login, #activitystream{
	display:none;
}

/* bottom bar */

#secondbar{
	background-color:#616161;
	width:100%;
	height:20px;
}
#backtogroup{
	float:left;
	margin-left:0.5em;
	text-decoration:none;
	font-weight:normal;
}
#backtogroup:hover{
	color:#000000;
}
#sourcetype{
	float:left;
	margin-top:-0.45em;
	margin-left:5.44em;
}
.resourcestype{
	text-decoration:none;
	color:#489a83;
	padding-right:0.5em;
}
.resourcestype:hover{
	color:#FFFFFF;
}

/* section */

#text{
	margin-top:5em;
	text-align:left;
}