@media screen and (max-width: 1460px){
	#moreprofile{
		display:block;
	}
	#profile{
		display:none;
	}
}

@media screen and (max-width: 1360px){
	#moremygroups{
		display:block;
	}
	#mygroups{
		display:none;
	}
}

@media screen and (max-width: 1220px){
	#moremyresources{
		display:block;
	}
	#myresources{
		display:none;
	}
}

@media screen and (max-width: 1050px){
	#searchfield{
		margin-left:0.5em;
		width:20em;
	}
	#backtogroup{
		margin-right:9em;
	}
	#sourcetype{
		margin-left:0em;
	}
}

@media screen and (max-width: 980px){
	#searchfield{
		width:15em;
	}
}

@media screen and (max-width: 880px){
	#moreprofile, #moremygroups, #moremyresources{
		display:none;
	}
	#profile, #mygroups, #myresources{
		display:block;
	}
	#searchfield{
		margin-left:0.5em;
		width:15em;
	}
	#backtogroup{
		margin-left:0.5em;
	}
	#sourcetype{
		margin-left:3em;
	}
	.resourcestype:last-child{
		display:none;
	}
	#text{
		margin-top:8em;
	}
	.menubutton{
		display:block;
		float:right;
		margin-right:0.5em;
		margin-top:0.7em;
		border:1px solid #FFFFFF;
		border-radius:5px;
		padding:2px;
		cursor:pointer;
		background-color:#489a83;
		color:#FFFFFF;
		height:23px;
		font-size:15px;
		font-weight:bolder;
		text-align:center;
		z-index:2;
	}
	.userbar{
		background-color:#489a83;
		text-align:center;
		display:none;
		height:100%;
	}
	.userbar ul {
		float:none;
		margin:0px;
		padding:0px;
    	position:relative;
    	left:0em;
    	top:0em;
	}
	.userbar-expanded{
		display:block;
		background-color:#489a83;
		height:330%;
	}
	.userbar ul li{
		padding-bottom:0.1em;
    	float:none;
    	line-height:15px;
    	border-left:0px;
	}
	.userbar ul li a {
		padding-top:0.5em;
		padding-bottom:0.5em;
	}
	.userbar ul li:last-child{
		display:none;
		border-right:0px;
	} 
	.userbar ul li ul{
		display:none;
	}
	#backtogroup{
		margin-right:3em;
	}
	#activitystream{
		display:block;
	}
	.language ul li ul{
		position:absolute;
		right:4.3em;
		top:1.25em;
    	border:1px solid #FFFFFF;
    	border-top:none;
    	z-index:2;
	}
}

@media screen and (max-width: 790px){
	#searchfield{
		width:10em;
	}
	#sourcetype{
		margin-left:3em;
	}
}

@media screen and (max-width: 700px){
	.language{
		display:none;
	}
	.menubutton{
		margin-right:0.5em;
	}
	.resourcestype:last-child{
		display:none;
	}
}

@media screen and (max-width: 660px){
	#informationonscreen{
		display:none;
	}
	.menubutton{
		margin-right:1.5em;
	}
}

@media screen and (max-width: 625px){
	#logoutbutton, #loginbutton{
		display:none;
	}
	.menubutton{
		margin-right:0.5em;
	}
	#login{
		display:block;
	}
}

@media screen and (max-width: 510px){
	#LearnWebLogo{
		display:none;
	}
	#searchfield{
		margin-left:1em;
		width:15em;
	}
	#backtogroup{
		margin-right:0;
	}
	#secondbar{
		height:15px;
	}
	.menubutton{
		top:0.5em;
	}
	.resourcestype{
		font-size:13px;
		padding-right:0.8em;
	}
	#sourcetype{
		float:right;
		margin-right:1em;
		margin-left:0em;
		margin-top:-0.55em;
	}
	#backtogroup{
		font-size:13px;
	}
}

@media screen and (max-width: 410px){
	#searchfield{
		width:10em;
	}
	#backtogroup{
		display:none;
	}
	#sourcetype{
		float:left;
		margin-left:0.5em;
		margin-right:0em;
	}
}

@media screen and (max-width: 330px){
	#searchfield{
		width:8em;
	}
}