/*both pages*/
#forum_post_table tr td:first-child a, 
#forum_table tr td:first-child a,
#forum_table tr td:first-child +td a,
#forum_table tr td:last-child a{
	font-weight:bold;
	color:#489a83;
}
#center_header_form a{
	padding:6px 12px;
}

#new_topic, 
#reply{
	margin-top:2rem;
	margin-right:5px;
}
.grey_border{
	margin-bottom:5rem;
	margin-right:5px;
	overflow:auto;
}
.save_button{
	margin:1rem 0;
}
form{
	margin-right:5px;
}

/*change primefaces ui*/
.ui-selectonemenu .ui-selectonemenu-label, 
.ui-selectonemenu .ui-selectonemenu-trigger,
.ui-selectonemenu-item .ui-selectonemenu-list-item:hover,
.ui-selectonemenu-item .ui-selectonemenu-list-item:focus{
	border:none !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item{
	border:1px solid #ffffff;
}
.ui-shadow{
	box-shadow:none;
}
.ui-state-active, .ui-state-highlight{
	background-image:none !important;
	background-color:#c4c4c4 !important;
	color:#000000 !important;
	text-shadow:none !important;
}
.ui-state-hover, .ui-state-focus{
	border:none;
}
.ui-corner-right{
	border-radius:0;
	border-right: 1px solid #a8a8a8;
}

/*forum_page*/
#forum_table tr td{
	height:25px;
}
#forum_table tr th:first-child{
	width:58%;
}
#forum_table tr th:first-child + td + td{
	width:6%; 
	white-space:nowrap;
}
#forum_table tr th:first-child + td + td + td {
	width:7%; 
	white-space:nowrap;
}
#forum_table tr th:last-child{
	width:10%;
}
#new_topic_table,#answer_table{
	font-size:1.5rem;
	margin-bottom:1rem;
	width:100%;
	min-width:300px !important; /* doesn't work?!*/
}
#new_topic_table tr td:first-child,
#new_topic_table tr td:first-child + td + td, 
#answer_table tr td:first-child{
	padding-right:20px;
}
#post_topic, #post_message{
	width:100%;
}
#post_topic{
	box-sizing:border-box;
}
.category{
	width:50% !important;
}
.category input{
	width:95% !important;
}

/*forum_post_page*/
#forum_post_table tr th:first-child,
#forum_post_table tr td:first-child{
	width:13%;
	min-width:100px !important; /* doesn't work?!*/
}
#forum_post_table tr td:first-child{
	vertical-align: top;
}
#forum_post_table tr td:first-child div{
	margin-bottom:1rem;
}
#forum_post_table tr td:last-child{
	vertical-align:top;
	padding-bottom:1rem;
}
.post_information_div_top{
	border-bottom:1px solid #a8a8a8; 
	margin:1rem 0; 
	padding-bottom:1rem;
}
.post_information_div_bottom{
	border-top:1px solid #a8a8a8;
	padding-top:1rem;
	vertical-align:bottom;
}

/*quote, edit, clear button at the moment not show in the html*/
.post_information_div input{
	margin-top:-0.8rem;
	padding:2px 8px;
	margin-left:5px;
}
