/*both pages*/
#forum_post_table tr td:first-child a, 
#forum_table tr td:first-child a,
#forum_table tr td:first-child +td a,
#forum_table tr td:last-child a{
	font-weight:bold;
	color:#489a83;
}
#center_header_form a{
	padding:6px 12px;
}
#group_header ul{
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}
#group_header{
	margin-bottom:1rem;
}
#new_topic, #reply{
	margin-top:2rem;
	margin-right:5px;
}
.grey_border{
	margin-bottom:5rem;
	margin-right:5px;
}
.save_button{
	margin:1rem 0;
}
form{
	margin-right:5px;
}

/*change primefaces ui*/
.ui-selectonemenu .ui-selectonemenu-label, 
.ui-selectonemenu .ui-selectonemenu-trigger,
.ui-selectonemenu-item .ui-selectonemenu-list-item:hover,
.ui-selectonemenu-item .ui-selectonemenu-list-item:focus{
	border:none !important;
}
.ui-shadow{
	box-shadow:none;
}
.ui-state-highlight{
	background-image:none !important;
	background-color:#c4c4c4 !important;
	color:#000000 !important;
	text-shadow:none !important;
}
.ui-state-hover, .ui-state-focus{
	border:none !important;
}

/*forum_page*/
#forum_table tr td{
	height:25px;
}
#forum_table tr th:first-child{
	width:58%;
}
#forum_table tr th:first-child + td + td{
	width:6%; 
	white-space:nowrap;
}
#forum_table tr th:first-child + td + td + td {
	width:7%; 
	white-space:nowrap;
}
#forum_table tr th:last-child{
	width:10%;
}
#new_topic_table,#category_table{
	font-size:1.5rem;
	margin-bottom:1rem;
}
#new_topic_table tr td:first-child, #new_topic_table tr td:first-child + td + td, #category_table tr td:first-child{
	padding-right:20px;
}
#new_topic_table input:first-child{
	height:20px;
	padding-left:5px;
	width:504px !important;
}
.category{
	width:100% !important;
}

/*forum_post_page*/
#forum_post_table tr th:first-child{
	width:13%;
	min-width:100px !important;
}
#forum_post_table tr td:first-child div{
	margin-bottom:1rem;
}
#forum_post_table tr td:last-child{
	vertical-align: top;
	padding-bottom:1rem;
}
#forum_post_table tr td:last-child div{
	border-bottom:1px solid #a8a8a8; 
	margin:1rem 0; 
	padding-bottom:1rem;
}
#forum_post_table tr td:last-child div input{
	margin-top:-0.5rem;
	padding:2px 8px;
}
