.fileupload-minimal {
  .ui-fileupload-buttonbar {
    background: inherit;
  }

  .ui-fileupload-content {
    display: none;
  }
}

.moderator-button-outline {
  color: $themePrimaryColor !important;
  border: 1px solid $themePrimaryColor!important;
  background: $themeElementTextColor !important;
  &:hover {
    color: $themePrimaryColorDarker !important;
    border: 1px solid $themePrimaryColorDarker!important;
    background: $themeElementTextColor !important;

    .ui-button-icon-left {
      color: $themePrimaryColorDarker;
    }
  }
}
