.form-group {
  margin-bottom: $form-group-margin-bottom;

  > p {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  > div,
  > span,
  input,
  textarea,
  select {
    display: block !important;
    width: 100% !important;
  }
}

.col-form-label {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
  margin-bottom: 0; // Override the `<label>/<legend>` default
}
