.ui-lwmenu {
  padding: 0;
  width: auto;
  list-style-type: none;

  .ui-lwmenu-panel {
    .ui-lwmenu-panel-header {
      cursor: pointer;
      position: relative;
      background-color: $primaryColor;
      font-weight: 700;
      margin-top: 4px;
      @include transition(background-color .3s);

      a {
        display: block;
        padding: .5em .5em .5em 2.2em;
      }

      .ui-icon {
        position: absolute;
        top: 50%;
        margin-top: -7px;
        margin-left: 2px;
      }

      > span,
      > a {
        color: $primaryTextColor;
      }

      .ui-icon-triangle-1-e {
        @include icon_override("\f105");
      }

      &.ui-state-hover {
        background-color: $primaryColorDarker;
      }

      &.ui-state-active {
        background-color: $primaryColorDarker;
      }

      &.ui-state-disabled {
        cursor: default;

        a {
          cursor: default;
        }
      }
    }

    &.ui-state-expand {
      > .ui-lwmenu-panel-header > .ui-icon:before {
        content: "\f107";
      }

      > .ui-lwmenu-panel-content {
        display: block;
      }
    }
  }

  .ui-menu-parent {
    .ui-menu-list {
      position: static;
      margin-left: 10px;
    }

    > .ui-menuitem-link > .ui-icon {
      left: 1.5em;
    }

    .ui-menuitem-link-hasicon {
      padding-left: 2.8em;
    }

    .ui-lwmenu-icon.ui-icon {
      left: .5em;
    }

    .ui-menu-parent {
      .ui-icon {
        min-width: 18px;
      }
    }

    &.ui-state-expand {
      > .ui-menuitem-link > .ui-lwmenu-icon:before {
        content: "\f0d7";
      }

      > .ui-menu-list {
        display: block;
      }
    }

    &.ui-state-empty {
      > .ui-menuitem-link > .ui-lwmenu-icon {
        visibility: hidden;
      }
    }
  }

  .ui-icon {
    right: auto;
    top: 0;
    bottom: 0;
    left: .5em;
    position: static;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    min-width: 22px;
    height: 28px;
    margin: auto 0;
  }

  .ui-menuitem {
    margin: 1px 0;
    padding: 0;

    .ui-menuitem-link {
      display: block;
      outline: 0;
      text-decoration: none;
      font-weight: 400;
      border: solid 1px transparent;
      line-height: 16px;
      cursor: pointer;
      position: relative;
      color: $menuitemTextColor;
      border-left: 4px solid transparent;
      padding: 0 8px 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .ui-menuitem-icon {
        color: #5b616a;
      }

      &.ui-state-hover {
        background-color: $menuitemHoverBgColor;
        color: $menuitemHoverTextColor;
        border-left-color: #4AA564;

        .ui-menuitem-icon {
          color: #fff;
        }
      }

      .ui-menuitem-text {
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 6px 0 6px 2px;
      }
    }
  }
}