.imageupload-button{
  display: flex;
  .ui-fileupload-buttonbar{
    width: fit-content;
    padding: 0!important;
  }
  .ui-button{
    margin-right: 0!important;
  }
  .ui-fileupload-content{
    width: 100%;
  }
}