.request-tables { /* TODO: why it should be different from other tables? */
  background-color: transparent !important;

  .ui-tabs-nav {
    background: $themeElementTextColor;
    width: fit-content;
  }

  .ui-tabs-panels {
    background: $themeElementTextColor;
  }
}