.resource-log-snippet {
  display: flex;
  flex-wrap: nowrap;
  font-size: $font-size-sm;

  .resource-preview {
    flex: 0 0 7rem;
  }

  .resource-details {
    flex: 1 1 auto;
  }
}

.res-t-icon {
  @include icon-simple('\f15b');

  &.t-text {
    @include icon-simple('\f0f6');
  }

  &.t-video {
    @include icon-simple('\f1c8');
  }

  &.t-image {
    @include icon-simple('\f1c5');
  }

  &.t-audio {
    @include icon-simple('\f1c7');
  }

  &.t-pdf {
    @include icon-simple('\f1c1');
  }

  &.t-website {
    @include icon-simple('\f0ac');
  }

  &.t-spreadsheet {
    @include icon-simple('\f1c3');
  }

  &.t-presentation {
    @include icon-simple('\f1c4');
  }

  &.t-document {
    @include icon-simple('\f1c2');
  }

  &.t-survey {
    @include icon-simple('\f19d');
  }

  &.t-glossary2 {
    @include icon-simple('\f02d');
  }
}

img.res-image-simple {
  max-height: 100%;
  max-width: 100%;
  border-radius: $btn-border-radius;
  animation: fadein $transition-duration;
  border: $border-width solid $themeSidebarDividerColor;
  transition: max-height $transition-duration ease, max-width $transition-duration ease;
  transform-origin: center;
}

ul.res-breadcrumbs {
  padding: 0 1rem;
  margin-bottom: 0;
  list-style: none;
  background: $gray-100;
  border: $border-width solid $gray-200;
  border-left: 0;
  border-radius: 0;

  li {
    display: inline-block;
    position: relative;
    border: $border-width solid transparent;

    &.ui-droppable-active {
      background: lighten($themePrimaryAltColor, 30%);
      border-color: $themePrimaryAltColor;
      border-style: dashed;
    }

    &.ui-droppable-hover {
      border-color: $themePrimaryAltColorDarker;
      background: $themePrimaryAltColorDarker;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 0.2rem 0.5rem;

      &:hover {
        background-color: $gray-300 !important;
      }
    }

    &:last-child a {
      cursor: default;
      pointer-events: none;

      &:hover {
        background-color: transparent !important;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;

      &::after {
        content: '\f105';
        position: absolute;
        display: inline-block;
        font-family: FontAwesome, sans-serif;
        font-size: 1.5em;
        top: -0.1em;
        right: -0.75em;
      }
    }
  }
}

ul.res-filters {
  padding: 0 1rem;
  margin-bottom: 0;
  list-style: none;

  > li {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    .filter-title {
      cursor: pointer;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      line-height: 2;
    }

    &.active,
    &:hover {
      background-color: $gray-400;
    }

    &:hover .filter-sub-bar {
      display: block;
    }

    &.disabled {
      display: none !important;
    }
  }

  .text-truncate {
    max-width: 200px;
  }

  .filter-sub-bar {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    left: 0;
    z-index: 10;
    border: $border-width solid $gray-400;

    li {
      background: $gray-200;

      a {
        display: block;
        padding: 0.5rem;
        color: $black !important;
        text-decoration: none;
      }

      &.active,
      &:hover {
        background: $gray-400;
      }
    }
  }

  .search-box {
    // it is used when search started
    &.active {
      .filter-title {
        display: none;
      }

      .res-search-form {
        display: block;
      }
    }
  }

  .res-search-form {
    padding: 0.35rem 0.5rem;
    white-space: nowrap;
    display: none;

    input {
      border: $border-width solid $dark;
      border-right: 0;
      padding: 2px;
    }

    button {
      border: $border-width solid $dark;
      border-left: 0;
      background: none;
      border-radius: 0;
      width: 2em;

      .ui-icon {
        margin-left: -0.625rem;
        margin-top: -0.5rem;
      }

      .ui-button-text {
        padding: 1px;
        line-height: 1.5;
      }

      &:hover,
      &:focus {
        background-color: $gray-200 !important;
      }
    }
  }

  .clear-filters {
    &:hover {
      background: none;

      a {
        color: $primary !important;
      }
    }
  }
}

.res-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: $grid-gutter-width $grid-gutter-width / 2;
  border-bottom: $border-width solid $themeSidebarDividerColor;

  &:hover {
    background: $gray-200;
  }

  .res-col {
    align-self: center;
    padding: 0 $grid-gutter-width / 2;
  }

  .res-col-type {
    flex: 0 0 4rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }

  .res-col-preview {
    flex: 0 0 10rem;
    max-height: 10rem;
    display: flex;
  }

  .res-col-description {
    flex: 1 1 auto;
    //align-self: start;
  }
}

.res-empty-text {
  display: flex;
  padding: $grid-gutter-width / 2;
}

.res-container {
  margin: $grid-gutter-width / 2;
}

.res-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  &:empty {
    display: none;
  }

  .res-item {
    margin: $grid-gutter-width / 2;
  }
}

.res-block {
  display: block;
  position: relative;
  color: $body-color;
  background: $gray-200;
  box-shadow: $box-shadow-sm;
  border: $border-width solid $gray-200;

  .res-selector {
    border: none;
    background: none;
    outline: none;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    overflow: visible;
    padding: 0.5rem;
    opacity: 0;

    &::before {
      @include icon('\f05d');

      width: 2.5rem;
      height: 2.5rem;
      font-size: 2.5rem;
      opacity: 0.6;
      color: rgba(0, 0, 0, 0.4);
      text-align: center;
      border-radius: 50%;
      background: $white content-box;
      transition: transform 333ms ease, opacity 333ms ease;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0.6);
      z-index: 100;
    }
  }

  .res-bl-preview {
    padding-top: 75%; // 4:3 Aspect Ratio
    position: relative;
    border-bottom: $border-width solid $gray-200;

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #232f40;
      transition: opacity 333ms ease;
    }

    .res-bl-preview-wrap {
      transition: opacity $transition-duration ease-in-out;
      background-color: $white;
      overflow: hidden;
      position: absolute;
      text-align: center;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      .res-bl-preview-image {
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        //noinspection Stylelint
        object-fit: cover;
        pointer-events: none;
        @include user-select(none);
      }
    }
  }

  .res-bl-details {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .res-bl-icon {
      flex: 0 0 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-lg;
      color: $gray-600;
      background: $gray-300;
    }

    .res-bl-desc {
      flex: 1 1 auto;
      align-self: center;
      padding: 0 0.5rem;
      overflow: hidden;

      .res-bl-title,
      .res-bl-author {
        display: block;
        @include user-select(none);
        line-height: 1.25;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .res-bl-author {
        color: $gray-600;
        font-size: $font-size-sm;
      }
    }
  }

  .res-highlight-select & { // when one of the resources selected, highlight all buttons
    .res-selector {
      opacity: 1;

      &::before {
        transform: scale(0.8);
      }
    }
  }

  &:hover {
    color: $themeElementTextColor;
    background: $themePrimaryColor;
    border-color: $themePrimaryColor;

    .res-selector {
      opacity: 1;

      &::before {
        transform: scale(0.8);
      }
    }

    .res-bl-preview {
      border-color: $themePrimaryColor;

      &::after {
        opacity: 0.25;
      }
    }

    .res-bl-icon {
      color: $themePrimaryColor;
    }

    .res-bl-author {
      color: $themeElementTextColor !important;
    }
  }

  .ui-selecting &, // when the lasso includes this element
  .ui-selected & { // after a successful selection
    color: $themeElementTextColor;
    background: $themePrimaryDarkerAlt;
    border-color: $themePrimaryDarkerAlt;

    .res-selector {
      opacity: 1;

      &::before {
        opacity: 1;
        content: '\f058';
        transform: scale(0.7);
        color: $themePrimaryColor;
      }
    }

    .res-bl-preview {
      border-color: $themePrimaryDarkerAlt;

      &::after {
        opacity: 0.25;
        background: $themePrimaryColor;
      }
    }

    .res-bl-icon {
      color: $themePrimaryDarkerAlt;
    }

    .res-bl-author {
      color: $themeElementTextColor !important;
    }
  }

  .ui-draggable-dragging & { // While dragging the element
    opacity: 0.5;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none;
  }

  .ui-droppable-active & { // When a draggable that can be dropped on this dropppable is activated
    border-color: $themePrimaryAltColor;
    border-style: dashed;

    .res-bl-icon {
      background: lighten($themePrimaryAltColor, 30%);
    }
  }

  .ui-droppable-hover & { // When dragging a draggable over this droppable
    color: $themeElementTextColor;
    background: $themePrimaryAltColorDarker;
    border-color: $themePrimaryAltColorDarker;

    .res-bl-preview {
      border-color: $themePrimaryAltColorDarker;
    }

    .res-bl-icon {
      color: $themeElementTextColor;
      background: $themePrimaryAltColorDarker;
    }

    .res-bl-author {
      color: $themeElementTextColor !important;
    }
  }

  .ui-draggable-helper & {
    background-color: $themePrimaryColor;
    color: $white;
    box-shadow: $box-shadow;
    opacity: 1;

    .res-bl-preview {
      display: none;
    }
  }
}

.resources-panel {
  > div {
    background-color: $contentBgColor;
  }

  @include media-breakpoint-up(md) {
    .col-folders {
      flex: 0 0 auto;
      width: 15rem;

      .ui-panel-content {
        border-right: 0;
      }
    }

    .col-resources {
      flex: 1 0 auto;
      width: 0; // magic
    }
  }

  .ui-panel .ui-panel-content {
    border-top: 0;
  }

  .ui-toolbar {
    border: 0;
    padding: 0.1875rem 1rem;
    background: $themePrimaryColor;
    color: $themeElementTextColor;

    .ui-separator {
      pointer-events: none;
    }

    .ui-toolbar-group-left {
      width: 50%;
    }

    .ui-toolbar-group-right {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      .ui-button {
        background-color: $themePrimaryAltColor;
        border: $border-width solid $themePrimaryAltColor;

        &.ui-state-hover,
        &.ui-state-focus {
          background-color: $themePrimaryAltColorDarker;
          border-color: $themePrimaryAltColorDarker;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.ui-selectable-helper { // The 'lasso' element used to visualize the ongoing selection.
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border: $border-width dotted $black;
  pointer-events: none;
  z-index: 99999 !important;
}

.resource-preview {
  iframe {
    width: 100%;
    min-height: 25rem;
  }

  .preview-wrapper {
    display: block;
    box-shadow: $box-shadow;
    border: $border-width solid $border-color;
    margin-bottom: 1rem;
  }
}

.myresource-listview { // TODO: check or remove
  padding-right: 7px;
  display: block;

  .res-item {
    display: none;

    @media screen and (max-width: 1050px) {
      &:nth-child(1),
      &:nth-child(2) {
        display: inline-block;
      }
    }

    @media screen and (min-width: 1051px) and (max-width: 1360px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline-block;
      }
    }

    @media screen and (min-width: 1360px) and (max-width: 1700px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: inline-block;
      }
    }

    @media screen and (min-width: 1700px) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: inline-block;
      }
    }
  }
}

