.resource-log-snippet {
  display: flex;
  flex-wrap: nowrap;
  font-size: $font-size-sm;

  .resource-preview {
    flex: 0 0 7rem;
  }

  .resource-details {
    flex: 1 1 auto;
  }
}

.res-t-icon {
  @include icon-simple("\f15b");

  &.t-text { @include icon-simple("\f0f6"); }
  &.t-video { @include icon-simple("\f1c8"); }
  &.t-image { @include icon-simple("\f1c5"); }
  &.t-audio { @include icon-simple("\f1c7"); }
  &.t-pdf { @include icon-simple("\f1c1"); }
  &.t-website { @include icon-simple("\f0ac"); }
  &.t-spreadsheet { @include icon-simple("\f1c3"); }
  &.t-presentation { @include icon-simple("\f1c4"); }
  &.t-document { @include icon-simple("\f1c2"); }
  &.t-survey { @include icon-simple("\f19d"); }
  &.t-glossary2 { @include icon-simple("\f02d"); }
}

img.res-image-simple {
  max-height: 100%;
  max-width: 100%;
  border-radius: $btn-border-radius;
  animation: fadein $transition-duration;
  box-sizing: border-box;
  border: 1px solid $themeSidebarDividerColor;
  transition: max-height $transition-duration ease, max-width $transition-duration ease;
  transform-origin: center;
}

ul.res-breadcrumbs {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
    position: relative;

    a {
      display: block;
      text-decoration: none;
      padding: 0.5rem;

      &:hover {
        background-color: $gray-300 !important;
      }
    }

    &:first-child a {
      padding-left: 1rem;
    }

    &:last-child a {
      padding-right: 1rem;
      cursor: default;
      pointer-events: none;

      &:hover {
        background-color: transparent !important;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;

      &:after {
        content: "\f105";
        position: absolute;
        display: inline-block;
        font-family: FontAwesome;
        font-size: 2em;
        top: -0.1em;
        right: -0.5em;
      }
    }
  }
}

ul.res-filters {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  > li {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    .filter-title {
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
    }

    &:first-child .filter-title {
      padding-left: 1rem;
    }

    &:last-child .filter-title {
      padding-right: 1rem;
    }

    &.active,
    &:hover {
      background-color: $gray-400;
    }

    &:hover .filter-sub-bar {
      display: block;
    }

    &.disabled {
      display: none !important;
    }
  }

  .text-truncate {
    max-width: 200px;
  }

  .filter-sub-bar {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    left: 0;
    z-index: 10;
    border: solid 1px $gray-400;

    li {
      background: $gray-200;

      a {
        display: block;
        padding: 0.5rem;
        color: $black !important;
        text-decoration: none;
      }

      &.active,
      &:hover {
        background: $gray-400;
      }
    }
  }

  .search-box {
    &.active {
      .filter-title {
        display: none;
      }

      .res-search-form {
        display: block;
      }
    }
  }

  .res-search-form {
    white-space: nowrap;
    display: none;

    input {
      border: 1px solid $dark;
      border-right: 0;
    }

    button {
      border: 1px solid $dark;
      border-left: 0;
      background: none;
      border-radius: 0;
      width: 2em;

      .ui-icon {
        margin-left: -0.625rem;
        margin-top: -0.5rem;
      }

      .ui-button-text {
        padding: 1px;
        line-height: 1.5;
      }

      &:hover,
      &:focus {
        background-color: $gray-200 !important;
      }
    }
  }

  .clear-filters {
    &:hover {
      background: none;

      a {
        color: $primary !important;
      }
    }
  }
}

.res-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid $themeSidebarDividerColor;

  &:hover {
    background: $gray-200;

    .res-col-controls {
      visibility: visible;
    }
  }

  .res-col {
    align-self: center;
    padding: 0 0.5rem;
  }

  .res-col-type {
    flex: 0 0 4rem;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }

  .res-col-preview {
    flex: 0 0 10rem;
    max-height: 10rem;
    display: flex;
  }

  .res-col-description {
    flex: 1 1 auto;
    //align-self: start;
  }

  .res-col-controls {
    flex: 0 0 auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.res-grid {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;

  .res-grid-item {
    padding: 0.5rem;
    width: 50%;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }

    @include media-breakpoint-up(md) {
      width: 33.333%;
    }

    &[data-cq~="min-width:0px"] {
      width: 100%; // 3 columns
    }

    &[data-cq~="min-width:200px"] {
      width: 50%; // 3 columns
    }

    &[data-cq~="min-width:450px"] {
      width: 33.333%; // 3 columns
    }

    &[data-cq~="min-width:600px"] {
      width: 25%; // 4 columns
    }

    &[data-cq~="min-width:800px"] {
      width: 20%; // 5 columns
    }

    &[data-cq~="min-width:1000px"] {
      width: 16.666%; // 6 columns
    }
  }
}

.res-block {
  position: relative;
  color: $body-color;
  background: $gray-200;
  box-shadow: 0 1px 1px 0 $themeSidebarDividerColor;
  cursor: pointer;

  .res-bl-preview {
    padding-top: 75%; // 4:3 Aspect Ratio
    position: relative;

    .res-bl-preview-wrap {
      transition: opacity $transition-duration ease-in-out;
      background-color: $white;
      height: 100%;
      overflow: hidden;
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      top: 0;

      .res-bl-preview-mock {
        position: absolute;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }

      .res-bl-preview-image {
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
      }
    }
  }

  .res-bl-details {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .res-bl-icon {
      flex: 0 0 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-lg;
      color: $gray-600;
      background: $gray-300;
    }

    .res-bl-desc {
      flex: 1 1 auto;
      align-self: center;
      padding: 0 0.5rem;
      overflow: hidden;

      .res-bl-title,
      .res-bl-author {
        display: block;
        user-select: none;
        line-height: 1.25;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .res-bl-author {
        color: $gray-600;
        font-size: $font-size-sm;
      }
    }
  }

  &:hover {
    color: $themeElementTextColor;
    background: $themePrimaryColor;

    .res-bl-icon {
      color: $themePrimaryColor;
    }

    .res-bl-author {
      color: $themeElementTextColor !important;
    }

    .resource-controls {
      visibility: visible;
      opacity: 1;
    }
  }
}

.group-resources-item {
  &.selected, &.ui-selected, &.ui-selecting {
    color: $white;
    background-color: $themePrimaryColor;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }

  &.selected .folder-icon,
  &.ui-selected .folder-icon,
  &.ui-selecting .folder-icon,
  &.ui-draggable-helper .folder-icon,
  &.selected .folder-title,
  &.ui-selected .folder-title,
  &.ui-selecting .folder-title,
  &.ui-draggable-helper .folder-title {
    color: $white;
    background-color: $themePrimaryColor;
  }

  &.ui-draggable-greyscale {
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none;
  }

  &.ui-state-active {
    border: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
  }

  &.ui-state-highlight {
    outline: 2px solid $themePrimaryColor;
  }

  &.ui-draggable-helper {
    background-color: $themePrimaryColor;
    color: $white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    opacity: 1;

    .res-bl-preview {
      display: none;
    }
  }
}

.resource-controls {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  background: rgba($gray-300, 0.75);
  transition: opacity $transition-duration ease-in-out;
  align-items: center;
  justify-content: center;
  line-height: 1.25;

  &.edit-locked {
    background: rgba($red, 0.75);
  }
}

.context-menu {
  border-radius: 0;
  transition: opacity $transition-duration;
  background: $white;
  cursor: default;
  font-size: $font-size-base;
  margin: 0;
  outline: none;
  position: fixed;
  height: auto !important;
  overflow-y: auto;
  padding: 8px 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 2300;
  max-height: 411px;
  display: none;

  .context-menu-item {
    &:not([style*="display: none"]):first-child {
      padding-top: 6px;
    }

    &.divider {
      border-top: 1px solid $gray-200;
    }

    &:hover {
      border-left: 4px solid $gray-600;
      margin-left: 0;
      background-color: $gray-100;
    }

    position: relative;
    color: $gray-800;
    cursor: pointer;
    list-style: none;
    /*padding: 6px 8em 6px 30px;*/
    white-space: nowrap;
    min-width: 160px;
    border: none;
    height: 24px;
    margin: 0 0 0 4px;
    padding: 6px 24px 6px 0;
    display: none;

    .context-menu-item-wrapper {
      margin-left: 4px;
      padding-left: 16px;

      .context-menu-item-icon {
        background-repeat: no-repeat;
        height: 21px;
        left: 3px;
        position: absolute;
        right: auto;
        top: 3px;
        vertical-align: middle;
        width: 21px;
        background-origin: border-box;
        margin-left: 12px;
        margin-top: 2px;
        opacity: .5;
        display: none;
      }
    }
  }
}
