.resource-log-snippet {
  display: flex;
  font-size: $font-size-sm;

  .resource-preview {
    flex: 0 0 5rem;
    padding-top: 0.4rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .resource-details {
    padding-left: 0.75rem;
  }
}

.resource-snippet {
  transition: opacity .2s;
  position: relative;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 3px 1px rgba($themeDarkBgColor, 0.3);
  background: $themePrimaryColor;
  color: $themeElementTextColor;
  max-width: 10rem;

  &:hover {
    background: $themePrimaryDarkest;
  }

  .resource-preview {
    padding-top: 75%;
    position: relative;

    .resource-preview-wrapper {
      .resource-preview-wrapper2 {
        -webkit-transition: opacity 200ms ease-in-out;
        transition: opacity 200ms ease-in-out;
        background-color: $white;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        .resource-preview-block {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        .resource-preview-image {
          display: inline-block;
          height: 100%;
          width: 100%;
          vertical-align: middle;
          object-fit: cover;
        }
      }
    }
  }

  .resource-title {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    width: 100%;

    .resource-title-wrapper {
      height: 100%;
      position: relative;
      white-space: nowrap;

      .resource-title-text {
        padding: 2px 8px 3px;

        .resource-title-name {
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 20px;
          padding-right: 8px;
        }

        .resource-title-summary {
          display: block;
          font-size: 9px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          > span {
            font-weight: bold;
          }
        }
      }
    }

    .resource-title-icon {
      display: none;
      float: left;
      height: 26px;
      margin-left: 10px;
      margin-top: 10px;
      position: relative;
      width: 26px;
    }

    .resource-title-icon-wrapper > img {
      height: $font-size-base;
      width: $font-size-base;
    }
  }
}

img.res-image-simple {
  max-height: 100%;
  max-width: 100%;
  border-radius: $btn-border-radius;
  animation: fadein $transition-duration;
  box-sizing: border-box;
  border: 1px solid $themeSidebarDividerColor;
  transition: max-height .15s ease, max-width .15s ease;
  transform-origin: center;
}

ul.res-breadcrumbs {
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;
    position: relative;

    a {
      display: block;
      text-decoration: none;
      padding: 0.5rem;

      &:hover {
        background-color: $gray-300 !important;
      }
    }

    &:first-child a {
      padding-left: 1rem;
    }

    &:last-child a {
      padding-right: 1rem;
      cursor: default;
      pointer-events: none;

      &:hover {
        background-color: transparent !important;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;

      &:after {
        position: absolute;
        font-family: FontAwesome;
        top: -5px;
        right: -14px;
        content: "\f105";
        display: inline-block;
        font-size: 2rem;
      }
    }
  }
}

ul.res-filters {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  > li {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    .filter-title {
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
    }

    &:first-child .filter-title {
      padding-left: 1rem;
    }

    &:last-child .filter-title {
      padding-right: 1rem;
    }

    &.active,
    &:hover {
      background-color: $gray-400;
    }

    &:hover .filter-sub-bar {
      display: block;
    }

    &.disabled {
      display: none !important;
    }
  }

  .text-truncate {
    max-width: 200px;
  }

  .filter-sub-bar {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    left: 0;
    z-index: 10;
    border: solid 1px $gray-400;

    li {
      background: $gray-200;

      a {
        display: block;
        padding: 0.5rem;
        color: $black !important;
        text-decoration: none;
      }

      &.active,
      &:hover {
        background: $gray-400;
      }
    }
  }

  .search-box {
    &.active {
      .filter-title {
        display: none;
      }

      .res-search-form {
        display: block;
      }
    }
  }

  .res-search-form {
    white-space: nowrap;
    display: none;

    input {
      border: 1px solid $dark;
      border-right: 0;
    }

    button {
      border: 1px solid $dark;
      border-left: 0;
      background: none;
      border-radius: 0;
      width: 2em;

      .ui-icon {
        margin-left: -0.625rem;
        margin-top: -0.5rem;
      }

      .ui-button-text {
        padding: 1px;
        line-height: 1.5;
      }

      &:hover,
      &:focus {
        background-color: $gray-200 !important;
      }
    }
  }

  .clear-filters {
    &:hover {
      background: none;

      a {
        color: $primary !important;
      }
    }
  }
}

.res-container-list {
  .res-item-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid $themeSidebarDividerColor;

    &:hover {
      background: $gray-200;

      .res-col-controls {
        visibility: visible;
      }
    }

    .res-col {
      align-self: center;
      padding: 0 0.5rem;
    }

    .res-col-type {
      flex: 0 0 4rem;

      img {
        max-width: 100%;
      }
    }

    .res-col-preview {
      flex: 0 0 10rem;
      max-height: 10rem;
      display: flex;
    }

    .res-col-description {
      flex: 1 1 auto;
      //align-self: start;
    }

    .res-col-controls {
      flex: 0 0 auto;
      visibility: hidden;
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.res-container-grid {
  .group-resources-item {
    &.selected, &.ui-selected, &.ui-selecting {
      color: $white;
      background-color: $themePrimaryColor;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    }

    &.selected .folder-icon, &.ui-selected .folder-icon, &.ui-selecting .folder-icon, &.ui-draggable-helper .folder-icon, &.selected .folder-title, &.ui-selected .folder-title, &.ui-selecting .folder-title, &.ui-draggable-helper .folder-title {
      color: $white;
      background-color: $themePrimaryColor;
    }

    &.ui-draggable-greyscale {
      -webkit-transition-duration: .15s;
      transition-duration: .15s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      pointer-events: none;
    }

    &.ui-state-active {
      border: 0;
      font-weight: normal;
      text-shadow: none;
      box-shadow: none;
    }

    &.ui-state-highlight {
      outline: 2px solid $themePrimaryColor;
    }

    &.ui-draggable-helper {
      background-color: $themePrimaryColor;
      color: $white;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
      opacity: 1;

      .resource-preview {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1140px) and (max-width: 1399px) {
    .resource-item, .folder-item {
      width: calc(33.333333333333336% - 16px);
      /* three columns */
    }
  }

  @media screen and (min-width: 1400px) and (max-width: 1599px) {
    .resource-item, .folder-item {
      width: calc(25% - 16px);
      /* four columns */
    }
  }

  @media screen and (min-width: 1600px) {
    .resource-item, .folder-item {
      width: calc(20% - 16px);
      /* five columns */
    }
  }

  @media screen and (min-width: 2100px) {
    .resource-item, .folder-item {
      width: calc(16.66667% - 16px);
      /* six columns */
    }
  }

  .resource-grid, .folder-grid {
    width: 100%;
  }

  .resource-grid {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .resource-item, .folder-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 8px;
    width: calc(50% - 16px);
    /* two columns */
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: $gray-100;
  }

  .resource-block {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  .folder-block {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: relative;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
  }

  .folder-icon {
    background-color: $gray-300;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    float: left;
    height: 100%;
    width: 44px;
  }

  .folder-icon-wrapper {
    height: 24px;
    margin: 8px 10px;
    width: 24px;
    position: absolute;
  }

  .icon-folder {
    background: url("\#{resource['main-template/img/folder.png']}") no-repeat left center;
    width: 100%;
    height: 100%;
    display: block;
  }

  .resource-preview {
    padding-top: 75%;
    position: relative;
  }

  .resource-preview-wrapper2 {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-color: $white;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .resource-preview-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .resource-preview-image {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .resource-controls {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    display: flex;
    flex-wrap: wrap;
    background: rgba(212, 212, 212, 0.73);
    transform: translate3d(0, 0, 0);
    transition: visibility 0s, opacity 0.2s ease-in-out;

    &.edit-locked {
      background: rgba(239, 129, 129, 0.73);
    }
  }

  .resource-item:hover .resource-controls, .folder-item:hover .resource-controls {
    visibility: visible;
    opacity: 1;
  }

  .resource-controls a {
    width: 100%;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -8px;
      margin-top: -8px;
    }
  }

  .resource-title, .folder-title {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  .resource-title {
    width: 100%;
  }

  /*  .folder-title {
      color: $gray-900;
      background-color: $gray-100;
      height: 100%;
      overflow: hidden;
      position: relative;
    }*/

  .folder-item:hover {
    .folder-title, .folder-icon {
      color: $white;
      background-color: $themePrimaryColor;
    }
  }

  .resource-title-wrapper {
    height: 100%;
    position: relative;
    white-space: nowrap;
  }

  .folder-title-wrapper {
    padding-right: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    position: relative;
  }

  .resource-title-icon {
    display: none;
    float: left;
    height: 26px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 26px;
  }

  .resource-title-icon-wrapper > img {
    height: 16px;
    width: 16px;
  }

  .resource-title-text {
    padding: 2px 8px 3px;
  }

  .resource-title-name {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    padding-right: 8px;
  }

  .folder-title-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .resource-title-summary {
    display: block;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
      font-weight: bold;
    }
  }
}
