.search-list {
  max-width: 40rem; // 640px
}

.search-grid {
  display: grid;
  grid-gap: $grid-gutter-width / 2;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.search-page-sep {
  position: relative;
  line-height: 1;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0.5em;
    left: 4.5rem;
    right: 0;
    background-color: $border-color;
    height: 1px;
  }
}

.search-item-web {
  .item-controls {
    opacity: 0;
    transition: all 0.2s ease-in-out;

    @media (hover: none) and (pointer: coarse) {
      opacity: 1;
    }
  }

  .item-description {
    min-width: 0;
  }

  .res-link {
    .item-origin {
      color: $blue;
    }

    &:visited .item-origin {
      color: $blueDarkest;
    }

    &:hover .item-title {
      text-decoration: underline !important;
    }
  }

  &:hover .item-controls {
    opacity: 1;
  }
}

.search-item-video {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  color: $body-color;
  background-color: $gray-200;

  &:hover {
    text-decoration: none;
    color: $themeElementTextColor;
    background: $themePrimaryColor;

    .item-thumbnail::after {
      opacity: 0.3;
    }
  }

  .item-thumbnail {
    position: relative;
    padding-bottom: 56.25%;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #232f40;
      transition: opacity 333ms ease;
    }
  }

  .item-title {
    font-weight: $font-weight-bold;
    padding: 0.3rem 0.5rem;
    min-height: 3.225rem;
  }

  .video-duration {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    opacity: 0.75;
    background-color: $themeDarkBgColor;
    color: $themeElementTextColor;
    border-radius: $btn-border-radius;
    font-size: $font-size-sm;
    padding: 0 0.2rem;
  }
}

.search-source-icon {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  margin: 0.1rem 0.2rem;

  &.source-bing {
    background-image: url("\#{resource['images:services/bing.gif']}");
  }

  &.source-flickr {
    background-image: url("\#{resource['images:services/flickr.png']}");
  }

  &.source-youtube {
    background-image: url("\#{resource['images:services/youtube.png']}");
  }

  &.source-vimeo {
    background-image: url("\#{resource['images:services/vimeo.gif']}");
  }

  &.source-ipernity {
    background-image: url("\#{resource['images:services/ipernity.gif']}");
  }

  &.source-ted {
    background-image: url("\#{resource['images:services/ted.gif']}");
  }

  &.source-tedx,
  &.source-teded {
    background-image: url("\#{resource['images:services/tedx.gif']}");
  }

  &.source-loro {
    background-image: url("\#{resource['images:services/loro.gif']}");
  }

  &.source-yovisto {
    background-image: url("\#{resource['images:services/yovisto.gif']}");
  }

  &.source-learnweb {
    background-image: url("\#{resource['images:services/learnweb.gif']}");
  }

  &.source-archiveit {
    background-image: url("\#{resource['images:services/archiveit.gif']}");
  }

  &.source-factcheck {
    background-image: url("\#{resource['images:services/learnweb.gif']}");
  }
}

.search-carousel-image {
  position: relative;
  height: 100px;
  width: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.fancybox-search-layout {
  /* Give space around main area */
  .fancybox-outer {
    top: 2rem;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
    margin: auto;
    overflow: visible;
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
  }

  /* Make it to fade-out while closing */
  &.fancybox-is-closing .fancybox-outer {
    opacity: 0;
  }

  /* Set color for background element */
  .fancybox-bg {
    background-color: $gray-700;
  }

  &.fancybox-is-open .fancybox-bg {
    opacity: 0.7;
  }

  /* Adjust content area position */
  .fancybox-stage {
    right: $search-lightbox-caption-width;

    .fancybox-slide {
      padding: 2rem 1rem;
    }
  }

  /* Move caption area to the right side */
  .fancybox-caption {
    top: 2rem;
    bottom: 0;
    left: auto;
    width: $search-lightbox-caption-width;
    padding: 1rem;
    background: #333;
    pointer-events: all; /* Make text selectable */
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    .form-group {
      margin-bottom: 0.5rem;
    }

    .fancybox-caption__body {
      max-height: inherit;
    }
  }

  /* Align buttons at the right side  */
  .fancybox-toolbar {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    background: #333;
    max-height: 2rem;
    width: $search-lightbox-caption-width;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row-reverse;
  }

  .fancybox-button {
    max-height: 2rem;
    max-width: 2rem;
    padding: 0.2rem;
  }

  /* hide close button in iframe */
  .fancybox-close-small {
    display: none;
  }

  /* Remove background from all buttons */
  .fancybox-button,
  .fancybox-navigation button::before {
    background: transparent;
  }

  /* Change arrow color */
  .fancybox-navigation button {
    color: $themeElementTextColor !important;
    padding: 10px;
  }

  /* Reposition arrows */
  .fancybox-button--arrow_left {
    left: -60px !important;
  }

  .fancybox-button--arrow_right {
    right: -60px !important;
  }

  &.fancybox-show-thumbs .fancybox-button--arrow_right {
    right: -272px !important;
  }

  /*remove padding on mobile devices */
  @include media-breakpoint-down(sm) {
    .fancybox-slide {
      padding: 0 !important;
    }

    .fancybox-caption {
      position: relative;
      top: 70%;
      width: 100%;
      height: 30%;
      //noinspection CssInvalidPropertyValue
      overflow: overlay;
    }

    .fancybox-stage {
      bottom: 30%;
      right: 0;
      top: 2rem;
      width: 100%;
    }

    .fancybox-toolbar {
      width: 100%;
    }
  }
}
