@media screen and (min-width: 1140px) and (max-width: 1399px) {
    td, #opensearch_results a.resourceWebLink {
		font-size:14px;
	}
	
	.totalResultCount {
		font-weight: bold;
		font-size: 14px;
	}
	
	#opensearch_results {
		width:50%;
		height:400px;
		float:left;
		position:fixed;
		overflow-y:scroll;
	}
	
	#metadatasearch_results {
		width:50%;
		height:400px;
		float:right;
		position:relative;
		overflow-y:scroll;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
    td, #opensearch_results a.resourceWebLink,
    #metadatasearch_results a.resourceWebLink {
		font-size:21px;
	}
	
	.totalResultCount {
		font-weight: bold;
		font-size: 21px;
	}
	
	#opensearch_results {
		width:50%;
		height:500px;
		float:left;
		position:fixed;
		overflow-y:scroll;
	}
	
	#metadatasearch_results {
		width:50%;
		height:500px;
		float:right;
		position:relative;
		overflow-y:scroll;
	}
}

@media screen and (min-width: 1600px) {
    td, #opensearch_results a.resourceWebLink,
    #metadatasearch_results a.resourceWebLink {
		font-size:28px;
	}
	
	.totalResultCount {
		font-weight: bold;
		font-size: 28px;
	}
	
	#opensearch_results {
		font-size:28px !important;
		width:50%;
		height:700px;
		float:left;
		position:fixed;
		overflow-y:scroll;
	}
	
	#metadatasearch_results {
		font-size:28px !important;
		width:50%;
		height:700px;
		float:right;
		position:relative;
		overflow-y:scroll;
	}
}

@media screen and (min-width: 2100px) {
    td, #opensearch_results a.resourceWebLink,
    #metadatasearch_results a.resourceWebLink {
		font-size:35px;
	}
	
	.totalResultCount {
		font-weight: bold;
		font-size: 35px;
	}
	
	#opensearch_results {
		width:50%;
		height:800px;
		float:left;
		position:fixed;
		overflow-y:scroll;
	}
	
	#metadatasearch_results {
		width:50%;
		height:800px;
		float:right;
		position:relative;
		overflow-y:scroll;
	}
}