.section-entity-relationship {
  #sessionsList {
    height: 100vh;
  }

  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    border-radius: 2px;

    /* Creates a small triangle extender for the tooltip */
    &::after {
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: '\25BC';
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    &.n::after {
      margin: -1px 0 0;
      top: 100%;
      left: 0;
    }
  }

  .queries {
    height: 95vh;
    position: relative;
  }

  /*styles for snippet viewer*/
  .snippet-viewer {
    display: none;
    height: 110vh;
    background-color: $white;
    box-shadow: -5px 0 8px rgba(0, 0, 0, 0.1);

    .hideIcon {
      float: right;
      height: 14px;
      width: 14px;
      padding-right: 10px;
      cursor: pointer;
    }

    .reference_url {
      color: $themePrimaryColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      margin-bottom: -10px;
    }

    .snippet_query {
      color: $gray-600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 180px;
    }
  }

  /* styles for vertical session timeline */
  .box {
    padding: 0 0 0 74px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all $transition-duration linear;
      top: 0;

      &:last-of-type {
        /*top: 80px;*/
      }

      &::before {
        content: '';
        display: block;
        width: 0;
        height: 100%;
        border: 1px dashed $themePrimaryColor;
        position: absolute;
        top: 0;
        left: -5px;
      }

      li {
        margin: 20px 10px 60px;
        position: relative;
        padding: 10px;
        background: $themePrimaryColor;
        color: $white;
        border-radius: 10px;
        line-height: 20px;

        &.active {
          background: $themePrimaryColorDarker;
        }

        > a > span {
          content: '';
          display: block;
          width: 0;
          height: 100%;
          border: 1px solid $themePrimaryColor;
          position: absolute;
          top: 0;
          left: -15px;

          &::before,
          &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $themePrimaryColor;
            border: 1px solid $white;
            position: absolute;
            left: -5px;
          }

          &::before {
            top: -10px;
          }

          &::after {
            top: 95%;
          }
        }

        .session_username {
          font-weight: bold;
        }
      }
    }

    .info {
      &::first-letter {
        /*text-transform: capitalize;*/
        line-height: 1.7;
      }

      > span {
        background-size: 10px 10px;
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 15px;
      }

      span {
        color: $white;

        &::after {
          content: '\2192';
        }

        &:last-child::after {
          content: '';
        }
      }

      /*styles for service icons */
      .source_bing {
        background-image: url("\#{resource['images:services/bing.gif']}");
      }

      .source_learnweb {
        background-image: url("\#{resource['images:services/learnweb.gif']}");
      }

      .source_archiveit {
        background-image: url("\#{resource['images:services/archiveit.gif']}");
      }

      .source_loro {
        background-image: url("\#{resource['images:services/loro.gif']}");
      }
    }

    .time span {
      position: absolute;
      left: -85px;
      color: $black;
      /*font-size: 80%;*/
      font-weight: bold;

      &:first-child {
        top: -25px;
        font-size: 70%;
      }

      &:nth-child(2) {
        top: -10px;
      }

      &:last-child {
        top: 94%;
      }
    }

    &.box-group ul {
      &::before {
        border: 1px dashed $gray-600;
      }

      li {
        > span {
          border: 1px solid $gray-600;

          &::before,
          &::after {
            background: $gray-600;
          }
        }

        background: $gray-600;
      }
    }
  }

  #queriesList {
    height: 100vh;
  }

  .timeline {
    ul {
      padding: 1em 0 0 1em;
      margin: 0;
      list-style: none;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 0;
        height: 100%;
        border: 1px dashed $themePrimaryColor;
        position: absolute;
        top: 0;
      }

      li {
        margin: 20px 15px;
        border-radius: 10px;

        &.active {
          background: $themePrimaryColor;

          span {
            color: $white;
          }
        }

        div {
          display: inline-block;
          margin: 1em 0;
          vertical-align: top;
        }

        > a > .snippet-list-dot {
          content: '';
          display: block;
          width: 0;
          height: 100%;
          top: 0;

          &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $themePrimaryColor;
            border: 1px solid $white;
            position: absolute;
            left: 10px;
          }
        }
      }
    }

    .query-bullet {
      width: 1em;
      height: 1em;
      box-sizing: border-box;
      border-radius: 50%;
      background: $white;
      z-index: 1;
      margin-right: 1em;

      &.green {
        border: 2px solid $themePrimaryColor;
      }
    }

    .query-time {
      width: 20%;
      font-size: 0.8em;
      padding-top: 0.25em;
      color: $black;
    }

    .query-desc {
      width: 90%;
      color: $black;
    }

    h3 {
      font-size: 0.9em;
      font-weight: 400;
      margin: 0;
    }
  }
}
