@import '../colors';

$themeDarkBgColor: #3e3438;
$themeLightBgColor: #6e2d44;

$themePrimaryColor: $alive;
$themePrimaryColorDarker: $aliveDarker;
$themePrimaryDarkerAlt: $aliveDarkerAlt;
$themePrimaryDarkest: $aliveDarkest;

$themePrimaryAltColor: $green;
$themePrimaryAltColorDarker: $greenDarker;
$themePrimaryAltDarkerAlt: $greenDarkerAlt;
