@import '../_colors';

$themeDarkBgColor: #3E3438;
$themeLightBgColor: #6E2D44;

$themePrimaryColor: $alive;
$themePrimaryColorDarker: $aliveDarker;
$themePrimaryDarkerAlt: $aliveDarkerAlt;
$themePrimaryDarkest: $aliveDarkest;

$themePrimaryAltColor: $green;
$themePrimaryAltColorDarker: $greenDarker;
$themePrimaryAltDarkerAlt: $greenDarkerAlt;
