@import '../_colors';

$themeDarkBgColor: #23252A;
$themeLightBgColor: #606c88;

$themePrimaryColor: $ash;
$themePrimaryColorDarker: $ashDarker;
$themePrimaryDarkerAlt: $ashDarkerAlt;
$themePrimaryDarkest: $ashDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
