@import '../colors';

$themeDarkBgColor: #23252a;
$themeLightBgColor: #606c88;

$themePrimaryColor: $ash;
$themePrimaryColorDarker: $ashDarker;
$themePrimaryDarkerAlt: $ashDarkerAlt;
$themePrimaryDarkest: $ashDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
