@import '../_colors';

$themeDarkBgColor: #122e51;
$themeLightBgColor: #295b89;

$themePrimaryColor: $blue;
$themePrimaryColorDarker: $blueDarker;
$themePrimaryDarkerAlt: $blueDarkerAlt;
$themePrimaryDarkest: $blueDarkest;

$themePrimaryAltColor: $cyan;
$themePrimaryAltColorDarker: $cyanDarker;
$themePrimaryAltDarkerAlt: $cyanDarkerAlt;
