@import '../_colors';

$themeDarkBgColor: #1B1E22;
$themeLightBgColor: #5B616B;

$themePrimaryColor: $gray;
$themePrimaryColorDarker: $grayDarker;
$themePrimaryDarkerAlt: $grayDarkerAlt;
$themePrimaryDarkest: $grayDarkest;

$themePrimaryAltColor: $cyan;
$themePrimaryAltColorDarker: $cyanDarker;
$themePrimaryAltDarkerAlt: $cyanDarkerAlt;
