@import '../colors';

$themeSidebarDividerColor: rgba(0, 0, 0, 0.075);
$themeSidebarHoverBgColor: rgba(33, 33, 33, 0.3);

$themeDarkBgColor: #3f4381;
$themeLightBgColor: #202352;

$themePrimaryColor: $hollywood;
$themePrimaryColorDarker: $hollywoodDarker;
$themePrimaryDarkerAlt: $hollywoodDarkerAlt;
$themePrimaryDarkest: $hollywoodDarkest;

$themePrimaryAltColor: #d8a816;
$themePrimaryAltColorDarker: #c5970c;
$themePrimaryAltDarkerAlt: #bd7c0a;
