@import '../_colors';

$themeDarkBgColor: #23252A;
$themeLightBgColor: #34305E;

$themePrimaryColor: $mantle;
$themePrimaryColorDarker: $mantleDarker;
$themePrimaryDarkerAlt: $mantleDarkerAlt;
$themePrimaryDarkest: $mantleDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
