@import '../colors';

$themeDarkBgColor: #23252a;
$themeLightBgColor: #34305e;

$themePrimaryColor: $mantle;
$themePrimaryColorDarker: $mantleDarker;
$themePrimaryDarkerAlt: $mantleDarkerAlt;
$themePrimaryDarkest: $mantleDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
