@import '../colors';

$themeSidebarDividerColor: rgba(0, 0, 0, 0.075);
$themeSidebarHoverBgColor: rgba(33, 33, 33, 0.3);

$themeDarkBgColor: #8f3b4f;
$themeLightBgColor: #231e20;

$themePrimaryColor: $montreal;
$themePrimaryColorDarker: $montrealDarker;
$themePrimaryDarkerAlt: $montrealDarkerAlt;
$themePrimaryDarkest: $montrealDarkest;

$themePrimaryAltColor: #49b2c9;
$themePrimaryAltColorDarker: #3f94a6;
$themePrimaryAltDarkerAlt: #2a6f7d;
