@import '../colors';

$themeDarkBgColor: #23252a;
$themeLightBgColor: #36466c;

$themePrimaryColor: $noir;
$themePrimaryColorDarker: $noirDarker;
$themePrimaryDarkerAlt: $noirDarkerAlt;
$themePrimaryDarkest: $noirDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
