@import '../_colors';

$themeDarkBgColor: #23252A;
$themeLightBgColor: #36466C;

$themePrimaryColor: $noir;
$themePrimaryColorDarker: $noirDarker;
$themePrimaryDarkerAlt: $noirDarkerAlt;
$themePrimaryDarkest: $noirDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
