@import '../_colors';

$themeDarkBgColor: #272624;
$themeLightBgColor: #84452E;

$themePrimaryColor: $orange;
$themePrimaryColorDarker: $orangeDarker;
$themePrimaryDarkerAlt: $orangeDarkerAlt;
$themePrimaryDarkest: $orangeDarkest;

$themePrimaryAltColor: $green;
$themePrimaryAltColorDarker: $greenDarker;
$themePrimaryAltDarkerAlt: $greenDarkerAlt;
