@import '../_colors';

$themeDarkBgColor: #31202E;
$themeLightBgColor: #692d5a;

$themePrimaryColor: $pink;
$themePrimaryColorDarker: $pinkDarker;
$themePrimaryDarkerAlt: $pinkDarkerAlt;
$themePrimaryDarkest: $pinkDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
