@import '../_colors';

$themeDarkBgColor: #00223E;
$themeLightBgColor: #0C4B7F;

$themePrimaryColor: $predawn;
$themePrimaryColorDarker: $predawnDarker;
$themePrimaryDarkerAlt: $predawnDarkerAlt;
$themePrimaryDarkest: $predawnDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
