@import '../colors';

$themeDarkBgColor: #00223e;
$themeLightBgColor: #0c4b7f;

$themePrimaryColor: $predawn;
$themePrimaryColorDarker: $predawnDarker;
$themePrimaryDarkerAlt: $predawnDarkerAlt;
$themePrimaryDarkest: $predawnDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
