@import '../_colors';

$themeDarkBgColor: #2E2939;
$themeLightBgColor: #4B2F7F;

$themePrimaryColor: $purple;
$themePrimaryColorDarker: $purpleDarker;
$themePrimaryDarkerAlt: $purpleDarkerAlt;
$themePrimaryDarkest: $purpleDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
