@import '../colors';

$themeDarkBgColor: #2e2939;
$themeLightBgColor: #4b2f7f;

$themePrimaryColor: $purple;
$themePrimaryColorDarker: $purpleDarker;
$themePrimaryDarkerAlt: $purpleDarkerAlt;
$themePrimaryDarkest: $purpleDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
