@import '../colors';

$themeDarkBgColor: #242726;
$themeLightBgColor: #04493f;

$themePrimaryColor: $teal;
$themePrimaryColorDarker: $tealDarker;
$themePrimaryDarkerAlt: $tealDarkerAlt;
$themePrimaryDarkest: $tealDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
