@import '../_colors';

$themeDarkBgColor: #242725;
$themeLightBgColor: #6B4C07;

$themePrimaryColor: $yellow;
$themePrimaryColorDarker: $yellowDarker;
$themePrimaryDarkerAlt: $yellowDarkerAlt;
$themePrimaryDarkest: $yellowDarkest;

$themePrimaryAltColor: $green;
$themePrimaryAltColorDarker: $greenDarker;
$themePrimaryAltDarkerAlt: $greenDarkerAlt;
