.layout-wrapper {
  ul {
    list-style: none;
  }

  .layout-main {
    position: relative;
    min-height: 100vh;
    padding-top: 60px !important;

    .layout-main-content {
      padding-bottom: 9em; /* TODO: what is this? */

      .ui-breadcrumb {
        border: 1px solid $primaryColor;
        border-left: none;
        border-right: none;
        background: rgba(255, 255, 255, 0.9);
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 15px;

        ul {
          li {
            &:first-child {
              font-size: 1.2rem;
            }

            .ui-menuitem-link {
              top: 0;
            }
          }

          .ui-breadcrumb-chevron {
            font-size: 1.2rem;
            vertical-align: middle;
            height: auto;

            &:before {
              content: "\f105";
            }
          }

          .ui-menuitem-link {
            vertical-align: middle;
          }
        }
      }
    }
  }
}
