.layout-wrapper {
  ul {
    list-style: none;
  }

  .klapper_zu {
    height: .9rem;
  }

  .layout-main {
    position: relative;
    min-height: 100vh;

    .layout-main-content {
      padding-bottom: 9em;

      /* Breadcrumb */
      .ui-breadcrumb {
        border: 1px solid $primaryColor;
        border-left: none;
        border-right: none;
        background: rgba(255, 255, 255, 0.9);
        font-weight: 700;
        font-size: 1.2rem;

        ul {
          li {
            &:first-child {
              font-size: 1.2rem;
            }

            .ui-menuitem-link {
              top: 0px;
            }
          }

          .ui-breadcrumb-chevron {
            font-size: 1.2rem;
            vertical-align: middle;
            height: auto;

            &:before {
              content: "\f105 ";
            }
          }

          .ui-menuitem-link {
            vertical-align: middle;
          }

        }
      }

      /*end Breadcrumb*/


    }
  }


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

@media (max-width: 992px) {
  .layout-wrapper {
    .layout-main {
      padding-top: 6rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 993px) {
  .layout-wrapper {
    .layout-main {
      padding-top: 60px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}