body {
  .ui-message {
    margin: 0.25rem 0;
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
  }

  .ui-panel {
    .ui-panel-titlebar {
      .ui-panel-titlebar-icon {
        text-decoration: none;
        top: 0.25rem;
      }
    }
  }

  .ui-menu {
    &.ui-menu-navbar-submenu {
      border: 0;

      .ui-menu-list {
        padding: 0;

        .ui-menuitem {
          .ui-menuitem-link {
            border: 0;
            line-height: 1.5;
            padding: 0.5rem 0.8rem;

            img {
              height: 24px;
              padding-right: 6px;
            }
          }
        }
      }
    }

    &.ui-menu-primary {
      background: $themePrimaryColor;

      .ui-menu-list {
        .ui-menuitem {
          .ui-menuitem-link {
            color: $themeElementTextColor;

            &.ui-state-hover {
              background-color: $themePrimaryDarkerAlt;
              color: $themeElementTextColor;
            }

            .ui-menuitem-icon {
              color: $themeElementTextColor;
            }
          }
        }
      }
    }
  }
}
