body {
  .ui-datatable {
    tbody {
      td {
        border-color: $gray-200;
      }
    }
  }

  .ui-panel {
    .ui-panel-titlebar {
      padding: 5px 16px;

      .ui-panel-title {
        line-height: 1.9;
      }

      .ui-panel-titlebar-icon {
        height: 100%;
        top: 0;
      }
    }
  }
}
