body {
  .ui-datatable {
    tbody {
      td {
        border-color: $gray-200;
      }
    }
  }

  .ui-message {
    margin: 0.25rem 0;
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
  }

  .ui-panel {
    .ui-panel-titlebar {
      padding: 5px 16px;

      .ui-panel-title {
        line-height: 1.9;
      }

      .ui-panel-titlebar-icon {
        height: 100%;
        top: 0;
      }
    }
  }

  .ui-menu.ui-menu-overlay {
    background: $themePrimaryColor;
    border: 0;

    .ui-menu-list {
      padding: 0;

      .ui-menuitem {
        .ui-menuitem-link {
          border: 0;
          line-height: 1.5;
          padding: 0.5rem 0.8rem;
          color: $themeElementTextColor;

          &.ui-state-hover {
            background-color: $themePrimaryDarkerAlt;
            color: $themeElementTextColor;
          }

          .ui-menuitem-icon {
            color: $themeElementTextColor;
          }

          img {
            height: 24px;
            padding-right: 6px;
          }
        }
      }
    }
  }
}
