
.headings {
	font-weight: bold;
	color: #489a83;
	margin: 0px auto;
	text-align: center;
}

.ui-datatable-frozenlayout-left {
	width: 5% !important;
}

.ui-datatable table {
	table-layout: auto !important;
}

/* copied from glossary: should be removed */
.noresource {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0px auto;
	text-align: center;
}





.survey .question { max-width: 80rem; }
.survey input { display:block; }
.survey .question > label {
    display: block;
    margin: 1rem 0 0.4rem;
}
.survey h3 {				
    margin: 1.6rem 0 0.6rem;
}

@media print {		
	.survey .question { break-inside: avoid; }
	
	/* bootstrap rules can be removed in new template */
	.d-print-block { display: block; }
	h3 { break-after: avoid; }				
}

/* bootstrap rule can be removed in new template */
.d-none { display:none; }
