
.headings {
	font-weight: bold;
	color: #489a83;
	margin: 0px auto;
	text-align: center;
}

.ui-datatable-frozenlayout-left {
	width: 5% !important;
}

.ui-datatable table {
	table-layout: auto !important;
}

.noresource {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0px auto;
	text-align: center;
}

.inputfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-style: italic;
	width: 15em !important;
	color: #489a83;
	outline: none;
}