.mw-r10 {
  max-width: 10rem;
}

.mw-r15 {
  max-width: 15rem;
}

.mw-r20 {
  max-width: 20rem;
}

.mw-r25 {
  max-width: 25rem;
}

.mw-r30 {
  max-width: 30rem;
}

.w-inherit {
  width: inherit !important;
}

.w-15 {
  width: 15%;
}

// fix position of sticky-md-top, considering height of our navbar
@include media-breakpoint-up(md) {
  .sticky-md-top {
    top: $topbar-height + $spacer;
  }
}
