td.td-text-end {
  @extend .text-end;
}

td.td-text-center {
  @extend .text-center;
}

.ui-datatable {
  table {
    table-layout: auto !important;

    .ui-datatable-data tr td {
      word-break: break-all;
    }
  }

  /* set background color for even/odd table cells */
  .ui-datatable-data {
    td {
      &.ui-datatable-even {
        background-color: $datatableEvenColor;
      }

      &.ui-datatable-odd {
        background-color: $contentBgColor;
      }
    }
  }
}
