@import '../colors';

$themeDarkBgColor: #1b1e22;
$themeLightBgColor: #5b616b;

$themePrimaryColor: $gray;
$themePrimaryColorDarker: $grayDarker;
$themePrimaryDarkerAlt: $grayDarkerAlt;
$themePrimaryDarkest: $grayDarkest;

$themePrimaryAltColor: $cyan;
$themePrimaryAltColorDarker: $cyanDarker;
$themePrimaryAltDarkerAlt: $cyanDarkerAlt;
