$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$lightGray: #f2f5fa;
$lightBlue: #e1f3f8;
$lightYellow: #fff1d2;
$lightGreen: #e7f4e4;
$lightRed: #f9dede;
$lightPurple: #dbd4e9;

// DO NOT USE $green, $greenDark, $greenDarker (and other) COLORS!
// Use $primaryColor, $primaryDarkColor, $primaryDarkerColor instead! (see variables.scss)

$blue: #0071bc;
$blueDark: #205493;
$blueDarker: #112e51;

$purple: #6a4aa5;
$purpleDark: #4b2f7f;
$purpleDarker: #36215d;

$pink: #9f4488;
$pinkDark: #8d3c79;
$pinkDarker: #692d5a;

$orange: #fe875d;
$orangeDark: #e26134;
$orangeDarker: #b34621;

$yellow: #f9c642;
$yellowDark: #fdb81e;
$yellowDarker: #eaa200;

$green: #4aa564;
$greenDark: #378d4f;
$greenDarker: #1d6833;

$teal: #07a089;
$tealDark: #067e6c;
$tealDarker: #04493f;

$cyan: #00bfe7;
$cyanDark: #00a6d2;
$cyanDarker: #046b99;

$bluegray: #4b6d7e;
$bluegrayDark: #365361;
$bluegrayDarker: #233944;

$ash: #606c88;
$ashDark: #434f6a;
$ashDarker: #2b354a;

$mantle: #514a9d;
$mantleDark: #3e387d;
$mantleDarker: #36316b;

$cappuccino: #684c4e;
$cappuccinoDark: #503739;
$cappuccinoDarker: #3c2628;

$alive: #85344e;
$aliveDark: #6a293e;
$aliveDarker: #4f1f2e;

$emerald: #4aa382;
$emeraldDark: #348f6d;
$emeraldDarker: #227053;

$gray: #5b616b;
$grayDark: #43474e;
$grayDarker: #1b1e22;

$hollywood: #514a9d;
$hollywoodDark: #3e387d;
$hollywoodDarker: #36316b;

$montreal: #8f3b4f;
$montrealDark: #772d3f;
$montrealDarker: #5a2330;

$noir: #4b6cb7;
$noirDark: #38569c;
$noirDarker: #2c447b;

$peak: #31827b;
$peakDark: #256b65;
$peakDarker: #1e504c;

$predawn: #4a505d;
$predawnDark: #303644;
$predawnDarker: #20242d;
