// remove 'bs-' prefix from variables
$prefix: '';

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$secondary: #607d8b;
$success: #77b243;
$info: #1a89c6;
$warning: #e7ae23;
$help: #9c27b0;
$danger: #e44;
$light: $gray-200;
$dark: $gray-900;

$mod: #fe875d; // for moderator-only elements

// Customize the light and dark text colors for use in our color contrast function.
$min-contrast-ratio: 3 !default;
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;
$btn-hover-bg-shade-amount: 15% !default;
$btn-hover-bg-tint-amount: 15% !default;
$btn-hover-border-shade-amount: 20% !default;
$btn-hover-border-tint-amount: 10% !default;
$btn-active-bg-shade-amount: 20% !default;
$btn-active-bg-tint-amount: 20% !default;
$btn-active-border-shade-amount: 25% !default;
$btn-active-border-tint-amount: 10% !default;

$primary: #4aa382;
$primary-color: color-contrast($primary);

$primary-hover: if($primary-color == $color-contrast-light, shade-color($primary, $btn-hover-bg-shade-amount), tint-color($primary, $btn-hover-bg-tint-amount));
$primary-hover-border: if($primary-color == $color-contrast-light, shade-color($primary, $btn-hover-border-shade-amount), tint-color($primary, $btn-hover-border-tint-amount));
$primary-hover-color: color-contrast($primary-hover);

$primary-active: if($primary-color == $color-contrast-light, shade-color($primary, $btn-active-bg-shade-amount), tint-color($primary, $btn-active-bg-tint-amount));
$primary-active-border: if($primary-color == $color-contrast-light, shade-color($primary, $btn-active-border-shade-amount), tint-color($primary, $btn-active-border-tint-amount));
$primary-active-color: color-contrast($primary-active);

// Body — Default text color.
// The bg is used as primary background of all panels.
$body-color: #212121;
$body-color-dark: $gray-100;
$body-bg: $white;
$body-bg-dark: $gray-800;

// Secondary — Use the color option for lighter text.
// The bg is used as body background (back-fill), and you can use it for dividers and to indicate disabled component states.
$body-secondary-color: $gray-600;
$body-secondary-color-dark: $gray-600;
$body-secondary-bg: #f2f5fa;
$body-secondary-bg-dark: $gray-900;

// Tertiary — Use the color option for even lighter text.
// Use the bg option to style backgrounds for hover states, accents, and wells.
$body-tertiary-color: $gray-900;
$body-tertiary-color-dark: $gray-200;
$body-tertiary-bg: $gray-200;
$body-tertiary-bg-dark: #282c30;

// Emphasis — For higher contrast text. Not applicable for backgrounds.
$body-emphasis-color: $black !default;
$body-emphasis-color-dark: $white !default;

$border-color: var(--gray-400) !default;
$headings-color: var(--tertiary-color);
$headings-color-dark: var(--tertiary-color);

$colors: (
  'black': $black,
  'white': $white,
);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light, // $gray-200
  'dark': $dark // $gray-900
);

// layout variables
$min-width: 320px;
$grid-gutter-width: 1rem;
$transition-duration: 0.2s;

$topbar-height: 3.125rem;
$topbar-two-row-display: md;

$sidebar-width: 15rem;
$sidebar-hide-display: xl; // Do not forget to change the JS according

$link-decoration: none;

$font-size-sm: 0.75rem; // 12px
$font-size-base: 0.875rem; // Assuming the browser's default (typically `16px`), then base font size is `14px`.
$font-size-lg: 1rem; // 16px

$box-shadow-sm: 0 0 1px rgba($black, 0.15);
$box-shadow: 0 0.125rem 0.5rem rgba($black, 0.2);
$box-shadow-lg: 0 0.5rem 1rem rgba($black, 0.25);

$spacer: 1rem;
$inline-spacer: $spacer * 0.5 !default;

$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.375rem;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$nav-link-padding-y: 0.35rem;
$nav-link-padding-x: 0.5rem;

$input-padding-y: 0.25rem;
$input-padding-x: 0.5rem;

$input-btn-padding-y: 0.3228125rem;
$input-btn-padding-x: $input-btn-padding-y * 3;
$input-btn-line-height: 1;

$table-cell-padding: 0.25rem 0.5rem;

$position-values: (
  auto: auto,
  0: 0,
  50: 50%,
  100: 100%
);

$utilities: (
  'gradient': (),
  'text-opacity': (),
  'bg-opacity': (),
  'border-opacity': (),
);

// Navbar
$navbar-padding-y: 0;
$navbar-padding-x: null;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-color: $white;
$navbar-hover-color: var(--primary-color);
$navbar-dark-hover-color: var(--primary-color);
$navbar-brand-padding-y: 0;
$navbar-brand-padding-y: 0;

// Tooltips
$tooltip-font-size: $font-size-base;
$tooltip-opacity: 1;

// Popovers
$popover-font-size: $font-size-base;
$popover-bg: $primary;
$popover-border-width: 1px;
$popover-border-color: $black;
$popover-header-color: $white;
$popover-body-color: $white;

$zindex-sticky: 1002;
