

.main-body .layout-topbar > div{
    display: flex;
    height: inherit;
    width: 100%;
}

.main-body .layout-topbar .logo{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    display: block;

}

.main-body .page-header{
    color: #4AA564;
    margin: 0;
    background: rgba(255,255,255,0.9);
    /*text-align: center;*/
    border-radius: 2px;
    padding: 5px 16px;
    border: 1px solid #4AA564;
    border-right: none;
    border-left: none;
}

.main-body .page-header h1{
    margin: 0;
}


.main-body .layout-topbar .content{
    display: flex;
    align-items: center;
}

.main-body .layout-topbar .right-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-body .layout-topbar #searchform{
    display:flex;
}

.main-body .layout-topbar #searchform input[type='search']{
    border: none;
    height: 40px;
    font-size: 22px;
    width: 400px;
    background: white;
    padding: 0 .5rem;
}

.main-body .layout-topbar #searchbutton{
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    fill: grey;
}

.main-body .layout-topbar #searchbutton svg{
    width: 20px;
    height: 20px;

}
.main-body .layout-topbar #searchform{
    display:flex;
}


.main-body .layout-topbar #searchbutton:hover{
    background: #2E8540;
    fill:white;
}

.main-body .layout-topbar .menu-button button{
    background: none;
}

.main-body .layout-topbar .menu-button{
    background-size: cover;
}

.main-body .layout-topbar .menu-button button span:before{
    content: none;
}

.main-body .layout-topbar .topbar-profile button, .main-body .layout-topbar .topbar-profile{
    border-radius: 100%;
    height: 45px;
    width: 45px;
}
.main-body .layout-topbar .topbar-icon{
    background: none;
    border: none;
    margin-top: 5px;
}
.main-body .layout-topbar .topbar-icon .fa{
    width: inherit;
    height: inherit;
    font-size: 30px;
    padding: 0;
    margin: 0;
    position: initial;
}

.main-body .layout-topbar .topbar-menu{
    justify-content: flex-end;
}
.main-body .layout-topbar .menu form{
    margin: 0 5px;

}



.main-body .layout-topbar .topbar-menu-form-button{
    width: 60px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:0;
}

.main-body .layout-topbar .topbar-menu-form-button:hover{
    background-color: #2E8540;
}

.main-body .adapt-1024-apearer, .main-body .adapt-640-apearer{
    display: none!important;
}


@media screen and (max-width: 1024px) {
    .main-body .layout-wrapper .layout-topbar {
        height: 60px;
    }
    .main-body .layout-wrapper .layout-main {
        margin-left: 0;
        padding-top: 60px; }
    .main-body #layout-right-sidebar, .main-body .layout-wrapper .layout-sidebar {
        top: 60px; }
    .main-body .layout-topbar .adapt-1024-hidder{
        display: none;
    }
    .main-body .adapt-1024-apearer{
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .main-body .layout-wrapper .layout-topbar {
        height: 60px;
    }
    .main-body .layout-wrapper .layout-main {
        margin-left: 0;
        padding-top: 60px; }
    .main-body #layout-right-sidebar, .main-body .layout-wrapper .layout-sidebar {
        top: 60px; }
    .main-body .adapt-640-hidder{
        display: none;
    }
    .main-body .adapt-640-apearer{
        display: flex;
    }
}



.main-body #organization-save-button{
    padding: 0px;
    background: none;
    display: block;
    margin: 0 auto;
}

.main-body #organization-save-button button{
    width: 200px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.main-body .layout-topbar{
    align-items: center;
    display: flex;
}

.main-body .layout-footer{
    clear: both;
    position: relative;
}

.main-body #editwelcomeform > div{
    contain: content;
}

.main-body #editwelcomeform > div h2, .main-body #editwelcomeform > div h1, .main-body .users-submissions div h1, .page_header h1, .layout-main-content >.p-col-12 > h1{
    margin: 0;
}

.main-body #editwelcomeform > div .p-col-12, .main-body #editwelcomeform > div .p-col-12 > div{
    padding: .3rem 3px;
    width: 99.5%;
}

.main-body .mat-no-margin-top{
    margin-top: 0;
}

.main-body .mat-margin-top{
    margin-top: 15px;
}


