@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    #searchbutton {
     top:0.05em;
     padding:0.07em 0.25em;
    }

    /* Safari only override */
    ::i-block-chrome,#searchbutton {
     top:0em;
    }
}