.title-header {
	margin-top:10px;
}

.title-divider {
	margin-top:10px;
	width:97%;
}

.resource-item2 {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: calc(20% - 16px); /* five columns */
	margin-bottom: 16px;
	margin-right: 16px;
	background-color: #eeeeee;
	color:#626262;
}

.group-resources-item2.selected,
.group-resources-item2.ui-selected,
.group-resources-item2.ui-selecting {
    color: #fff;
    background-color: #489a83;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
}

.ui-selectable-helper {
    position: absolute;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
    border: 1px dotted black;
    pointer-events: none;
    z-index: 500;
}

@media screen and (max-width: 1139px) {
	#submission_card > div:nth-child(1) { flex: auto; }
	#submission_card > div:nth-child(2) { flex: auto; }
	#submission_card > div:nth-child(3) { flex: auto; }	
}

@media screen and (min-width: 1140px) and (max-width: 1399px) {
    #add_resource_sign {
    	width: calc(33.33% - 40px); /* three columns */
    	margin-top:20px;
    }
    
    .add-resource-image {
    	height:90px;
    	width:90px;
    	padding-top:1px;
    }
    
	#submission_card > div:nth-child(1) { flex: 6.5; }
	#submission_card > div:nth-child(2) { flex: 2; }
	#submission_card > div:nth-child(3) { flex: 1.5; }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
    #add_resource_sign {
    	width: calc(25% - 40px); /* four columns */
    	margin-top:20px;
    }
    
    .add-resource-image {
    	height:90px;
    	width:90px;
    	padding-top:2px;
    }

	#submission_card > div:nth-child(1) { flex: 6.5; }
	#submission_card > div:nth-child(2) { flex: 2; }
	#submission_card > div:nth-child(3) { flex: 1.5; }
}

@media screen and (min-width: 1600px) {
    #add_resource_sign {
    	width: calc(20% - 40px); /* five columns */
    	margin-top:20px;
    }
    
    .add-resource-image {
    	height:90px;
    	width:90px;
    	padding-top:15px;
    }
    
    #submission_card > div:nth-child(1) { flex: 6.5; }
	#submission_card > div:nth-child(2) { flex: 2; }
	#submission_card > div:nth-child(3) { flex: 1.5; }
}

@media screen and (min-width: 2100px) {
    #add_resource_sign {
    	width: calc(16.66667% - 40px); /* six columns */
    	margin-top:20px;
    }
    
    .add-resource-image {
    	height:90px;
    	width:90px;
    	padding-top:8px;
    }
    
    #submission_card > div:nth-child(1) { flex: 6.5; }
	#submission_card > div:nth-child(2) { flex: 2; }
	#submission_card > div:nth-child(3) { flex: 1.5; }
}

.submission_header {
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #e8e9ea;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.submission_header:hover{
	background-color: #47998254;
	cursor: pointer;
}

.submission_cards {
	display: none;
}

#submission_card {
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #e8e9ea;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    display: flex;
}

#submission_description {
	font-size: 1.3rem !important;
}

#submission_time_block {
	margin-top: 5px;
	font-size: 1.3rem !important;
	float: right;	
}   
 
.submission_link {
	position: relative;
	float: right;
	margin-top: 9px;
}

.active {
	background-color: #47998291;
}