body {
    .ui-widget,
    .ui-widget .ui-widget {
        font-family: $font-family-base;
        text-decoration: none;
    }
    .ui-widget-content {
        background-color: $contentBgColor;
        border: 1px solid $contentBorderColor;
    }
    .ui-widget-header {
        background-color: $primaryColor;
        color: $primaryTextColor;
    }
    .ui-state-active,
    .ui-state-highlight {
        background-color: $primaryColor;
        color: $primaryTextColor;
    }
    .ui-state-error,
    .ui-state-default.ui-state-error {
        border: 1px solid $inputInvalidBorderColor;
    }
    .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
    }
    .ui-corner-all {
        @include border-radius($border-radius);
    }
    .ui-corner-top {
        @include border-radius-top($border-radius);
    }
    .ui-corner-bottom {
        @include border-radius-bottom($border-radius);
    }
    .ui-corner-left {
        @include border-radius-left($border-radius);
    }
    .ui-corner-right {
        @include border-radius-right($border-radius);
    }
    .ui-widget-overlay {
        background-color: $gray-700;
        @include opacity(.7);
    }
    .ui-icon {
        min-width: $font-size-base;
        height: $font-size-base;
    }
    //a {
    //    color: $primaryColor;
    //    &:hover {
    //        color: darken($primaryColor, 10%);
    //    }
    //}
}