@import '../variables';

$focusOutlineColor:#0071bc !default;

/* Headers */
$headerPadding:8px 16px !default;
$inputListHeaderPadding:8px !default;
$headerFontSize:16px !default;
$headerBgColor:$primaryColor !default;
$headerTextColor:$primaryTextColor !default;
$headerLightBgColor:#f1f1f1 !default;
$headerLightTextColor:#212121 !default;
$headerLightHoverBgColor:#d6d7d9 !default;
$headerLightBorderColor:#d6d7d9 !default;

/* Contents */
$contentPadding:16px !default;
$contentBgColor:#ffffff !default;
$contentBorderColor:#d6d7d9 !default;
$contentLighterBorderColor:#f1f1f1 !default;

/* Forms */
$buttonBorderRadius:3px !default;
$inputPadding:4px !default;
$inputBgColor:#ffffff !default;
$inputBorderColor:#aeb0b5 !default;
$inputHoverBorderColor:#5b616b !default;
$inputInvalidBorderColor:#cd2026 !default;
$inputHeaderBgColor:#e4e2e0 !default;
$inputSwitchOffBgColor:#a8acb1 !default;
$inputSwitchOffTextColor:#ffffff !default;
$iconActiveColor:#ffffff !default;
$iconCloseColor:#212121 !default;
$inputTextHighlightColor:#ffffff !default;
$ratingCancelIconColor:#000000 !default;
$ratingStarColor:#aeb0b5 !default;
$ratingStarHoverColor:#5b616b !default;
$splitbuttonTextColor:#ffffff !default;
$datepickerButtonTextColor:#ffffff !default;
$keypadBgColor:#000000 !default;

/*groups*/
$inputGroupBorderColor:#aeb0b5 !default;
$inputGroupBgColor:#ffffff !default;
$inputGroupTextColor:$textColor !default;
$inputGroupIconColor:$textSecondaryColor !default;
$inputGroupAddonMinWidth:2*$fontSize !default;
$checkboxWidth:20px !default;
$checkboxHeight:20px !default;

/* Buttons */
$buttonPadding:4px !default;

$secondaryButtonBgColor: #5b616b !default;
$secondaryButtonHoverBgColor:#323a44 !default;
$secondaryButtonActiveBgColor:#212121 !default;
$secondaryButtonFocusBgColor:#5b616b !default;
$secondaryButtonTextColor:#ffffff !default;

$blueButtonBgColor:#0071bc !default;
$blueButtonHoverBgColor:#205493 !default;
$blueButtonActiveBgColor:#122e51 !default;
$blueButtonFocusBgColor:#aeb0b5 !default;
$blueButtonTextColor:#ffffff !default;

$cyanButtonBgColor:#00bfe7 !default;
$cyanButtonHoverBgColor:#00a6d2 !default;
$cyanButtonActiveBgColor:#046b99 !default;
$cyanButtonFocusBgColor:#aeb0b5 !default;
$cyanButtonTextColor:#ffffff !default;

$greenButtonBgColor:#4AA564 !default;
$greenButtonHoverBgColor:#378D4F !default;
$greenButtonActiveBgColor:#1D6833 !default;
$greenButtonFocusBgColor:#aeb0b5 !default;
$greenButtonTextColor:#ffffff !default;

$yellowButtonBgColor:#F9C642 !default;
$yellowButtonHoverBgColor:#FDB81E !default;
$yellowButtonActiveBgColor:#EAA200 !default;
$yellowButtonFocusBgColor:#aeb0b5 !default;
$yellowButtonTextColor:#ffffff !default;

$purpleButtonBgColor:#6A4AA5 !default;
$purpleButtonHoverBgColor:#4B2F7F !default;
$purpleButtonActiveBgColor:#36215D !default;
$purpleButtonFocusBgColor:#aeb0b5 !default;
$purpleButtonTextColor:#ffffff !default;

$pinkButtonBgColor:#9f4488 !default;
$pinkButtonHoverBgColor:#8d3c79 !default;
$pinkButtonActiveBgColor:#692d5a !default;
$pinkButtonFocusBgColor:#aeb0b5 !default;
$pinkButtonTextColor:#ffffff !default;

$bluegreyButtonBgColor: #4B6D7E !default;
$bluegreyButtonHoverBgColor:#365361 !default;
$bluegreyButtonActiveBgColor:#233944 !default;
$bluegreyButtonFocusBgColor:#aeb0b5 !default;
$bluegreyButtonTextColor:#ffffff !default;

$tealButtonBgColor: #07A089 !default;
$tealButtonHoverBgColor:#067E6C !default;
$tealButtonActiveBgColor:#04493F !default;
$tealButtonFocusBgColor:#aeb0b5 !default;
$tealButtonTextColor:#ffffff !default;

$orangeButtonBgColor: #fe875d !default;
$orangeButtonHoverBgColor:#E26134 !default;
$orangeButtonActiveBgColor:#B34621 !default;
$orangeButtonFocusBgColor:#aeb0b5 !default;
$orangeButtonTextColor:#ffffff !default;

$greyButtonBgColor: #5B616B !default;
$greyButtonHoverBgColor:#43474E !default;
$greyButtonActiveBgColor:#1B1E22 !default;
$greyButtonFocusBgColor:#aeb0b5 !default;
$greyButtonTextColor:#ffffff !default;

/* List Items */
$listItemPadding:4px 8px !default;
$listItemHoverBgColor:#f1f1f1 !default;
$listItemHoverTextColor:$textColor !default;

/* Messages */
$infoMessageBgColor:#e1f3f8 !default;
$infoMessageTextColor:#212121 !default;
$warnMessageBgColor:#fff1d2 !default;
$warnMessageTextColor:#212121 !default;
$errorMessageBgColor:#f9dede !default;
$errorMessageTextColor:#212121 !default;
$fatalMessageBgColor:#d6d7d9 !default;
$fatalMessageTextColor:#212121 !default;
$messageCloseIconColor:#5b616b !default;

/* TabView */
$headerTabBgColor:#ffffff !default;

/* PanelGrid */
$panelGridHeaderBorderColor:#ffffff !default;
$panelGridCellBorderColor:#aeb0b5 !default;
$toolbarBorderColor:#dddddd !default;
$tabsBgColor:#ffffff !default;
$scrollpanelDragBgColor:#a8acb1 !default;
$scrollpanelTrackBgColor:#f0f3f5 !default;
$tooltipTextBgColor:#2d353c !default;
$wizardBgColor:#ffffff !default;

/*Overlay*/
$dialogTitlebarIconHover:#aeb0b5 !default;
$overlayIconColor:#ffffff !default;
$overlayIconHoverColor:#d6d7d9 !default;

/*misc*/
$progressbarTextColor:#ffffff !default;
$progressbarBgColor:#aeb0b5 !default;

/*Data*/
$datatableCellPadding: 4px 8px 5px 8px !default;
$paginatorBgColor:#ffffff !default;
$panelHeaderTextColor:#999999 !default;
$paginatorTextColor:#999999 !default;
$tableHoverColor:#f1f1f1 !default;
$datatableEvenColor:#f8f8f8 !default;
$panelTitlebarBgColor:#f5f5f5 !default;
$carouselBorderColor:#aeb0b5 !default;
$carouselTextColor:#ffffff !default;
$treeTextColor:#5b616a !default;
$treetableActiveTextColor:#ffffff !default;
$panelButtonBgColor:#ffffff !default;
$scheduleHeaderButtonHoverColor:#5b616b !default;
$scheduleHeaderButtonActiveColor:#122e51 !default;
$tableColumnHeaderBgFocus:#f0f3f5 !default;
$buttonHoverBorderColor:#ffffff !default;
$tableColumnHeaderBgColor:#f0f3f5 !default;

/*Menu*/
$menuitemPadding: 6px 8px !default;
$menuListPadding: 6px 0 !default;
$breadcrumbBgColor:#ffffff !default;
$breadcrumbTextColor:#5b616a !default;
$breadcrumbBorderColor:#d6d7d9 !default;
$stepsItemHighlightBgColor:#e1f3f8 !default;
$stepsItemHighlightTextColor:#0071bb !default;
$stepsItemDisabledBgColor:#ffffff !default;
$stepsItemDisabledTextColor:#212121 !default;
$stepsItemBgColor:#e7f4e4 !default;
$stepsItemColor:#2e8540 !default;
$menuitemIconColor:#5b616a !default;
$menuBgColor:#ffffff !default;
