@border:1px solid #FFFFFF;
@round:5px;
@colorbar1:#489a83;
@size:15px;
@percent:100%;
@fontcolor:#FFFFFF;
@mouse:pointer;
@location1:left;
@location2:right;
@nothing:0;
@no:none;
@show:block;
@colorbar2:#616161;
@sizeem:0.5em;

	#moreprofile{
			@media (max-width:1460px){
				display:@show;
			}
	}
	#profile{
			@media (max-width:1460px){
				display:@no;
			}
		}