.layout-wrapper {
  .ui-breadcrumb {
    border: 1px solid $themePrimaryColor;
    border-left: none;
    border-right: none;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.8rem 0.5rem;

    ul {
      li {
        vertical-align: middle !important;
        font-size: $font-size-lg !important;
        padding: 0 0.3rem !important;

        &.ui-breadcrumb-chevron:before {
          content: "\f105";
        }

        &:first-child {
          span {
            display: none;
          }
        }

        &:last-child {
          pointer-events: none;
        }

        .ui-menuitem-link {
          top: 0;
        }
      }
    }
  }
}
