$topbar-button-size: 1.875rem;
$topbar-button-lg-size: 2.5rem;
$topbar-button-padding: 1rem;

.layout-wrapper {
  .layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    height: $topbar-height;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);

    .header-element {
      height: $topbar-height;
      color: $themeElementTextColor;
      font-size: $topbar-button-size;
      padding: 0 $topbar-button-padding;
      display: flex;
      align-items: center;
      text-decoration: none;
      @include transition(background-color $transition-duration);

      &:hover:not(.no-hover-bg) {
        background-color: $themePrimaryDarkerAlt;
      }
    }

    .menu-button {
      padding: 0;
      flex-shrink: 0;
      width: $topbar-button-size + $topbar-button-padding * 2;
    }

    .header-logo {
      padding: 0 $topbar-button-padding / 2;
      width: $sidebar-width - ($topbar-button-size + $topbar-button-padding) - 1rem;
    }

    .lang-button {
      img {
        height: $topbar-button-size;
      }
    }

    .search-form {
      max-width: 30rem;
      font-size: $font-size-base;

      input {
        width: 100%;
        height: $topbar-button-size;
        border: 0;
        outline: none;
        padding: 0 3px 0 6px;
      }

      button {
        border: 0;
        display: flex;
        align-items: center;
        height: $topbar-button-size;
        background: $themeElementTextColor;
        color: $themeSidebarHoverBgColor;

        &:hover {
          background: $themePrimaryDarkerAlt;
          color: $themeElementTextColor;
        }
      }
    }

    .profile-picture {
      width: $topbar-button-lg-size;
      height: $topbar-button-lg-size;
    }

    .header-menu {
      list-style: none;
      padding-right: 1rem;
      margin-bottom: 0;
      font-size: $font-size-base;

      a {
        padding: 0.7rem 1rem;
        font-size: $font-size-lg;
        text-decoration: none;
        border-bottom: 0.2rem solid transparent;
        color: $themeElementTextColor;

        &:hover {
          border-color: $themeElementTextColor;
        }
      }
    }

    @include media-breakpoint-down($topbar-two-row-display) {
      height: auto;

      .layout-container {
        flex-wrap: wrap;

        > *:not(.search-wrapper) {
          max-width: 50%;
        }

        .search-wrapper {
          width: 100%;
        }
      }

      .search-form {
        max-width: 100%;
      }

      .header-menu {
        a {
          padding: 0.7rem 0.6rem;
        }
      }

      .header-element {
        padding: 0 $topbar-button-padding - 0.6;
      }
    }
  }
}
