.layout-wrapper {
  .layout-sidebar {
    width: $sidebar-width;
    background-color: $white;
    border-right: solid 1px $gray-400;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    @include transition(left $transition-duration);

    @include media-breakpoint-down(lg) {
      left: -$sidebar-width;
      /*top: 105px;*/
      box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.16);
    }

    .sidebar-scroll-content {
      display: block;
      height: 100%;
      position: relative;
      overflow-y: auto;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-sidebar {
      left: -$sidebar-width;
    }
  }

  &.layout-wrapper-overlay-sidebar {
    .layout-sidebar {
      left: -$sidebar-width;
    }

    &.layout-wrapper-overlay-sidebar-active {
      .layout-sidebar {
        left: 0;
      }
    }
  }

  &.layout-wrapper-sidebar-mobile-active {
    @include media-breakpoint-down(lg) {
      .layout-sidebar {
        left: 0;
      }
    }
  }
}
