.layout-wrapper {
  .layout-sidebar {
    width: $sidebar-width;
    background-color: $white;
    border-right: solid 1px $gray-400;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: $topbar-height;
    box-sizing: border-box;
    @include transition();

    @include media-breakpoint-down($topbar-two-row-display) {
      padding-top: 2 * $topbar-height;
    }

    @include media-breakpoint-down($sidebar-hide-display) {
      left: -$sidebar-width;
      box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.16);
    }

    .sidebar-scroll-content {
      display: block;
      height: 100%;
      position: relative;
      overflow-y: auto;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-sidebar {
      left: -$sidebar-width;
    }
  }

  &.layout-wrapper-sidebar-mobile-active {
    @include media-breakpoint-down($sidebar-hide-display) {
      .layout-sidebar {
        left: 0;
      }
    }
  }
}
