$topbar-button-size: 30px;
$topbar-button-padding: 15px;

.layout-wrapper {
  .layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: $min-width;
    width: 100%;
    z-index: 998;
    height: $topbar-height;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);

    .topbar-element {
      height: $topbar-height;
      color: $themeElementTextColor;
      font-size: $topbar-button-size;
      padding: 0 $topbar-button-padding;
      display: flex;
      align-items: center;
      text-decoration: none;
      @include transition(background-color $transition-duration);

      &:hover:not(.search-form) {
        background-color: $themePrimaryDarkerAlt;
      }

      &.logo {
        &:hover {
          color: $light;
          background-color: inherit;
        }
      }

      &.lang-button {
        img {
          height: $topbar-button-size;
        }
      }

      &.search-form {
        min-width: 20rem;
        font-size: 1rem;

        input {
          width: 100%;
          height: $topbar-button-size;
          border: 0;
          outline: none;
          padding: 0 3px 0 6px;
        }

        button {
          border: 0;
          display: flex;
          align-items: center;
          height: $topbar-button-size;
          background: $themeElementTextColor;
          color: $themeSidebarHoverBgColor;

          &:hover {
            background: $themePrimaryDarkerAlt;
            color: $themeElementTextColor;
          }
        }
      }
    }

    @include media-breakpoint-down($topbar-two-row-display) {
      height: 2 * $topbar-height;
      flex-wrap: wrap;

      > div {
        max-width: 50%;
      }

      .search-wrapper {
        width: 100%;
        max-width: 100%;
      }
    }

    @media (max-width: 420px) {
      .logo {
        display: none;
      }
    }
  }
}
