//* {
//    box-sizing: border-box;
//}

body {
  //.ui-widget {
  //    font-family: $fontFamily;
  //    font-size: $fontSize;
  //    text-decoration: none;
  //}

  .ui-icon {
    font-size: $iconSize;
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    position: static;
    text-indent: 0;
    overflow: visible;
    background-repeat: no-repeat;
  }

  .pi {
    font-size: $iconSize;
  }

  .ui-widget-overlay {
    animation-name: modal-in;
    animation-duration: $animationDuration;
    animation-timing-function: $animationTimingFunction;
    animation-fill-mode: forwards;
  }

  .ui-resizable-handle {
    position: absolute;
  }

  .ui-resizable {
    display: flex;
    flex-direction: column;

    .ui-widget-content {
      flex-grow: 1;
    }
  }

  // since PrimeFaces 16, these lists are rendered without .ui-helper-reset
  .ui-helper-reset,
  .ui-menu-list,
  .ui-tabmenu-nav,
  .ui-tabs-nav,
  .ui-wizard-step-titles,
  .ui-selectonemenu-items,
  .ui-selectcheckboxmenu-items,
  .ui-autocomplete-items {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
  }

  .ui-state-disabled {
    opacity: $disabledOpacity;
  }

  .ui-widget-overlay {
    background: $maskBg;
  }
}
