.guide-slideshow {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: $transition-fade;
    background-color: $white;
  }

  &::after {
    content: '\f01d';
    @include fa-icon;
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    font-size: 6rem;
    width: 6rem;
    height: 6rem;
    color: $white;
    text-align: center;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &::before {
      opacity: 0.5;
    }

    &::after {
      color: $themePrimaryColor;
    }
  }

  img {
    max-width: 100%;
  }
}

.ui-guide {
  border: none !important;

  ul {
    li {
      border-top: none !important;
    }
  }

  .ui-steps-item.ui-state-highlight {
    border-top: none !important;

    ~ .ui-steps-item {
      border-top: none !important;
    }
  }

  .completed {
    background-color: $lightGreen;
    color: $themePrimaryColor;
    border-top: 4px solid $themePrimaryColor !important;

    .ui-steps-title {
      color: $themePrimaryColor !important;
      font-weight: 400;
      font-family: sans-serif;
    }

    &::before {
      color: $themePrimaryColor !important;
      margin-right: 0.5rem;
    }
  }

  .not-completed {
    background-color: $lightBlue;
    color: $blue;
    border-top: 4px solid $blue !important;

    .ui-steps-title {
      color: $blue !important;
      font-weight: 400;
      font-family: sans-serif;
    }

    &::before {
      color: $blue !important;
      margin-right: 0.5rem;
    }
  }
}

