.resource-log-snippet {
  display: flex;
  flex-wrap: nowrap;
  font-size: $font-size-sm;

  .resource-preview {
    flex: 0 0 10rem;
  }

  .resource-details {
    flex: 1 1 auto;
  }
}

.res-t-icon {
  color: $ash;
  @include icon-simple('\f15b');

  &.t-text {
    color: $blueDarker;
    @include icon-simple('\f0f6');
  }

  &.t-video {
    color: $red;
    @include icon-simple('\f1c8');
  }

  &.t-image {
    color: $red;
    @include icon-simple('\f1c5');
  }

  &.t-audio {
    color: $red;
    @include icon-simple('\f1c7');
  }

  &.t-pdf {
    color: $red;
    @include icon-simple('\f1c1');
  }

  &.t-website {
    color: $cyanDarker;
    @include icon-simple('\f0ac');
  }

  &.t-spreadsheet {
    color: $greenDarker;
    @include icon-simple('\f1c3');
  }

  &.t-presentation {
    color: $yellowDarkest;
    @include icon-simple('\f1c4');
  }

  &.t-document {
    color: $blue;
    @include icon-simple('\f1c2');
  }

  &.t-survey {
    color: $cappuccino;
    @include icon-simple('\f19d');
  }

  &.t-glossary2 {
    color: $purple;
    @include icon-simple('\f02d');
  }
}

img.res-image-simple {
  max-height: 100%;
  max-width: 100%;
  border-radius: $btn-border-radius;
  animation: fadein $transition-duration;
  border: $border-width solid $themeSidebarDividerColor;
  transition: max-height $transition-duration ease, max-width $transition-duration ease;
  transform-origin: center;
}

ul.res-breadcrumbs {
  padding: 0 1rem;
  margin-bottom: 0;
  list-style: none;
  background: $gray-100;
  border: $border-width solid $gray-200;
  border-left: 0;
  border-radius: 0;

  li {
    display: inline-block;
    position: relative;
    border: $border-width solid transparent;

    &.ui-droppable-active {
      background: lighten($themePrimaryAltColor, 30%);
      border-color: $themePrimaryAltColor;
      border-style: dashed;
    }

    &.ui-droppable-hover {
      border-color: $themePrimaryAltColorDarker;
      background: $themePrimaryAltColorDarker;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 0.2rem 0.5rem;

      &:hover {
        background-color: $gray-300 !important;
      }
    }

    &:last-child a {
      cursor: default;
      pointer-events: none;

      &:hover {
        background-color: transparent !important;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;

      &::after {
        @include fa-icon();
        content: '\f105';
        position: absolute;
        font-size: 1.5em;
        top: 0.1em;
        right: -0.75em;
      }
    }
  }
}

ul.res-filters {
  padding: 0 1rem;
  margin-bottom: 0;
  list-style: none;

  > li {
    display: inline-block;
    position: relative;
    white-space: nowrap;

    .filter-title {
      cursor: pointer;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      line-height: 2;
    }

    &.active,
    &:hover {
      background-color: $gray-400;
    }

    &.ui-state-expand .filter-sub-bar,
    &:hover .filter-sub-bar {
      display: block;
    }

    &.disabled {
      display: none !important;
    }
  }

  .text-truncate {
    max-width: 200px;
  }

  .filter-sub-bar {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    left: 0;
    z-index: 10;
    border: $border-width solid $gray-400;
    max-height: 15rem;
    overflow-y: auto;
    scrollbar-width: thin;

    li {
      background: $gray-200;

      a {
        display: block;
        padding: 0.5rem;
        color: $black !important;
        text-decoration: none;
      }

      &.active,
      &:hover {
        background: $gray-400;
      }
    }
  }

  .search-box {
    // it is used when search started
    &.active {
      .filter-title {
        display: none;
      }

      .res-search-form {
        display: block;
      }
    }
  }

  .res-search-form {
    padding: 0.35rem 0.5rem;
    white-space: nowrap;
    display: none;

    input {
      border: $border-width solid $dark;
      border-right: 0;
      padding: 2px;
    }

    button {
      border: $border-width solid $dark;
      border-left: 0;
      background: none;
      border-radius: 0;
      width: 2em;

      .ui-icon {
        margin-left: -0.625rem;
        margin-top: -0.5rem;
      }

      .ui-button-text {
        padding: 1px;
        line-height: 1.5;
      }

      &:hover,
      &:focus {
        background-color: $gray-200 !important;
      }
    }
  }

  .clear-filters {
    &:hover {
      background: none;

      a {
        color: $primary !important;
      }
    }
  }
}

.res-selector {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  overflow: visible;
  padding: 0.5rem;
  opacity: 0;

  &::before {
    @include fa-icon();
    content: '\f05d';

    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 50%;
    background: $white content-box;
    transition: transform 333ms ease, opacity 333ms ease;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.6);
    z-index: 100;
  }

  .res-highlight-select & { // when one of the resources selected, highlight all buttons
    opacity: 1;

    &::before {
      transform: scale(0.8);
    }
  }

  .ui-draggable-helper &, // When dragging an element which was not selected before
  .ui-selecting &, // when the lasso includes this element
  .ui-selected & { // after a successful selection
    &::before {
      opacity: 1;
      content: '\f058';
      transform: scale(0.7);
      color: $themePrimaryColor;
    }
  }
}

.res-li {
  display: flex;
  padding: $grid-gutter-width / 2;
  border-bottom: $border-width solid $themeSidebarDividerColor;

  &:hover {
    background: $gray-200;
  }

  .res-col {
    align-self: center;
    padding: 0 $grid-gutter-width / 2;
  }

  .res-col-type {
    flex: 0 0 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem; 
  }

  .res-col-description {
    flex: 1 1 auto;
    //align-self: start;
  }
}

.res-datatable {
  padding: $grid-gutter-width / 2;
  border-bottom: $border-width solid $themeSidebarDividerColor;

  @include media-breakpoint-up(sm) {
    .res-row-type {
      width: 100% !important;
    }

    .res-row-title {
      width: 100% !important;
    }

    .res-row-owner {
      width: 100% !important;
    }

    .folder-row-owner {
      width: 100% !important;
    }
  }

  @include media-breakpoint-up(md) {
    .res-row-type {
      width: 15% !important;
    }

    .res-row-title {
      width: 65% !important;
    }

    .res-row-owner {
      width: 30% !important;
    }

    .folder-row-owner {
      width: 30% !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .res-row-type {
      width: 6% !important;
    }

    .res-row-title {
      width: 50% !important;
    }

    .res-row-owner {
      width: 20% !important;
    }

    .folder-row-owner {
      width: 40% !important;
    }
  }

  @include media-breakpoint-down(md) {
    .res-row-date {
      display: none !important;
    }
  }

  thead {
    th {      
      border: none !important;

      &.ui-state-active {
        background: none !important;

        span {
          color: $themePrimaryColor !important;
        }
      }

      &:hover {
        background: none !important;
        color: lighten($themePrimaryColor, 10%) !important;
      }

      .ui-icon-carat-2-n-s::before {
        content: '\f07d';
      }

      .ui-icon-triangle-1-n::before {
        content: '\f175';
      }

      .ui-icon-triangle-1-s::before {
        content: '\f176';
      }
    }
  }

  tbody {
    border: none !important;
    text-align: center;
    font-size: larger;

    tr {
      border-right: none !important;
      border-left: none !important;
      cursor: pointer;

      td {
        border: none;
      }

      &:hover {
        background: lighten($themePrimaryColor, 40%) !important;
      }
    }
  }

  .res-selector {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    position: relative;

    &::before {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.res-empty-text {
  display: flex;
  padding: $grid-gutter-width / 2;
}

.res-container {
  padding: $grid-gutter-width / 2;

  // When file dragged over the element
  &.ui-state-dragenter {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 9;
      background: $light;
      border: 3px dashed $themePrimaryColor;
    }

    &::after {
      @include fa-icon();
      content: '\f0ee';
      z-index: 10;
      color: $themePrimaryColor;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 5rem;
      margin: -2.5rem;
    }
  }
}

.res-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

  &:empty {
    display: none;
  }

  .res-item {
    margin: $grid-gutter-width / 2;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}

.res-block {
  display: block;
  position: relative;
  color: $body-color;
  background: $gray-200;
  box-shadow: $box-shadow-sm;

  .res-bl-preview {
    padding-top: 75%; // 4:3 Aspect Ratio
    position: relative;

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #232f40;
      transition: opacity 333ms ease;
    }

    .res-bl-preview-wrap {
      transition: opacity $transition-duration ease-in-out;
      background-color: $white;
      overflow: hidden;
      position: absolute;
      text-align: center;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;

      .res-bl-preview-image {
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        //noinspection Stylelint
        object-fit: cover;
        pointer-events: none;
        @include user-select(none);
      }
    }
  }

  .res-bl-details {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .res-bl-icon {
      flex: 0 0 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      color: $gray-600;
      background: $gray-300;
    }

    .res-bl-menu {
      display: none;
      background: transparent;

      .res-contextmenu & {
        @media (pointer: coarse) {
          display: flex;
        }
      }
    }

    .res-bl-desc {
      flex: 1 1 auto;
      align-self: center;
      padding: 0 0.5rem;
      overflow: hidden;

      @media (pointer: coarse) {
        padding-right: 0;
      }

      .res-bl-title,
      .res-bl-author {
        display: block;
        @include user-select(none);
        line-height: 1.25;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .res-bl-author {
        color: $gray-600;
        font-size: $font-size-sm;
      }
    }
  }

  &:hover {
    color: $themeElementTextColor;
    background: $themePrimaryColor;

    .res-selector {
      opacity: 1;

      &::before {
        transform: scale(0.8);
      }
    }

    .res-bl-preview {
      &::after {
        opacity: 0.25;
      }
    }

    .res-bl-icon {
      color: $themePrimaryColor;
    }

    .res-bl-author,
    .res-bl-menu {
      color: $themeElementTextColor !important;
    }
  }

  .ui-draggable-helper &, // When dragging an element which was not selected before
  .ui-selecting &, // when the lasso includes this element
  .ui-selected & { // after a successful selection
    color: $themeElementTextColor;
    background: $themePrimaryDarkerAlt;

    .res-bl-preview {
      &::after {
        opacity: 0.25;
        background: $themePrimaryColor;
      }
    }

    .res-bl-icon {
      color: $themePrimaryDarkerAlt;
    }

    .res-bl-menu,
    .res-bl-author {
      color: $themeElementTextColor !important;
    }
  }

  .ui-draggable-dragging & { // While dragging the element
    opacity: 0.5;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none;
  }

  .ui-droppable-active & { // When a draggable that can be dropped on this droppable is activated
    border-color: $themePrimaryAltColor;
    border-style: dashed;

    .res-bl-icon {
      background: lighten($themePrimaryAltColor, 30%);
    }
  }

  .ui-droppable-hover & { // When dragging a draggable over this droppable
    color: $themeElementTextColor;
    background: $themePrimaryAltColorDarker;
    border-color: $themePrimaryAltColorDarker;

    .res-bl-preview {
      border-color: $themePrimaryAltColorDarker;
    }

    .res-bl-icon {
      color: $themeElementTextColor;
      background: $themePrimaryAltColorDarker;
    }

    .res-bl-author {
      color: $themeElementTextColor !important;
    }
  }

  .ui-draggable-helper & { // The floating element
    background-color: $themePrimaryColor;
    color: $white;
    box-shadow: $box-shadow;
    opacity: 1;

    .res-selector,
    .res-bl-preview {
      display: none;
    }
  }
}

.ui-draggable-helper {
  pointer-events: none;
}

.resources-panel {
  @include media-breakpoint-up(md) {
    .col-folders {
      flex: 0 0 auto;
      width: 15rem;

      .ui-panel-content {
        border-right: 0;
      }
    }

    .col-resources {
      flex: 1 0 auto;
      width: 0; // magic
    }
  }

  .ui-panel .ui-panel-content {
    border-top: 0;
    background-color: $contentBgColor;
  }

  .ui-toolbar {
    border: 0;
    padding: 0.1875rem 1rem;
    background: $themePrimaryColor;
    color: $themeElementTextColor;

    .ui-separator {
      pointer-events: none;
    }

    .ui-toolbar-group-left {
      width: 50%;
      margin-right: auto;
    }

    .ui-toolbar-group-right {
      width: 50%;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;

      .ui-button {
        background-color: $themePrimaryAltColor;
        border: $border-width solid $themePrimaryAltColor;

        &.ui-state-hover,
        &.ui-state-focus {
          background-color: $themePrimaryAltColorDarker;
          border-color: $themePrimaryAltColorDarker;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.ui-selectable-helper { // The 'lasso' element used to visualize the ongoing selection.
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border: $border-width dotted $black;
  pointer-events: none;
  z-index: 99999 !important;
}

.archive-snapshot-list {
  a {
    background-color: transparent;
    border: 1px solid $themePrimaryColor;
    color: $themePrimaryColor;
    border-radius: $btn-border-radius;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    &:hover {
      background-color: transparent;
      border-color: $themePrimaryColorDarker;
      color: $themePrimaryColorDarker;
    }
  }
}

.res-view {
  background: $dark;

  &,
  .row,
  .col {
    height: 100%;
  }

  .res-view-embedded {
    overflow: auto;

    .preview-wrapper {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        min-height: 25rem;
      }
    }
  }

  .res-view-details {
    background: $white;
    max-height: 100%;
    overflow: auto;

    .res-view-controls {
      display: flex;
      flex-direction: row;
      padding: $grid-gutter-width / 2;
      background: $themePrimaryColor;

      .ui-button {
        margin: 0 $grid-gutter-width / 4;
      }
    }

    .res-view-panel {
      padding: $grid-gutter-width / 2;
      overflow: auto;
      min-height: calc(100% - 5rem);

      h1 {
        margin: $grid-gutter-width 0;
      }
    }

    &.collapse-details {
      flex: 0 0 3rem;

      .res-view-controls {
        flex-direction: column-reverse;
        justify-content: start;
        height: 100%;

        .ui-button {
          margin: $grid-gutter-width / 4 0;
        }

        .ml-auto {
          display: flex;
          flex-direction: column-reverse;
        }
      }

      .res-view-panel {
        display: none;
      }
    }
  }
}

.paginator {
  .ui-button {
    margin-left: $grid-gutter-width / 8;
    margin-right: $grid-gutter-width / 8;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
