.res-view {
  background: $gray-700;

  &,
  .row,
  .col {
    height: 100%;
  }

  .res-view-embedded {
    overflow: auto;

    .preview-wrapper {
      width: 100%;
      height: 100%;
      overflow: auto;

      > iframe,
      > .video-js {
        width: 100%;
        min-height: 25rem;
      }

      > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        margin: auto;
        /* stylelint-disable-next-line */
        cursor: zoom-in;

        &.amplified {
          width: 100%;
          max-height: initial;
          object-fit: initial;
          /* stylelint-disable-next-line */
          cursor: zoom-out;
        }
      }
    }

    @include media-breakpoint-down(md) {
      border-bottom: $border-width solid $border-color;
      overflow: initial;
      height: auto;
      min-width: auto;
    }
  }

  .res-view-navbar {
    // empty
  }

  .res-view-details {
    color: $white;
    background: $gray-800;
    max-height: 100%;
    overflow: auto;

    .res-details-title {
      color: $gray-500;
      margin: 1.375rem 0 0.5rem;
      padding-bottom: 0.2rem;
      font-size: $font-size-lg;
      border-bottom: 1px solid $gray-600;
    }

    .res-view-controls {
      background: $themePrimaryColor;
      min-height: 2.9rem;

      .ui-button {
        margin: 0 $grid-gutter-width / 4;
      }
    }

    .res-view-panel {
      overflow: auto;
      min-height: 100%;
      position: relative;

      > form {
        position: initial !important;
      }
    }

    .ui-tabs {
      background: transparent;

      .ui-tabs-nav {
        background: transparent;
        border-bottom: 1px solid $gray-600;

        li {
          border: 0;

          a {
            color: $gray-100;
            padding: 0.75rem 1.25rem 0.7rem;
          }

          &.ui-state-active {
            background: transparent;
            border-bottom: 4px solid $gray-600;
          }

          &.ui-state-hover {
            border-bottom: 4px solid $gray-500;

            a {
              color: $gray-500;
            }
          }
        }
      }

      .ui-tabs-panel {
        border: 0;
      }

      .ui-inputfield {
        background: $gray-500;
      }
    }

    .ui-inputfield.ui-state-hover {
      border-color: $gray-600;
    }

    .ui-button.secondary-btn:hover,
    .ui-button.secondary-btn.ui-state-hover,
    .ui-button.secondary-btn.ui-state-focus {
      background: $gray-700;
      border-color: $gray-700;
    }

    .bg-light {
      background: $gray-700 !important;
    }

    .text-success {
      color: $green !important;
    }

    .text-danger {
      color: #ff6767 !important;
    }
  }
}

.archive-snapshot-list {
  a {
    background-color: transparent;
    border: 1px solid $themePrimaryColor;
    color: $themePrimaryColor;
    border-radius: $btn-border-radius;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: inline-block;
    position: relative;
    padding: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    overflow: visible;

    &:hover {
      background-color: transparent;
      border-color: $themePrimaryColorDarker;
      color: $themePrimaryColorDarker;
    }
  }
}

.glossary-table {
  background: $body-bg;

  .ui-datatable-tablewrapper {
    margin: 0 $grid-gutter-width / 2;
  }
}

.comment-details {
  .ui-inplace {
    display: block;
    margin-bottom: 0.25rem;

    .ui-inputfield {
      width: 100%;
    }

    .ui-inplace-display {
      padding: 0;
    }

    .ui-inplace-editor {
      display: block;
      text-align: right;

      button {
        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-color: $secondaryButtonBgColor;
          background: $secondaryButtonBgColor;
        }
      }
    }

    .ui-inplace-cancel {
      border-color: $secondaryButtonBgColor;
      background: $secondaryButtonBgColor;

      &:hover,
      &.ui-state-hover,
      &.ui-state-focus {
        background-color: $secondaryButtonHoverBgColor;
        border-color: $secondaryButtonHoverBgColor;
      }

      &.ui-state-active {
        background-color: $secondaryButtonActiveBgColor;
        border-color: $secondaryButtonActiveBgColor;
      }
    }
  }
}
