.search-list {
  max-width: 40rem; // 640px
}

.search-grid {
  display: grid;
  grid-gap: $grid-gutter-width / 2;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.search-page-sep {
  position: relative;
  line-height: 1;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0.5em;
    left: 4.5rem;
    right: 0;
    background-color: $border-color;
    height: 1px;
  }
}

.search-item-web {
  .item-controls {
    opacity: 0;
    transition: all 0.2s ease-in-out;

    @media (hover: none) and (pointer: coarse) {
      opacity: 1;
    }
  }

  .item-description {
    min-width: 0;

    a,
    a:hover {
      text-decoration: none;
    }
  }

  .res-link {
    span {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-origin {
      color: $blue;
    }

    &:visited .item-origin {
      color: $blueDarkest;
    }

    &:hover .item-title {
      text-decoration: underline !important;
    }
  }

  &:hover .item-controls {
    opacity: 1;
  }
}

.search-item-video {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  color: $body-color;
  background-color: $gray-200;

  &:hover {
    text-decoration: none;
    color: $themeElementTextColor;
    background: $themePrimaryColor;

    .item-thumbnail::after {
      opacity: 0.3;
    }
  }

  .item-thumbnail {
    position: relative;
    padding-bottom: 56.25%;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #232f40;
      transition: opacity 333ms ease;
    }
  }

  .item-title {
    font-weight: $font-weight-bold;
    padding: 0.3rem 0.5rem;
    min-height: 3.225rem;
  }

  .video-duration {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    opacity: 0.75;
    background-color: $themeDarkBgColor;
    color: $themeElementTextColor;
    border-radius: $btn-border-radius;
    font-size: $font-size-sm;
    padding: 0 0.2rem;
  }
}

.search-source-icon {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  margin: 0.1rem 0.2rem;

  &.source-bing {
    background-image: url('../../images/services/bing.gif');
  }

  &.source-flickr {
    background-image: url('../../images/services/flickr.png');
  }

  &.source-youtube {
    background-image: url('../../images/services/youtube.png');
  }

  &.source-vimeo {
    background-image: url('../../images/services/vimeo.gif');
  }

  &.source-ipernity {
    background-image: url('../../images/services/ipernity.gif');
  }

  &.source-ted {
    background-image: url('../../images/services/ted.gif');
  }

  &.source-tedx,
  &.source-teded {
    background-image: url('../../images/services/tedx.gif');
  }

  &.source-loro {
    background-image: url('../../images/services/loro.gif');
  }

  &.source-yovisto {
    background-image: url('../../images/services/yovisto.gif');
  }

  &.source-learnweb {
    background-image: url('../../images/services/learnweb.gif');
  }

  &.source-archiveit {
    background-image: url('../../images/services/archiveit.gif');
  }

  &.source-factcheck {
    background-image: url('../../images/services/learnweb.gif');
  }
}

.search-carousel-image {
  position: relative;
  height: 100px;
  width: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.fancybox-search-layout {
  $search-lightbox-space-around: 2rem;
  $search-lightbox-toolbar-height: 2.5rem;
  $search-lightbox-caption-width: 35%;
  $search-lightbox-mobile-preview-height: 40%;

  .fancybox-outer {
    margin: auto;
    overflow: visible;
    background: $white;
    box-shadow: $box-shadow-lg;
    transition: opacity 0.3s;
  }

  /* Make it to fade-out while closing */
  &.fancybox-is-closing .fancybox-outer {
    opacity: 0;
  }

  /* Set color for background element */
  .fancybox-bg {
    background-color: $gray-700;
  }

  &.fancybox-is-open .fancybox-bg {
    opacity: 0.75;
  }

  /* Adjust content area position */
  .fancybox-stage {
    right: $search-lightbox-caption-width;

    .fancybox-slide {
      padding: $search-lightbox-toolbar-height !important;
    }
  }

  .fancybox-content {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  /* Move caption area to the right side */
  .fancybox-caption {
    top: $search-lightbox-toolbar-height;
    bottom: 0;
    left: auto;
    width: $search-lightbox-caption-width;
    padding: 0;
    background: $themeDarkBgColor;

    .fancybox-caption__body {
      max-height: 100%;
      padding: $grid-gutter-width;
    }

    /* Make space between elements smaller */
    .form-group {
      margin-bottom: 0.5rem;
    }
  }

  /* Align buttons at the right side  */
  .fancybox-toolbar {
    background: $themeDarkBgColor;
    max-height: $search-lightbox-toolbar-height;
    width: $search-lightbox-caption-width;
    border-bottom: 1px solid $gray-900;
    display: flex;
    flex-direction: row-reverse;
  }

  .fancybox-button {
    max-height: $search-lightbox-toolbar-height;
    max-width: $search-lightbox-toolbar-height;
    padding: 0.2rem;
  }

  /* hide close button in iframe */
  .fancybox-close-small {
    display: none;
  }

  /* Remove background from all buttons */
  .fancybox-button,
  .fancybox-navigation button::before {
    background: transparent;
  }

  @include media-breakpoint-up(md) {
    /* Give space around main area */
    .fancybox-outer {
      top: $search-lightbox-space-around;
      bottom: $search-lightbox-space-around;
      right: $search-lightbox-space-around;
      left: $search-lightbox-space-around;
    }

    .fancybox-inner::before {
      content: '';
      background: $themeDarkBgColor;
      right: 0;
      top: 0;
      width: $search-lightbox-caption-width;
      position: absolute;
      bottom: 0;
    }

    /* Change arrow color */
    .fancybox-navigation button {
      color: $themeDarkBgColor !important;
      top: calc(50% - #{$search-lightbox-toolbar-height / 2});
      padding: 0;
    }

    /* Reposition arrows */
    .fancybox-button--arrow_left {
      left: 0 !important;
    }

    .fancybox-button--arrow_right {
      right: $search-lightbox-caption-width !important;
    }
  }

  /*remove padding on mobile devices */
  @include media-breakpoint-down(sm) {
    .fancybox-caption {
      position: relative;
      top: 100 - $search-lightbox-mobile-preview-height;
      width: 100%;
      height: $search-lightbox-mobile-preview-height;
      //noinspection CssInvalidPropertyValue
      overflow: overlay;
    }

    .fancybox-stage {
      bottom: $search-lightbox-mobile-preview-height;
      right: 0;
      top: $search-lightbox-toolbar-height;
      width: 100%;

      .fancybox-slide {
        padding: 0 !important;
      }
    }

    .fancybox-navigation button {
      top: 0;
      padding: 0;
    }

    .fancybox-button--arrow_right {
      right: auto;
      left: $search-lightbox-toolbar-height;
    }

    .fancybox-toolbar {
      width: 100%;
    }
  }
}
