.sh-snippets-list {
  .reference_url {
    color: $themePrimaryColor;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: -10px;
  }
}

.sh-sessions-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 74px;
  position: relative;
  transition: all $transition-duration linear;
  top: 0;

  &:last-of-type {
    /*top: 80px;*/
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed $themePrimaryColor;
    position: absolute;
    top: 0;
    left: -5px;
  }

  li {
    margin: 20px 10px 60px;
    position: relative;
    padding: 10px;
    background: $themePrimaryColor;
    color: $white;
    border-radius: 10px;
    line-height: 20px;

    &.active {
      background: $themePrimaryColorDarker;
    }

    > a > span {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      border: 1px solid $themePrimaryColor;
      position: absolute;
      top: 0;
      left: -15px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $themePrimaryColor;
        border: 1px solid $white;
        position: absolute;
        left: -5px;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 95%;
      }
    }

    .session_username {
      font-weight: bold;
    }
  }

  .info {
    &::first-letter {
      /*text-transform: capitalize;*/
      line-height: 1.7;
    }

    > span {
      background-size: 10px 10px;
      padding-left: 15px;
    }

    span {
      color: $white;

      &::after {
        content: '\2192';
      }

      &:last-child::after {
        content: '';
      }
    }
  }

  .time span {
    position: absolute;
    left: -85px;
    color: $black;
    /*font-size: 80%;*/
    font-weight: bold;

    &:first-child {
      top: -25px;
      font-size: 70%;
    }

    &:nth-child(2) {
      top: -10px;
    }

    &:last-child {
      top: 94%;
    }
  }

  &.sh-session-group {
    &::before {
      border: 1px dashed $gray-600;
    }

    li {
      > span {
        border: 1px solid $gray-600;

        &::before,
        &::after {
          background: $gray-600;
        }
      }

      background: $gray-600;
    }
  }
}

.sh-queries-list {
  padding: 1em 0 0 1em;
  margin: 0;
  list-style: none;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed $themePrimaryColor;
    position: absolute;
    top: 0;
  }

  li {
    margin: 20px 15px;
    border-radius: 10px;

    &.active {
      background: $themePrimaryColor;

      span {
        color: $white;
      }
    }

    div {
      display: inline-block;
      margin: 1em 0;
      vertical-align: top;
    }

    > a > .snippet-list-dot {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      top: 0;

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $themePrimaryColor;
        border: 1px solid $white;
        position: absolute;
        left: 10px;
      }
    }
  }

  .query-time {
    width: 20%;
    font-size: 0.8em;
    padding-top: 0.25em;
    color: $black;
  }

  .query-desc {
    width: 90%;
    color: $black;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
  }
}
