.sh-sessions-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 74px;
  position: relative;
  transition: all $transition-duration linear;
  top: 0;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed $themePrimaryColor;
    position: absolute;
    top: 0;
    left: -5px;
  }

  .session-single {
    margin: 2rem 1rem 3rem;
    position: relative;
    padding: 0.5rem;
    background: $themePrimaryColor;
    color: $white;
    border-radius: 10px;

    &.active {
      background: $themePrimaryColorDarker;
    }

    > span {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      border: 1px solid $themePrimaryColor;
      position: absolute;
      top: 0;
      left: -15px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $themePrimaryColor;
        border: 1px solid $white;
        position: absolute;
        left: -5px;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 100%;
      }
    }

    .session_username {
      font-weight: bold;
    }

    .session-queries {
      a {
        display: block;

        span {
          background-size: 10px 10px;
          padding-left: 15px;
          color: $white;
        }

        &:hover,
        &.active {
          background: $themePrimaryColorDarker;
        }
      }
    }

    .session-time span {
      position: absolute;
      left: -5.5rem;
      color: $black;
      font-size: $font-size-sm * 0.9;

      &:first-child {
        top: -1.5rem;
        font-weight: bold;
        font-size: $font-size-sm;
      }

      &:nth-child(2) {
        top: -10px;
      }
    }
  }

  &.sh-session-group {
    &::before {
      border: 1px dashed $gray-600;
    }

    li {
      > span {
        border: 1px solid $gray-600;

        &::before,
        &::after {
          background: $gray-600;
        }
      }

      background: $gray-600;
    }
  }
}

#snippetsList {
  .snippet-description {
    min-width: 0;

    a,
    a:hover {
      text-decoration: none;
    }
  }

  .snippet {
    span {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .snippet-link {
      color: $blue;
    }

    &:visited .snippet-link {
      color: $blueDarkest;
    }

    &:hover .snippet-title {
      text-decoration: underline !important;
    }
  }
}
