@import '../colors';

$themeSidebarDividerColor: $gray-400;
$themeSidebarHoverBgColor: rgba(33, 33, 33, 0.2);

$themeDarkBgColor: #684c4e;
$themeLightBgColor: #161515;

$themePrimaryColor: $cappuccino;
$themePrimaryColorDarker: $cappuccinoDarker;
$themePrimaryDarkerAlt: $cappuccinoDarkerAlt;
$themePrimaryDarkest: $cappuccinoDarkest;

$themePrimaryAltColor: #53a992;
$themePrimaryAltColorDarker: #549180;
$themePrimaryAltDarkerAlt: #397262;
