.box {
    position: relative;
    height: 350px;
    width: 100%;
    float: left;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#calendar {
    position: absolute;
    height : 100%;
    width : 100%;
    display : none;
}

#head-year-month{
	font-size: 18px;
	font-family: inherit;
  	font-weight: 500; 
  	line-height: 1.1;
  	color: inherit;
}

.tooltipster-custom-theme {
	border: 1px solid #000;
	background: #ffffff;
	border-color: #489a83;
	box-shadow: 1px 1px 5px #888888;
}

.tooltipster-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.btn-primary {
  color: #fff;
  background-color: #489a83;
  border-color: #3b8b74;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
