# If you need to update properties for local development, do that in your local file (copy it and rename to `learnweb_local.properties`)
# This properties are only applied for development profile which is active by default, but disabled on production

# Decide where you want to locally store files uploaded to Learnweb (primarily needed for Group's resources)
# On Windows the path should looks like the following L:\\learnweb\uploaded_files
FILE_MANAGER_FOLDER=/mnt/learnweb/uploaded_files

# If you work from the University or using LUIS VPN this settings should be enough
INTERWEBJ_API_URL=http://hermes.kbs.uni-hannover.de/interweb/api/
SOLR_SERVER_URL=http://***REMOVED***/solr/learnweb
mysql_url=jdbc:mysql://***REMOVED***/learnweb_main

# If you work from home, using SSH port forwarding, use the following values
#INTERWEBJ_API_URL=http://localhost:11080/interweb/api/
#SOLR_SERVER_URL=http://localhost:8982/solr/learnweb
#mysql_url=jdbc:mysql://localhost:3307/learnweb_main

# If you want to use local database, you need to override user and password
#mysql_url=jdbc:mysql://localhost:3306/learnweb
#mysql_user=learnweb_main
#mysql_password=123456

# If you need to work with videos, install FFmpeg on your system and update these paths
#FFMPEG_PATH=/usr/bin/ffmpeg
#FFPROBE_PATH=/usr/bin/ffprobe

# The document server requires "real" url to request resources via callback
# you can't use 'localhost' for that, but you can use this property to forward this requests to real Learnweb server
DOCUMENT_SERVER_URL=https://learnweb.l3s.uni-hannover.de
