@import 'parts/header';
@import 'parts/menu';
@import 'parts/sidebar';

html,
body {
  height: 100%;
}

body,
.layout-container {
  min-width: $min-width;
}

.layout-wrapper {
  .layout-main {
    position: relative;
    padding-top: $topbar-height;
    margin-left: $sidebar-width;
    min-height: 100vh;
    @include transition(margin-left $transition-duration);

    @include media-breakpoint-down($sidebar-hide-display) {
      margin-left: 0;
    }

    @include media-breakpoint-down($topbar-two-row-display) {
      padding-top: $topbar-height * 2;
    }

    .layout-main-content {
      padding: $grid-gutter-width;
      flex: 1 0 auto;
    }

    .layout-footer {
      flex-shrink: 1;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-main {
      margin-left: 0;
    }
  }
}

// adds before element so that the target of anchor links isn't hidden by the menu. Important for example for the privacy statement
:target::before {
  content: '';
  display: block;
  height: #{2*$topbar-height};
  margin: -#{2*$topbar-height} 0 0;
}

@include media-breakpoint-up(md) {
  :target::before {
    content: '';
    display: block;
    height: $topbar-height;
    margin: -$topbar-height 0 0;
  }
}

.ui-loading .ui-loading-spin {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: $white url('../../images/blockui-spinner.svg') no-repeat center 4rem;
    background-size: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990 !important;
  }
}
