.layout-footer {
    background-color: $footerBgColor;
    color: $dividerColor;
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    a {
        color: $textSecondaryColor;
        &:hover {
            color: $primaryTextColor;
        }
    }
}