#layout-right-sidebar {
  width: 230px;
  right: -231px;
  background-color: $sidebarBgColor;
  border-left: solid 1px $sidebarBorderColor;
  position: fixed;
  z-index: 999;
  top: 60px;
  height: 100%;
  padding: 0;
  margin: 0;
  @include transition(right $transitionDuration);
  &.layout-right-sidebar-active {
    right: 0;
    display: block;
  }
  .ui-tabs-panel {
    padding: 0;
    margin-left: -1px;
  }
  .ui-tabs-nav {
    li {
      padding: 0px 13px;
      margin-left: -1px;
      a {
        font-size: 20px;
      }
    }
  }
  .submenu-title {
    padding: 4px 0 4px 11px;
    background-color: $gray-200;
    border-bottom: 1px solid $gray-400;
    span {
      color: $gray-900;
      font-weight: 600;
      line-height: 42px;
      font-size: 16px;
    }
  }
  .submenu-content {
    list-style-type: none;
    &.settings {
      padding: 0 11px;
    }
    ul {
      padding: 0;
      li {
        display: inline-block;
        padding: 11px;
      }
    }
    img {
      float: left;
      margin-right: 8px;
      width: 27px;
      height: 27px;
    }
    span {
      display: block;
      font-size: 12px;
      color: $gray-900;
      &.messager-name {
        font-weight: 600;
      }
      &.message-text {
        width: 83%;
        float: right;
      }
      &.time-stamp {
        color: $gray-500;
        position: absolute;
        text-align: center;
        margin-top: 30px;
        width: 10%;
      }
    }
    .calendar-event-date {
      float: left;
      width: 48px;
      height: 48px;
      text-align: center;
      padding: 6px 0 0 0;
      font-size: 14px;
      font-weight: 600;
      box-sizing: border-box;
      margin-right: 8px;
      background-color: $blue;
      display: block;
      span {
        width: 100%;
        display: inline-block;
        &.date {
          color: $white;
        }
      }
    }
    .calendar-event-detail {
      float: left;
      display: block;
      .calendar-event-title {
        font-weight: 600;
        display: block;
      }
      i {
        margin-right: 4px;
        margin-top: 2px;
        display: block;
      }
      .material-icons {
        font-size: 17px;
        display: inline-block;
        vertical-align: middle;
      }
      .calendar-event-location {
        top: -6px;
        left: -4px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .order-settings {
      background-color: $gray-100;
      color: $blueDarker;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $blueDarker;
        font-weight: 600;
      }
    }
    .sales-settings {
      background-color: $lightGreen;
      color: $greenDarker;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $greenDarker;
        font-weight: 600;
      }
    }
    .shipment-settings {
      background-color: $lightYellow;
      color: $yellowDarker;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $yellowDarker;
        font-weight: 600;
      }
    }
    .visitors-settings {
      background-color: $lightRed;
      color: $red;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $red;
        font-weight: 600;
      }
    }
    .history-settings {
      background-color: $lightPurple;
      color: $purpleDarker;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $purpleDarker;
        font-weight: 600;
      }
    }
    .leads-settings {
      background-color: $gray-300;
      color: $gray-600;
      text-align: center;
      width: 80px;
      height: 74px;
      &:hover {
        box-shadow: 0 0 8px $gray-500;
      }
      i {
        font-size: 30px;
      }
      span {
        color: $gray-600;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #layout-right-sidebar {
    top: 105px;
  }
}