@import '../variables';

/*Badge*/
$badgeBgColor:#4aa564 !default;
$badgeTextColor:#ffffff !default;

/* RouteBar */
$routeBarBgColor:#ffffff !default;
$routeBarBorderColor:#d6d7d9 !default;
$routeBarIconColor:#5b616a !default;
$routeBarIconHoverBgColor:#f1f1f1 !default;