
a.suggestSolrWebLink:link,a.suggestSolrWebLink{font-size: 1.3rem; font-family: "Segoe UI",Arial,Helvetica,sans-serif;}
a.suggestWebLink:link,a.suggestWebLink{font-size: 1.3rem; font-family: "Segoe UI",Arial,Helvetica,sans-serif; color:green;}
a.suggestWebLink:visited{color:purple;}

.related_entities
{
	position: fixed;
	top:70px;
	left:610px;
	width:415px;
	padding:10px 20px;
	background-color:#f9f9f9;
}
.entity_links
{
	list-style-type:none;
	padding:0;
	margin:0;
}
#loadingsymbol { left: 19rem; }	

#message {
	position: fixed;
	width: 100%;	
	z-index: 1;
}


#main_menu_bar { background-image:url(archive_search.png) !important; }

.right_bar
{	
	width: 24%;
}