
h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}


a {
	text-decoration: none;
	color: #4F4F4F;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

/* necessary for presentations */
.ui-widget {
    font-size: 12px !important;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
    height: 40px !important;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}