
#search_loading_more_results {
	line-height:30px;
}
#search_loading_more_results img {
	vertical-align:bottom;
	margin-left:3px;
}

#search_loading_more_results,
#search_nothing_found,
#search_no_more_results {
	font-weight: bold;
	display: none;
	border: 1px solid black;
	background-color: #5C5C5C;
	padding: 5px;	
	color:white;
	margin:10px;
	text-align:center;
	z-index:1;
	clear:both; 
}

#tabView,
#exploretabView {
	height:99%;
	overflow:auto;
}

.right_bar
{	
	float: right;
	height: 91%;
	width: 24%;
	padding:5px;
	display: inline-block;
	position: fixed;
	right: 8px; 
	top: 75px;
	
}

.web_right_bar
{	
	float: right;
	height: 91%;
	width: 31%;
	padding:5px;
	display: inline-block;
	position: fixed;
	right: 8px; 
	top: 100px;
	overflow:auto;
}

.resources { 
	position:relative;
}

/*To indicate if the resource is an old resource*/
.oldResource{
}


/* Search filters bar */ 

#filters_menu_bar {
	background-color: #6E6E6E;
	line-height: 2.1rem;
	width: 100%;
	height: 2.8rem;
}

#filters_menu_bar > * {
	margin-left: 22rem;
}

#filters_menu_bar ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#filters_menu_bar ul li {
	float: left;
	display: block;
	position: relative;
	white-space: nowrap;
}

#filters_menu_bar ul li.active, #filters_menu_bar ul li:hover {
	background-color: #7B7B7B;
}

#filters_menu_bar .filter-name {
	cursor: pointer;
	font-size: 1.3rem;
	display: inline-block;
	padding: 0.4rem 1.4rem 0.3rem;
	color: #fff;
}

#filters_menu_bar .search-filters li:hover .filter-sub-bar {
	display: block;
}

#filters_menu_bar .filter-sub-bar {
	display: none;
	position: absolute;
	top: 2.8rem;
	left: 0;
	width: auto;
	z-index: 10;
	border: solid 1px #ccc;
	background: #fff;
}

#filters_menu_bar .filter-sub-bar.hidden {
	display: none;
}

#filters_menu_bar .filter-sub-bar a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  padding: 0 15px 0 10px;
  line-height: 32px;
  color: #000 !important;
}

#filters_menu_bar .filter-sub-bar a.active, #filters_menu_bar .filter-sub-bar a:hover {
	background: #eee;
}

#filters_menu_bar a.clear-filter {
	text-decoration: none;
	font-size: 1.3rem;
	display: inline-block;
	padding: 0.4rem 1.4rem 0.3rem;
}

#filters_menu_bar a.clear-filter:hover {
	text-decoration: underline;
}

#filters_menu_bar .arrow {
	width: 0; 
	height: 0; 
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-top: 0.4rem solid #fff;
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 5px;
}

.result-count { color:grey; }
.result-count::before { content: " ("; } 
.result-count::after { content: ")"; }

/* ----------------------- List view ------------------------*/

.list_view#results {
	float: left;
	width: 61%;
	min-width: 500px;
	max-width: 700px;
}

.list_view#explore_resultset{
	float: left;
	width: 61%;
	min-width: 631px;	
}

.list_view .resource
{
	margin:20px 15px;
}

.list_view .resource:hover
{
	background: rgba(204, 204, 204, 0.03);
}

.list_view a {  text-decoration: none; color:#1020D0}
.list_view a:hover { text-decoration: underline;}

.list_view .add_resource_link a:link, 
.list_view .add_resource_link a:visited,
.list_view .add_resource_link a { text-decoration: underline; color: black; }
.list_view .add_resource_link a:hover { text-decoration: none; }
.list_view .add_resource_link img { vertical-align: top; margin-right:3px; }

.list_view a.resourceWebLink:link, 
.list_view a.resourceWebLink { font-size: 1.6rem; font-family: "Segoe UI",Arial,Helvetica,sans-serif; }
.list_view a.resourceWebLink:visited { color:rgb(60, 110, 200); }
/* color:rgb(88, 147, 236); */
.page_counter {
	font-weight:bold;
	margin:5px 0 -10px 15px;
}

.list_newResource {
	outline:5px solid;
	outline-color:rgb(89,255,24);	
}
/* ---------------------- Float view ------------------------*/

div.float_view {
	padding:1px 6px;
	text-align: justify;
	max-width:100%;
	/* width:75%; f�r die search history scheisse; aktivieren und max width deaktivieren, zerschie�t aber normales design */

	position:relative;
}

div.float_view .resource { 
	display:inline;
	text-align:left;
	z-index:2;	
}

div.float_view .smallImage:hover {box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);   }

.float_newResource img{
	outline:5px solid;
	outline-color:rgb(89,255,24);	
}

/* ---------------------- Grid view ------------------------*/

div.grid_view {
	margin:5px 10px;
	max-width:100%;
	/* width:75%; f�r die search history scheisse aktivieren und max width deaktivieren, zerschie�t aber normales design */
	position:relative;
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;	
}

div.grid_view .resource { 
	float:left;
	text-align:left;	
	height:auto;
	border-bottom:1px solid #CCCCCC;
	z-index:2;
}

div.grid_view .border { 
	padding:6px;
	border-right:1px solid #CCCCCC;
}

div.stretchy-wrapper {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
}

div.grid_view .smallImage { 
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	cursor:pointer;	
	background-size: cover;
	background-position:center;
}

div.grid_view .duration { 
	position:absolute;
	right:2px;
	bottom:2px;
	background-color:rgba(0,0,0,0.5);
	padding:1px 2px;
	color: white;
	font-size:10px;
}

div.grid_view .border > .title {
	margin:0;
    padding:5px 0 0 0; 
    font-size:12px;
    font-weight:normal;
	background-color:transparent;
    white-space: nowrap;
    overflow:hidden;
	text-overflow:ellipsis;
	height:16px;
}


div.grid_view .resource:hover { 
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
}

.grid_newResource .border{
	outline:5px solid;
	outline-color:rgb(89,255,24);
} 

/* ---------------------- Preview ------------------------*/

.metadata { display: none; }
img.mediumImage { cursor:pointer; }
img.smallImage { cursor:pointer; margin:4px; }

.preview {	
	position:absolute;
	display:none;
	background-color: white;
	border: 1px solid grey;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	padding: 8px;
	z-index:10;
}
.preview>img { 
	display:block;
	margin:0 auto;
}
.preview .title { 
	font-size:12px;
	font-weight: 600;
	padding:5px 0 0 0; 
	background-color:transparent;
    color: black;
    white-space: nowrap;
    overflow:hidden;
	text-overflow:ellipsis;
}
.preview .description {
	color: #4F4F4F;
}

.preview>.location img {
	margin-bottom: -4px;
	margin-right: 5px;
}

.preview>.location a {
	color: black;
}

/* ----------------------- Lightbox --------------------------*/
#lightbox {
	display:none;
    position:fixed; 
    top: 0px;
    left:0;
    height:100%; 
    width:100%; 
    background: rgba(100, 100, 100, 0.6);
    z-index:899;
}

#lightbox_background { 
	position:absolute;
    height:100%; 
    width:100%; 
    z-index:900; 
} 
#lightbox_container {
	position:relative; 
    background: #191919; 
    margin:81px 32px 5px 32px; 
    color:white;   
    z-index:901;
    box-shadow:0 0 3px 3px #bfbfbf; 
} 

#lightbox_title .title { 
    padding:5px; 
    font-size:15px;
    font-weight:bold;
	background-color:transparent;
    color: white;
} 
#lightbox_left { 
	position:absolute;
    top:0;
    left:0;
    height:100%;
    width:70%; 
}

#lightbox_right { 
	position:absolute;
    top:0;
    right:0;
	height:100%;
    width:30%; 
    background-color:black;
    overflow:auto;
}

#lightbox_content { 
	position:relative; 
	padding:0 30px;
}

#lightbox_content .embedded { 
	display:block;
	position:relative;
	left:0;
	top:0;
	width:100%;
	z-index:902;
}
#lightbox_metadata {
	padding:30px 5px 5px 5px;
}
/*
#lightbox .options {
    background-color:transparent;
    height:auto;
    margin-bottom: 0;
    min-width: auto;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: middle;	
}*/

#lightbox_close {
	position:absolute;
	right:10px;
	top:10px;
	width:24px;
	height:24px;
	background:url(../resources/search/icon/cancel-inv.png) center no-repeat;
}

#lightbox_navigate_left {
	position:absolute;
	left:0;
	top:0;
	width:30px;
	height:100%;
	background:url(../resources/search/icon/media-backward-inv.png) center no-repeat;
	cursor:pointer;
	opacity: 0.5;
	z-index:910;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#lightbox_navigate_left:hover {
	opacity: 1;	
}

#lightbox_navigate_right {
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:100%;
	background:url(../resources/search/icon/media-play-inv.png) center no-repeat;
	cursor:pointer;
	opacity: 0.5;
	z-index:910;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
#lightbox_navigate_right:hover {
	opacity: 1;
 }

#lightbox_container a:link, #lightbox_container a:visited,
#lightbox_container a { color:white; text-decoration:underline; }
#lightbox_container a:hover { text-decoration:none;}





.source_bing { box-shadow: 0 4px 16px rgba(255, 0, 0, 0.8); }
.source_ipernity { box-shadow: 0 4px 16px rgba(0, 200, 0, 0.8); }
.source_flickr { box-shadow: 0 4px 16px rgba(0, 0, 200, 0.8); }

/*------------------- Fact sheet -------------------------*/


.fact_sheet_value a
{
	color : rgb(88, 147, 236);
}

.fact_sheet_field
{
	font-weight: bold;
}

.fact_sheet_detail
{
	padding-bottom: 5px;
}

#fact_sheet_description
{
	padding-bottom: 10px;
}

#fact_sheet_label
{
	font-size: 26px;
	padding-bottom: 5px;
}

#fact_sheet_contents
{
	padding: 20px 10px 15px 10px;
}


#fact_sheet_image_wrapper
{
	height: 184px;
	overflow: hidden;
	display: block;
	position: relative;
}

#fact_sheet_first_image img
{
	max-width: 180px;
	margin: 1px !important;
}

#fact_sheet_first_image
{
	height: 182px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}

#fact_sheet_first_image_td
{
	vertical-align: top;
}

#fact_sheet_wrapper table
{
	border-spacing: 0px;
}

#fact_sheet_wrapper table td
{
	padding: 0px;
}

#fact_sheet_wrapper
{
	float: right;
	margin: 15px;
	width: 35%;
	min-width: 356.296875px;
	border: 1px solid #ddd;
	z-index: 10000;
	box-shadow: 0 0 4px #ccc;
	padding: 0px;
	color: black;
}
