.onhover-scrollbar{
  overflow-y: hidden;
  &:hover{
    overflow-y: overlay;
  }
}


.command-button{
  background: $primaryButtonBgColor;
  color: $primaryButtonTextColor;
  border: .1rem solid $primaryButtonBgColor;
  border-radius: .2rem;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  &:hover{
    background: $primaryButtonHoverBgColor;
    border-color: $primaryButtonHoverBgColor;
  }
}

.w-30{
  width: 30% !important;
}
