.layout-topbar {
  height: 60px !important;

  .topbar-logo i {
    font-size: 2rem;
    line-height: 1;
    padding-left: 0.5rem;
  }

  .menu-button {
    position: initial !important;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    font-size: 30px;
    color: $topbarTextColor;
    text-align: center;
    @include transition(background-color $transitionDuration);

    &:hover {
      background-color: $topbarIconHoverBgColor;
    }

    i {
      line-height: inherit;
    }
  }

  .search-form {
    display: flex;
    width: 100%;

    input[type='search'] {
      border: none;
      font-size: 1.4rem;
      width: inherit;
      background: white;
      padding: 0 .5rem;
      max-width: 37.5rem;
    }
  }

  .search-button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background: white;
    border-radius: 0 .1rem .1rem 0;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    fill: grey;

    i {
      color: $megamenuTextColor;
      font-size: 1.25rem;

      &:hover {
        color: $primaryTextColor;
        fill: $primaryTextColor;
      }
    }

    &:hover {
      background: #2E8540;
      color: $primaryTextColor;
      fill: $primaryTextColor;
    }
  }

  .topbar-menu-button {
    position: initial !important;
  }

  .usermenu {
    a {
      text-decoration: none;

      &:hover {
        color: $primaryTextColor;
      }
    }
  }
}
