.layout-wrapper {
  .layout-sidebar{
    overflow-y: auto;
    .layout-menu{
      padding-bottom: 44px;
    }

    .ui-tree{

      width: auto;
      padding: 0;
      border-bottom: none;
      box-sizing: border-box;
      display: block;
      margin: -1px;
      margin-top: -2px;
      .ui-tree-container{
        padding: 0;

        .ui-treenode{
          padding: 0;



          .ui-treenode-content{


            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 8px 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            border-top: 1px solid #e4e2e0;

            &:hover {
              cursor: pointer;

              background-color: #f1f1f1;
            }

            .ui-icon{

            }

            .ui-icon-triangle-1-e:before{
              content: "\f107";
              transition: transform 0.3s;
              transform: rotate(0deg);
              color: #5b616a;
              font-weight: 700;
            }

            .ui-icon-triangle-1-s:before{
              color: #5b616a;
              font-weight: 700;
              content: "\f107";
              transition: transform 0.3s;
              transform: rotate(-180deg);
            }


            .ui-tree-toggler{
              margin: 0;
            }

            .ui-treenode-label{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              width: 100%;

              &[aria-expanded="true"]{
                a{
                  color: #4AA564;
                }
                
              }

              a{
                margin-left: 12px;
                color: #212529;
                font-weight: 500;
                font-size: 1rem;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
              }
            }

          }
        }
      }
    }


  }

}