@import "parts/_header";
@import "parts/_menu";
@import "parts/_right-pane";
@import "parts/_sidebar";

body,
.layout-container {
  min-width: $min-width;
}

.layout-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  @include transition();

  &:not(.show) {
    display: none;
  }
}

.layout-wrapper {
  .layout-breadcrumb {
    background-color: $white;
    border: 1px solid $themePrimaryColor;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: $grid-gutter-width/2 $grid-gutter-width;
    }
  }

  .layout-main {
    position: relative;
    padding-top: $topbar-height;
    margin-left: $sidebar-width;
    min-height: 100vh;
    @include transition(margin-left $transition-duration);

    @include media-breakpoint-down($topbar-two-row-display) {
      padding-top: 2 * $topbar-height;
    }

    @include media-breakpoint-down($sidebar-hide-display) {
      margin-left: 0;
    }

    .layout-main-content {
      padding: $grid-gutter-width;
      flex: 1 0 auto;
    }

    .layout-footer {
      flex-shrink: 1;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-main {
      margin-left: 0;
    }
  }
}
