@import "parts/_breadcrumb";
@import "parts/_sidebar";
@import "parts/_topbar";

.layout-wrapper {
  .layout-main {
    position: relative;
    padding-top: $topbar-height;
    margin-left: $sidebar-width;
    min-height: 100vh;
    @include transition(margin-left $transition-duration);

    @include media-breakpoint-down($topbar-two-row-display) {
      padding-top: 2 * $topbar-height;
    }

    @include media-breakpoint-down($sidebar-hide-display) {
      margin-left: 0;
    }

    .layout-main-content {
      padding: 15px;
      flex: 1 0 auto;
    }

    .layout-footer {
      flex-shrink: 1;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-main {
      margin-left: 0;
    }
  }
}
