@import "parts/_breadcrumb";
@import "parts/_header";
@import "parts/_right-pane";
@import "parts/_sidebar";

.layout-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba($themeDarkBgColor, 0.85);
  @include transition();
}

.layout-wrapper {
  .layout-main {
    position: relative;
    padding-top: $topbar-height;
    margin-left: $sidebar-width;
    min-height: 100vh;
    @include transition(margin-left $transition-duration);

    @include media-breakpoint-down($topbar-two-row-display) {
      padding-top: 2 * $topbar-height;
    }

    @include media-breakpoint-down($sidebar-hide-display) {
      margin-left: 0;
    }

    .layout-main-content {
      padding: $grid-gutter-width / 2;
      flex: 1 0 auto;
    }

    .layout-footer {
      flex-shrink: 1;
    }
  }

  &.layout-wrapper-sidebar-inactive {
    .layout-main {
      margin-left: 0;
    }
  }
}
