body {
	background: #f2f2f2  url("../../resources/frontpage/luh_winter.jpg") no-repeat center center fixed;
	background-size:cover;
}
#message {
	max-width:85rem;
	margin:2% auto;
}
.content_box {
    color: #4F4F4F;
    max-width: 92rem;
    background-color: rgba(255,255,255,0.95);
    margin: 5% auto;
    padding: 3rem;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

#main_menu_bar {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4) !important;
}

.grey_border { background-color:white; }

h2 {
	font-weight: 100;
	color: #489A83;
}
h3 { margin: 0.4rem 0; }
h4 { text-decoration:underline;	font-size:1.3rem; margin: 0.8rem 0 0.4rem; }

.homepage_infotext{
	font-size:medium;
	text-align:justify;
	display:block;
	margin-bottom:2rem;
}
#div_left{
	float:left;
	padding-right:1.5rem;
	box-sizing:border-box;
	width:33%;

	border-right:2px solid #489a83;
}
#div_left table { width: 100%; }
#div_left table td { padding:0; }
#div_right{
	float:right;
	width:67%;
	padding-left:1.5rem;
	box-sizing:border-box;
}
#link a{
	text-decoration:none;
	color:#489a83;
}
#link a:hover{
	text-decoration:underline;
}

.ui-inputfield.inputbox{
	box-sizing:border-box;
	width: 100%;
	font-size:1.4rem;
	margin:4px 0;
	background-color: #F7F7F7 !important;
}
.inputbox:focus{
	background-color: white !important;
}

.greenbutton{
	border:none;
	background-color:#489a83;
	padding:4px 10px;
	color:white;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}
.forgotten_password {
	color:#4F4F4F;
	display:block;
	margin-bottom:0.8rem 0 2rem 0;
}



.first_column{
	width:26%;
}
.description{
	width:74%;
	text-align:justify;
}
.changes{
	font-weight:bold;
}

#index_footer {
    text-align: center;
    color:#4F4F4F;
    background-color: #fff;
    padding: 1rem 3rem;
    opacity: .9;
    max-width: 92rem;
    margin: 0 auto;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.5);
}
#index_footer a { text-decoration: none; margin-left:3px; color:#000000; }
#index_footer a:hover { text-decoration: underline; }

@media screen and (max-width:50rem){
	#div_left{
		float:none;
		width:100%;
	}
	#div_right{
		float:none;
		width:100%;
		border-left:none;
		margin-top:5%;
		padding-left:0rem;
	}
	.video_guide{
		width:280px;
		margin:0 auto;
	}
	#div_left table {
		width:280px;
	}
}