body {
	background:url("../resources/frontpage/luh.jpg") no-repeat center center fixed;
	background-size:cover;
}
#message { 
	max-width:85rem; 
	margin:2% auto;
}
.info{
	color:white;
	max-width:92rem; 
	background-color: rgba(0, 0, 0, 0.8);
	margin:5% auto;
	padding:3rem;
	box-sizing:border-box;
}


h2 { margin-top: 0.4rem; }
h3 { margin: 0.4rem 0; }
h4 { text-decoration:underline;	font-size:1.3rem; margin: 0.8rem 0 0.4rem; }

.homepage_infotext{
	font-size:medium; 
	text-align:justify;
	display:block;
	margin-bottom:2rem;
}
#div_left{
	float:left; 
	padding-right:1.5rem;
	box-sizing:border-box;
	width:33%; 
}
#div_left table { width: 100%; }
#div_left table td { padding:0; }
#div_right{
	float:right; 
	width:67%; 
	padding-left:1.5rem; 
	border-left:2px solid #489a83; 
	box-sizing:border-box;
}

.ui-inputfield.inputbox{
	box-sizing:border-box;
	width: 100%;
	font-size:1.4rem;
	padding:4px 7px;
	margin:4px 0;
	background-color: #F7F7F7 !important;
	border: none !important;
	border-radius:0px;
}
.inputbox:focus{
	background-color: white !important;
}
.greenbutton{
	border:none;
	background-color:#489a83;
	padding:4px 10px;
	color:white;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;
}
.forgotten_password {
	color:white;
	display:block;
	margin-bottom:0.8rem 0 2rem 0;
}

.video_guide{
	background:url(../resources/frontpage/videoguide.jpg) top;
	width:100%;
	height:153px;
	cursor:pointer;
}
.video_guide:hover{
	background-position:bottom;
}

.first_column{
	width:26%;
}
.description{
	width:74%;
	text-align:justify;
}
.changes{
	font-weight:bold;
}
#index_footer {
	color:#ffffff;
	position: fixed;
	bottom: 0px; 
	text-align: center;
	z-index:1500;
	width:100%;
	background-color:#489a83;
	padding:5px;
}
#index_footer a { text-decoration: none; margin-left:3px; color:#000000; }
#index_footer a:hover { text-decoration: underline; }

@media screen and (max-width:40rem){
	#div_left{
		float:none;
	}
	#div_right{
		float:none;
		width:100%; 
		border-left:none;
		margin-top:5%; 
		padding-left:0rem;
	}
	.video_guide{
		width:280px;
	}
	#div_left table { 
		width:280px; 
	}
}