<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>${project.name} ${project.version}</display-name>
    <description>${project.description}</description>

    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--<param-value>Development</param-value>-->
        <!--<param-value>Production</param-value>-->
        <param-value>${javax.faces.project_stage}</param-value>
    </context-param>

    <!-- PrimeFaces https://primefaces.github.io/primefaces/8_0/#/gettingstarted/configuration -->
    <context-param>
	    <param-name>primefaces.UPLOADER</param-name>
	    <param-value>native</param-value>
	</context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.SUBMIT</param-name>
        <param-value>partial</param-value> <!-- Enable partial submit in PrimeFaces - this reduces the network traffic -->
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>***REMOVED***</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>***REMOVED***</param-value>
    </context-param>

    <!-- Check this recommendations https://primefaces.github.io/primefaces/8_0/#/core/performance?id=recommended-configuration -->
    <!-- Also this page provides description for everything https://myfaces.apache.org/core23/myfaces-impl/webconfig.html -->
	<context-param>
		<description>
            Removes HTML comments from the output like <!--@elvariable id="pageTitle" type="java.lang.String"-->
        </description>
	    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
	    <param-value>true</param-value>
	</context-param>
    <context-param>
        <param-name>org.apache.myfaces.RESOURCE_MAX_TIME_EXPIRES</param-name>
        <!-- <param-value>1209600000</param-value> -->        
                       
        <param-value>18000000</param-value> <!-- expiration set to 5 minutes as long as v3 isn't stable  -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.commons.GZIP_RESOURCES_ENABLED</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
        <param-value>30</param-value> <!-- TODO: Why do we have so high numbers? PrimeFaces recommends 15 -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.NUMBER_OF_SEQUENTIAL_VIEWS_IN_SESSION</param-name>
        <param-value>30</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.EARLY_FLUSH_ENABLED</param-name>
        <param-value>true</param-value> <!-- Flush the response directly after the head to allow start loading resources on the browser side -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
        <param-value>false</param-value> <!-- Disable ViewState compression (better performance but more memory usage) -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.CHECK_ID_PRODUCTION_MODE</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.SUPPORT_JSP_AND_FACES_EL</param-name>
        <param-value>false</param-value> <!-- Increase startup performance and EL resolution by disable deprecated features -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.VIEW_UNIQUE_IDS_CACHE_ENABLED</param-name>
        <param-value>true</param-value> <!-- Increase cache -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.COMPONENT_UNIQUE_IDS_CACHE_SIZE</param-name>
        <param-value>500</param-value> <!-- Increase cache -->
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.application</param-value>
    </context-param>
    <context-param>
		<description>
            Scanning for context init parameters not defined. It is not necessary to define
            them all into your web.xml, they are just provided here for informative purposes.
            To disable this messages set org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS config param to 'false'
        </description>
        <param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>
            If true, rendered HTML code will be formatted, so that it is 'human-readable'
            i.e. additional line separators and whitespace will be written, that do not influence the HTML code.
            Default is 'true'
        </description>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
        <param-value>false</param-value> <!-- Enable if you want to use f:validateWholeBean -->
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.LIBRARIES</param-name>
        <param-value>/WEB-INF/learnweb.taglib.xml</param-value>
    </context-param>

    <servlet>
        <display-name>Faces Servlet</display-name>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Simple Servlet for Streaming Files to the Clients Browser</description>
        <display-name>DownloadServlet</display-name>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>de.l3s.learnweb.resource.DownloadServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Servlet for saving edited documents</description>
        <display-name>SaverServlet</display-name>
        <servlet-name>saverServlet</servlet-name>
        <servlet-class>de.l3s.learnweb.resource.office.SaverServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>saverServlet</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Servlet for getting document history</description>
        <display-name>HistoryServlet</display-name>
        <servlet-name>historyServlet</servlet-name>
        <servlet-class>de.l3s.learnweb.resource.office.HistoryServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>historyServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>de.l3s.learnweb.web.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
	Because the ImageIO plugin registry (the IIORegistry) is "VM global", it doesn't by default work well with servlet contexts.
	https://github.com/haraldk/TwelveMonkeys#deploying-the-plugins-in-a-web-app
	 -->
    <listener>
        <display-name>ImageIO service provider loader/unloader</display-name>
        <listener-class>com.twelvemonkeys.servlet.image.IIOProviderContextListener</listener-class>
    </listener>

    <security-constraint>
        <display-name>Restrict access to raw XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <error-page>
        <exception-type>java.sql.SQLNonTransientConnectionException</exception-type>
        <location>/lw/error-db.jsf</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/lw/error-expired.jsf</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/lw/error-404.jsf</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/lw/error.jsf</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/lw/error-server.jsf</location>
    </error-page>    

    <welcome-file-list>
        <welcome-file>index.jsf</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
