/* base variables */
$fontFamily: $font-family-base;
$fontSize: 14px;
$borderRadius: $border-radius;
$dividerColor: $gray-200;
$textColor: $body-color;
$textSecondaryColor: $gray-400;
$transitionDuration: .3s;
$mobileBreakPoint: map-get($grid-breakpoints, "lg");
