
h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}


a {
	text-decoration: none;
	/* set a color */
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

/* necessary for presentations */
.ui-widget {
    font-size: 12px !important;
}



/* die folgenden sind noch nicht überprüft */

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}


.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.submenu-title {
    padding: 4px 10px;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}




