/*-----easy solution TODO improve late -------*/
#loadingsymbol{
	position:absolute;
	left:15rem;
	top:50%;
	margin-top:-16px;
	visibility:hidden;
}
/*lightbox*/
/*#lightbox_container { box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); }*/
#lightbox {
	display:none;
    position:fixed; 
    top: 0px;
    left:0;
    height:100%; 
    width:100%; 
    background: rgba(100, 100, 100, 0.6);
    z-index:899;
}

#lightbox_background { 
	position:absolute;
    height:100%; 
    width:100%; 
    z-index:900; 
} 
#lightbox_container {
	position:relative; 
    background:#191919; 
    margin:81px 8% 5px 8%; 
    color:white;   
    z-index:901; 
    box-sizing:border-box;    
	padding-top:3rem;
}
#lightbox_content {
    height:100%;
    width:100%;	
    background:url(../resources/search/icon/grain-2.png) center no-repeat
}

#lightbox_close {
	position:absolute;
	right:1.5rem;
	top:50%;
	margin-top:-12px;
	margin-right:-12px;
	width:24px;
	height:24px;
	background:url(../resources/search/icon/cancel-inv.png) center no-repeat;
	
}
#lightbox_navigate_left {
	position:absolute;
	left:0;
	top:0;
	width:30px;
	height:100%;
	background:url(../resources/search/icon/media-backward-inv.png) center no-repeat;
	cursor:pointer;
	opacity: 0.5;
	z-index:910;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#lightbox_navigate_left:hover {
	opacity: 1;	
}

#lightbox_navigate_right {
	position:absolute;
	right:0;
	top:0;
	width:60px;
	height:100%;
	background:url(../resources/search/icon/media-play-inv.png) center no-repeat;
	cursor:pointer;
	opacity: 0.5;
	z-index:910;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
#lightbox_navigate_right:hover {
	opacity: 1;
 }
