#groupoverview_link {
	padding:0.5em 0.5em 0.5em 2.2em;
	font-size:1em;
	color:#2F556A;
	
}

.zoom_cursor {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

a.rss_link { 
	display:block;
	height:32px;
	width:32px;
	background-image:url(../icon/rss_off.png);
}
a.rss_link:hover {
	background-image:url(../icon/rss_on.png);
}

.klapper_zu { 
	float:left;
	width:11px;	 
	background:url('../icon/icon-minus.gif') bottom no-repeat; 
	margin-right:3px;
	cursor:pointer;	
}
.klapper_auf { 
	background-image:url('../icon/icon-plus.gif') !important; 
}
#userselect ul { list-style-type:none; padding-left:0; margin:0 0 5px 20px; }
#userselect { border:1px solid #999999; padding:2px 8px;}


.interval-error {
	border: 1px solid grey;
	text-align: center;
	padding: 2px;
}

.zindex10000 {
	z-index: 10000;
}


.active-button {
	background:
		url("/jlw/javax.faces.resource/themes/sam/images/sprite.png.jsf?ln=primefaces&amp;v=2.2-SNAPSHOT")
		repeat-x scroll left -1400px #2647A0;
	border: 1px solid #AAAAAA;
	color: #FFFFFF;
	font-weight: normal;
}

#main {
	min-width: 955px;
	max-width: 100%;
	margin: 0 auto;
}

#content {
	vertical-align: top;
}

#submenu_left {
	max-width: 150px;
	vertical-align: top;
}

#submenu_right {
	vertical-align: top;
	width: 160px;
	/*font-size: 10px; */
}

#filter_form td {
	white-space: nowrap;
}

.gridview td {
	border: 1px solid grey;
	margin: 0;
	text-align: center;
}


.resourceGrid table{
    border:1px solid grey;
}

.gridview table {
	border-spacing: 0;
	border-collapse: collapse;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000306;
	background-color: #E3EDF5;
	font-size: 11px;
}

.ui-datatable {
	width: 100%;
}

.ui-panel {
	margin-bottom: 20px;
}

#form1 {
	text-align: justified;
	line-height: 30px;
}

.error {
	font-weight: bold;
	color: red;
}

#languageform {
	position: absolute;
	right: 20px;
	top: 16px;
}

#languageform a {
	margin: 8px;
	color: white;
	font-size: 12px;
	font-family: verdana;
	text-decoration: none;
	font-style: normal;
}
.colstyle {
	width: 200px;
	background-color: #9BBCDA;
}

#menu {
	position: relative;
	background-color: #9BBCDA;
	color: #5C5C5C;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

#menu a {
	margin: 0 4px;
	color: #369;
	text-decoration: none;
}

#menu a:hover {
	color: #06c;
	text-decoration: none;
}

p:dataList {
	background-color: blue;
}

#listviewleft {
	width: 370px;
	text-align: left;
	font-size: 10px;
	position: relative;
	float: left;
}

#listviewright {
	width: 370px;
	text-align: left;
	font-size: 10px;
	position: relative;
	float: right;
	float: top;
	border: none;
}

#gtitle {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#linkmain {
	color: white;
	font-size: 12px;
	font-family: verdana;
	font-style: normal;
}

a.link {
	color: white;
	font-size: 12px;
	font-family: verdana;
	font-style: normal;
}

.bold {
	font-weight: bold;
}

a.link:hover {
	font-weight: bold;
}

#searchinput {
	display: none;
}

.maintable {
	border: 0px solid black;
	width: 100%;
}

#tabv {
	position: relative;
	border: 1px solid grey;
	width: auto;
	min-height: 200px;
}

.usermenutable {
	border: 0px solid black;
	width: 300px;
	text-align: right;
	background-color: #e3edf5;
}

div.header {
	background-color: #5C5C5C;
	background-image: url('../image/header.jpg');
	background-repeat: no-repeat;
	height: 42px;
	padding-top: 12px;
	min-width:704px;
	position:relative;
	
}
/*
#search_form {
	display:block;
	min-width:704px;
	position:relative;
}
*/
.pavia {
	background-image: url('../image/header_pavia.jpg') !important;
}

.messina {
	background-image: url('../image/header_messina.jpg') !important;
}

.act {
	background-image: url('../image/header_act.jpg') !important;
}
.yell {
	background-image: url('../image/header_yell.jpg') !important;
}

div.title {
	background-color: #9bbcda;
	color: #5C5C5C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}


/* learnweb classes  */
/* resource preview */


.loading {
	width: 100%;
	height: 180px;
	background: url(../../resources/image/colorbox/loading.gif) no-repeat
		center center;
}

.embeddedSmall {
	width: 240;
	min-height: 60px;
	max-height: 240px;
	background-color: black;
	overflow: hidden;
	color: white;
}

.embeddedSmall a {
	color: white;
	margin-top: 10px;
	display: block;
}

.embeddedSmall a:hover {
	color: grey;
}

.medium-width {
	width: 140px;
}

.servicesTableLeftColumn {
	padding-left: 25px;
	padding-right: 15px;
	font-weight: bold;
	background: url(../image/test.gif) no-repeat bottom left;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

img {
	border: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.datedisp {
    font-size:8pt;
     max-height:50px; 
     color: grey;
     display: inline;
}



.colstop td { 
	vertical-align: top !important;
	
}

