/*away?*/
/*.tedtranscript_help{
	height:80px;
	text-align:justify;
	padding-left:4px;
}
#searchbar{
	border: 1px solid #aeaeae;
	border-radius: 0px !important;
	box-shadow: 0 0 0px 0px #fff !important;
	width:400px !important;
	height:18px;
}
#ajaxstatus{
	display:none;
	position:absolute;
	right:72px;
	top:0;
}
#groupmenu{
	margin-left: 8px;
	margin-right: 6px;
}
.bar{
	background:radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 15%, transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	width:100%; 
	min-height:110px; 
	overflow-y: hidden; 
	overflow-x:hidden; 
}
.bar a span img:HOVER{
	border: 1px solid #489a83;
	z-index: 140;
}
*/

/*Just id no class*/
/*.view_resultset{
	color:blue;
	background:none!important;
	border:0 !important;
	cursor:pointer;
	padding: 0;
}
*/

/*necessary*/

img {border: none;}
input, textarea{
	border-radius: 0px !important;
	border: 1px solid #a8a8a8 !important;
	box-shadow: 0 0 0px 0px #fff !important;
}

.align{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
}
.aligner {
	height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.am-wrapper{
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img{
    position:absolute;
    outline:none;
}


button{
	background-color: #dedede !important;
	border-color: #ccc !important;
}
.blackbutton{
	background: rgb(94, 94, 94) !important; 
	border: 1; 
	border-color:rgba(0, 0, 0, 0.14); 
	cursor:pointer; 
	color:#EFEFEF !important;
	text-shadow: none !important;
	border: none !important;
	box-shadow: none;
	border-radius:0px;
}
.buttons{
	float: right;
	margin-top: 5px;
	margin-right: 6px;
}
.buttons img{
	filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url(../../resources/css/grayscale.svg#desaturate); /* Gecko */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}       	
.buttons img:HOVER {
	filter: none;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
    -ms-filter: grayscale(0); 
    -o-filter: grayscale(0);
}
.buttons_link{
	text-decoration:none;
	display: block;
	margin-top: 10px;
}

.bold_red {
	color:red;
	font-weight:bold;
}

#center_pane{
	border: none;
	border-right: 1px solid rgb(210,210,210);
}

.click_message{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.data{
	width: 95%;
	margin: auto;
	margin-top: 5px;
	margin-left: 0px;
}

#datagrid{
	border: 0px;
	width: 100%;
}

p:dataList {background-color: blue;}

div.title {
	background-color: #9bbcda;
	color: #5C5C5C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

#related_search{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}
#related_search_list{
	padding-left: 20px;
	margin: 0px;
}
#related_search_list li{line-height: 1.5em;}
#related_search_list li a{color: rgb(88, 147, 255);}

#left_pane{
	border: none;
	border-right: 1px solid rgb(210,210,210);
}

.presentation_clear{
	clear: both;
	margin-bottom: 5px;
}
.presentation_detail_div{
	float: left;
	width: 300px;
	margin-left: 2.5%;
}
.presentation_commandbutton{
	float: right;
	margin-right: 2.5%;
}
div#presentation_preview {
        height:0px;    
        width:95%;
        border-radius: 5px;
		border: 1px solid #ccc !important;
		box-shadow: 0 0 3px 3px #dfdfdf;
        margin : auto;
        text-align: center;
        margin-bottom: 15px;
}

.format_button_link{
	display: inline-block;
	text-align: center;
	margin-left: 15px;
}
.format_button{
	padding: 3px;
	box-shadow: 0 0 5px 5px #ccc;
	margin: 5px;
	margin-bottom: 10px;
}

#more_images_box{
	position: absolute;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	right: 1px;
	bottom: 1px;
	color: white;
	transition: background 0.5s;
	-webkit-transition: background 0.5s; /* Safari */
	z-index: 10000;
	display: none !important;
}
#more_images_box:HOVER{background: rgba(0, 0, 0, 1);}

.username{
	font-weight: bold;
	color: #333;
	vertical-align: top;
}
.username_div{
	padding-left: 40px;
	margin-bottom: 5px;
}
.username_link{
	text-decoration: none;
	vertical-align: top;
	color: #3399FF;
}
.userpic{
	padding-right: 10px;
	float: left;
}
#userselect {
	border:1px solid #999999; 
	padding:2px 8px;
}
#userselect ul {
	list-style-type:none; 
	padding-left:0; 
	margin:0 0 5px 20px;
}

.tag_field{
	border: 1px solid #aeaeae !important;
	border-radius: 0px !important;
	box-shadow: 0 0 0px 0px #fff !important;
	width: 100%;
	box-sizing:border-box;
}
.tag_x{
	margin-left: 0px;
	border-left: 0px;
	font-size: 10px !important;
}
.tag_name{
	margin-right: 0px;
	font-size: 10px !important;
}
.tag_list{
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.hyperlink{color: #22e;}

#preview{
	max-height: 100%;
	max-width: 100%;
}

.member_username{
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.member_username_small{
	font-size: 11px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.members_panel{
	width: 140px;
	height: 160px;
	margin-bottom: 4px;
	position: relative;
}
.members_panel_small{
	width: 122px;
	height: 145px;
	margin-bottom: 4px;
	position: relative;
}
.members_panelgrid{
	float:left;
	margin-right:20px;
	text-align: center;
}

.resource_panelgrid, .members_panelgrid{width:100%;}
.resource_panel:HOVER, .members_panel:HOVER{
	cursor: pointer;
	border-color: #666;
}

.resource_summary{
	color: #666;
	font-size: 9px;
	margin-top: 4px;
}
.resource_summary span{font-weight: bold;}
.resource_thumbnail{
	float: left;
	margin-top: 5px;
}
.resource_short_title{
	font-weight: bold;
	margin-bottom: 0px;
}
.resource_command_link{text-decoration: none;}
.resource_commandlink{margin-top: 0px;}
.resource_dialog_field{width:400px;}

.resource_panel{
	width:195px;
	height:197px;
	margin-bottom:4px;
	margin-right:35px;
	position:relative;
	float:left;
}

@media screen and (min-width:50em) and (max-width:69.9999em) {
	.resource_panel{
		margin-right: 1px;
	}
}

@media screen and (min-width:70em) and (max-width:93.9999em) {
	.resource_panel{
		margin-right: 10px;
	}
}
@media screen and (min-width:94em) and (max-width:120em){
	.resource_panel{
		margin-right: 28px;
	}
}

#resource_description{
	display: block;
	padding: 5px 0px;
}
.resource_field{font-weight: bold;}

.newsfeed_description{
	font-size:8pt;
	max-height:50px;
	max-width: 50%;
	color:grey;
}
.newsfeed_right{
	width: 30%;
	display:inline-block;
	vertical-align:top;
	padding: 10px;
}
.newsfeed_left{
	text-align:left;
	text-indent:100px;
	display:inline-block;
}
.newsfeed_history{
	position: relative; 
	margin-left: 30%;
}
.newsfeed_separator{border:1px solid #eee !important;}
.newsfeed_tags{
	padding-left:15px;
	font-size:8pt;
}
.newsfeed_tag{
	font-size:8pt;
	max-height:50px;
}
.newsfeed_author{
	font-size:8pt;
	max-height:50px;
	overflow:hidden;
	color:grey;
}
.newsfeed_date_difference{
	font-size:8pt; 
	max-height:50px; 
	color: grey;
}
.newsfeed_query_link_text{
	color:#3399FF;
	font-weight:bold;
}
.newsfeed_query_link{text-decoration:none;}
.newsfeed_text{width: auto;}
.newsfeed_user_image{margin-right: 10px;}
.newsfeed_user_image_div{float: left;}

.groupid{display: none;}

.myresources_commandlink{margin-top: 0px;}

.links_input{width:400px;}
.links_inputtext{width:300px;}
.links_form{display:inline;}
.links_datalist{font-size:16px;}
.links_output{margin-right:8px;}
.links_inputtext2{width:250px;}
.links_commandlink{margin-right:3px;}
.links_graphic{vertical-align: middle;}
.links_panel{margin-top:5px;}

#edit_comment_textbox{width:400px;}

.klapper_zu { 
	float:left;
	width:11px;	 
	background:url('../icon/icon-minus.gif') bottom no-repeat; 
	margin-right:3px;
	cursor:pointer;	
}
.klapper_auf { background-image:url('../icon/icon-plus.gif') !important; }

.zindex10000 {z-index: 10000;}

#form1 {
	text-align: justified;
	line-height: 30px;
}

#tabv {
	position: relative;
	border: 1px solid grey;
	width: auto;
	min-height: 200px;
}

.medium-width {width: 140px;}

.servicesTableLeftColumn {
	padding-left: 25px;
	padding-right: 15px;
	font-weight: bold;
	background: url(../image/test.gif) no-repeat bottom left;
}

.northunit{border: none;}


/* overwrite primefaces options*/
/*span.ui-autocomplete{border: 1px solid transparent !important;}
.ui-autocomplete-panel{border-radius: 0px !important;}
.ui-autocomplete-row td{border: 0px solid transparent !important;}
.ui-autocomplete-row.ui-state-highlight{
	border: 0px !important;
	background: #dedede !important;
	color: black;
	text-shadow: 0px 0px 0px #fff;
}
.ui-autocomplete-panel{border: 0px !important;}
.ui-datagrid-content{border: 0px;}
.ui-panel{
	border-radius: 0px;
	border-color: #ccc;
}
.ui-panel:HOVER .buttons{display: block !important;}
.ui-panel:HOVER .buttons img{
	filter: none;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
    -ms-filter: grayscale(0); 
    -o-filter: grayscale(0);
}
.ui-state-hover{box-shadow: 0 0 0px 0px #fff !important;}
.ui-panelmenu-header{
	border-radius: 0px;
	border-color: #fff !important;*/
	/*background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.4))) !important;
	*/
	/*background: white !important;
}
.ui-state-hover.ui-panelmenu-header{
	box-shadow: 0 0 0px 0px white !important;
	background-color: #eee !important;
}
.ui-panelmenu-content{
	border-color: #fff !important;
	margin-left: 20px;
}
.ui-panelmenu-content .ui-state-hover.ui-menuitem-link{
	box-shadow: 0 0 0px 0px white !important;
	background-color: #eee !important;
}
.ui-layout-unit, .ui-layout-unit-content{
	padding: 0px !important;
	margin: 0px;
}
.ui-datatable {width: 100%;}
.ui-layout-pane-north .ui-layout-unit-content {overflow: hidden !important;}
.ui-corner-top{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.ui-corner-bottom{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}*/

/*overwritw primefaces option for some areas which have a id or a class */
/*#center_pane .ui-layout-unit-header{
	background: none;
	background-color: #eee !important;
	border: 1px solid #ddd !important;
	border-radius: 0px !important;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
#datagrid .ui-panel-content{padding: 5px;}
.explore_history .ui-button .ui-button-text, .search_history .ui-button .ui-button-text{
	display:block;
	line-height: 0.6;
}*/


