#group_table{
	display:block;
	border:1px solid #ccc;
	padding:0.5em 1em;
}
#group_table div{
	width:33%; 
	padding:0.5em 0;
}
#group_table a:hover, #group_table a:focus{
	text-decoration:underline;
}
.profilebox{
	width:95%; 
	margin-right:30px;
}
.profilebox table{
	width:70%;
}