<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

    <display-name>${project.name} WebApp</display-name>
    <description>${project.description}</description>

    <session-config>
        <session-timeout>100</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>${jakarta.faces.project_stage}</param-value>
    </context-param>

    <!-- PrimeFaces https://primefaces.github.io/primefaces/14_0_0/#/gettingstarted/configuration -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>none</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIME_ICONS</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.HTML5_COMPLIANCE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.SUBMIT</param-name>
        <param-value>partial</param-value> <!-- Enable partial submit in PrimeFaces - this reduces the network traffic -->
    </context-param>
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>false</param-value> <!-- TODO: test and enable. This is a huge improvement of the visible rendering and removes flickering between navigations. -->
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>#{config.captchaPublicKey}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>#{config.captchaPrivateKey}</param-value>
    </context-param>

    <!-- OmniFaces VersionedResourceHandler https://showcase.omnifaces.org/resourcehandlers/VersionedResourceHandler -->
    <context-param>
        <param-name>org.omnifaces.VERSIONED_RESOURCE_HANDLER_VERSION</param-name>
        <!-- Version string could be any string here, or taken from @Named bean -->
        <param-value>#{config.version}</param-value>
    </context-param>

    <!-- Check these recommendations https://primefaces.github.io/primefaces/14_0_0/#/core/performance?id=recommended-configuration -->
    <!-- Also this page provides description for everything https://myfaces.apache.org/#/core40 -->
    <context-param>
        <param-name>org.apache.myfaces.RESOURCE_MAX_TIME_EXPIRES</param-name>
        <param-value>1209600000</param-value> <!-- 14 days -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
        <param-value>50</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.NUMBER_OF_SEQUENTIAL_VIEWS_IN_SESSION</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.EARLY_FLUSH_ENABLED</param-name>
        <param-value>true</param-value> <!-- Flush the response directly after the head to allow start loading resources on the browser side -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.COMPRESS_STATE_IN_SESSION</param-name>
        <param-value>false</param-value> <!-- Disable ViewState compression (better performance but more memory usage) -->
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.COMPONENT_UNIQUE_IDS_CACHE_SIZE</param-name>
        <param-value>500</param-value> <!-- Increase cache -->
    </context-param>
    <context-param>
        <description>
            Scanning for context init parameters not defined. It is not necessary to define
            them all into your web.xml, they are just provided here for informative purposes.
            To disable this messages set org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS config param to 'false'
        </description>
        <param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Helps to show en error if it is occurred during RENDER_RESPONSE phase</description>
        <param-name>jakarta.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>500000</param-value>
    </context-param>
    <context-param>
        <description>Removes HTML comments from the output like <!--@elvariable id="pageTitle" type="java.lang.String"--></description>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/learnweb-lw.taglib.xml</param-value>
    </context-param>

    <servlet>
        <display-name>Faces Servlet</display-name>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>/jakarta.faces.resource/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <description>
            Because the ImageIO plugin registry (the IIORegistry) is "VM global", it doesn't by default work well with servlet contexts.
            https://github.com/haraldk/TwelveMonkeys#deploying-the-plugins-in-a-web-app
        </description>
        <display-name>ImageIO service provider loader/unloader</display-name>
        <listener-class>com.twelvemonkeys.servlet.image.IIOProviderContextListener</listener-class>
    </listener>

    <security-constraint>
        <display-name>Restrict access to raw XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <error-page>
        <error-code>400</error-code>
        <location>/lw/error/400.jsf</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/lw/error/401.jsf</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/lw/error/403.jsf</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/lw/error/404.jsf</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/lw/error/410.jsf</location>
    </error-page>
    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/lw/error/419.jsf</location>
    </error-page>
    <error-page>
        <error-code>419</error-code>
        <location>/lw/error/419.jsf</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/lw/error/500.jsf</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/lw/error/503.jsf</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsf</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
