@import '../colors';

$themeDarkBgColor: #242527;
$themeLightBgColor: #233944;

$themePrimaryColor: $bluegray;
$themePrimaryColorDarker: $bluegrayDarker;
$themePrimaryDarkerAlt: $bluegrayDarkerAlt;
$themePrimaryDarkest: $bluegrayDarkest;

$themePrimaryAltColor: $cyan;
$themePrimaryAltColorDarker: $cyanDarker;
$themePrimaryAltDarkerAlt: $cyanDarkerAlt;
