@import '../colors';

$themeDarkBgColor: #000d13;
$themeLightBgColor: #046b99;

$themePrimaryColor: $cyan;
$themePrimaryColorDarker: $cyanDarker;
$themePrimaryDarkerAlt: $cyanDarkerAlt;
$themePrimaryDarkest: $cyanDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
