@import '../colors';

$themeDarkBgColor: #272928;
$themeLightBgColor: #366453;

$themePrimaryColor: $emerald;
$themePrimaryColorDarker: $emeraldDarker;
$themePrimaryDarkerAlt: $emeraldDarkerAlt;
$themePrimaryDarkest: $emeraldDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
