@import '../colors';

$themeDarkBgColor: #242725;
$themeLightBgColor: #446a51;

$themePrimaryColor: $green;
$themePrimaryColorDarker: $greenDarker;
$themePrimaryDarkerAlt: $greenDarkerAlt;
$themePrimaryDarkest: $greenDarkest;

$themePrimaryAltColor: $yellow;
$themePrimaryAltColorDarker: $yellowDarker;
$themePrimaryAltDarkerAlt: $yellowDarkerAlt;
