.ui-layout-unit {
  visibility: inherit !important;
  padding: .2em;
}

.center-header {
  background: none;
  background-color: #eee !important;
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
  padding: 10px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);

  li {
    float: left;
    display: block;
    border-right: 1px solid rgb(230, 230, 230);
  }
}

.breadcrumbs ul span {
  padding: 5px 15px;
  display: block;
}

.center-header {
  ul a {
    padding: 5px 15px;
    display: block;
  }

  a {
    &.active, &:hover {
      background-color: #EEE;
      text-decoration: none;
    }
  }

  ul {
    list-style: outside none none;
    margin: 10px -10px -10px;
    padding: 0px;
    border-top: 1px solid #ccc !important;
    background-color: rgb(230, 230, 230);
    clear: both;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.ui-datatable .ui-datatable-header, .ui-panel-title, .center-header > h2, .page_header span {
  font-size: 1rem;
  font-weight: 100;
  display: inline;
  margin: 0;
  text-align: left !important;
}

.ui-g, .ui-g-6 {
  height: 100%;
}

.center_pane {
  visibility: inherit !important;
  height: 100% !important;
  background-color: #ffffff;
  border: 1px solid #d6d7d9;
  padding: .2em;
}


#group_menu {
  height: 100%;
  padding: 4px;
}

.group_link_for_group_menu {
  color: black;
  font-size: 0.8rem;
}

#my_groups, #other_groups {
  padding-right: 5px;
}

.group_menu_header {
  display: flex;
  width: auto;
  background-color: #4AA564;
  color: #ffffff;
  padding: .4em .2em .4em .4em;
  text-align: left;
  font-size: 0.8rem;
}

.group-menu {
  padding: .2em 0;
}

.ui-layout-unit .ui-layout-unit-content {
  padding: 0;
}

/* Search filters bar */

#filters_menu_bar_wrapper, .filters_menu_bar {
  height: 3.1rem;
}

/* necessary to emulate position sticky in old browsers */

#filters_menu_bar_wrapper {
  position: relative;
  margin-top: -7.6rem;
  padding-bottom: 7.6rem;
  z-index: 2;
}

.filters_menu_bar {
  background-color: #6E6E6E;
  line-height: 2.2rem;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) inset;
  top: 7.6rem;
  position: relative;

  a {
    font-size: 1rem;
    font-weight: bolder;
    color: white;
  }

  > * {
    margin-left: 23rem;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline-block;
      position: relative;
      white-space: nowrap;
      margin-right: -4px;

      &.active, &:hover {
        background-color: #616161;
      }

      &.sources {
        &.active, &:hover {
          background-color: #808080;
        }
      }
    }
  }

  .filter-name {
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem;
    color: #fff;

    .trimmed-text {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
      float: left;
    }
  }

  .search-filters li:hover .filter-sub-bar {
    visibility: visible;
  }

  ul li.disabled {
    opacity: 0.4;

    .filter-name {
      cursor: default;
    }
  }

  .search-filters.no-source .filter.sources .arrow, ul li.disabled .filter-name .arrow {
    opacity: 0;
  }

  .filter-sub-bar {
    visibility: hidden;
    position: absolute;
    top: 3rem;
    left: 0;
    width: auto;
    z-index: 10;
    border: solid 1px #ccc;
    background: #fff;

    &.hidden {
      display: none;
    }

    a {
      display: block;
      white-space: nowrap;
      text-decoration: none;
      padding: 0 15px 0 10px;
      line-height: 3.2rem;
      color: #000;
      max-width: 60rem;
      text-overflow: ellipsis;
      overflow: hidden;

      &.active, &:hover {
        background: #eee;
      }
    }
  }

  a.clear-filter {
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    padding: 0.4rem 1.4rem 0.3rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.4rem solid #fff;
    display: inline-block;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
  }
}

.result-count {
  color: grey;

  &::before {
    content: " (";
  }

  &::after {
    content: ")";
  }
}

.breadcrumbs ul span, .center-header ul a {
  padding: 5px 15px;
  display: block;
}

h3.group_link {
  font-size: 1rem;
  margin-top: 0.4rem;
}

.nothing_found {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
}

/* Resource filters bar */

.resources-filters {
  margin: 10px -10px -10px;

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      display: block;
      position: relative;
      white-space: nowrap;

      &.active, &:hover {
        background-color: #ccc;
      }
    }
  }

  .filter-name {
    cursor: pointer;
    display: inline-block;
    padding: 0.6rem 1.5rem 0.5rem;

    .trimmed-text {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
      float: left;
    }
  }

  li:hover .filter-sub-bar {
    visibility: visible;
  }

  ul {
    li.disabled {
      display: none;
    }

    &.filter-sub-bar {
      visibility: hidden;
      position: absolute;
      //   top: 3.1rem;
      left: 0;
      width: auto;
      z-index: 10;
      border: solid 1px #ccc;
      background: #E6E6E6;
      //margin: -6px -1px;

      li {
        display: block;
        background-color: rgb(230, 230, 230);
        width: 100%;

        button {
          background: none !important;
          border: 0;

          span {
            padding: 0.6rem 1.5rem 0.5rem;
            color: #000 !important;
            text-align: left;
          }
        }

        &.active, &:hover {
          background: #ccc;
        }
      }
    }
  }

  .search-box {
    padding: 0.55rem;

    #search_filter_form {
      white-space: nowrap;
      display: none;
    }

    &.active #search_filter_form {
      display: block;
    }

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &.active img {
      display: none;
    }

    input {
      margin-top: 1px;
      width: 18rem;
    }

    button {
      background: url("/resources/main-template/img/search.png") no-repeat scroll center center !important;
      background-size: 16px 16px !important;
      height: 19px;
      border: none !important;
      cursor: pointer;

      &:hover, &:focus {
        background-color: #eee !important;
      }

      span {
        display: inline;
      }
    }
  }
}

.search-results-header {
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.vCarousel-expand {
  display: none !important;
}

.vCarousel-small {
  .vCarousel-container {
    overflow: hidden;
  }

  .vCarousel-expand {
    display: block !important;
  }
}

.vCarousel-expanded {
  .vCarousel-container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .vCarousel-expand {
    display: none !important;
  }
}

.resources-filters {
  .clear-filters {
    padding: 0.55rem;
    &:hover {
      background: none;
    }

    button {
      background: none !important;
      border: 0;
    }

    span {
      cursor: pointer;
      padding: 0.6rem 0.5rem 0.5rem;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.4rem solid #333;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 5px;
  }
}

.folder-tree {
  .ui-tree-container > li > ul > li:last-child {
    margin-bottom: 0.7rem;
    /* fix for safari: If scrollbar is shown the last entry is not clickable */
  }

  .ui-tree {
    width: auto;

    .ui-treenode-content {
      display: block;
      border: 1px solid transparent;
    }

    .ui-treenode[data-nodetype="root"] > span > .ui-treenode-label {
      font-size: 1.1em;
    }
  }

  .ui-tree-container {
    padding: 0.3rem 0.1rem;
  }

  .ui-widget-content {
    border: none;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    margin: 0 1rem;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none;
    border: 1px solid transparent;
    color: #000;
    text-shadow: none;
    box-shadow: none;
  }

  .ui-state-active.ui-state-highlight, .ui-widget-content .ui-state-active.ui-state-highlight, .ui-widget-header .ui-state-active.ui-state-highlight {
    outline: 1px solid #489a83;
    background: #ddf1eb;
  }

  .ui-tree .ui-treenode-label.ui-state-hover {
    background: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    border: 0 !important;
    outline: none !important;
  }
}

.ui-treenode.ui-draggable-helper .ui-treenode-label {
  background: none;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  border: 0 !important;
  outline: none !important;
}

.folder-tree .ui-tree {
  .ui-treenode-label.ui-state-highlight {
    background: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    border: 0 !important;
    outline: none !important;
    color: #489a83;
  }

  .ui-treenode.ui-draggable-greyscale {
    opacity: 0.3;

    .ui-treenode-icon, .ui-tree-toggler, .ui-treenode-label {
      font-weight: normal !important;
      cursor: default !important;
    }
  }
}

body a {
  color: black;
}

.header_detail {
  font-size: 1.2rem;
  font-weight: bold;
}

.resource_field {
  font-weight: bold;
}

#resources_informations_table {
  border-collapse: collapse;

  .resource_field {
    padding-right: 5px;
  }

  td {
    padding: 5px 0 0 0;
  }
}

.hyperlink {
  color: #22e;
  display: flex;
  justify-content: center;
}

.float-left {
  float: left;
}

#test_res {
  font-size: 2rem;
  font-weight: 100;
  color: #489a83;
  display: inline;
  margin: 0;
  text-align: left !important;
}

.change_grid_button {
  background-color: rgb(221, 221, 221);
}

.resource-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


body .ui-panel {
  margin: 1em;

}

.col-sm {
  margin: 1em;
}


.noBorders tr, .noBorders td {
  background: none !important;
  border: none !important;
}

body .ui-datatable .ui-datatable-header {
  display: flex;
  width: auto;
  background-color: #4AA564;
  color: #ffffff;
  padding: .4em .2em .4em .4em;
  text-align: left;
  font-size: 14px;
}

.resource_panel:HOVER, .members_panelgrid:HOVER {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #bfbfbf;
}

.members_panelgrid > .member_star {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

;

.grey_border {
  border: 1px solid #ccc;
  padding: 1rem;
}

.resource_command_link {
  text-decoration: none;
}

;

.align-left {text-align:left;}
.align-right {text-align:right;}
.align-center {text-align:center;}

.float-left {float:left;}
.float-right {float:right;}
.clear {clear:both;}
.display-none {display:none;}


.no-padding-panel-content {
   .ui-panel-content {
     padding: 0 !important;
   }
 }

.p-pn-1 {
  .ui-panel-content {
    padding: 1rem !important;
  }
}



.username{
  font-weight:bold;
  color:#333;
  vertical-align:top;
}
.username_div{
  padding-left:40px;
  margin-bottom:5px;
}
.username_link{
  text-decoration:none;
  vertical-align:top;
}
.userpic{
  float:left;
}

.resource_button {
  float:right;
  position:relative;
  top:-3px;
  right:-5px;
}


.resource_button > button {
  padding: 6px 26px 6px 12px !important;
}

.ui-menuitem-text {
  color: #5b616a;
}