.center-header {
  background-color: #eee;
  padding: 0.5rem;
  ul a {
    padding: 5px 15px;
    display: block;
  }
  a {
    &.active, &:hover {
      background-color: #EEE;
      text-decoration: none;
    }
  }
  li {
    float: left;
  }
  ul {
    margin: 0 -0.5rem -0.5rem;
    padding: 0px;
    border-top: 1px solid #ccc;
    background-color: rgb(230, 230, 230);
    clear: both;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.breadcrumbs ul span {
  padding: 5px 15px;
  display: block;
}
/* Resource filters bar */

.resources-filters {
  margin: 0 -0.5rem -0.5rem;
  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      display: block;
      position: relative;
      white-space: nowrap;

      &.active, &:hover {
        background-color: #ccc;
      }
    }
  }

  .filter-name {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem;

    .trimmed-text {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
      float: left;
    }
  }

  li:hover .filter-sub-bar {
    visibility: visible;
  }

  ul {
    li.disabled {
      display: none;
    }

    &.filter-sub-bar {
      visibility: hidden;
      position: absolute;
      left: 0;
      width: auto;
      z-index: 10;
      border: solid 1px #ccc;

      li {
        display: block;
        background-color: rgb(230, 230, 230);
        width: 100%;

        button {
          background: none !important;
          border: 0;

          span {
            padding: 0.5rem 0.5rem 0.5rem;
            color: #000 !important;
            text-align: left;
          }
        }

        &.active, &:hover {
          background: #ccc;
        }
      }
    }
    .clear-filters {
      padding: 0.55rem;
      &:hover {
        background: none;
      }

      button {
        background: none !important;
        border: 0;
      }

      span {
        cursor: pointer;
        padding: 0.6rem 0.5rem 0.5rem;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .arrow {
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.4rem solid #333;
      display: inline-block;
      margin-bottom: 2px;
      margin-left: 5px;
    }
  }

  .search-box {
    padding: 0.55rem;

    #search_filter_form {
      white-space: nowrap;
      display: none;
    }

    &.active #search_filter_form {
      display: block;
    }

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    &.active img {
      display: none;
    }

    input {
      margin-top: 1px;
      width: 18rem;
    }

    button {
      background: url("/resources/main-template/img/search.png") no-repeat scroll center center !important;
      background-size: 16px 16px !important;
      height: 19px;
      border: none !important;
      cursor: pointer;

      &:hover, &:focus {
        background-color: #eee !important;
      }

      span {
        display: inline;
      }
    }
  }
}




.hyperlink {
  color: #22e;
  display: flex;
  justify-content: center;
}

.float-left {
  float: left;
}

#test_res {
  font-size: 2rem;
  font-weight: 100;
  color: #489a83;
  display: inline;
  margin: 0;
  text-align: left !important;
}

.resource-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}



.noBorders tr, .noBorders td {
  background: none !important;
  border: none !important;
}

body .ui-datatable .ui-datatable-header {
  display: flex;
  width: auto;
  background-color: #4AA564;
  color: #ffffff;
  padding: .4em .2em .4em .4em;
  text-align: left;
  font-size: 14px;
}

.resource_panel:HOVER, .members_panelgrid:HOVER {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #bfbfbf;
}

.members_panelgrid > .member_star {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

;

.grey_border {
  border: 1px solid #ccc;
  padding: 1rem;
}

.resource_command_link {
  text-decoration: none;
}

;

.align-left {text-align:left;}
.align-right {text-align:right;}
.align-center {text-align:center;}

.float-left {float:left;}
.float-right {float:right;}
.clear {clear:both;}
.display-none {display:none;}


.no-padding-panel-content {
   .ui-panel-content {
     padding: 0 !important;
   }
 }

.p-pn-1 {
  .ui-panel-content {
    padding: 1rem !important;
  }
}



.username{
  font-weight:bold;
  color:#333;
  vertical-align:top;
}
.username_div{
  padding-left:40px;
  margin-bottom:5px;
}
.username_link{
  text-decoration:none;
  vertical-align:top;
}
.userpic{
  float:left;
}

.resource_button {
  float:right;
  position:relative;
  top:-3px;
  right:-5px;
}


.resource_button > button {
  padding: 6px 26px 6px 12px !important;
}

.ui-menuitem-text {
  color: #5b616a;
}