.landing-wrapper {
  background: white;
  overflow-x: hidden;

  .container{
    max-width: 1500px;
  }
  /*landing-wrapper 'New style'*/


  .top-menu{
    ul{
      list-style: none;
    }

    .header-menu{
      padding-right: 1rem;
      margin-bottom: 0;

      a{
        padding: 1rem;
        text-decoration: none;
        border-bottom: 0.2rem solid transparent;
        &:hover{
          border-color: $main-teal;
        }
      }

    }



  }

  .header{
    background: url("/resources/frontpage/luh.jpg");
    padding: 5rem 0;
    background-size: cover;
    .header-content-panel{
      padding: 1rem 1.5rem;
      background-color: white;
      max-width: 18rem;

      input{
        margin: 1rem 0;
        width: 100%;
      }

    }

    .newsform {
      display: block;
      background: rgba(0, 0, 0, 0.9);
      color: $white;
      border-radius: 0.2rem;
      padding-bottom: 1rem;

      >h2{
        font-size: 1rem;
        padding: .5rem 1rem;
        margin: 0;
        background: rgba(0, 0, 0, 0.8);
      }

      .ui-datalist-content{
        background: rgba(0, 0, 0, 0);
        border: none;
        padding: 1rem;
        height: 24rem;
      }







      span {
        display: block;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.6);
      }
    }


  }

  .hidden-news {

    display: none;
    padding: 1rem;
    span{
      font-size: 1rem;
      margin: 0 0.4rem;
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      font-weight: 500;
      text-align: left;
      padding: 1rem;
    }
    h2{
      font-size: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
    .ui-datalist-item {
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
      padding-bottom: 1rem;
    }
    .ui-widget-content {
      border: none;
    }

  }



  .about{
    padding: 3rem 0;

    .about-content {
      color: $main-dark-green-color;
    }

  }



  .pricing{
    padding: 3rem 0;
    background-color: $main-teal;
    border-top: none;

    h2 {
      color: $white;
      font-size: 2rem;
    }

    .pricing-box {
      text-align: center;
      background-color: $white;
      padding: 0;
      margin: 1rem;

      .pricing-header {
        color: $white;
        background-color: $main-dark-green-color;
        letter-spacing: 0.1rem;
        padding: 0.8rem 0;
        font-weight: 600;
      }

      .pricing-subheader {
        background-color: $landing-subheader;
        font-weight: 600;
      }


      .duration {
        font-size: 1.2rem;
        color: $main-dark-green-color;
      }

      .pricing-content {
        padding-top: 1rem;
        padding-bottom: 2rem;
        span {
          text-align: left;
          display: block;
          padding: 0.2rem 1.1rem 0.2rem 0;
          color: $main-dark-green-color;
        }
      }

      .ui-button{
        top: 0;
        margin-bottom: 1rem;
      }


    }

  }


  .footer {
    background-color: $main-dark-green-color;
    border-top: 0.2rem solid $white;
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
      text-align: center;
      color: $white;
    }
  }







  /*end*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}

@media (max-width: 576px) {
  .landing-wrapper {
    .top-menu{
      .logo{
        width: 19rem;
        margin: .5rem;
      }

      .header-menu{
        margin-bottom: 0;
      }

    }
    .header{
      .header-content-panel{
        display: block;
        margin: 0 auto;
        max-width: 20rem;
      }
      .newsform {
        display: none;
      }
    }

    .hidden-news {
      display: block;
    }

    .about{
      h2{
        text-align: center;
      }
    }

    .pricing{
      h2{
        text-align: center;
      }
      .pricing-box{
        margin: 2rem;
      }
    }


  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .landing-wrapper {
    .top-menu{
      .logo{
        width: 19rem;
        margin: .5rem;
      }

      .header-menu{
        margin-bottom: 0;
      }

    }
    .header{
      .header-content-panel{
        display: block;
        margin: 0 auto;
        max-width: 20rem;
      }
      .newsform {
        display: none;
      }
    }

    .hidden-news {
      display: block;
    }

    .about{
      h2{
        text-align: center;
      }
    }

    .pricing{
      h2{
        text-align: center;
      }
      .pricing-box{
        margin: 2rem;
      }
    }


  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .landing-wrapper {
    .top-menu{
      .logo{
        width: 19rem;
        margin: .5rem;
      }

      .header-menu{
        margin-bottom: 0;
      }

    }
    .header{
      .header-content-panel{
        display: block;
        margin: 0 auto;
        max-width: 20rem;
      }
      .newsform {
        display: none;
      }
    }

    .hidden-news {
      display: block;
    }

    .about{
      h2{
        text-align: center;
      }
    }

    .pricing{
      h2{
        text-align: center;
      }
      .pricing-box{
        margin: 2rem;
      }
    }


  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .landing-wrapper {
    .top-menu{


      .header-menu{
        margin-bottom: 0;
      }

    }

    .container{
      max-width: 1000px;
    }

  }
}