/*Constants*/

:root {
  --main-margin: 15px;
  --main-dark-green-color-hover: #378D4F;
  --main-link-green-color: #4AA564;
  --second-grey: #e4e2e0;
  --second-grey-hover: #bbbbbb;
}

/*Classes*/

body {
  height: 100%;
}




/*end*/

@media screen and (max-width: 1024px) {
  .main-body {
    .layout-wrapper {
      .layout-topbar {
        height: 60px;
      }

      .layout-main {
        margin-left: 0;
        padding-top: 60px;
      }
    }

    #layout-right-sidebar, .layout-wrapper .layout-sidebar {
      top: 60px;
      overflow-y: auto;
    }
  }

  .main-body .layout-wrapper .layout-topbar {
    #menu-button {
      left: 230px;
    }

    .logo {
      margin-left: 0px;
    }
  }
}


/* TODO add a class for this kind of button instead of using the ids */

.main-body {
  .control-buttons, .boolean-buttons {
    padding: 0px;
    background: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .auto-button button {
    width: auto;
    padding: 0 8px;
  }

  .control-buttons {
    button {
      width: auto;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      padding: 0 8px;
    }

    p {
      display: flex;
      width: 40%;
    }
  }

  .boolean-buttons div {
    width: auto;
    font-size: 20px;
    display: block;
    margin: 0 5px;
    padding: 0 8px;
  }

  .ui-column-title {
    font-size: 14px;
  }

  table > th {
    padding: 8px 4px !important;
  }

  .in-form-button {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
  }

  .in-form-link-to-button {
    padding: 4px 12px 4px 12px;
    color: white;

    &:hover {
      background-color: var(--main-dark-green-color-hover);
    }
  }


  .layout-footer {
    clear: both;
    position: relative;
    bottom: 0;
  }

  .card {
    padding-top: 0;
    margin-bottom: 0;

    h2 {
      display: inline-block;
    }
  }
}

/*.main-body .layout-wrapper .layout-main{
    min-height: 100%;
    position: relative;
}
.main-body .layout-wrapper .layout-main .layout-main-content{
    padding-bottom: 46px;
}*/

.form > div .p-col-12, .border-box {
  box-sizing: border-box;
}

.main-body {
  .ui-fileupload {
    .ui-fileupload-buttonbar {
      background: none;
      padding: 0;
    }

    display: flex;
  }

  .ui-fileupload-content {
    width: 100%;
  }

  .card.card-w-title {
    padding-bottom: 16px;
  }

  .ui-panel-titlebar {
    padding: 8px 8px !important;
  }

  tr > .ui-state-default {
    padding: 8px 4px !important;
  }

  .optimized-table {
    span {
      font-size: 10px;
    }

    thead tr th {
      padding: 3px !important;
    }
  }
}

.basepath {
  margin-top: -15px;
  background-color: white;
  padding: 7px 15px;
  width: 100%;
  margin-left: -15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--second-grey);
  border-top: 1px solid var(--second-grey);

  a {
    font-size: 16px;
  }

  span {
    margin: 0 10px;
    font-size: 11px;
    font-weight: 700;
    color: var(--second-grey-hover);
  }
}

.philpath {
  color: #4AA564;
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
  /* text-align: center; */
  border-radius: 2px;
  padding: 8px 16px;
  border: 1px solid #4AA564;
  border-right: none;
  border-left: none;
  width: 100%;
  margin-left: -15px;
  margin-bottom: var(--main-margin);
  font-weight: 700;

  a {
    font-size: 20px;
  }

  span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    color: #4AA564;
    cursor: default;
  }
}

.organizations-column {
  width: 13%;
  border: none;

  button {
    width: 100%;
  }
}

.main-body {
  ul {
    list-style-type: none;
  }

  .btn-as-link {
    background: none;
    border: none;
    color: var(--main-link-green-color);
    width: auto;
    padding: 0;
    font-weight: 400;

    span {
      padding: 0 !important;
    }

    &:hover {
      background: none;
      color: var(--main-dark-green-color-hover);
    }
  }

  .panel-as-block > div {
    border: none;

    > div {
      padding: 0;
    }
  }

  .column-button {
    width: 9%;

    .ui-c {
      top: -14px;
      position: absolute;
      margin-left: 2px;
    }

    img {
      margin-bottom: -3px;
    }
  }
}



.more-link {
  text-align: end;
  display: block;
  padding: 0 25px 15px 0;
}

.landing-body .news-panel {
  display: flex;
  width: 100%;
}

.news-panel > div {
  width: 100%;
  align-items: center;
}

.playground {
  display: flex;

  img {
    width: 70px;
    height: 70px;
    margin: 0 7px 0px 4px;
  }
}



.submission_create_fix {
  min-width: 440px;

  td {
    > span {
      min-width: 227px;
    }

    display: flex;
    padding: 8px 12px;
  }
}

body .ui-dialog .ui-dialog-titlebar {
  padding: 8px 16px 6px;
}

#edit_submission_dialog1, #create_submission_dialog1 {
  margin: 0 auto;
}

#edit_dialog_survey_menu, #create_dialog_survey_menu, .submission_dialog_selectmenu {
  width: 180px;
}

.submission_description {
  word-break: break-word;
}

.submission_panel_avatar {
  display: initial;
  margin: 0 5px 0 0;

  img {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 100%;
  }
}

.submission_card_header {
  display: flex;
  align-items: center;
}

.main-body {
  .submission_card {
    background: white;
  }

  #lightbox {
    z-index: 9000;
  }

  #lightbox_title {
    padding: 13px;
  }

  #lightbox_content {
    height: inherit;
  }

  #lightbox_footer {
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
  }

  #lightbox_container {
    margin: 1% 5% 1% 5%;
  }

  .submission_header {
    padding: 10px 20px;
  }

  .submission_card_details {
    padding: 0 10px;
  }

  .resource-preview-wrapper {
  }

  .resource-preview-image {
    height: 200px;
    margin: 0 auto;
    display: flex;
    color: black;
  }

  .resource-preview {
    min-height: 200px;
    display: flex;
    flex-direction: column-reverse;
  }

  .resource-item2:hover, .resource-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }

  .resource-item2, .resource-item {
    width: calc(16.66667% - 16px);
    background: #fff;
    margin: 5px;
    min-width: 200px;
  }

  .resource-title-text {
    background: var(--second-grey);
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}

#resourceGrid2, .resource-grid {
  display: flex;
}

.main-body {
  #resourceGrid .group-resources-item2 {
    &.ui-selected, &.ui-selecting {
      background: #fff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    }

    &.ui-selected > .resource-block > .resource-title > div > .resource-title-text, &.ui-selecting > .resource-block > .resource-title > div > .resource-title-text {
      color: #fff;
      background: var(--main-dark-green-color-hover) !important;
    }
  }

  .add-resource-image {
    &:hover {
      cursor: pointer;
    }

    display: block;
    margin: 0 auto;
  }

  #submit_resources_button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    width: auto;
  }

  .action-remove {
    display: flex;
    flex-direction: row-reverse;
    padding: 2px 5px;
  }

  .submission_link {
    font-size: 18px;
  }

  .ui-autocomplete {
    z-index: 999999;
    max-width: 598px;

    > .ui-menu-item {
      font-size: 20px;
    }
  }

  .box ul li {
    background: var(--main-link-green-color);
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 22px;
  }
  .main-body .submission_header {
    padding: 10px 10px;
  }
  #edit_submission_dialog1, #create_submission_dialog1 {
    max-width: 320px;
  }
  .submission_dialog_select {
    width: 100%;
    max-width: 182px !important;

    input {
      width: 75%;
    }
  }
  #ui-datepicker-div {
    margin-left: -20px;
  }
  .submission_create_fix td > span {
    min-width: 92px;
    max-width: 92px;
  }
  .submission_details {
    max-width: 510px;
    width: 100%;
  }
  .submission_card_details {
    flex-direction: column;
  }
  .submission_time_block > table {
    float: left !important;
  }
  .main-body {
    #lightbox_container {
      margin: 8% 5% 1% 5%;
    }

    #resourceGrid {
      padding-left: 0px !important;
      padding-top: 10px !important;
      background-color: white;
      display: flex;
      flex-direction: column;
    }

    .resource-item2 {
      margin-right: 0;
      width: 100%;
    }
  }
  #resourceGrid2, .resource-grid {
    display: flex;
    flex-direction: column;
  }
  body {
    height: auto;
  }
}

@media (max-height: 414px) {
  body {
    .ui-dialog .ui-dialog-content {
      padding: 8px 16px;
    }

    .ui-panelgrid .ui-panelgrid-cell {
      padding: 1px 12px;
    }
  }
  #edit_submission_dialog1, #create_submission_dialog1 {
    top: 2px !important;
  }
  .submission_card_details {
    flex-direction: column;
  }
  .submission_time_block > table {
    float: left !important;
  }
  .submission_details {
    max-width: 510px;
    width: 100%;
  }
  body {
    height: auto;
  }
}

/******************** helper classes **********************************/

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.main-body .margin-top {
  margin-top: var(--main-margin);
}

.no-margin-top {
  margin-top: 0;
}

.no-margin {
  margin: 0 !important;
}

.padding-bottom {
  padding-bottom: var(--main-margin) !important;
}

.padding-top {
  padding-top: var(--main-margin);
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.display-none {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex-label {
  display: flex;
  align-content: center;

  label {
    margin-left: var(--main-margin);
  }
}

.grid {
  display: grid;
}

.no-border {
  border: none !important;
}

/* Breadcrumb */

body {
  .ui-menuitem-link .ui-corner-all .ui-icon .ui-icon-home {
    vertical-align: middle;
  }

  .ui-breadcrumb {
    border: 1px solid #4AA564;
    border-left: none;
    border-right: none;
    background: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: var(--main-margin);
  }

  .ui-icon {
    height: 20px;
  }

  .ui-breadcrumb ul li {
    &:first-child {
      font-size: 20px;
    }

    .ui-menuitem-link {
      top: 0px;
    }

    &.ui-breadcrumb-chevron {
      font-size: 20px;
      vertical-align: middle;

      &:before {
        content: "\f105 ";
      }
    }
  }
}

#sub_menu_bar {
  background-color: #616161;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  overflow: hidden;

  .links {
    margin-left: 22rem;
  }

  .activeResource {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0 0.5rem;
    color: #489a83 !important;
    border-bottom: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .links a {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0 0.5rem;
    color: #489a83 !important;
    border-bottom: none;
    font-size: 1.5rem;
    font-weight: bold;

    &:focus, &:hover {
      color: #FFFFFF !important;
    }
  }

  .activeResource {
    color: #FFFFFF !important;
    border-bottom: 2px solid #489a83;
  }
}

@media screen and (max-width: 77em) {
  #sub_menu_bar .links {
    margin-left: 20rem;
  }
}

@media screen and (max-width: 68em) {
  #sub_menu_bar .links {
    margin-left: 19rem;
  }
}

@media screen and (max-width: 60em) {
  #sub_menu_bar .links a:last-child {
    display: none;
  }
}

@media screen and (max-width: 43em) {
  #sub_menu_bar .links {
    padding-right: 0.8em;
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 35em) {
  #sub_menu_bar .links {
    float: left;
  }
}